root {
    display: block;
}
.options-ajax {
    left: 50%;
    margin-left: -100px;
    margin-top: -250px;
    min-height: 100px;
    min-width: 200px;
    position: absolute;
    top: 50%;
    z-index: 999;
}
.options-ajax .btn-remove {
    position: absolute;
    right: 7px;
    top: 5px;
}
.options-ajax .btn-cart {
    bottom: 5px;
    left: 75px;
    position: absolute;
}
#fade {
    background: none repeat scroll 0 0 #333333;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}
.wrapper {
    position: relative;
}
.updatecart {
    float: left !important;
}
#ajax_cart_loading {
    height: 200px;
    left: 50%;
    margin-top: -200px;
    position: absolute;
    top: 50%;
    width: 200px;
}
#actionbox {
    height: 100px;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    top: 20%;
    width: 300px;
    z-index: 999;
}
#actionbox .block-content {
    height: 100px;
}
.block-content .error {
    color: red;
}
.popup {
    left: 130px;
    position: absolute;
    z-index: 666;
}
.products-grid  .last .popup {
    left: -540px;
    position: absolute;
    z-index: 666;
}
.popup-header {
    background: url("../images/ajaxcart/popup-header.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 579px;
}
.main-popup {
    background: url("../images/ajaxcart/popup_sepr.png") repeat-y scroll 0 0 transparent;
    margin-top: 18px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 24px;
    width: 538px;
}
.popup-footer {
    background: url("../images/ajaxcart/popup-botton.png") no-repeat scroll 0 0 transparent;
    bottom: 1px;
    height: 27px;
    left: 0;
    position: relative;
    width: 579px;
}
.popup-arrow {
    background: url("../images/ajaxcart/popup-arrow.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    left: -6px;
    position: absolute;
    top: 50px;
    width: 27px;
}
.prev_last .popup-arrow {
    background: url("../images/ajaxcart/popup-arrow-right.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    left: 276px;
    position: absolute;
    top: 50px;
    width: 27px;
}
.products-grid .last .popup-arrow {
    background: url("../images/ajaxcart/popup-arrow-right.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    left: 558px;
    position: absolute;
    top: 50px;
    width: 27px;
}
.popup h2 {
    border-bottom: 1px dashed #999999;
    color: #333333;
    font-size: 17px;
    font-weight: normal;
}
.popup p {
    color: #818181;
    font-size: 11px;
    line-height: 12px;
    margin: 0;
}
.top-desc {
    border-bottom: 1px solid #818181;
    color: #333333 !important;
    padding-bottom: 5px;
}
.popup img {
    border: 2px solid #EDEDED;
}
.popup p.price {
    color: #C76200;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}
.popup td {
    padding: 5px;
}
.popup button {
    float: right;
    padding: 5px;
}
.products-grid li.item {
    position: relative;
}
.products-list li.item {
    position: relative;
}
.wrap {
    height: 300px;
    overflow: auto;
}
