@import "stylesheet.css";
/*================ widget prod vertical =============*/
.prod-widget-vertical {
  width: 19%;
  height: 335px;
  border-radius: 2px;
  position: relative;
  padding: 0;
  float: left;
  margin: 0 1.3% 1% 0;
  color: #868686;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
}
.prod-widget-vertical:nth-child(4n+0) {
  margin: 0 0 1% 0;
}
.prod-widget-vertical:hover .wrap-widget {
  width: 100%;
  border-radius: 2px;
}
.prod-widget-vertical .widget-button-right {
  float: left;
  left: 20px;
  font-size: 1.3em;
  display: block;
  clear: both;
  z-index: 1;
  margin: 10px;
}
.prod-widget-vertical .widget-button-right a {
  color: #e7e7e7;
  font-size: 16px;
}
.prod-widget-vertical .widget-button-right li {
  float: left;
  margin-left: 5px;
}
.prod-widget-vertical .label-tiles {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.prod-widget-vertical .label-tiles #prod-cross-border {
  width: 130px;
  bottom: 10px;
  left: 5px;
}
.prod-widget-vertical .label-tiles #prod-cross-border img {
  width: 100%;
}
.prod-widget-vertical .label-tiles #onsale_label {
  padding: 3px 5px;
  font-size: 11px;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: rgba(240, 102, 94, 0.8);
  margin-top: 10px;
}
.prod-widget-vertical .label-tiles #onsale_label img {
  width: 100%;
}
.prod-widget-vertical .star-product {
  background: #91a7d0;
  color: #fff;
  padding: 2px 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 8px;
  float: right;
  margin: 2px 0 0;
}
.prod-widget-vertical .wrap-widget-button {
  position: absolute;
  top: 0px;
  left: 0;
  display: none;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}
.prod-widget-vertical .wrap-widget-button button .fa {
  margin-right: 5px;
}
.prod-widget-vertical .wrap-widget-button .block-link-product {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.prod-widget-vertical:hover .wrap-widget-button {
  display: block;
}
.prod-widget-vertical:hover .wrap-widget-button {
  display: block;
}
.prod-widget-vertical .prod-name {
  font-size: 16px;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 45px;
}
.prod-widget-vertical .prod-name a {
  color: #3c3d41;
  font-family: open_sanssemibold;
}
.prod-widget-vertical .add-to-chart,
.prod-widget-vertical .add-to-wishlist,
.prod-widget-vertical .notify-me,
.prod-widget-vertical .config-prod {
  font-size: 13px;
  width: 85%;
  position: relative;
  text-align: center;
  margin: 50px auto;
}
.prod-widget-vertical .config-prod,
.prod-widget-vertical .notify-me {
  background: #fff;
  color: #73777a;
  border: solid 2px #bbbbbb;
}
.prod-widget-vertical .config-prod:active,
.prod-widget-vertical .notify-me:active,
.prod-widget-vertical .config-prod:focus,
.prod-widget-vertical .notify-me:focus {
  outline: none;
  background: #fff;
  color: #ff6c6c;
  border: solid 2px #ff6c6c;
}
.prod-widget-vertical .config-prod:hover,
.prod-widget-vertical .notify-me:hover {
  outline: none;
  background: #fff;
  color: #fc9797;
  border: solid 2px #fc9797;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.prod-widget-vertical .widget-price .wrap-badges-widget {
  text-align: center;
  float: right;
  font-size: 10px;
  margin: 3px 5px;
}
.prod-widget-vertical .widget-price .wrap-badges-widget .discount {
  padding: 0px 5px;
  border-radius: 10px;
  display: block;
  font-size: 11px;
}
@media (min-width: 1023px) and (max-width: 1215px) {
  .prod-widget-vertical {
    margin: 0 1.3% 1% 0;
    width: 24%;
  }
  .prod-widget-vertical:nth-child(4n+0) {
    margin: 0 1.3% 1% 0;
  }
  .prod-widget-vertical:nth-child(3n+0) {
    margin: 0 0 1% 0;
  }
}
@media (min-width: 992px) and (max-width: 1022px) {
  .prod-widget-vertical {
    margin: 0 1.3% 1% 0;
    width: 24%;
  }
  .prod-widget-vertical:nth-child(4n+0) {
    margin: 0 1.3% 1% 0;
  }
  .prod-widget-vertical:nth-child(3n+0) {
    margin: 0 0 1% 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .prod-widget-vertical .wrap-widget-detail {
    position: relative;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
  }
  .prod-widget-vertical:nth-child(even) {
    margin: 0 0 1% 0;
  }
  .prod-widget-vertical:nth-child(odd) {
    margin: 0 1.5% 1% 0;
  }
}
@media (min-width: 768px) {
  .prod-widget-vertical .wrap-widget-detail {
    position: relative;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
  }
  .prod-widget-vertical:hover {
    padding: 0;
  }
  .prod-widget-vertical .wrap-widget {
    padding: 0 0px 20px;
  }
  .prod-widget-vertical:hover .widget-button-right {
    display: block;
  }
  .prod-widget-vertical:hover .widget-button-right a {
    color: #ff6c6c;
    font-size: 16px;
  }
  .prod-widget-vertical .wrap-widget-button .stock-status {
    margin: 3px 0;
    display: block;
  }
  .prod-widget-vertical .add-to-wishlist {
    color: #58595B;
    font-size: 1.2em;
    padding: 3px 0;
  }
  .prod-widget-vertical .add-to-wishlist:hover {
    text-decoration: underline;
  }
  .prod-widget-vertical .prod-cat label {
    display: inline-block;
  }
  .prod-widget-vertical .prod-cat label a {
    color: #bbb;
    font-weight: bold;
    font-size: 13px;
    text-transform: capitalize;
  }
  .prod-widget-vertical .prod-name .new-product {
    color: #fff;
    background: #237b05;
    padding: 0 3px;
    text-align: center;
    margin-right: 2px;
    font-weight: normal;
    font-size: 11px;
  }
  .prod-widget-vertical .prod-name:hover a span.new-product {
    color: #fff;
  }
  .prod-widget-vertical .prod-name:hover {
    position: relative;
  }
  .widget-price {
    font-size: 16px;
    color: #f63838;
    height: 50px;
    display: table;
  }
  .widget-price .onsale {
    float: left;
  }
  .widget-price .onsale span {
    display: block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  .widget-price .onsale .disc-price {
    color: #f63838;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .widget-price .price {
    font-weight: bold;
    font-size: 16px;
    /*padding-top: 15px;*/
  }
  .widget-price .price-range {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    float: left;
    padding-top: 15px;
  }
  .widget-price .until {
    float: left;
    font-size: 1.1em;
    padding: 0 3px;
    line-height: 1.4em;
  }
  .widget-price .onsale .normal-price {
    text-decoration: line-through;
    font-size: 11px !important;
    font-style: italic;
    color: #bbb;
  }
  .prod-widget-vertical .prod-image {
    cursor: pointer;
    width: 100%;
    height: 170px;
    clear: both;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }
  .prod-widget-vertical .prod-image img {
    max-width: 150px;
  }
  /*.prod-widget-vertical:hover .prod-image .wrap-badges-widget{
        width: 55px;
        display: table;
        bottom: 0;
        right: -65px;
        z-index: 11;
        top: -12px;
        background: #fff;
        border-right: 2px solid #e78f08;
        border-top: 2px solid #e78f08;
        border-bottom: 2px solid #e78f08;
    }*/
  .prod-widget-vertical .prod-image .badges-widget-product {
    display: block;
    width: 45px;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    display: flex;
    left: 2px;
    text-align: center;
    height: 45px;
    font-size: 1.2em;
  }
  .prod-widget-vertical .prod-image .badges-widget-product span.star {
    color: #F1AD1D;
    font-size: 1.5em;
  }
  /*.prod-widget-vertical:hover .prod-image .badges-widget-product{
        position: relative;
        margin: 5px 0;
    }*/
  .prod-widget-vertical .prod-image .badges-widget-product.badges-bottom-right {
    bottom: 0;
    right: 0;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.badges-bottom-right .discount {
    font-size: 1em;
  }
  .prod-widget-vertical:hover .prod-image .badges-widget-product.badges-bottom-right {
    bottom: auto;
    left: 2px;
    right: auto;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.badges-bottom-left {
    bottom: 0;
    left: 0;
  }
  .prod-widget-vertical:hover .prod-image .badges-widget-product.badges-bottom-left {
    bottom: auto;
    left: 2px;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.badges-top-left {
    top: 0;
    left: 0;
  }
  .prod-widget-vertical:hover .prod-image .badges-widget-product.badges-top-left {
    left: 2px;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.discount-review {
    top: 0;
    right: 0;
  }
  .prod-widget-vertical:hover .prod-image .badges-widget-product.discount-review {
    right: 2px;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.discount-review .discount {
    background: #9b9b9b;
    padding: 3px 3px 4px 0;
    color: #fff;
    position: relative;
    margin: 5px 0;
    display: table;
  }
  .prod-widget-vertical:hover .prod-image .badges-widget-product.discount-review .discount,
  .prod-widget-vertical:hover .prod-image .badges-widget-product.discount-review .review {
    margin: 5px 0 5px 15px;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.discount-review .discount:after {
    content: " ";
    border-width: 11px;
    border-color: transparent #9b9b9b transparent transparent;
    border-style: solid;
    display: block;
    position: absolute;
    left: -22px;
    top: 0;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.discount-review .review {
    background-color: rgba(255, 255, 255, 0.8);
    display: table;
    color: #868686;
    margin: 0;
    position: relative;
    padding: 3px 20px 4px 0;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.discount-review .review:before {
    content: " ";
    border-width: 11px;
    border-color: transparent rgba(255, 255, 255, 0.8) transparent transparent;
    border-style: solid;
    display: block;
    position: absolute;
    left: -22px;
    top: 0;
  }
  .prod-widget-vertical .prod-image .badges-widget-product.discount-review .review:after {
    content: "★";
    display: block;
    position: absolute;
    font-size: 1.2em;
    right: 5px;
    display: table;
    top: 1px;
  }
}
/*================ end widget prod vertical =============*/
.margin{
  margin:10px;
}
.margin-vertical{
  margin-top:10px;
  margin-bottom:10px;
}
.margin-center{
  margin:0 auto;
  display:block;
}
.padding-reset{
  padding:0;
}
.padding-vertikal{
  padding:10px 0;
}
.padding{
  padding:10px;
}
.padding-top{
  padding-top:10px;
}
.padding-bottom{
  padding-bottom:10px;
}
.collection-page {
  background: #F5F5F1;
  /*==== index collection =====*/
  /*==== end index collection =====*/
  /*==== detail collection =====*/
  /*==== end detail collection =====*/
  /*==== user collection =====*/
  /*==== end user collection =====*/
}
.collection-page .container-fluid .row {
  padding-bottom: 20px;
}
.collection-page .container-fluid .row:nth-child(even) {
  background: #F6F6F6;
}
.collection-page .paging .showing {
  display: none;
}
.collection-page .category_name_collection h1 {
  float: left;
  font-family: open_sansbold;
  font-size: 40px;
  clear: both;
  margin: 0;
  color: #4d4d4d;
  text-transform: uppercase;
}
.collection-page .collection-top-banner {
  box-shadow: 1px 2px 6px #ccc;
  moz-box-shadow: 1px 2px 6px #ccc;
  webkit-box-shadow: 1px 2px 6px #ccc;
  margin-top: 20px;
}
.collection-page .collection-top-banner img {
  border: 5px solid #fff;
}
.collection-page .collection-header-title {
  font-size: 28px;
  text-align: center;
  color: #3C3D41;
  padding: 30px 0;
  font-weight: bold;
  text-transform: capitalize;
}
.collection-page .breadcrumb .result_collection {
  font-size: 11px;
  line-height: 12px;
  color: #bbb;
  text-transform: lowercase;
}
.collection-page .category_name {
  font-size: 20px;
  text-align: center;
  font-family: open_sansbold;
  position: relative;
  margin: 40px 0 20px;
}
.collection-page .category_name:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  right: 0;
  border-top: 1px solid #d2d2d2;
}
.collection-page .category_name span {
  background: #F5F5F1;
  display: inline-block;
  padding: 0 30px;
}
.collection-page .category-link a {
  display: table;
  margin-top: 10px;
}
.collection-page .category-link .btn.btn-label-ghost {
  text-transform: uppercase;
  font-family: open_sanssemibold;
}
.collection-page .category-link .btn.btn-label-ghost .fa {
  margin: 0 0 0 5px;
  font-size: 16px;
}
.collection-page .collection-card {
  box-shadow: 1px 2px 6px #ccc;
  moz-box-shadow: 1px 2px 6px #ccc;
  webkit-box-shadow: 1px 2px 6px #ccc;
  width: 49%;
  display: block;
  position: relative;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #fff;
}
.collection-page .collection-card:nth-child(even) {
  float: right;
  margin: 10px 0 10px 0.5%;
}
.collection-page .collection-card:nth-child(odd) {
  float: left;
  margin: 10px 0.5% 10px 0;
}
.collection-page .collection-card.add-collection {
  height: 350px;
  text-align: center;
}
.collection-page .collection-card.add-collection .fa {
  margin-top: 45%;
  display: block;
  clear: both;
}
.collection-page .collection-card .category-name {
  text-transform: uppercase;
  color: rgba(115, 119, 122, 0.69);
  font-size: 13px;
  font-family: 'Open Sans', Arial;
  margin: 0 0 2px 0;
}
.collection-page .collection-card .edit-collection {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.collection-page .collection-card .wrap-widget-detail {
  padding: 25px;
  background: #fff;
}
.collection-page .collection-card .wrap-widget-detail span {
  text-transform: uppercase;
}
.collection-page .collection-card .wrap-widget-detail .btn {
  display: table;
}
.collection-page .collection-card .wrap-widget-detail .btn .fa {
  font-size: 16px;
  margin: 0 0 0 5px;
}
.collection-page .collection-card .collection-name {
  text-transform: uppercase;
  font-size: 20px;
  font-family: open_sansBold;
  font-weight: bold;
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.collection-page .collection-card .collection-name a {
  color: #3c3d41;
}
.collection-page .collection-card .colllection-owner {
  font-size: 12px;
  overflow: hidden;
  padding: 8px 0 10px;
}
.collection-page .collection-card .colllection-owner .colllection-owner-name {
  color: #73777a;
  font-size: 13px;
}
.collection-page .collection-card .link-collection-detail {
  float: right;
  font-size: 12px;
  color: inherit;
}
.collection-page .collection-card .wrap-widget {
  padding: 0;
  background: #fbfbfb;
}
.collection-page .collection-card .prod-image {
  width: 250px;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-right: 25px;
}
.collection-page .collection-card .prod-image a {
  display: block;
  text-align: center;
}
.collection-page .collection-card .prod-image a img {
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -125px;
}
.collection-page .collection-card .prod-image a img.no-cover {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  margin-top: 25%;
  margin-left: -50px;
}
.collection-page .collection-card-old {
  box-shadow: 1px 2px 6px #ccc;
  moz-box-shadow: 1px 2px 6px #ccc;
  webkit-box-shadow: 1px 2px 6px #ccc;
  width: 24%;
  display: block;
  margin: 10px 0.5%;
  float: left;
  position: relative;
}
.collection-page .collection-card-old.add-collection {
  height: 350px;
  text-align: center;
}
.collection-page .collection-card-old.add-collection .fa {
  margin-top: 45%;
  display: block;
  clear: both;
}
.collection-page .collection-card-old .edit-collection {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.collection-page .collection-card-old .wrap-widget-detail {
  padding: 10px;
  display: inline-block;
  width: 100%;
  background: #fff;
}
.collection-page .collection-card-old .collection-name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  overflow: hidden;
}
.collection-page .collection-card-old .collection-name a {
  color: #3c3d41;
}
.collection-page .collection-card-old .colllection-owner {
  float: left;
  font-size: 12px;
  max-height: 17px;
  overflow: hidden;
}
.collection-page .collection-card-old .colllection-owner .colllection-owner-name {
  float: right;
  margin-left: 5px;
  color: #bbb;
}
.collection-page .collection-card-old .link-collection-detail {
  float: right;
  font-size: 12px;
  color: inherit;
}
.collection-page .collection-card-old .wrap-widget {
  padding: 0;
  background: #fbfbfb;
}
.collection-page .collection-card-old .prod-image {
  width: 100%;
  position: relative;
  height: 285px;
}
.collection-page .collection-card-old .prod-image a {
  display: block;
  text-align: center;
}
.collection-page .collection-card-old .prod-image a img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.collection-page .collection-card-old .prod-image a img.no-cover {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  margin-top: 40%;
  margin-left: -50px;
}
.collection-page .wrap_link_create_collection {
  background: url(index_files/background_koleksi-1.jpg) no-repeat center;
  background-size: 100%;
  border: 5px solid #fff;
  margin: 30px 0;
  box-shadow: 1px 2px 6px #ccc;
  moz-box-shadow: 1px 2px 6px #ccc;
  webkit-box-shadow: 1px 2px 6px #ccc;
}
.collection-page .wrap_link_create_collection .inner_box_text {
  width: 75%;
  margin: 20px auto;
  padding: 30px 0;
  text-align: center;
  background: #fff;
  box-shadow: 1px 2px 6px #ccc;
  moz-box-shadow: 1px 2px 6px #ccc;
  webkit-box-shadow: 1px 2px 6px #ccc;
}
.collection-page .wrap_link_create_collection .inner_box_text .btn {
  display: table;
  margin: 20px auto;
}
.collection-page .wrap_link_create_collection .inner_box_text span {
  font-size: 16px;
  padding: 5px 0;
  display: block;
  max-width: 70%;
  margin: 0 auto;
}
.collection-page .wrap_link_create_collection .inner_box_text span.desc {
  color: #73777a;
}
@media (min-width: 1023px) and (max-width: 1215px) {
  .collection-page .collection-card-old .prod-image {
    height: 232px;
  }
  .collection-page .collection-card-old.add-collection {
    height: 297px;
  }
  .collection-page .collection-card.add-collection {
    height: 297px;
  }
  .collection-page .collection-card .colllection-owner {
    padding: 6px 0 9px;
  }
  .collection-page .collection-card .colllection-owner .colllection-owner-name {
    font-size: 11px;
  }
  .collection-page .collection-card .category-name {
    font-size: 11px;
  }
  .collection-page .collection-card .collection-name {
    font-size: 18px;
    height: 48px;
  }
  .collection-page .collection-card .prod-image {
    width: 200px;
    height: 160px;
    margin-right: 20px;
  }
  .collection-page .collection-card .prod-image a img {
    margin-top: -100px;
  }
  .collection-page .collection-card .wrap-widget-detail {
    padding: 10px;
    height: 48px;
  }
  .collection-page .wrap_link_create_collection {
    box-shadow: 1px 2px 6px #ccc;
    moz-box-shadow: 1px 2px 6px #ccc;
    webkit-box-shadow: 1px 2px 6px #ccc;
  }
  .collection-page .wrap_link_create_collection .inner_box_text {
    padding: 15px 0;
  }
  .collection-page .wrap_link_create_collection .inner_box_text span {
    font-size: 14px;
  }
  .collection-page .collection-card .wrap-widget-detail .btn {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1022px) {
  .collection-page .collection-card-old .prod-image {
    height: 232px;
  }
  .collection-page .collection-card-old.add-collection {
    height: 297px;
  }
  .collection-page .collection-card .colllection-owner {
    padding: 6px 0 9px;
  }
  .collection-page .collection-card .colllection-owner .colllection-owner-name {
    font-size: 11px;
  }
  .collection-page .collection-card .category-name {
    font-size: 11px;
  }
  .collection-page .collection-card .collection-name {
    font-size: 18px;
    height: 48px;
  }
  .collection-page .collection-card.add-collection {
    height: 297px;
  }
  .collection-page .collection-card .prod-image {
    width: 200px;
    height: 160px;
    margin-right: 20px;
  }
  .collection-page .collection-card .prod-image a img {
    margin-top: -100px;
  }
  .collection-page .collection-card .wrap-widget-detail {
    padding: 10px;
    height: 48px;
  }
  .collection-page .wrap_link_create_collection {
    box-shadow: 1px 2px 6px #ccc;
    moz-box-shadow: 1px 2px 6px #ccc;
    webkit-box-shadow: 1px 2px 6px #ccc;
  }
  .collection-page .wrap_link_create_collection .inner_box_text {
    padding: 15px 0;
  }
  .collection-page .wrap_link_create_collection .inner_box_text span {
    font-size: 14px;
  }
  .collection-page .collection-card .wrap-widget-detail .btn {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .collection-page .collection-card-old {
    width: 32%;
  }
  .collection-page .collection-card-old .prod-image {
    height: 231px;
  }
  .collection-page .collection-card-old .collection-name {
    margin-bottom: 0;
    text-align: center;
  }
  .collection-page .collection-card-old .colllection-owner,
  .collection-page .collection-card .link-collection-detail {
    clear: both;
    float: none;
    display: table;
    margin: 0 auto;
  }
  .collection-page .collection-card-old.add-collection {
    height: 296px;
  }
  .collection-page .collection-card .colllection-owner {
    padding: 3px 0 7px;
  }
  .collection-page .collection-card .colllection-owner .colllection-owner-name {
    font-size: 11px;
  }
  .collection-page .collection-card .category-name {
    font-size: 11px;
  }
  .collection-page .collection-card .collection-name {
    margin-bottom: 0;
    font-size: 15px;
    height: 45px;
  }
  .collection-page .collection-card .prod-image {
    width: 50%;
    height: 150px;
    margin-right: 10px;
  }
  .collection-page .collection-card.add-collection {
    height: 296px;
  }
  .collection-page .collection-card .wrap-widget-detail {
    padding: 10px;
  }
  .collection-page .collection-card .wrap-widget-detail .btn {
    font-size: 12px;
  }
  .collection-page .collection-card .wrap-widget-detail .btn {
    font-size: 10px;
  }
  .collection-page .wrap_link_create_collection {
    box-shadow: 1px 2px 6px #ccc;
    moz-box-shadow: 1px 2px 6px #ccc;
    webkit-box-shadow: 1px 2px 6px #ccc;
    background-size: cover;
  }
  .collection-page .wrap_link_create_collection .inner_box_text {
    padding: 15px 0;
    width: 85%;
  }
  .collection-page .wrap_link_create_collection .inner_box_text .btn {
    margin: 10px auto;
  }
  .collection-page .wrap_link_create_collection .inner_box_text span {
    font-size: 14px;
    max-width: 90%;
  }
  .collection-page .collection-card .prod-image a img {
    position: relative;
    margin-top: 0;
  }
}
.collection-page .profile-user img {
  max-width: 100%;
}
.collection-page .profile-user .desc_profile {
  margin-top: 15px;
  display: block;
}
.collection-page .profile-user span {
  font-size: 12px;
  display: block;
}
.collection-page .profile-user .avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  overflow: hidden;
}
.collection-page .profile-user .avatar.male {
  background: url(../../../img/frontend/base/avatar-m.jpg) no-repeat;
  background-size: 100%;
}
.collection-page .title-list-product-collection {
  padding: 10px;
}
.collection-page .title-list-product-collection p {
  font-size: 18px;
  color: #545454;
  font-weight: bold;
}
.collection-page .collection-detail-main-title {
  font-size: 20px;
  text-transform: capitalize;
  color: #ff6c6c;
  font-weight: 800;
  margin: 0 10px 10px 0px;
}
.collection-page .buy-selected-product {
  float: right;
}
.collection-page .wrap-button-buy {
  padding: 10px;
  background: #e7e7e7;
  margin: 10px 0;
}
.collection-page .wrap-button-buy .button-buy {
  float: left;
}
.collection-page .wrap-button-buy label {
  font-size: 13px;
}
.collection-page .wrap-total-price {
  font-weight: bold;
}
.collection-page .prod-widget-vertical {
  width: 24%;
}
.collection-page .prod-widget-vertical img {
  max-width: 100%;
}
.collection-page .prod-widget-vertical .checkbox-cust {
  border: 1px solid #f2f2f2;
  width: 20px;
  position: relative;
  height: 20px;
  display: block;
  float: left;
  cursor: pointer;
}
.collection-page .prod-widget-vertical .checkbox-cust input {
  visibility: hidden;
}
.collection-page .prod-widget-vertical .checkbox-cust .fa {
  display: none;
  font-size: 16px;
  color: #21B594;
}
.collection-page .prod-widget-vertical .checkbox-cust.checked .fa {
  display: block;
}
.collection-page .prod-widget-vertical .checkbox-cust .tooltip {
  position: absolute;
  color: #fff;
  display: block;
  width: 95px;
  opacity: 0;
  font-size: 11px;
  background: #21B594;
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.collection-page .prod-widget-vertical .checkbox-cust .tooltip:after {
  left: -7px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 81, 145, 0);
  border-right-color: #21B594;
  border-width: 4px;
  margin-top: -4px;
}
.collection-page .prod-widget-vertical .checkbox-cust .tooltip.show-tooltip {
  display: block;
  opacity: 1;
}
.collection-page .prod-widget-vertical .delete-product-collection {
  float: right;
  margin: 10px;
  color: #73777a;
}
.collection-page .wrap-detail-view {
  max-width: 600px !important;
}
.collection-page .wrap-detail-view .close-popup {
  right: 10px;
  position: absolute;
  top: 10px;
  z-index: 9;
  cursor: pointer;
}
.collection-page .wrap-detail-view #product-image-option .main-image {
  position: relative;
}
.collection-page .wrap-detail-view #product-image-option .main-image img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.collection-page .wrap-detail-view .product-name {
  margin-bottom: 10px;
}
.collection-page .wrap-detail-view .widget-price {
  width: 100%;
}
.collection-page .wrap-detail-view .wrap-badges-widget {
  display: table;
  float: right;
  margin: 4px 10px;
}
.collection-page .wrap-detail-view .badges-red {
  display: table;
  padding: 0 5px;
  font-size: 12px;
}
.collection-page .wrap-detail-view .disc-price {
  padding: 0;
}
.collection-page .wrap-detail-view #product-short-desc-option {
  padding-top: 10px;
  border-top: 1px solid ;
}
.collection-page .wrap-detail-view .button-cart-area button {
  width: auto;
  font-size: 12px;
}
.collection-page .wrap-detail-view .button-cart-area button .fa {
  margin-right: 10px;
}
.collection-page .wrap-detail-view .link-detail {
  font-size: 14px;
  margin-bottom: 10px;
}
.collection-page .thumb_area {
  margin: 0 20px;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.collection-page .thumb_area .wrap_thumb {
  position: absolute;
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  left: 0;
  top: 3px;
}
.collection-page .thumb_area .thumb {
  display: inline-block;
  float: left;
  position: relative;
  cursor: pointer;
}
.collection-page .thumb_area .thumb:not(.active) img {
  margin: 0 3px;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.collection-page .thumb_area .thumb img {
  margin: 0 3px;
  width: 70% !important;
}
.collection-page .thumb_area .main-image img.active-img {
  display: block;
}
.collection-page .thumb_area .thumb-image ul {
  float: left;
}
.collection-page .thumb_area .thumb-video {
  position: absolute;
  left: 0;
  top: 0;
}
.collection-page .thumb_area .thumb-image .nav-prev,
.collection-page .thumb_area .thumb-image .nav-next {
  background-image: url(../../../img/skin/arrow.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 100%;
  cursor: pointer;
  margin-top: 10px;
  height: 40px;
  display: block;
  float: left;
}
.collection-page .thumb_area .thumb-image .nav-prev {
  background-position: center -765px;
}
.collection-page .thumb_area .thumb-image .nav-next {
  background-position: center -800px;
  float: right;
}
@media (min-width: 768px) and (max-width: 991px) {
  .collection-page .prod-widget-vertical {
    width: 32%;
  }
}
.collection-page #skin {
  float: left;
  max-width: 100%;
}
.collection-page #skin img {
  max-width: 100%;
}
.collection-page .wrap-profile img {
  width: 170px;
  margin-top: -70px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
}
.collection-page .wrap-profile .wrap-action {
  display: table;
  float: left;
  margin-left: 10px;
}
.collection-page .wrap-profile .wrap-action .profile-action {
  display: table;
  margin: 10px 10px 5px;
}
.collection-page .wrap-profile .wrap-action .profile-action label {
  float: left;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}
.collection-page .wrap-profile .wrap-action .profile-action .edit-profile-collection {
  border: 1px solid #ff6c6c;
  padding: 5px;
  float: left;
  text-transform: uppercase;
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.collection-page .wrap-profile .wrap-action .collection-action span {
  padding: 0 60px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #ff6c6c;
  display: block;
  float: left;
  margin: 10px;
}
.collection-page .wrap-profile .wrap-action .collection-action span a {
  color: #fff;
  padding: 3px 10px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.collection-page .picture-profile {
  border-bottom: 2px dotted #d2d2d2;
  padding-bottom: 10px;
}
.collection-page .picture-profile img {
  width: 30%;
  float: left;
}
.collection-page .picture-profile span,
.collection-page .picture-profile input {
  width: 60%;
  float: left;
  margin: 10px;
}
.collection-page .field-user {
  margin: 10px 0;
}
.collection-page .field-user label {
  margin: 10px 0;
}
.collection-page .field-user input,
.collection-page .field-user textarea {
  width: 100%;
  line-height: 20px;
}
.collection-page .field-user button {
  margin: 0 auto;
}



/*=================== popup collection =======================*/
.add-to-collections .box-popup {
  max-width: 600px !important;
}
.form-add-collection input[type=text],
.form-add-collection textarea,
.form-add-collection select {
  width: 100% !important;
}
.form-add-collection .wrap-button-choice {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 1%;
  display: inline-block;
  width: 100%;
}
.form-add-collection .wrap-button-choice .button-choice {
  background: #c9c9c9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border: 1px solid #c9c9c9;
}
.form-add-collection .wrap-button-choice .button-choice label {
  padding: 10px 5px;
  float: left;
  display: block;
  cursor: pointer;
  width: 50%;
  text-align: center;
  min-width: 0;
  font-size: 10px;
}
.form-add-collection .wrap-button-choice .button-choice label .fa {
  color: #ff6c6c;
  display: block;
  font-size: 18px;
  clear: both;
}
.form-add-collection .wrap-button-choice .button-choice label.active-choice {
  background: #fff;
}
.form-add-collection .wrap-field-choice {
  padding: 10px 0;
}
.form-add-collection .wrap-field-choice .field-choice {
  display: none;
}
.form-add-collection .wrap-field-choice .field-choice.show-choice {
  display: block;
}
.form-add-collection .wrap-field-choice .field-choice.show-choice img {
  min-height: 70px;
  display: block;
}
.form-add-collection .wrap-field-choice .image_upload {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border: 1px dashed #999;
  position: relative;
}
.form-add-collection .wrap-field-choice .image_upload .placeholder-input-image {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
  right: 10px;
}
.form-add-collection .wrap-field-choice .image_upload #cover-img {
  position: absolute;
  top: 0;
  left: 0;
}
.form-add-collection .wrap-field-choice .image_upload img {
  max-width: 100%;
}
.form-add-collection .wrap-field-choice .image_upload label {
  background: #ff6c6c;
  display: table;
  min-width: 0;
  padding: 5px 30px;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 10px auto 0;
}
.form-add-collection .wrap-field-choice .image_upload .input_image_upload {
  display: none;
}
.form-add-collection .wrap-field-choice .image_upload .fa {
  font-size: 40px;
  margin-bottom: 10px;
}
.form-add-collection .wrap-field-choice .image_upload span {
  font-size: 10px;
}
.form-add-collection .check_public input {
  float: left;
  width: 20px;
  padding: 0;
  margin: 0 10px;
  min-width: 0;
}
.form-add-collection .button_save {
  text-align: center;
  margin: 10px 0;
}
.form-add-collection .button_save button {
  margin: 0 auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.form-add-collection .close_add_collection {
  text-align: center;
}
.add-to-collections .form-area {
  padding: 0 10px;
  border-left: 1px dashed #999;
  width: 300px;
  min-height: 200px;
  float: right;
}
.add-to-collections .form-area .choice-collection {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}
.add-to-collections .form-area .choice-collection select {
  height: 30px;
  width: 100%;
  display: block;
}
.add-to-collections .login-collections {
  text-align: center;
}
.add-to-collections .login-collections a {
  margin: 0 auto;
}
.add-to-collections .login-collections p {
  display: block;
}
.add-to-collections .widget-product-area {
  width: 200px;
  float: left;
}
.add-to-collections .widget-product-area .prod-image a {
  margin: 0 auto;
  display: table;
  position: relative;
}
.add-to-collections .widget-product-area .prod-name a {
  display: block;
  text-align: center;
}
.add-to-collections .widget-product-area .widget-price {
  margin: 0 auto;
}
.add-to-collections .widget-product-area .widget-price .wrap-badges-widget {
  float: right;
  font-size: 12px;
  display: table;
}
.add-to-collections .widget-product-area .widget-price .wrap-badges-widget .discount {
  padding: 3px;
}
.add-to-collections .widget-product-area .widget-price .normal-price {
  text-align: center;
}
.bg_popup {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  visibility: hidden;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 51;
}
.wrap-popup {
  bottom: 0;
  top: 110%;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
}
.wrap-popup .box-popup {
  display: block;
  background: #fff;
  padding: 10px;
  position: relative;
  z-index: 999;
  max-width: 400px;
  max-height: 90%;
  overflow: auto;
}
.wrap-popup .close-popup {
  cursor: pointer;
  top: 0;
  width: 30px;
  float: right;
  position: absolute;
  height: 30px;
  display: table;
  line-height: initial;
  font-size: 17px;
  right: 0;
  padding: 5px 10px;
}
.wrap-popup .header-popup {
  width: 100%;
  font-size: 2em;
  height: 30px;
  border-bottom: 2px solid #ff6c6c;
  margin-bottom: 10px;
  position: relative;
  line-height: 30px;
  font-weight: bold;
  padding-right: 30px;
}
.wrap-popup .content-popup label {
  font-size: 12px;
  padding: 0 0 5px 0;
}
.wrap-popup .content-popup label span {
  font-family: open_sansbold;
}
.wrap-popup .content-popup .row-popup {
  margin-bottom: 10px;
}
.wrap-popup .footer-popup {
  width: 50%;
  display: block;
  margin: 10px auto;
  clear: both;
}
.wrap-popup #decline-button {
  float: left;
  max-width: 50%;
  background-color: #FFFFFF;
  padding: 6px 15px;
  color: #000;
}
.wrap-popup #accept-button {
  float: right;
  max-width: 50%;
  padding: 6px 15px;
  text-align: center;
}
@media (max-width: 767px) {
  .wrap-popup .footer-popup {
    width: 100%;
  }
  .wrap-popup #decline-button {
    max-width: 50%;
    padding: 6px 10%;
  }
  .wrap-popup #accept-button {
    max-width: 50%;
    padding: 6px 10%;
  }
}
@media (max-width: 468px) {
  .wrap-popup #decline-button {
    padding: 6px;
  }
  .wrap-popup #accept-button {
    padding: 6px;
  }
}
.wrap-popup {
  /*new popup style*/
}
@media (max-width: 700px) {
  .wrap-popup {
    padding: 0 10px;
  }
}
.wrap-popup .box-popup.newstyle {
  border-radius: 2px;
  padding: 20px 40px;
  width: 700px;
  max-width: 700px;
  margin-right: auto!important;
  margin-left: auto!important;
  overflow: visible;
  display: block;
}
@media (max-width: 700px) {
  .wrap-popup .box-popup.newstyle {
    width: 100%;
    max-width: initial;
  }
}
.wrap-popup .box-popup.newstyle .wrap-close {
  position: relative;
  width: 100%;
  display: block;
  height: 25px;
}
.wrap-popup .box-popup.newstyle .close-popup {
  background: #e7e7e7;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0;
  text-align: center;
  font-size: initial;
  line-height: initial;
  right: -25px;
}
.wrap-popup .box-popup.newstyle .close-popup .fa {
  font-size: 13px;
  line-height: 13px;
  color: #73777a;
  vertical-align: middle;
  display: inline-block;
}
.wrap-popup .box-popup.newstyle .header-popup {
  padding: 0;
  border-bottom: none;
}
.wrap-popup .box-popup.newstyle .content-popup.desc p {
  font-size: 16px;
}
.wrap-popup .box-popup.newstyle .btn + .btn {
  margin-left: 15px;
}


/*=================== end popup collection =======================*/


.btn {
  font-family: 'Open Sans', Arial;
  text-transform: uppercase;
  padding: 0 15px;
  height: 40px;
  line-height: 36px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  font-size: 13px;
  text-align: center;
}
.btn.btn-sm {
  height: 30px;
  line-height: 26px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.btn.btn-lg {
  height: 50px;
  line-height: 46px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}
.btn.btn-primary {
  background: #ff6c6c;
  color: #fff;
  border: solid 2px #ff6c6c;
}
.btn.btn-primary:active,
.btn.btn-primary:focus {
  outline: none;
  background: #e65f5f;
  color: #fff;
  border: solid 2px #e65f5f;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-primary:hover {
  outline: none;
  background: #ff6c6c;
  color: #fff;
  border: solid 2px #ff6c6c;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-primary a,
.btn.btn-primary a:hover,
.btn.btn-primary a:focus,
.btn.btn-primary a:visited {
  color: #fff;
  text-decoration: none;
}
.btn.btn-ghost {
  background: #fff;
  color: #73777a;
  border: solid 2px #bbbbbb;
}
.btn.btn-ghost:active,
.btn.btn-ghost:focus {
  outline: none;
  background: #fff;
  color: #e65f5f;
  border: solid 2px #e65f5f;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-ghost:hover {
  outline: none;
  background: #fff;
  color: #fc9797;
  border: solid 2px #fc9797;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-control {
  background: #fff;
  color: #bbbbbb;
  border: solid 2px #e7e7e7;
  padding: 0;
  width: 40px;
  line-height: 36px;
}
.btn.btn-control .fa {
  font-weight: bold;
  font-size: 14px;
  line-height: 0;
}
.btn.btn-control:active,
.btn.btn-control:focus {
  outline: none;
  background: #e7e7e7;
  color: #bbbbbb;
  border: solid 2x #bbbbbb;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-control:hover {
  outline: none;
  background: #fff;
  color: #bbbbbb;
  border: solid 2px #e7e7e7;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-label-ghost {
  background: #fff;
  color: #73777a;
  border: solid 2px #e7e7e7;
  padding: 0 15px;
  text-transform: capitalize;
}
.btn.btn-label-ghost .fa {
  margin-right: 10px;
}
.btn.btn-label-ghost:active,
.btn.btn-label-ghost:focus {
  outline: none;
  background: #fff;
  color: #ff6c6c;
  border: solid 2px #ff6c6c;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-label-ghost:hover {
  outline: none;
  background: #fff;
  color: #73777a;
  border: solid 2px #e7e7e7;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-label-ghost.selected {
  background: #fff;
  color: #ff6c6c;
  border: solid 2px #fc9797;
}
.btn.btn-label-ghost.selected:active,
.btn.btn-label-ghost.selected:focus {
  background: #fff;
  color: #bbbbbb;
  border: solid 2px #bbbbbb;
}
.btn.btn-label-ghost.selected:hover {
  background: #fff;
  color: #ff6c6c;
  border: solid 2px #fc9797;
}
.btn.btn-facebook {
  display: inline-block;
  background: #334095;
  color: #fff;
  border: none;
  text-transform: capitalize;
  font-family: 'open_sanssemibold';
}
.btn.btn-google {
  display: inline-block;
  background: #BD3030;
  color: #fff;
  border: none;
  text-transform: capitalize;
  font-family: 'open_sanssemibold';
}
.btn.btn-counter {
  font-family: 'open_sansbold';
  background: #fff;
  padding: 0;
  color: #bbbbbb;
  border: solid 2px #e7e7e7;
  line-height: initial;
  display: inline-block;
}
.btn.btn-counter.btn-sm,
.btn.btn-counter.btn-lg {
  line-height: initial;
  height: initial;
}
.btn.btn-counter:hover {
  border: solid 2px #e7e7e7;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-counter:focus,
.btn.btn-counter:active {
  border: solid 2px #bbbbbb;
  box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
  -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
}
.btn.btn-counter .input-group {
  text-align: center;
  outline: none;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  float: left;
  background: none;
  line-height: inherit;
}
.btn.btn-counter .input-group._left,
.btn.btn-counter .input-group._right {
  border: none;
}
.btn.btn-counter .input-group._left:hover,
.btn.btn-counter .input-group._right:hover {
  background: #fff;
}
.btn.btn-counter .input-group._left:focus,
.btn.btn-counter .input-group._right:focus,
.btn.btn-counter .input-group._left:active,
.btn.btn-counter .input-group._right:active {
  background: #e7e7e7;
}
.btn.btn-counter .input-group._left {
  width: 40px;
  border-right: solid 2px #e7e7e7;
  border-radius: 40px 0 0 40px;
  -webkit-border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
}
.btn.btn-counter .input-group._right {
  width: 40px;
  border-left: solid 2px #e7e7e7;
  border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
}
.btn.btn-counter .input-group._counter {
  border: none;
  text-align: center;
  padding: 0;
  width: 40px;
}
.btn.btn-counter .input-group .fa {
  font-size: 14px;
  line-height: 0;
  color: #bbbbbb;
}
.btn.btn-counter .input-group.disabled .fa {
  opacity: 0.5;
}
.btn.btn-counter.btn-sm .input-group {
  height: 26px;
  line-height: 26px;
}
.btn.btn-counter.btn-sm .input-group._counter {
  width: 30px;
}
.btn.btn-counter.btn-sm .input-group._left,
.btn.btn-counter.btn-sm .input-group._right {
  width: 30px;
}
.btn.btn-counter.btn-sm .input-group._left .fa,
.btn.btn-counter.btn-sm .input-group._right .fa {
  font-size: 13px;
}
.btn.btn-counter.btn-lg .input-group {
  height: 46px;
  line-height: 46px;
}
.btn.btn-counter.btn-lg .input-group._left,
.btn.btn-counter.btn-lg .input-group._right,
.btn.btn-counter.btn-lg .input-group._counter {
  width: 50px;
}
.btn.btn-block {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.btn.btn-inblock {
  display: inline-block !important;
}


