.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
    clear: both;
}

.paging {
    background: #fbfbfb;
    display: table;
    padding: 0;
    margin: 10px 0 20px;
    width: 100%;
    float: left;
    box-shadow: 1px 2px 6px #ccc;
    moz-box-shadow: 1px 2px 6px #ccc;
    webkit-box-shadow: 1px 2px 6px #ccc;
}

.paging .showing {
    display: table;
    line-height: 2.5em;
    float: left;
    margin: 0;
    color: #a8a8a8;
    text-indent: 10px;
    font-weight: bold;
    font-size: 2em;
}

.paging .pagination {
    float: right;
    margin: 10px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.paging .pagination li {
    float: left;
}

.paging .pagination li:first-child.current a, .paging .pagination li.current a {
    background: #e7e7e7;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.paging .pagination li:first-child a, .paging .pagination li:first-child span, .paging .pagination a, .paging .pagination span {
    border: 0;
    color: #73777a;
    font-family: open_sansbold;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: transparent;
}

.button-cart-area {
    display: table;
    margin: 15px 0;
    width: 100%;
}

.button-cart-area label, .button-cart-area input, .button-cart-area select, .button-cart-area button {
    float: left;
}

.button-cart-area input[type="text"], .button-cart-area select {
    margin: 0 5px;
    padding: 3px 0 5px;
    width: 10%;
    height: 35px;
    min-width: 0;
    font-size: 1.4em;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.button-cart-area input[type="text"] {
    text-align: center;
    text-indent: 0;
}

.button-cart-area button {
    width: 65%;
    display: inline-block;
}

.button-cart-area, .button-notify-area {
    display: table;
}

.button-cart-area label, .button-notify-area label {
    margin: 0;
    padding: 3px 0;
    font-size: 16px;
    line-height: 30px !important;
    min-width: 0;
}

.button-cart-area .notify-me, .button-notify-area .notify-me {
    width: 200px;
    max-width: 50%;
    float: left;
    margin: 0 6px;
}

.button-cart-area input.notify-me, .button-notify-area input.notify-me {
    height: 30px;
}

.list-prod-area {
    padding: 20px 0;
}

.category-page .prod-widget-horizontal, .brand-page .prod-widget-horizontal, .vendor-page .prod-widget-horizontal {
    display: none;
}

li {
    font-size: 13px;
}

li.head-list {
    font-size: 1.5em;
    color: #666;
}

.wrap-footer {
    display: table;
    width: 100%;
    clear: both;
}

.wrap-footer .row {
    clear: both;
    background: #fff;
}

.wrap-footer .row:nth-child(1) {
    background: #f2f2f2;
}

.wrap-footer .row:last-child {
    background: #f2f2f2;
}

.font-small {
    font-size: 10px;
}

.font-normal {
    font-size: 12px;
}

.font-medium {
    font-size: 16px;
}

.font-medium-2 {
    font-size: 18px;
}

.font-large {
    font-size: 20px;
}

.font-xlarge {
    font-size: 25px;
}

.label-failed {
    color: #f63838;
}

.label-success {
    color: #21b594;
}

.upperme {
    text-transform: uppercase !important;
}

.capsme {
    text-transform: capitalize !important;
}

.separator {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.separator-top {
    border-top: 1px solid #e2e2e2;
}

.separator-bottom {
    border-bottom: 1px solid #e2e2e2;
}

.tag-title {
    display: inline-block;
    width: 100%;
}

.tag-title h1, .tag-title h2, .tag-title h3, .tag-title h4, .tag-title h5, .tag-title h6 {
    margin: 0;
}

.tag-title.padside5 {
    padding: 0 5px;
}

.tag-title > .title {
    text-transform: capitalize;
    color: #4a4a4a;
}

.tag-title > .title.fade {
    color: #73777a;
}

.tag-title > .upper {
    text-transform: uppercase;
}

.tag-title > ._h1 {
    font-size: 42px;
    line-height: 48px;
    font-family: 'open_sansbold';
}

.tag-title > ._h2 {
    font-size: 26px;
    line-height: 32px;
    font-family: 'open_sansbold';
}

.tag-title > ._h3 {
    font-size: 20px;
    line-height: 26px;
    font-family: 'open_sansbold';
}

.tag-title > ._h4 {
    font-size: 16px;
    line-height: 22px;
    font-family: 'open_sansbold';
}

.tag-title > span.subtitle {
    font-size: 13px;
    line-height: 19px;
}

.tag-title label {
    color: #666;
    font-size: 14px;
    font-weight: bold;
}

.tag-title label a.link-viewmore-product {
    color: #ff6c6c;
    text-decoration: underline;
}

.push._bottom {
    margin-bottom: 10px;
}

.push._bottom._x2 {
    margin-bottom: 20px;
}

.push._bottom._x3 {
    margin-bottom: 30px;
}

.push._bottom._x5 {
    margin-bottom: 50px;
}

.push._top {
    margin-top: 10px;
}

.push._top._x2 {
    margin-top: 20px;
}

.push._top._x3 {
    margin-top: 30px;
}

.push._top._x5 {
    margin-top: 50px;
}

.prod-widget-vertical {
    width: 19%;
    height: 335px;
    border-radius: 2px;
    position: relative;
    padding: 0;
    float: left;
    margin: 0 0.5% 1%;
    color: #868686;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
}

.prod-widget-vertical:last-child {
    margin: 0 0.5%;
}

.prod-widget-vertical:hover .wrap-widget {
    width: 100%;
    border-radius: 2px;
}

.homepage-product {
    clear: both;
    width: 100%;
    display: inline-block;
}

.featured-title {
    color: #666;
    -webkit-border-radius: 0;
    margin-bottom: 20px;
    padding: 0 5px;
}

.featured-title p {
    font-size: 18px;
    font-family: open_sansbold;
}

.featured-title label {
    font-size: 14px;
    font-weight: bold;
}

.featured-title label a.link-viewmore-product {
    color: #ff6c6c;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .prod-widget-horizontal {
        display: none;
    }
}

.slider-page {
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    display: table;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.slider-page a {
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid;
    margin: 0 5px;
    width: 20px;
    float: left;
    color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: block;
}

.onlinechat .link-chat-mobile {
    display: none;
}

.onlinechat .link-chat-desktop {
    display: block;
}

@media (min-width: 468px) and (max-width: 767px) {
    .wrap-middle-content > .row {
        margin-right: 0;
        margin-left: 0;
    }

    .paging .showing {
        display: none;
    }

    .onlinechat .link-chat-mobile {
        display: block;
        color: inherit;
    }

    .onlinechat .link-chat-desktop {
        display: none;
    }

    .wrap-content {
        display: block;
    }
}

@media (max-width: 468px) {
    .wrap-middle-content > .row {
        margin-right: 0;
        margin-left: 0;
    }

    .floating-right {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        left: 0;
    }

    .paging .showing {
        display: none;
    }

    .profile-user img {
        max-width: 100%;
    }

    .main .profile-user .desc_profile {
        margin-top: 15px;
        display: block;
    }

    .main .profile-user span {
        font-size: 12px;
        display: block;
    }

    .main .profile-user .avatar {
        margin-right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        float: left;
        overflow: hidden;
    }

    .main .profile-user .avatar.male {
        background: url(../../../img/frontend/base/avatar-m.jpg) no-repeat;
        background-size: 100%;
    }
}
.main .profile-user .avatar {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float: left;
    overflow: hidden;
}

.main .collectionbox {
    padding: 10px;
    background: #e7e7e7;
    margin: 10px 0;
}

.main .collectionbox .button-buy {
    float: left;
}

.main .collectionbox label {
    font-size: 13px;
}

.main .title-list-product-collection {
    padding: 10px;
}

.main .title-list-product-collection p {
    font-size: 18px;
    color: #545454;
    font-weight: bold;
}

.main .prod-widget-vertical .widget-button-right {
    float: left;
    left: 20px;
    font-size: 1.3em;
    display: block;
    clear: both;
    z-index: 1;
    margin: 10px;
}

.main .prod-widget-vertical .widget-button-right a {
    color: #e7e7e7;
    font-size: 16px;
}

.main .prod-widget-vertical .widget-button-right li {
    float: left;
    margin-left: 5px;
}
@media (min-width: 768px) {
    .prod-widget-vertical:hover .widget-button-right {
        display: block;
    }

    .prod-widget-vertical:hover .widget-button-right a {
        color: #ff6c6c;
        font-size: 16px;
    }
}

.main .prod-widget-vertical {
    width: 24%;
}

.main .prod-widget-vertical img {
    /*max-width: 100%;*/
}

.main .prod-widget-vertical .checkbox-cust {
    border: 1px solid #f2f2f2;
    width: 20px;
    position: relative;
    height: 20px;
    display: block;
    float: left;
    cursor: pointer;
}

.main .prod-widget-vertical .checkbox-cust input {
    visibility: hidden;
}

.main .prod-widget-vertical .checkbox-cust .fa {
    display: none;
    font-size: 16px;
    color: #3eb988;
}

.main .prod-widget-vertical .checkbox-cust.checked .fa {
    display: block;
}

.main .prod-widget-vertical .checkbox-cust .tooltip {
    position: absolute;
    color: #fff;
    display: block;
    width: 95px;
    opacity: 0;
    font-size: 11px;
    background: #3eb988;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.main .prod-widget-vertical .checkbox-cust .tooltip:after {
    left: -7px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 81, 145, 0);
    border-right-color: #3eb988;
    border-width: 4px;
    margin-top: -4px;
}

.main .prod-widget-vertical .checkbox-cust .tooltip.show-tooltip {
    display: block;
    opacity: 1;
}

.main .prod-widgcollectionboxet-vertical .delete-product-collection {
    float: right;
    margin: 10px;
    color: #73777a;
}

.profile-action .collection-action span{
    padding: 0 60px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ff6c6c;
    display: block;
    float: left;
    margin: 10px;
}
.profile-action .collection-action span a{
    color: #fff;
    padding: 3px 10px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.main .add-collection a{
    color: #ff6c6c;
    text-decoration: none;
}

.main .add-collection a:hover{
    color: #23527c;
    text-decoration: none;
}

@media (min-width: 1023px) and (max-width: 1215px) {
    .main .collection-card-old.add-collection {
        height: 297px;
    }

}
@media (min-width: 992px) and (max-width: 1022px) {
    .main .collection-card-old.add-collection {
        height: 297px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main .collection-card-old {
        width: 32%;
    }

    .main .collection-card-old .prod-image {
        height: 231px;
    }

    .main .collection-card-old .collection-name {
        margin-bottom: 0;
        text-align: center;
    }
    
    .main .collection-card-old.add-collection {
        height: 296px;
    }
}

.main .collection-card-old .editCollectionInfo .fa-pencil{
    font-size: 30px;
    color: #ff6c6c;
}

.main .collection-card-old .editCollectionInfo .fa-pencil:hover{
    font-size: 30px;
    color: #23527c;
}
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 9999999;
}

/* Inner */
.popup-inner {
    z-index: 9999999999999;
    max-width:500px;
    height: auto;
    max-height: 90%;
    width:400px;
    padding:15px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:20px;
    right:30px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.popup .popup-inner .wrap-button-choice {
    /*border: 1px solid #e4e4e4;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1%;
    display: inline-block;
    width: 100%;
}
.popup .popup-inner .wrap-button-choice .button-choice {
    background: #c9c9c9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border: 1px solid #c9c9c9;
}
.popup .popup-inner .wrap-button-choice .button-choice label {
    padding: 10px 5px;
    float: left;
    display: block;
    cursor: pointer;
    width: 50%;
    text-align: center;
    min-width: 0;
    font-size: 10px;
    background-color: #999;
}
.popup .popup-inner .wrap-button-choice .button-choice label .fa {
    color: #ff6c6c;
    display: block;
    font-size: 18px;
    clear: both;
}

.popup .popup-inner .wrap-button-choice .button-choice label.active-choice {
    background: #fff;
}

.popup .popup-inner .wrap-field-choice .field-choice.show-choice {
    display: block;
}
.popup .popup-inner .wrap-field-choice .image_upload {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px dashed #999;
    position: relative;
}
.popup .popup-inner .wrap-field-choice .image_upload #cover-img {
    position: absolute;
    top: 0;
    left: 0;
}
.popup .popup-inner .wrap-field-choice .field-choice.show-choice img {
    min-height: 70px;
    display: block;
}
.popup .popup-inner .wrap-field-choice .image_upload img {
    max-width: 100%;
}
.popup .popup-inner .wrap-field-choice .image_upload .fa {
    font-size: 40px;
    margin-bottom: 10px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.popup .popup-inner .wrap-field-choice .image_upload span {
    font-size: 10px;
}
.popup .popup-inner .wrap-field-choice .image_upload label {
    background: #ff6c6c;
    display: table;
    min-width: 0;
    padding: 5px 30px;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px auto 0;
}
.popup .popup-inner .wrap-field-choice .image_upload .input_image_upload {
    display: none;
}
.popup .popup-inner .wrap-field-choice {
    padding: 10px 0;
}
.popup .popup-inner .wrap-field-choice .field-choice .show-choice {
    display: block;
}

.popup .popup-inner .bottom-spacer-container{
    text-align: center;
}

.popup .popup-inner #removequestion{
    text-align: center;
}

.popup .popup-inner #removequestion table{
    width:75%;
    margin-left:15%;
    margin-right:15%;
}
.popup .popup-inner #modalTitleCol{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
}
.popup .popup-inner #modalDescCol{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
}
.popup .popup-inner #image-url{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
}
.wrap-action .profile-action span{
    padding: 0 60px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ff6c6c;
    display: block;
    float: left;
    margin: 10px;
    color:white;
    font-weight: bold;
}
.wrap-action .profile-action span a{
    color:white;
    font-weight: bold;
}

.overlay{
    width:100%;
    height:100%;
    display:none;
    position:relative;
    top:0px;
    left:0px;
    z-index: 99999999;
}