<?php $attr = Mage::getModel('catalog/product')->getResource()->getAttribute("all_brands"); ?>
<?php if ($categoryName = $this->getCategoryName()): ?>
    <section class="homegrid">
        <h3 class="line-thought"><?php echo $categoryName ?></h3>
        <?php
            //Get Product List
            $listNewProduct = $this->getProducts();
        ?>

        <!-- PRODUCT GRID -->
        <div class="product-grid">         
            <div class="row" style="margin: 0 -1.5px;">
                <?php
                    $check = 0;
                    foreach ($listNewProduct as $_product) :
                        $plan1 = Mage::getModel('recurringandrentalpayments/plans_product')->getCollection()->addFieldToFilter('product_id',$_product->getId());
                        foreach($plan1 as $plan2){
                            $productPlan = Mage::getModel('recurringandrentalpayments/plans')->load($plan2->getData('plan_id'));
                            if($productPlan->getData('plan_status') == 1){
                                $check++;
                            }
                        }

                        $parentIds = Mage::getResourceSingleton('catalog/product_type_configurable')->getParentIdsByChild($_product->getId());
                        if (isset($parentIds[0])) {
                            $productUrl = $this->getConfigurableUrl($parentIds[0]);
                        } else {
                            $productUrl = $this->getProductUrl($_product);
                        }
                    
                        // TRACKING TYPE
                        if (in_array($categoryName, array('สินค้าแนะนำ', 'Orami Picks')))://frontpage_oramipicks ?>
                            <div class="col-6 col-sm-3 product-col" data-web-section="frontpage_oramipicks" data-product-id="<?php echo $_product->getId() ?>">
                        <?php elseif (in_array($categoryName, array('สินค้าขายดี', 'Best Sellers')))://frontpage_bestsellers ?>
                            <div class="col-6 col-sm-3 product-col" data-web-section="frontpage_bestsellers" data-product-id="<?php echo $_product->getId() ?>">
                        <?php else: ?>
                            <div class="col-6 col-sm-3 product-col">
                        <?php endif; ?>

                        <!-- PRODUCT CARD -->
                        <?php if ($_product->isSaleable()): ?>
                            <div class="product-card">
                        <?php else: ?>
                            <div class="product-card disabled">
                        <?php endif; ?>
                                <!-- ADD TO CART -->
                                <button class="add-to-cart" onclick="window.location.href='<?php echo $_product->getProductUrl() ?>'">
                                    <?php echo $this->__('View') ?>
                                </button>
                                        
                                <!-- OVERLAY -->
                                <a href="<?php echo $_product->getProductUrl() ?>">
                                    <div class="overlay"></div>
                                </a> <!-- END OVERLAY -->

                                <!-- PRODUCT IMAGE -->
                                <div class="product-image">
                                    <?php if ($_product->getData('promotion_flag')) : ?>
                                        <div class="badge"><?php echo $this->__($_product->getData('promotion_message')) ?></div>
                                    <?php endif; ?>

                                    <a href="<?php echo $productUrl; ?>">
                                        <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(220, 180); ?>" alt="<?php echo $_product->getName(); ?>">
                                    </a>
                                </div> <!-- END PRODUCT IMAGE -->

                                <!-- PRODUCT INFO BLOCK -->
                                <div class="product-info-block">
                                    <div class="price-block">
                                        <?php echo $this->getLayout()->createBlock('catalog/product_price')->setTemplate('catalog/product/price.phtml')->setProduct($_product)->toHtml(); ?>
                                    <!-- RECURRING -->
                                        <?php
                                            if($plan1->getSize() > 0 && $check > 0):

                                                $subHelper = Mage::helper('recurringandrentalpayments') ;
                                                $plans_product = Mage::getModel('recurringandrentalpayments/plans_product')->load($_product->getId());
                                                $plan = Mage::getModel('recurringandrentalpayments/plans')->load($plans_product->getPlanId());
                                                $planId = $plan->getId();
                                        ?>
                                                <div class="autoship">
                                                        <img src="<?php echo $this->getSkinUrl('images/autoship.png'); ?>">
                                                        <?php echo 'Autoship &nbsp;'.$subHelper->getBestAveragePrice($planId,$_product->getId()); ?>

                                                </div>
                                        <?php endif; ?> 
                                    <!-- END RECURRING -->
                                    </div>
                                    <div class="product-info">
                                        <?php if ($_product->getData('all_brands')) : ?>
                                            <span class="brand"><?php echo $attr->getSource()->getOptionText($_product->getData('all_brands')); ?></span>
                                        <?php endif; ?>
                                        <span class="name">
                                            <a href="<?php echo $productUrl; ?>"><?php echo $_product->getName(); ?></a>
                                        </span>
                                        <span class="review">
                                            <?php echo $this->getReviewsSummaryHtml($_product, 'short', true) ?>
                                        </span>
                                    </div>
                                </div> <!-- END PRODUCT INFO BLOCK -->
                            </div> <!-- END PRODUCT CARD -->
                    </div> <!-- END COL -->
                <?php endforeach; ?>
            </div> <!-- END row -->
        </div> <!-- END PRODUCT GRID -->

        <script>
            jQuery(document).ready(function() {
                jQuery('[data-toggle="tooltip"]').tooltip()
            });
        </script>
    </section> <!-- END home-product-grid -->
<?php endif; ?>
