<?php $category = Mage::registry('current_category') ?>
<?php if($category instanceof Mage_Catalog_Model_Category): ?>
    <div class="catalog-category-header-name">
        <h1><?php echo $category->getName(); ?></h1>
    </div>
<?php endif; ?>