<?php
	// get search query
	$q = $_GET['q'];
?>

<?php if (isset($q)): ?>
<div id="no-route">
<?php else: // Add padding for no-route page ?>
<div id="no-route" class="pad">
<?php endif; ?>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="title clearfix">
				<img src="<?php echo $this->getSkinUrl('images/oh-no.png'); ?>" alt="oh no" class="mb-girl visible-xs">
				<div class="oops"><?php echo $this->__('Oops!'); ?></div>
				<?php if (isset($q)): ?>
					<div class="hang"><?php echo $this->__("No matches were found for '%s'",$q); ?></div>
				<?php else: ?>
					<div class="hang"><?php echo $this->__('Looks like this page has been moved or no longer exist'); ?></div>
				<?php endif; ?>
			</div>
			<div class="map">
				<?php if (isset($q)): ?>
					<span><?php echo $this->__('Try these helpful tims to get better results'); ?></span>
				<?php else: ?>
					<span><?php echo $this->__('You can continue shopping through our popular links below'); ?></span>
				<?php endif; ?>
				
				<div class="direction clearfix">
					<?php if (isset($q)): ?>
						<ul class="full">
							<li><?php echo $this->__('Check the spelling for typing errors'); ?></li>
							<li><?php echo $this->__('Try a similar search term'); ?></li>
							<li><?php echo $this->__('Reduce the search to one search term'); ?></li>
							<li><?php echo $this->__('Search including the brand name'); ?></li>
						</ul>
					<?php else: ?>
						<ul class="half">
							<li><a href="<?php echo Mage::getBaseUrl(); ?>baby/diapers.html"><?php echo $this->__('Baby Diapers'); ?> &gt;</a></li>
							<li><a href="<?php echo Mage::getBaseUrl(); ?>baby/food-formula.html"><?php echo $this->__('Baby Formula'); ?> &gt;</a></li>
							<li><a href="<?php echo Mage::getBaseUrl(); ?>pets.html"><?php echo $this->__('Pet Products'); ?> &gt;</a></li>
							<li><a href="<?php echo Mage::getBaseUrl(); ?>pets/cat-food/litter-accessories.html"><?php echo $this->__('Cat Litter'); ?> &gt;</a></li>
							<li><a href="<?php echo Mage::getBaseUrl(); ?>pets/cat-food/food-treats.html"><?php echo $this->__('Cat Food'); ?> &gt;</a></li>
						</ul>
						<ul class="half">
							<li><a href="<?php echo Mage::getBaseUrl(); ?>beauty.html"><?php echo $this->__('Beauty Products'); ?> &gt;</a></li>
							<li><a href="<?php echo Mage::getBaseUrl(); ?>health.html"><?php echo $this->__('Health & Sports'); ?> &gt;</a></li>
							<li><a href="<?php echo Mage::getBaseUrl(); ?>fashion/travel/luggages.html"><?php echo $this->__('Travel Luggages'); ?> &gt;</a></li>
							<li><a href="<?php echo Mage::getBaseUrl(); ?>home-appliances.html"><?php echo $this->__('Home Appliances'); ?> &gt;</a></li>
							<li><a href="<?php echo Mage::getBaseUrl(); ?>electronics/gadgets.html"><?php echo $this->__('Gadgets'); ?> &gt;</a></li>
						</ul>
					<?php endif; ?>
				</div>
				<?php if (isset($q)): // In page Search Bar ?>
					<div class="search-bar">
						<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('catalogsearch/form.mini.phtml')->toHtml(); ?>
					</div>
				<?php endif; ?>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="back">
				<img src="<?php echo $this->getSkinUrl('images/oh-no.png'); ?>" alt="oh no" class="hidden-xs">
				<a class="button" href="<?php echo Mage::getBaseUrl(); ?>"><?php echo $this->__('Back Home'); ?></a>
			</div>
		</div>
	</div>
</div>

<?php
	// Recommended product
	echo $this->getLayout()->createBlock('orami_emarsyshomeslider/slider')->setTemplate('catalog/product/home_recommended.phtml')->toHtml();
?>