<?php
/* @var $this Mas_Mascartdirect_Block_Conf */ 
?>
<ul class="messages">
                <li class="success-msg">
                	<ul>
                		<li>
                			<?php echo $this->__('To get direct add to cart or checkout link to specific configuration of this product select configuration of this product and click on appropriate link below')?>
                		</li>
                		<li>
                			<a href="#" onclick="return showLinksToProducts('cart');"><?php echo $this->__('Get Direct Add To Cart Link')?></a>
                			<div style="word-wrap: break-word;overflow: hidden;" id="mascartdirect-cart-link" data-link="<?php echo $this->getCartLink()?>"></div>
                		</li>
                		<li>
                			<a href="#" onclick="return showLinksToProducts('checkout');"><?php echo $this->__('Get Direct Add To Checkout Link')?></a>
                			<div style="word-wrap: break-word;overflow: hidden;" id="mascartdirect-checkout-link" data-link="<?php echo $this->getCheckoutLink()?>"></div>
                		</li>
                	</ul>
                </li>
</ul>
<script>
function getProductFormValues()
{
	var form = $('product_addtocart_form');
	return form.serialize();
}
function showLinksToProducts(el)
{
	var values = getProductFormValues();
	var el = $('mascartdirect-' + el + '-link');
	el.innerHTML = el.readAttribute('data-link') + '?' + values;
	el.show();
	return false;
}
</script>              