html, body, header, footer,
h1, h2, h3, h4, h5, h6, p,
form, fieldset,
ul, li, dl, dt, dd { background:transparent; border:0; font-size:100%; margin:0; outline:0; padding:0; vertical-align:baseline; }
img { vertical-align:bottom; }
ul { list-style:none; }
a {  text-decoration:none; }
* {margin:0px;padding:0px;box-sizing:border-box;}

/* Page
-----------------------------*/
html { -webkit-text-size-adjust:none; /*overflow-y:scroll; */}
html, body { height:100%;font-family:arial, sans-serif;font-size:12px; }


legend { display:none; }

.std {
  clear:both;
//  margin:10px 0;
}

.a-left { text-align:left; }
.a-center { text-align:center; }
.a-right { text-align:right; }

.global-site-notice { background:#444; border-bottom:1px solid #333; color:#fff; font-size:13px; padding:10px; text-shadow:0 1px 0 #111; }
.global-site-notice p { margin:0 0 10px; }
.global-site-notice a { color:#f90; text-decoration:underline; text-shadow:none; }
.global-site-notice .actions { text-align:center; }
.global-site-notice .actions button { background:none; border:1px solid #ccc; color:#fff; cursor:pointer; padding:5px 10px; text-shadow:0 1px 0 #333; }

input.input-text,
input[type="text"],
input[type="password"],
input[type="email"] {
  background:#fff;
  border:1px solid #416fa4;
  border-radius:0px;
  font-size:15px;
  margin:0;
  padding:5px;
  width:100%;
  -webkit-appearance:none;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-shadow:inset 0px 0px 0px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0px 0px 0px rgba(0, 0, 0, .05);
  box-shadow:inset 0px 0px 0px rgba(0, 0, 0, .05);
  
}
button.button {-webkit-appearance: none;-moz-appearance: none;appearance: none;
    border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;border:0px;margin:0px;padding:0px;width:100%;background-color:#8cc640;padding:7px 0px;}
button.button span {padding:0px;text-align:center;width:100%;font-size:15px;color:#fff;font-weight:bold;}
textarea {
  border:1px solid;
  border-color:#416fa4;
  border-radius:2px;
  padding:5px;
  font:15px/18px HelveticaNeue, Helvetica, sans-serif;
  height:100px;
  width:100%;
  resize:vertical;
  -webkit-appearance:none;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-shadow:inset 0px 0px 0px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0px 0px 0px rgba(0, 0, 0, .05);
  box-shadow:inset 0px 0px 0px rgba(0, 0, 0, .05);
}

select, .select-multiple {
    background:url(../images/i_dropdown.png) no-repeat right center;background-size:30px auto;
    border:1px solid #416fa4;
    color:#999;
    padding:6px 30px 6px 5px;font-size:13px;
    width:100%;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
   -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
			 border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;
}

select.validation-failed, input.validation-failed, textarea.validation-failed  { border:1px solid #e62828;-moz-box-shadow: 0 0 5px #f9cfcf;
-webkit-box-shadow: 0 0 5px #f9cfcf;
box-shadow: 0 0 5px #f9cfcf;color:#e62828}
select.validation-failed {background-image:url(../images/i_dropdown_faile.png);}
.validation-failed {color:#e62828}

input[type=radio] { -webkit-appearance: none;-moz-appearance: none;appearance: none;  width: 14px; height: 14px; border: 1px solid #416fa4; border-radius: 14px; padding: 1px; background-clip: content-box;margin-right:5px; }
input[type=radio]:checked { background-color: #104c8b;  }


.nav-wrap { overflow:hidden;}
#nav-container {
  overflow:hidden;
  padding:0 0 1px;
  position:relative;
  width:9000px;
  -webkit-transform:translate3d(0, 0, 0);
  -webkit-transition:-webkit-transform 250ms linear;
  -o-transition:-o-transform 250ms linear;
  transition:transform 250ms linear;
}
#nav-container ul > li > ul { display:none; }
#nav-container:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
#nav-container ul { font-size:21px; margin:0; float:left; }
#nav-container ul.level0 li.subcategory-header {  text-align:center; font-weight:bold; }
#nav-container li.subcategory-header span { color:#414141; line-height:28px; }
#nav-container li.subcategory-header .button-wrap { float:left; position:absolute; }
#nav-container li.subcategory-header .button-wrap button {
  background:url(../images/bg_back_btn.png) no-repeat right top;
  border:none;
  height:27px;
  width:47px;
  line-height:27px;
  margin:0;
  padding:0 0 0 7px;
  position:relative;
//  z-index(cat);
  -webkit-appearance:none;
  appearance:none;
  color: @bg-nav-top;
}
#nav-container li a {
//  background-color:#fff !important;
  display:block;
}
#nav-container li a span {
//  background:url(../images/custom/arrow.png) no-repeat right;
//  display:block;
//  line-height:20px;
//  padding:10px 15px;
//  -webkit-background-origin:content-box;
//  background-origin:content-box;
}

.selector{
  background:none!important;
  height: 20px!important;
  padding-left: 0 !important;
  width: 100%!important;
  span{
    box-sizing: border-box;
    height: 20px!important;
    .Thaifont-bold;
    font-size: 17px;
    border-radius: 0;
    border: 1px solid @color-text5;
    background:none!important;
    box-sizing: border-box;
    padding-right: 0 !important;
    width: 100%!important;
    line-height: 20px!important;
    position: relative;
    color: @color-text1!important;
    padding-left: 3px!important;
  }
  span:after{
    text-align: center;
    content: "\f107";
    .FontAwesome;
    right: 0;
    top: 0;
    width: 22px;
    height: 100%;
    position: absolute;
    color: @bg-input;
    background: @color-text5;
    border-left: 1px solid @bg-input;
  }
  select{
    width:100%!important;
    top: 0!important;
  }
}

.actions{
  text-align: center;
  background: url("../images/bg-slider.png") no-repeat;
  background-position: bottom center;
  background-size: 55px auto;
  padding-bottom: 10px;
  ul{
    li{
      margin:10px 0 18px;
      a{
        display: inline-block;
        font-family: arial, helvetica, sans-serif;
        color: #fff;
        text-align: center;
        border-radius: 3px;
      }
      a.i-send-wishlist{
        background: @btn-favorite;
        padding: 5px 8px;
        font-size: 10px;
      }
      a.i-send-wishlist:before{
        content: "\f004";
        font-family: FontAwesome, sans-serif;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        font-size: 10px;
        color: #ffffff;
        width: 10px;
        height: 10px;
        margin-right: 10px;
      }
      a.i-add-to-cart{
        font-weight: bold;
        padding: 5px;
        font-size: 17px;
        background: @btn-add-to-cart;
        width: 50%;
        min-width: 140px;
        text-transform: uppercase;
      }
      a.i-add-to-cart:before{
        content: "\f07a";
        font-family: FontAwesome, sans-serif;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        font-size: 17px;
        color: #ffffff;
        width: 17px;
        height: 17px;
        margin-right: 10px;
      }
    }
  }
}

.product-image{
  img{
    margin: 0 auto;
    width: 70%;
    height: auto;
  }
}
.product-shop{
  text-align: center;
  .product-description{
    color: @color-text7;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    margin-top: 10px;
    width: 80%;
    margin-left: 20%;
    padding-left: 15px;
    box-sizing: border-box;
   }
  h1,.product-name{
    margin-top: 15px;
    color: @color-text1;
    font-family: arial, helvetica, sans-serif;
    font-size: 13.5px;
    font-weight: bold;
  }
  .price-box{
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    .regular-price{
      .price{
        color: @price-text;
        font-size: 20px;
        font-family: tahoma, arial, helvetica, sans-serif;
        font-weight: bold;
      }
    }
    .old-price{
      color: @color-price;
      font-size: 14px;
      font-family:  arial, helvetica, sans-serif;
      display: inline-block;
      text-decoration: line-through;

    }
    .special-price{
      color: @price-text;
      font-size: 20px;
      font-family: tahoma, arial, helvetica, sans-serif;
      font-weight: bold;
      display: inline-block;
    }
  }
}

.messages{
  margin: 5px 0;
  padding: 0 15px;
  .success-msg{
    color: @color-text5;
    font-weight: bold;
  }
  .error-msg{
    color: @color-requred;

  }
}

.validation-advice{
  color: @color-requred;
  font-size: 10px;
}
.seo-keyword{
  padding: 0 15px;
  box-sizing: border-box;
}

body > #content-container{
  display: none;
}

#confirmOverlay{
  #confirmBox{
    min-width: 280px;
    width: 90%;
    margin-left: 5%;
    #confirmButtons{
      padding-top: 20px;
    }
  }
}

.nav-wrap #nav-container li a{
  color: #fff;
}
.customer-account-logoutsuccess{
  .main{
    .page-title{
      margin-top: 5px;
    }
    p{
      margin-bottom: 10px;
    }
  }
}

.my-account{
  margin: 10px 0;
}

div#livechat-compact-container {display:none}

/*Homepage======================*/
.cms-index-index .main{ padding: 0}
#home-banner img{ max-width: 100%;}
#nav-index-container{
  ul{
    li{
      font: bold 16px arial, helvetica, sans-serif;
      padding: 0 27px;
      color: #0f4d8f;
      border-bottom: 1px solid #cccccc;
      background: transparent!important;
      height: 70px;
      line-height: 70px;      
      a{
        color: #0f4d8f;
        display: block;
        position: relative;
        &:after{
          content: "\f105";
          font-family: FontAwesome, sans-serif;
          font-weight: 700;
          font-style: normal;
          display: inline-block;
          font-size: 21px;
          color: #0f4d8f;
          position: absolute;
          z-index: 99;
          top: 0;
          right: 0px;
        }
        [class^="nav-"]{
          width: 40px;
          height: 70px;
          background: url("../images/home-nav.png") no-repeat;
          display: inline-block;
          margin-right: 10px ;
          float: left;
        }
        .nav-dog{
          background-position: -1px 12px;
        }
        .nav-cat{
          background-position: -66px 14px;
        }
        .nav-fish{
          width: 41px;
          background-position: -140px 22px;
        }
        .nav-smallpet{
          background-position: -225px 17px;
        }
        .nav-petlover{
          background-position: -296px 17px;
        }
        .nav-deal{
          background-position: -372px 13px;
        }
      }
    }
  }
}

/*CMS cms-page-view*/
.cms-page-view {
  font-family: sans-serif;
  h1 {
    font-size: 200%;
    padding-bottom: 15px;
  }
  h2 {
    display: block;
    font-size: 130%;
    margin: 10px 0px 10px 0px;
    text-align: center;
  }
  .main{
    line-height: 180%;
    margin: 20px;
  }
  .accordion {
    li {
      font-weight: bold;
    }
  }
  .accord-header {
    font-size: 110%;
    font-weight: bold;
    margin-top: 15px;
  }
  .accord-content {
    font-weight: normal;
    margin-left: 15px;
  }
}

/*Contact page*/
.contacts-index-index {
  font-family: sans-serif;
  .main {
    line-height: 180%;
    margin: 15px;
  }
  h1 {
    font-size: 200%;
    padding-bottom: 15px;
  }
}

/*CMS page view*/
.cms-page-view {
  font-family: sans-serif;
}

.contacts-index-index #contain > div.main > div:nth-child(5) > div {
  display:none;
}

span.filter-toggle {
  font-size: 90%;
}

/*CSS for MAGENTO-677(sub-ticket of MAGENTO-400)*/
.active div.header {
  left: 276px;
}
div.header {
  left: 0 ;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  overflow: visible;;
}

.header header .menu-wrapper .search .mini-search-form {
  position: fixed !important;
  top: 50px;
}
.category-products > ul > li {
  border-bottom: 1px solid #ccc;
}
.main {
  margin-top: 53px;
}
#home-banner > p > a > img {
  width: 100%;
}
.category-view > .category-products > ul > li {
  border-bottom: 1px solid #ccc;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: @bg-header1 url('../images/cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: @bg-header1;
  opacity: 1;
}
footer div, #contain .banks-footer-mobile {
  text-align:center;
}
#contain .logo-footer-mobile img { padding-bottom: 5px;}
footer {
  background-color: @bg-header1;
  color: #fff;
  padding: 20px 0 40px 0;
}
