.product-view{
  .product-name{
    h1{
      margin-top: 13px;
      color: @color-text1;
      font-family: arial, helvetica, sans-serif;
      font-size: 17px;
      font-weight: bold;
      padding: 0 10px;
    }
  }
  .product-options{ display: none}
  .review{
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    padding: 14px 0;
    margin-bottom: 23px;
    h2 a{
      font-size: 16px;
      color: #f07395;
    }    
  }
  #product_addtocart_form{
    .product-essential{
      position: relative;
     .product-img-box{
       .bx-wrapper{
         margin-top: 20px;
         margin-bottom: 25px;
         .bx-viewport{
           box-shadow: none;
           height: auto!important;
           .bx-product-img{
             li{
               a{
                 img{
                    margin:0 auto;
                    display: block;
                    width: 70%;
                    height:auto; ;
                 }
               }
             }
           }
         }
         .bx-controls{
           .bx-controls-direction{
             a{
               text-indent: initial;
               top: -29px;
               .FontAwesome;
               display: inline-block;
               font-size: 0;
               color: @color-text5;
               width: 8px;
               height: 30px;
               position: absolute;
               background: 0;
             }
             a.bx-prev{
              left: 0;
             }
             a.bx-next{
              right: 0;
             }
             .bx-next:before{
               content: "\f105";
               font-size: 30px;
             }
             .bx-prev:before{
               content: "\f104";
               font-size: 30px;
             }
           }
         }
       }
       #bx-product-thumb{
         text-align: center;
         a{
           img{
              border:1px solid @border-img;
             margin: 0 5px;
           }
         }
         a.active{
           img{
             border:1px solid @color-text5;
           }
         }
       }
      }

      .product-shop{
        .product-main-info{
          .availability{
            margin: 5px 0;
            .Thaifont-italic;
            span{
              color: @price-text;
            }
          }
        }
        .short-description{
          font-family: arial, helvetica, clean, sans-serif;
          font-size: 12px;
          text-align: left;
          margin: 13px 0 23px;
        }
        .btn{
          display: inline-block;
          float: left;
          background: @color-text1;
          font-family: arial, helvetica, clean, sans-serif;
          font-style: italic;
          color: @bg-input;
          text-transform: lowercase;
          padding: 3px 5px;
          font-size:10px ;
          line-height: 5px;
          margin: 0 0 15px 0;
          cursor: pointer;
        }
        .btn:after{
          content: "\f107";
          .FontAwesome;
          display: inline-block;
          font-size: 12px;
          color: @border-color;
          width: 8px;
          height: 8px;
          text-align: right;
          margin-left: 3px;
          margin-top: 2px;
          position: relative;
          top: 1px;
        }
        .product-collateral{
          overflow: hidden;
          width: 100%;
          text-align: left;
          .box-description{
            .std{
              text-align: left;
              padding-bottom: 17px;
            }
            .product-description{
              margin: 0;
              padding: 0;
              width: 100%;
              h2{ border-top: none}              
            }
            .product-ingredients{
              
            }
            h2{
              border-top: 1px solid #b8b8b8;
              padding: 14px 0;
              position: relative;
              font-size: 16px;
              color: #f07395;
              span{ display: block}
              &:after{
                content: "\f107";
                font-family: FontAwesome, sans-serif;
                font-weight: normal;
                font-style: normal;
                display: inline-block;
                font-size: 24px;
                color: #f07395;
                position: absolute;
                z-index: 99;
                top: 27%;
                right: 15px;
              }
            }
          }
        }        
        .product-price-details{
          border-bottom: 1px solid #d6d6d6;
          overflow: hidden;
          width: 100%;
          padding: 5px 0 10px;
          #free-shipping-img{
            float: right;
            width: 30%;
            height: auto;
            img{
              width: 100%;
              height: auto;
              margin: 0 auto;
            }
          }
          .price-box{
            width: 70%;
            float: left;
            margin: 0;
            & > p{
              width: 50%;
              float: left;
              text-align: center;
            }
            .save-percentage{
              display: none;
            }
            .old-price{
              margin-top: 5px;
              text-decoration: none;
              .price{
                text-decoration: line-through;
                margin-top: 4px;
                display: inline-block;
              }
            }
            .special-price{
              .price-label{
                font-size: 15px;
              }
            }
            .price-label{
              font-style: normal;
              font-size: 12px;
              text-align: center;
              width: 100%;
              float: left;
            }
            .price{
               margin-top: 5px;
            }


          }
        }
        dl{
          margin: 13px 0;
          border-bottom: 1px solid #d6d6d6;
          dd{
            .input-box{
              table{
                width: 100%;
                table-layout: fixed;
                border: 0;
                border-collapse:collapse;
                thead{
                  tr{
                    td{
                      padding: 5px 0;
                      color: @color-text8;
                      font-family: arial, helvetica, clean, sans-serif;
                      font-size: 14px;
                    }
                  }
                }
                tbody{
                  tr{
                    td{
                      padding: 10px 0;
                      font-family: arial, helvetica, clean, sans-serif;
                      font-size: 12px;
                      font-weight: bold;
                      color: @color-text9;
                      line-height: 21px;
                    }
                    td.qty{
                     input[type="radio"]{
                        position: relative;
                        top: 2px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .block-total{
          position: relative;
        }
        .add-to-box{
          position: relative;
          .add-to-cart{
            text-align: center;
            width: 100%;
            overflow: hidden;
            .numbers-row{
              position: absolute;
              top: 0;
              width: 44%;
              .qty-button{
                margin: 0;
                height: 27px;
                width: 27px;
                font-size: 24px;
                font-weight: bold;
                line-height: 25px;
                display: inline-block;
                background: @color-text1;
                color: @bg-input;
                float: left;
                cursor: pointer;
              }
              .qty{
                width: 55%;
                display: inline-block;
                float: left;
                height: 27px;
                text-align: right;
              }
            }
            .btn-cart{
              background: @btn-add-to-cart;
              font-weight: bold;
              padding: 5px;
              font-size: 19px;
              min-width: 140px;
              text-transform: uppercase;
              display: inline-block;
              font-family: arial, helvetica, sans-serif;
              border-radius: 0;
              margin: 16px 0 11px 0;
              cursor: pointer;
            }
            .btn-cart:before{
              content: "\f07a";
              .FontAwesome;
              display: inline-block;
              font-size: 17px;
              color: #ffffff;
              width: 17px;
              height: 17px;
              margin-right: 10px;
            }
          }
          .j2t-loyalty-points{
            // display:  inline-block;
            display: none;
            float: right;
            font-size: 11px;
            font-family: arial, helvetica, clean, sans-serif;
            font-weight: bold;
            color: @color-text10;
            margin: 21px 0;
            width: 100%;
            text-align: right;
          }
          .cart-qty{
            overflow: hidden;
            height: 38px;
            line-height: 28px;
            margin-bottom: 48px;
            .row{
              overflow: hidden;
              width: 102px;
              float: right;
              a{
                .MyriadPro-bold;
                text-transform: uppercase;
                float: left;
                font-size: 15px;
                color: @color-text1;
              }
              a:before{
                content: "\f104";
                .FontAwesome;
                display: inline-block;
                width: 12px;
                height: 21px;
                font-size: 30px;
                position: relative;
                top: 4px;
                margin-right: 3px;
              }
              .qty-button{
                display: inline-block;
                width: 27px;
                height: 27px;
                border: 1px solid #b1bdcb;
                background-color: #fcd4de;
                float: left;
                line-height: 27px;
                font-size: 23px;
              }
              input#qty{
                width: 42px;
                border: none;
                border-top: 1px solid #b1bdcb;
                border-bottom: 1px solid #b1bdcb;
                display: inline-block;
                float: left;
                text-align: right;
                height: 27px;
                color: #F07395;
                font-size: 17px;
              }
            }
          }         
        }
        .total-box, .cart-qty, .add-to-cart{ 
          border-bottom: 1px solid #dcdcdc;
          .qty-title, label{ 
            float: left;
            font-family: arial, helvetica, clean, sans-serif;
            font-weight: bold;
            font-size: 16px;
            color:  #f07395;
          }
        }
        .total-box{
          text-align: left;
          color: @color-text1;          
          overflow: hidden;
          height: 49px;
          line-height: 49px;
          position: absolute;
          top: 40px;
          width: 100%;
          #total{
            font-family: arial, helvetica, sans-serif;
            font-size: 17px;
            float: right;
            font-weight: bold;
            color: #df1f60;
          }          
        }        
      }
    }

  }
  .product-img-box{
    margin-top: 39px;
    .bx-wrapper{
      margin-bottom: 20px;
      .bx-viewport{
        box-shadow: none;
        img{
          display: inline-block;
        }        
      }
      .bx-controls{
        .bx-prev{
          background: url("../images/icr-prev-detail.png") no-repeat 0 0;
        }
        .bx-next{
          background: url("../images/icr-next-detail.png") no-repeat 0 0;
        }
      }
      .bx-pager{
        width: auto;
        display: inline-block;
        position: static;
        .bx-pager-item{ float: left;}
        &.bx-default-pager a{
          background: #b0c4da;
          &.active{
            background: #b0c4da;
            border:  3px solid #fdb2c5;

          }
        }
      }      
    }
  }  
}




@media only screen and (max-width: 320px){
  #confirmOverlay{
    #confirmBox{
      left: 77% !important;
      min-height: 400px;
      #messageBox{
        overflow: hidden!important;
        padding: 40px 10px 25px 10px;
        max-height: 351px !important;
        p{
          font-size: 20px;
        }
        p.special-price{
          .price-label{
            font-size: 16px;
          }
        }
        table{
          tr{
            td{
              padding: 0;
              .am-qty-button-update{
                img{
                  position: absolute;
                }
              }
            }
          }
        }
      }
    }
  }
}
.out-of-stock-mess{
  font-size: 11px;
  font-family: tahoma, arial, helvetica;
  color: @color-text10;
  font-weight: bold;
  margin-top: 10px;
  span:last-child{
    font-size: 14px;
    font-weight: bold;
    color: #f9aa18;
    text-transform: uppercase;
  }
}
.product-price-details{
  .out-of-stock-mess{
    display: none;
  }
}

.product-options{
  table{
    text-align: center;
    border-bottom: 1px solid @color-text1;
    margin-bottom: 19px;
    tr{
      td{
        strong{
          font-weight: normal;
        }
        font-size: 13px;
        color: @color-text1;

        #subscription_email{
          border: 1px solid @color-text1;
          margin: 9px auto 0;
          height: 20px;
          font-size:  13px;
        }
        .button{
          width: 50%;
          margin: 0 auto;
          background: @btn-favorite;
          cursor: pointer;
          margin: 9px 0 13px;
          span{
            font-size: 11px;
          }
        }
      }
    }
  }
}
.out-of-stock{
  color: #f8aa18; /* text color */
  font-family: tahoma;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 23px 0 19px;
  display: inline-block;
}

