.catalog-category-view{
  .category-products{
    margin: 23px 0;
    width: 100%;
  }
}
.category-products{
//  width: 110%;
  margin: 23px 0 0;
  .slide-header{
    position: relative;
    margin-bottom: 10px;
    h1.title{
      .MyriadPro-bold;
      text-align: center;
      text-transform: uppercase;
      color: @bg-input;
      background: url("../images/bg-tittle-product.png") no-repeat;
      background-position: center 1px;
      background-size: 205px auto;
      font-size: 14px;
      padding: 7px 0;
      line-height: 28px;
    }
    .more{
      position: absolute;
      right: 20px;
      top: 10px;
      a{
        .MyriadPro-regular;
        font-size: 10px;

      }
    }
  }
  .product-shop{
    .price-box{
      & > p{
        display: inline-block !important;
        margin: 0 3px ;
      }
    }
  }
  .bx-wrapper{
    width: 100%!important;
    .bx-viewport{

      -webkit-box-shadow: none;
      box-shadow: none;
      min-height: 400px!important;
      .slide-product{
        li{
          a{
            .wrap{
              .product-image{
                img{
                  margin: 0 auto;
                }
              }
            }
          }
        }
        .price-label{
          display: none;
        }
      }
    }
    .bx-controls{
      .bx-controls-direction{
        display: block;
        a{
          background: none;
          text-indent: initial;
          font-size: 0px;
          height: 24px;
          width: 24px;
          top: 30%;
        }
        a.bx-prev:before{
          content: "\f104";
          font-family: FontAwesome, sans-serif;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          font-size: 40px;
          color: @color-text1;

        }
        a.bx-next:before{
          content: "\f105";
          font-family: FontAwesome, sans-serif;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          font-size: 40px;
          color: @color-text1;
        }
        a.bx-next{
          right: 0;
        }
      }
    }
  }
}

