<?php /** @var Petloft_All_Block_Html_Globalheader $this */ ?>
<?php
$isLogin = Mage::getSingleton('customer/session')->isLoggedIn();
/** @var Rewardpoints_Model_Stats $rewardpointModel */
$rewardpointModel = Mage::getModel('rewardpoints/stats');
$currentRPs = 0;
if($isLogin)
    $currentRPs = $rewardpointModel->getPointsCurrent(Mage::helper('customer')->getCustomer()->getId(), Mage::app()->getStore()->getId());
?>
<?php $_links = $this->getLinks(); $len = 1; ?>
<?php if(count($_links)>0): ?>
    <ul class="links <?php if(!$isLogin) echo 'not-login'; ?><?php echo $isLogin ? ' account-links' : '' ?>"<?php echo $this->getName() ? ' id="'.$this->getName().'"' : '' ?><?php echo $isLogin ? ' ' : '' ?>>
        <?php foreach($_links as $_link): ?>

            <?php if($len == 3 && $isLogin): ?>
                <li class="reward-points-header">
                    <span class="total-reward-points-text"><?php echo $this->__('My Reward Points: ') ?></span>
                    <span class="total-reward-points-value"><?php echo $currentRPs ?></span>
                </li>
                <!--                <li class="separate">&nbsp;</li>-->
            <?php endif; ?>
            <?php $len += 1; ?>

            <?php if ($_link instanceof Mage_Core_Block_Abstract): ?>
                <?php echo $_link->toHtml() ?>
            <?php else: ?>
                <li<?php if ($_link->getIsFirst() || $_link->getIsLast()): ?> class="<?php if ($_link->getIsFirst()): ?>first<?php endif; ?><?php if ($_link->getIsLast()): ?> last<?php endif; ?>"<?php endif; ?> <?php echo $_link->getLiParams() ?>><?php echo $_link->getBeforeText() ?>
                    <?php $label = preg_replace('/\s+/', '', $_link->getLabel()) ?>
                    <a href="<?php echo $_link->getUrl() ?>" <?php echo ($_link->getTitle() == $this->__("Track Order"))?'class="track-order"':''?>
                       title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>><?php echo $_link->getLabel() ?></a>
                    <?php echo $_link->getAfterText() ?>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
    <script>

        jQuery('.track-order').click(function(){
            jQuery('#confirmOverlaya').show();
        })
    </script>
<?php endif; ?>