<?php
    $_product = $this->getProduct();
    $attr = $this->getAttr();
    $_helper = $this->helper('catalog/output');
    $check = 0;
    $instock = true;
    $swatchesHtml = "";
    $aClass = "";
    $notify = 0;

    $plan1 = Mage::getModel('recurringandrentalpayments/plans_product')->getCollection()
    ->addFieldToFilter('product_id',$_product->getId());

    foreach($plan1 as $plan2) {
        $productPlan = Mage::getModel('recurringandrentalpayments/plans')->load($plan2->getData('plan_id'));
        if ($productPlan->getData('plan_status') == 1) {
            $check++;
        }
    }
    if ($_product->isGrouped()) {
        $instock = Mage::helper('sales')->checkInstockGroupCustom($_product->getId());
    }
    // if product is configurable product
    /** @var Mage_Catalog_Model_Product $_product */
    if ($_product->getTypeId() == "configurable") {
        $attrs = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
        $swatchesHtml = '<ul id="color-swatches-listing-page">';

        foreach ($attrs as $at) {
            $colorAttributes = array('color', 'colors', 'color_electronic');

            if (in_array($at['attribute_code'], $colorAttributes)) {

                foreach ($at['values'] as $value) {
                    $defaultValue = Mage::getResourceModel('eav/entity_attribute_option_collection');
                    $defaultValue->setStoreFilter(0)
                        ->addFieldToFilter('tsv.option_id', $value['value_index'])
                        ->getFirstItem();
                    $label = $defaultValue->getData()[0]['default_value'];
                    $label = str_replace(' ', '-', $label);
                    $swatchesHtml .= '<li><img width="10px" height="10px" src="' . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'wysiwyg/swatches/' . strtolower($label) . '.png' . '"/></li>';
                }
            }
        }
        $swatchesHtml .= "</ul>";
        $aClass = "color-swatches-border";
    }
?>

<li class="item last">
    <!-- wishlist -->
    <?php if ($_product->getTypeId() != 'configurable'):?>
        <?php if (!($_product->isSaleable() && $instock )): ?>
            <div style="opacity: 1;background-color: rgba(0,0,0,0.4);padding: 5px 0;position: absolute;text-align: center;left: 0;color: #ffffff;height: 100%;right: 0;top: 0;bottom: 0;z-index: 1;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;align-items: center;-webkit-box-align: center;display: -webkit-flex;-webkit-align-items: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;white-space: nowrap; transform: translate(0%);" class="actions">
                <button type="button" title="<?php echo $this->__('See') ?>" class="button btn-see" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
                    <span><span><?php echo $this->__('View') ?></span></span>
                </button>
            </div>
            <?php $notify = 1;?> 
            <?php $_url = $this->getUrl('outofstocksubscription') ?>
        <?php endif; ?>
    <?php endif; ?>

    <?php if ($this->helper('wishlist')->isAllow()) : ?>
        <?php if(!Mage::getSingleton('customer/session')->isLoggedIn()) : ?>
            <a href="https://www.orami.co.th/th/customer/account/login/referer/aHR0cDovL2Rldi5vcmFtaS5jby50aC90aC9jbXMvaW5kZXgvbm9Sb3V0ZS8,/" id="my-login-id" class="link-wishlist-catalog">
                <i class="fa fa-heart"></i>
                <div class="wishlist-tooltiptext">Add to wishlist</div>
            </a>
        <?php endif; ?>

        <?php if(Mage::getSingleton('customer/session')->isLoggedIn()) : ?>
            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product); ?>" class="link-wishlist-catalog">
                <i class="fa fa-heart"></i>
                <div class="wishlist-tooltiptext">Add to wishlist</div>
            </a>    
        <?php endif; ?>    
    <?php endif; ?>
    <!-- end wishlist -->

    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image <?php echo $aClass; ?>">
        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(220, 180)->setQuality(100); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
        <?php if ($swatchesHtml != null): ?><?php echo $swatchesHtml ?><?php endif; ?>
    </a>

    <!-- Promotion flag -->
    <?php if ($_product->getData('promotion_flag')) : ?>
        <span class="promotion-message"><?php echo $this->__($_product->getData('promotion_message')) ?></span>
    <?php endif; ?>

    <div class="product-box">
        <?php if ($_product->getData('all_brands')) : ?>
        <h2 class="brand"><?php echo $attr->getSource()->getOptionText($_product->getData('all_brands')); ?></h2>
        <?php endif; ?>

        <h2 class="product-name">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
        </h2>
    </div>

    <?php echo $this->getReviewsSummaryHtml($_product, false , true) ?>
    <?php echo $this->getPriceHtml($_product, true); ?>

    <?php if ($plan1->getSize() > 0 && $check > 0): ?>
    <?php
        $subHelper = Mage::helper('recurringandrentalpayments') ;
        $plans_product = Mage::getModel('recurringandrentalpayments/plans_product')->load($_product->getId());
        $plan = Mage::getModel('recurringandrentalpayments/plans')->load($plans_product->getPlanId());
        $planId = $plan->getId();
    ?>
    <div style="padding-left: 5px;padding-bottom: 5px;" class="sub_available_info">
        <div style="margin-left:2px;padding-left:5px;color: #ff6c6c;float: left" class="sm_subscription_icon"></div>
        <span style="margin-left:5px;float: left;font-weight: bold"><?php echo $this->__('Autoship')?></span>
        <span style="margin-left:5px;float: left;color: #ff6c6c;font-weight: bold"><?php echo $subHelper->getBestAveragePrice($planId,$_product->getId()); ?></span>
    </div>
    <div class="clear"></div>
    <?php endif; ?>

    <a title="<?php echo $_product->getName() ?>" href="<?php echo $_product->getProductUrl() ?>">
        <div class="overlay_item"></div>
    </a>

    <?php if ($_product->isSaleable() && $instock && $_product->getTypeId() != 'configurable'): ?>
    <div class="actions">
        <button type="button" title="<?php echo $this->__('Add To Bag') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
        <span><span><?php echo $this->__('Add To Bag') ?></span></span></button>
    </div>

    <?php elseif ($_product->isSaleable() && $instock && $_product->getTypeId() == 'configurable'): ?>
    <div class="actions">
        <button type="button" title="<?php echo $this->__('Add To Bag') ?>" class="button" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
            <span><span><?php echo $this->__('Add To Bag') ?></span></span>
        </button>
    </div>
    <?php endif; ?>

    <?php if ($notify === 1): ?>
    <div class="catalog-notify-box">
        <button  id="product-notify-me_<?php echo $_product->getId()?>" class="button product-notify-me" onclick=" document.getElementById('product-notify-me_<?php echo $_product->getId()?>').style.opacity='0'; document.getElementById('product-notify-span_<?php echo $_product->getId()?>').style.height='0'; document.getElementById('product-notify-block_<?php echo $_product->getId()?>').style.opacity='1'; return false;" >
            <span id="product-notify-span_<?php echo $_product->getId()?>" class="product-notify-span">Notify when available</span>
        </button>
    </div>

    <form action="<?php echo $_url ?>"  method="post" id="product_addtocart_form_<?php echo $_product->getId() ?>" class="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
            <input type="hidden" name="related_product" id="related-products-field" value=""/>
        </div>

        <div class="product-options notify-me product-notify-block" id="product-notify-block_<?php echo $_product->getId() ?>">
            <div class="block-notify">
                <div class="notify-button">
                    <div class="notify-input">
                        <input type="email" id="subscription_email" name="subscription_email" value="<?php if ($_customer) { echo $_customer->getEmail(); } ?>" class="input-text required-entry validate-email" placeholder="e.g johndoe@gmail.com "/>
                    </div>

                    <div class="button-set">
                        <input type="hidden" name="store_id" value="<?php echo Mage::app()->getStore()->getId() ?>">
                        <button class="btn btn-notify-me btn-notify-me-oos" type="submit"><span><?php echo $this->__('Notify me') ?></span></button>
                    </div>
                </div>                          
            </div>
        </div>
    </form>
    <?php endif; ?>
    <div class="clear"></div>
</li>
