<!-- Call ScarabQueue API -->
<script>
	var ScarabQueue = ScarabQueue || [];
	(function(id) {
		if (document.getElementById(id)) return;
		var js = document.createElement('script'); js.id = id;
		js.src = 'http://cdn.scarabresearch.com/js/1C65C9ED2924A5F4/scarab-v2.js';
		var fs = document.getElementsByTagName('script')[0];
		fs.parentNode.insertBefore(js, fs);
	})('scarab-js-api');
</script>

<!-- template -->
<script type="text/html" id="simple-tmpl" >
<![CDATA[
    {{ for (var i=0; i < SC.page.products.length; i++) { }}
      {{ var p = SC.page.products[i]; }}
      {{ var disc = Math.floor(((p.msrp - p.price)/p.msrp)*100)+'%'; }}
	    <li class="product-item item" data-scarabitem="{{=p.id}}">
	        <div class="product-wrap">
	            <div class="product-image">
	                <a href="{{=p.link}}">
	                    <img alt="{{=p.title}}" class="lazyloaded" data-src="{{=p.image}}" height="180" src="{{=p.image}}" width="220">
	                </a>
	                <div class="actions">
	                    <button type="button" title="สั่งซื้อ" class="button btn-cart" onclick="setLocation('{{=p.link}}');">
	                        <span><span><?php echo $this->__('Add To Bag') ?></span></span>
	                    </button>
	                </div>
	            </div>
	            <div class="product-info" style="min-height: 109px;">
	                <h2 class="product-name">
	                    <a href="{{=p.link}}">{{=p.title}}</a>
	                </h2>
	                <div class="price-box">
                        <span class="special-price">
                            ฿{{=p.price}}
                        </span>
                        <span class="msrp-price">
                            ฿{{=p.msrp}}
                        </span>
                        <span class="price-new-style">
                            {{=disc}}
                        </span>
	                </div>
	            </div>
	        </div>
	    </li>
    {{ } }}
]]>
</script>

<!-- placeholder -->
<div class="home-product-grid">
	<h3 class="line-thought"><?php echo $this->__('Recommended for you') ?></h3>
	<ul class="products-grid" id="emarsys-home-recommended"></ul>
</div>

<script>
	ScarabQueue.push(['recommend', {
		logic: 'HOME_1',
		limit: 4,
		containerId: 'emarsys-home-recommended',
		templateId: 'simple-tmpl',
		success: function(SC, render) {
			render(SC);
		}
	}]);
</script>