<?php
/**
 * Inchoo is not affiliated with or in any way responsible for this code.
 *
 * Commercial support is available directly from the [extension author](http://www.techytalk.info/contact/).
 *
 * @category Marko-M
 * @package SocialConnect
 * @author Marko Martinović <marko@techytalk.info>
 * @copyright Copyright (c) Marko Martinović (http://www.techytalk.info)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
?>
<?php
/**
 * Create account form template
 *
 * @var $this Mage_Customer_Block_Form_Register
 */
?>
<div class="account-create">
    <div class="page-title">
        <h1 class="fl"><?php echo $this->__('Create an Account') ?></h1>
    </div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">


        <div class="col2-set">
            <div class="col-2">
                <div class="content">
                    <img src="<?php echo $this->getSkinUrl('images/login_create/joinorami.jpg') ?>"/>
                </div>
            </div>
            <div class="col-1 registered-users">
                <div class="content">
                    <div class="bg-login-box">
                        <div class="login-button-section clearfix">
                            <div class="login-button login-fb">
                                <a href="#" onclick="return fblogin();" class="fb_button_ps">
                                    <span class="fb-bt abcRioButton">
                                        <span class="fb-icon"></span>
                                        <span class="fb-text">Login with Facebook</span>
                                    </span></a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="login-button login-google">
                                <?php // echo $this->getLayout()->createBlock('inchoo_socialconnect/google_button')->setTemplate("inchoo/socialconnect/google/button.phtml")->toHtml(); ?>
                                <?php echo $this->getChildHtml('inchoo_socialconnect_register'); ?>
                            </div>
                        </div>
                        
                         
                        <?php
                            $aStartTag = '<a href="'. $this->getUrl('customer/account/login').'">';
                            $aEndTag = '</a>';
                        ?>
                        <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
                        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
                        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                        <ul class="form-list">
                            <li class="fields">
                                <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                            </li>
                            <li class="loginbox">
                                <div class="leftlabel mt10">
                                    <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <input type="text" name="email" id="email_address" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry shotinput180" />
                                </div>
                            </li>
                            <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                            <?php if ($_gender->isEnabled()): ?>
                                <li class="gender"><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
                            <?php endif ?>
                            <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                            <?php if ($_dob->isEnabled()): ?>
<!--                                <li class="dob">--><?php //echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?><!--</li>-->
<!--                                New dob style-->
                                <li class="dob">
                                    <?php echo $this->getChildHtml('customer_dob_in_create') ?>
                                </li>
                            <?php endif ?>
                            <div class="clearfix"></div>
                            <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                            <?php if ($_taxvat->isEnabled()): ?>
                                <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
                            <?php endif ?>
                        <?php if($this->getShowAddressFields()): ?>
                        <input type="hidden" name="create_address" value="1" />
                            <li class="loginbox">
                                <div class="leftlabel">
                                    <label for="company"><?php echo $this->__('Company') ?></label>
                                </div>
                                <div class="input-box righfwetinput190">
                                    <input type="text" name="company" id="company" value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?> shotinput180" />
                                </div>
                            </li>

                            <li class="loginbox">
                                <div class="leftlabel">
                                    <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <input type="text" name="telephone" id="telephone" value="<?php echo $this->escapeHtml($this->getFormData()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?> shotinput180" />
                                </div>
                            </li>
                            <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                            <li class="loginbox">
                                <div class="leftlabel">
                                    <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet(1)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text <?php echo $_streetValidationClass ?> shotinput180" />
                                </div>
                            </li>
                            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                            <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <li class="loginbox">
                                <div class="input-box rightinput190">
                                    <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet($_i)) ?>" title="<?php echo $this->__('Street Address %s', $_i) ?>" id="street_<?php echo $_i ?>" class="input-text <?php echo $_streetValidationClass ?> shotinput180" />
                                </div>
                            </li>
                            <?php endfor; ?>
                            <li class="loginbox">
                                <div class="leftlabel">
                                    <label for="district" class="required"><?php echo $this->__('District') ?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <input  type="text" name="district" title="<?php echo $this->__('District') ?>" id="district" class="input-text" />
                                </div>
                            </li>
                            <li class="loginbox">
                                <div class="leftlabel">
                                    <label for="sub_district" class="required"><?php echo $this->__('Sub District')?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <input type="text" name="sub_district" title="<?php echo $this->__('Sub District') ?>" id="sub_district" class="input-text" />
                                </div>
                            </li>
                            <li class="loginbox no-display">
                                <div class="leftlabel">
                                    <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <input type="hidden" id = "_city" name="city" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text <?php //echo $this->helper('customer/address')->getAttributeValidationClass('city') ?> shotinput180" id="city" />
                                </div>
                            </li>
                            <li class="loginbox">
                                <div class="leftlabel">
                                    <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <div class="arrowselectbox">
                                        <select id="region_id" name="region_id" onchange ="setSameAsCity(this)" title="<?php echo $this->__('State/Province') ?>" class="validate-select shotinput180" style="display:none;">
                                                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                                </select>
                                            </div>
                                            <script type="text/javascript">
                                            //<![CDATA[
                                                function setSameAsCity(el) {
                                                    $('_city').value = el.value;
                                                }
                                                $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                                            //]]>
                                            </script>
                                            <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?> shotinput180" style="display:none;" />
                                </div>
                            </li>

                            <li class="loginbox">
                                <div class="leftlabel">
                                    <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <input type="text" name="postcode" value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>" title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?> shotinput180" />
                                </div>
                            </li>

                            <li class="loginbox">
                                <div class="leftlabel">
                                    <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                                </div>
                                <div class="input-box rightinput190">
                                    <?php echo $this->getCountryHtmlSelect() ?>
                                </div>
                            </li>
                            <input type="hidden" name="default_billing" value="1" />
                            <input type="hidden" name="default_shipping" value="1" />
                             <?php endif; ?>
                            <li class="loginbox">
                                <div class="password">
                                    <div class="leftlabel">
                                        <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                                    </div>
                                    <div class="input-box rightinput190">
                                        <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password shotinput180" />
                                    </div>
                                </div>
                                <div class="confirm-password">
                                    <div class="leftlabel">
                                        <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                                    </div>
                                    <div class="input-box rightinput190">
                                        <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword shotinput180" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <p class="required mb0"><?php echo $this->__('* Required Fields') ?></p>
<!--                            <li class="control">-->
<!--                                <div class="input-box">-->
<!--                                    <input type="checkbox" name="is_agree" title="--><?php //echo $this->__('I agree') ?><!--" value="1" id="is_agree" class="checkbox required-entry" checked/>-->
<!--                                </div>-->
<!--                                <label for="is_subscribed">-->
<!--                                    --><?php //echo $this->__('Sign up for Our newsletter') ?>
<!--                                </label>-->
<!--                            </li>-->
<!--                            --><?php //if ($this->isNewsletterEnabled()): ?>
                                <li class="control">
                                    <div class="input-box">
                                        <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Our Newsletter') ?>" value="1" id="is_subscribed" checked="checked" class="checkbox" />
                                    </div>
                                    <label for="is_subscribed"><?php echo $this->__('Sign Up for Our Newsletter') ?></label>
                                </li>
<!--                            --><?php //endif ?>
                            <?php echo $this->getChildHtml('form.additional.info'); ?>
                            <?php //echo $this->getChildHtml('persistent.remember.me'); ?>
                        </ul>
                        <?php //echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>

<!--                        This data will be sent to Emarsys system-->
                        <div class="interested-category">
                            <p><?php echo $this->__("Select the catalogs you are interested to receive") ?></p>
                            <ul>
                                <li>
                                    <input type="checkbox" class="category_ids" name="inp_10832" value="1" title="<?php echo $this->__("Beauty") ?>">
                                    <label for="inp_10832"> <?php echo $this->__("Beauty") ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="category_ids" name="inp_24286" value="1" title="<?php echo $this->__("Fashion") ?>">
                                    <label for="inp_10828"> <?php echo $this->__("Fashion") ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="category_ids" name="inp_24289" value="1" title="<?php echo $this->__("Home & Decor") ?>">
                                    <label for="inp_10828"> <?php echo $this->__("Home & Decor") ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="category_ids" name="inp_10831" value="1" title="<?php echo $this->__("Pets") ?>">
                                    <label for="inp_10831"> <?php echo $this->__("Pets") ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="category_ids" name="inp_10830" value="1" title="<?php echo $this->__("Health") ?>">
                                    <label for="inp_10830"> <?php echo $this->__("Health") ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="category_ids" name="inp_10829" value="1" title="<?php echo $this->__("Mom & Babies") ?>">
                                    <label for="inp_10829"> <?php echo $this->__("Mom & Babies") ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="category_ids" name="inp_24288" value="1" title="<?php echo $this->__("Home App") ?>">
                                    <label for="inp_10828"> <?php echo $this->__("Home App") ?></label>
                                </li>
                                <li>
                                    <input type="checkbox" class="category_ids" name="inp_24287" value="1" title="<?php echo $this->__("Electronics") ?>">
                                    <label for="inp_10828"> <?php echo $this->__("Electronics") ?></label>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="privacy-policy">
                            <?php $termUrl = $this->getUrl('terms-and-conditions'); ?>
                            <?php $term = "<a href='$termUrl' target='_blank'>" . $this->__("Terms and Conditions") . "</a>" ?>
                            <?php $policyUrl = $this->getUrl('Privacy-policy') ?>
                            <?php $policy = "<a href='$policyUrl' target='_blank'>" . $this->__("Privary Policy") . "</a>" ?>
                            <label for="">
                                <?php echo $this->__("I agree sign up to your newsletter, and I agree to the company's %s including %s.", $term, $policy) ?>
                            </label>
                            <input type="hidden" name="is_agree" value="1">
                        </div>
                        <div class="buttons-set regisbt-regispage">
                            <button id="btn-register-page" type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Register') ?></span></span></button>
                        </div>
                        <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
                            <input name="context" type="hidden" value="checkout" />
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        //var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>

    //]]>
        jQuery(document).ready(function(){

            jQuery('button#btn-register-page').click(function (e) {
                e.preventDefault();
                var dataForm = new VarienForm('form-validate', true);
                if(dataForm.validator.validate()){
                    jQuery.colorbox({
                        open:true,
                        iframe:true,
                        href:"/popup/orami_popup/signup.html",
                        innerWidth:360,
                        innerHeight:550,
                        scrolling:false,
                        closeButton:true,
                        onClosed:function(){
                            dataForm.submit();
                        }
                    });
                }
            });

            var gender = jQuery('#gender');
            gender.addClass('not-selected');
            jQuery(document).on('change', '#gender', function(){
                if(jQuery(this).val()){
                    gender.removeClass('not-selected').addClass('selected');
                }else{
                    gender.removeClass('selected').addClass('not-selected');
                }

            });
        });
    </script>
</div>
