<?php if(count($this->getStores())>1): ?>
    <div class="language-switcher">
        <?php $i=0;foreach ($this->getStores() as $_lang): ?>
            <?php $_selected = ($_lang->getId() == $this->getCurrentStoreId()) ? ' class="selected"' : '' ?>
            <a href="<?php echo $_lang->getCurrentUrl() ?>"<?php echo $_selected ?>><?php echo $this->escapeHtml($_lang->getName()) ?></a>
            <?php if (++$i < count($this->getStores())): ?>
                <span class="separator">/</span>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
