<div id="freebies-loading" style="position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 1000;background-color: #666;opacity: 0.6;display: none;">
    <div style="width: 30px;height: 30px;margin: 300px auto;border: 1px solid #000;border-radius: 5px;padding: 7px;background-color: #fff;">
        <img src="<?php echo $this->getSkinUrl('images/loader.gif'); ?>" width="100%" height="100%"/>
    </div>
</div>