<?php
/**
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
?>
<?php if($this->getCollection()->getSize()): ?>

    <?php if($this->getUseContainer()): ?>
    <div class="pager">
    <?php endif ?>

    <?php if($this->getLastPageNum()>1): ?>
    <div class="pages">
        <!-- <strong><?php //echo $this->__('Page:') ?></strong> -->
        <ol>
            <li><a class="first" href="<?php echo $this->getFirstPageUrl() ?>"><?php echo $this->__('First') ?></a></li>
        <?php if (!$this->isFirstPage()): ?>
            <li>
                <a class="previous<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="<?php echo $this->getPreviousPageUrl() ?>" title="<?php echo $this->__('Previous') ?>">
                    <?php if(!$this->getAnchorTextForPrevious()): ?>
                        <img src="<?php echo $this->getSkinUrl('images/pager_arrow_left.gif') ?>" alt="<?php echo $this->__('Previous') ?>" class="v-middle" />
                    <?php else: ?>
                        <?php echo $this->getAnchorTextForPrevious() ?>
                    <?php endif;?>
                </a>
            </li>
        <?php endif;?>

        <?php if ($this->canShowFirst()): ?>
            <li><a class="first" href="<?php echo $this->getFirstPageUrl() ?>">1</a></li>
        <?php endif;?>

        <?php if ($this->canShowPreviousJump()): ?>
            <li><a class="previous_jump" title="" href="<?php echo $this->getPreviousJumpUrl() ?>">...</a></li>
        <?php endif;?>

        <?php foreach ($this->getFramePages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <li class="current"><?php echo $_page ?></li>
            <?php else: ?>
                <li><a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
            <?php endif;?>
        <?php endforeach;?>


        <?php if ($this->canShowNextJump()): ?>
            <li><a class="next_jump" title="" href="<?php echo $this->getNextJumpUrl() ?>">...</a></li>
        <?php endif;?>

        <?php if ($this->canShowLast()): ?>
          <li><a class="last" href="<?php echo $this->getLastPageUrl() ?>"><?php echo $this->getLastPageNum() ?></a></li>
        <?php endif;?>

        <?php if (!$this->isLastPage()): ?>
            <li>
                <a class="next<?php if(!$this->getAnchorTextForNext()): ?> i-next<?php endif; ?>" href="<?php echo $this->getNextPageUrl() ?>" title="<?php echo $this->__('Next') ?>">
                    <?php if(!$this->getAnchorTextForNext()): ?>
                        <img src="<?php echo $this->getSkinUrl('images/pager_arrow_right.gif') ?>" alt="<?php echo $this->__('Next') ?>" class="v-middle" />
                    <?php else: ?>
                        <?php echo $this->getAnchorTextForNext() ?>
                    <?php endif;?>
                </a>
            </li>
        <?php endif;?>
            <li><a class="last" href="<?php echo $this->getLastPageUrl() ?>"><?php echo $this->__('Last') ?></a></li>            
        </ol>

    </div>

    <form method="get" action="<?php echo $this->getPageUrl(0) ?>" id="pager_page_specify_form" name="pagerPageSpecifyForm">
        <div class="page-specify">
            <?php foreach ($this->getRequest()->getParams() as $_key=>$_val): ?>
                <?php if ($_key != "p" && $_key != "id"): ?>
                    <input type="hidden" name="<?php echo $_key ?>" value="<?php echo $_val ?>" />
                <?php endif; ?>
            <?php endforeach; ?>
            <label for="p"><?php echo $this->__('Go to Page:') ?></label>
            <input type="text" name="p" id="page-dest" class="page-dest input-text" size="2" value="" />
            <button type="button" class="button page-dest" title="<?php echo $this->__('Go') ?>" onclick="pagerPageSpecifyForm.submit(this)"><span><?php echo $this->__('Go') ?></button>
        </div>
    </form>
    <?php endif; ?>

    <?php if($this->getUseContainer()): ?>
    </div>
    <?php endif ?>

<?php endif ?>
<script type="text/javascript">
    
    jQuery(function() {
        jQuery("#page-dest").keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
        });

        jQuery("#page-dest").keyup(function (e) {
            var el = jQuery(this);
            var val = el.val();
            if (val > <?php echo $this->getLastPageNum() ?>){
                e.preventDefault();
                el.val(<?php echo $this->getLastPageNum() ?>);
            }
            else if (val < 1)
            {
                e.preventDefault();
                el.val(1);
            }
        });
    
    });

</script>