<?php
$_helper = $this->helper('catalog/output');
$_taxHelper = $this->helper('tax');
$_currentProduct = Mage::registry('current_product');
$_currentCategory = Mage::registry('current_category');
$productModel = Mage::getModel('catalog/product');
$attr = $productModel->getResource()->getAttribute("all_brands");
?>
<?php if($_currentProduct) : ?>
    <?php
    $_currentProductId = $_currentProduct->getId();
    // if having current category, get it, otherwise set default as 1111
    $_currentCategoryId = ( $_currentCategory ? $_currentCategory->getId() : '1111');
    $_contents = json_decode(file_get_contents("http://api.targetingmantra.com/TMWidgets?mid=140812&pid=$_currentProductId&w=vsims,psims&limit=10"));
    $_relatedViewedProductIds = Mage::helper('relatedproducts')->getRelatedViewedProductsInfo($_contents);
    ?>
    <?php//////////////////////////////////////////////////////////////// ?>
    <?php $_columnCount = count($_relatedViewedProductIds); ?>
    <?php if($_columnCount > 0 || count($this->getItemCollection()->getItems())): ?>
        <div class="recommend-hd-box">
            <div class="headRibbon">
                <span class="leftRib"></span>
                <span class="recommend-hd"><?php echo $this->__('People who viewed this also viewed') ?></span>             <span class="rightRib"></span>
            </div>
        </div>
    <?php endif ?>
    <?php
    $i = 0;?>
<?php if(count($this->getItemCollection()->getItems())): ?>
        <?php $_columnCount = count($this->getItemCollection()->getItems()); ?>
        <?php foreach ($this->getItemCollection()->getItems() as $_item):?>
            <?php if ($i++ % $_columnCount == 0): ?>
                <ul id="slideProduct<?php echo $_currentCategory ? $_currentCategory->getId() : '1111' ?>1" class="gridXL" style="width:<?php echo $_columnCount * 234 ?>px;">
            <?php endif ?>
            <?php $_collectionSize = count($this->getItemCollection()->getItems()) ?>
            <?php if ($_collectionSize % 1 == 0): ?>
        <?php if ($_collectionSize - $i == 1 || $i == $_collectionSize): ?>
            <li class="recItem">
        <?php else: ?>
            <li class="recItem">
        <?php endif; ?>
        <?php elseif ($_collectionSize % 1 == 1): ?>
        <?php if ($i == $_collectionSize): ?>
            <li class="recItem">
        <?php else: ?>
            <li class="recItem">
            <?php endif; ?>
        <?php endif; ?>
            <?php
            $parent_id = Mage::getResourceSingleton('catalog/product_type_configurable')
                ->getParentIdsByChild($_item->getId());
            $_product = Mage::getModel('catalog/product')->load($_item->getId());
            if ($parent_id) {
                if (is_array($parent_id)) {
                    $parent_id = reset($parent_id);
                }
                $parent = Mage::getModel('catalog/product')->load($parent_id);
                $url = $parent->getProductUrl();
                $image = $this->helper('catalog/image')->init($parent, 'small_image')->resize(200);
                $image_title = $this->stripTags($this->getImageLabel($parent, 'small_image'), null, true);

                $optionAttribute = $this->getRecommendOptionAttribute($parent, $_item->itemId);
            } else {
                $url = $_item->getProductUrl();
                $image = $this->helper('catalog/image')->init($_product, 'small_image')->resize(200);
                $image_title = $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true);
            }
            ?>

            <div class="imgPlace">
                <a href="<?php echo $url ?>" title="<?php echo $image_title ?>" class="product-image">
                    <img src="<?php echo $image; ?>" width="150" height="150" alt="<?php echo $image_title ?>" />
                </a>
                <a title="<?php echo $_product->getName() ?>" href="<?php echo $url ?>"><div class="overlay"></div></a>
            </div>
            <div class="productItem">
                <div class="textPlace">
                    <?php if ($_product->getData('all_brands')) :?>
                        <span class="brand"><?php echo $attr->getSource()->getOptionText($_product->getData('all_brands'));?></span>
                    <?php endif;?>
                        <span class="pdName">
                            <a href="<?php echo $url ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                        </span>
                    <?php $currency_symbol = Mage::app()->getLocale()->currency('THB')->getSymbol() ?>
                    <?php echo $this->getPriceHtml($_item, true, '-upsell') ?>
                    <!-- kkkkkk -->
                    <div class="actions" align="center">
                        <?php if ($_product->isSaleable()): ?>
                            <?php if ($parent_id) : ?>
                                <?php //if (!empty($optionAttribute)):    ?>
                                <select id="option_product<?php echo $parent->getId() ?>_attribute<?php echo $optionAttribute['attributeId']; ?>>" name="super_attribute[<?php echo $optionAttribute['attributeId']; ?>]" class="required-entry super-attribute-select-acp" style="display: none;">
                                    <option value="<?php echo $optionAttribute['attributeValue']; ?>" selected="selected"></option>
                                </select>
                                <?php //endif;    ?>
                                <a href="<?php echo $url ?>">
                                    <button type="button" title="<?php echo $this->__('Add To Bag') ?>" class="button btn-cart">
                                            <span class="buy-rec" ref="<?php echo $_product->getId() ?>" align="center">
                                                <!-- span class="cart-ico-rec"></span -->
                                                <span style="float:none;"><?php echo $this->__('Add To Bag') ?></span>
                                            </span>
                                    </button>
                                </a>
                                <?php $_emstHelper = $this->helper('emst_ajaxcart'); ?>
                                <?php if ($_emstHelper->isEnabled()): ?>
                                    <p class="emst-addtocart-home">
                                        <a href="#" id="EMSTAddToCart<?php echo $_emstHelper->getPId($_product->getId()); ?>"><?php echo $this->__('Add to cart') ?></a>
                                    </p>
                                <?php endif; ?>
                            <?php else: ?>
                                <a href="<?php echo $url ?>">
                                    <button type="button" title="<?php echo $this->__('Add To Bag') ?>" class="button btn-cart">
									<span class="buy-rec" ref="<?php echo $_product->getId() ?>" align="center">
										<!-- span class="cart-ico-rec"></span --><span style="float:none;"><?php echo $this->__('Add To Bag') ?></span>
									</span>
                                    </button>
                                </a>
                                <?php $_emstHelper = $this->helper('emst_ajaxcart');?>
                                <?php if($_emstHelper->isEnabled()):?>
                                    <p class="emst-addtocart-home">
                                        <a href="#" id="EMSTAddToCart<?php echo $_emstHelper->getPId($_product->getId()); ?>"><?php echo $this->__('Add to cart')?></a>
                                    </p>
                                <?php endif; ?>
                            <?php endif; ?><?php // end if (isSalable) ?>
                        <?php else: ?>
                            <a href="<?php echo $url ?>">
                                <button type="button" title="<?php echo $this->__('View') ?>" class="button btn-see">
                                    <span class="buy-rec" ref="<?php echo $_product->getId() ?>" align="center">
                                        <span style="float:none;"><?php echo $this->__('View') ?></span>
                                    </span>
                                </button>
                            </a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
            </li>
            <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                </ul>

            <?php endif ?>
        <?php endforeach ?>
<?php else: ?>
    <?php foreach ($_relatedViewedProductIds as $_item):?>
        <?php if ($i++ % $_columnCount == 0): ?>
            <ul id="slideProduct<?php echo $_currentCategory ? $_currentCategory->getId() : '1111' ?>1" class="gridXL" style="width:<?php echo $_columnCount * 234 ?>px;">
        <?php endif ?>
        <?php $_collectionSize = count($_relatedViewedProductIds) ?>
        <?php if ($_collectionSize % 1 == 0): ?>
    <?php if ($_collectionSize - $i == 1 || $i == $_collectionSize): ?>
        <li class="recItem">
    <?php else: ?>
        <li class="recItem">
    <?php endif; ?>
    <?php elseif ($_collectionSize % 1 == 1): ?>
    <?php if ($i == $_collectionSize): ?>
        <li class="recItem">
    <?php else: ?>
        <li class="recItem">
        <?php endif; ?>
    <?php endif; ?>
        <?php
        $parent_id = Mage::getResourceSingleton('catalog/product_type_configurable')
            ->getParentIdsByChild($_item->itemId);
        $_product = Mage::getModel('catalog/product')->load($_item->itemId);
        if ($parent_id) {
            if (is_array($parent_id)) {
                $parent_id = reset($parent_id);
            }
            $parent = Mage::getModel('catalog/product')->load($parent_id);
            $url = $parent->getProductUrl();
            $image = $this->helper('catalog/image')->init($parent, 'small_image')->resize(160);
            $image_title = $this->stripTags($this->getImageLabel($parent, 'small_image'), null, true);

            $optionAttribute = $this->getRecommendOptionAttribute($parent, $_item->itemId);
        } else {
            $url = $_item->itemURL;
            $image = $this->helper('catalog/image')->init($_product, 'small_image')->resize(160);
            $image_title = $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true);
        }
        ?>

        <div class="imgPlace">
            <a href="<?php echo $url ?>" title="<?php echo $image_title ?>" class="product-image">
                <img src="<?php echo $image; ?>" width="150" height="150" alt="<?php echo $image_title ?>" />
            </a>
            <a title="<?php echo $_product->getName() ?>" href="<?php echo $url ?>"><div class="overlay"></div></a>
        </div>
        <div class="productItem">
            <div class="textPlace">
                <?php if ($_product->getData('all_brands')) :?>
                    <span class="brand"><?php echo $attr->getSource()->getOptionText($_product->getData('all_brands'));?></span>
                <?php endif;?>
                        <span class="pdName">
                            <a href="<?php echo $url ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                        </span>
                <?php $currency_symbol = Mage::app()->getLocale()->currency('THB')->getSymbol() ?>
                <div class="price-box">
                    <?php if($_item->itemPrice != $_item->itemMRP): ?>
                        <p class="old-price"><span class="price" id="old-price-<?php echo $_item->itemId ?>"><?php echo $currency_symbol . (int) $_item->itemMRP ?></span></p>
                        <p class="special-price"><span class="price" id="product-price-<?php echo $_item->itemId ?>"><?php echo $currency_symbol . (int) $_item->itemPrice ?></span></p>
                        <p class="save-percentage"><span class="price" id="save-percentage-<?php echo $_item->itemId ?>"><?php echo (int)( 100 - $_item->itemPrice * 100 /  $_item->itemMRP) . '%' ?></span></p>
                    <?php else: ?>
                        <p class="special-price"><span class="price" id="product-price-<?php echo $_item->itemId ?>"><?php echo $currency_symbol . (int) $_item->itemPrice ?></span></p>
                    <?php endif ?>
                </div>
                <!-- kkkkkk -->
                <div class="actions" align="center">
                    <?php if ($_product->isSaleable()): ?>
                        <?php if ($parent_id) : ?>
                            <?php //if (!empty($optionAttribute)):    ?>
                            <select id="option_product<?php echo $parent->getId() ?>_attribute<?php echo $optionAttribute['attributeId']; ?>>" name="super_attribute[<?php echo $optionAttribute['attributeId']; ?>]" class="required-entry super-attribute-select-acp" style="display: none;">
                                <option value="<?php echo $optionAttribute['attributeValue']; ?>" selected="selected"></option>
                            </select>
                            <?php //endif;    ?>
                            <a href="<?php echo $url ?>">
                                <button type="button" title="<?php echo $this->__('Add To Bag') ?>" class="button btn-cart">
                                            <span class="buy-rec" ref="<?php echo $_product->getId() ?>" align="center">
                                                <!-- span class="cart-ico-rec"></span -->
                                                <span style="float:none;"><?php echo $this->__('Add To Bag') ?></span>
                                            </span>
                                </button>
                            </a>
                            <?php $_emstHelper = $this->helper('emst_ajaxcart'); ?>
                            <?php if ($_emstHelper->isEnabled()): ?>
                                <p class="emst-addtocart-home">
                                    <a href="#" id="EMSTAddToCart<?php echo $_emstHelper->getPId($_product->getId()); ?>"><?php echo $this->__('Add to cart') ?></a>
                                </p>
                            <?php endif; ?>
                        <?php else: ?>
                            <a href="<?php echo $url ?>">
                                <button type="button" title="<?php echo $this->__('Add To Bag') ?>" class="button btn-cart">
									<span class="buy-rec" ref="<?php echo $_product->getId() ?>" align="center">
										<!-- span class="cart-ico-rec"></span --><span style="float:none;"><?php echo $this->__('Add To Bag') ?></span>
									</span>
                                </button>
                            </a>
                            <?php $_emstHelper = $this->helper('emst_ajaxcart');?>
                            <?php if($_emstHelper->isEnabled()):?>
                                <p class="emst-addtocart-home">
                                    <a href="#" id="EMSTAddToCart<?php echo $_emstHelper->getPId($_product->getId()); ?>"><?php echo $this->__('Add to cart')?></a>
                                </p>
                            <?php endif; ?>
                        <?php endif; ?><?php // end if (isSalable) ?>
                    <?php else: ?>
                        <a href="<?php echo $url ?>">
                            <button type="button" title="<?php echo $this->__('View') ?>" class="button btn-see">
                                    <span class="buy-rec" ref="<?php echo $_product->getId() ?>" align="center">
                                        <span style="float:none;"><?php echo $this->__('View') ?></span>
                                    </span>
                            </button>
                        </a>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        </li>
        <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
            </ul>

        <?php endif ?>
    <?php endforeach ?>
<?php endif;?>
    <script type="text/javascript">
        //<![CDATA[
        var grids = $$('.products-grid');
        grids.each(function (n) {
            var columns = n.select('li.recommend-item');
            var max_height = 0;
            columns.each(function (m) {
                if (m.getHeight() > max_height) {
                    max_height = m.getHeight();
                }
            });
            var boxes = n.select('li .product-box');
            boxes.each(function (b) {
                var this_column = b.up('li.recommend-item');
                var box_indent = this_column.getHeight() - b.getHeight();
                b.setStyle({
                    height: max_height - box_indent + 'px'
                });
            });
        });
        //]]/
        jQuery(document).ready(function (jQuery) {
            jQuery('<div class="control"><a class="prev<?php echo $_currentCategory ? $_currentCategory->getId() : '1111' ?>1" href="javascript:void(0);">prev</a><a class="next<?php echo $_currentCategory ? $_currentCategory->getId() : '1111' ?>1" href="javascript:void(0);">next</a></div>').insertBefore(jQuery('#slideProduct<?php echo $_currentCategory ? $_currentCategory->getId() : '1111' ?>1'));
            jQuery('#slideProduct<?php echo $_currentCategory ? $_currentCategory->getId() : '1111' ?>1').carouFredSel({
                scroll: {
                    items: 3,
                    effect: 'easeOutBounce',
                    speed: 2500,
                    pauseOnHover: true
                },
                auto: false,
                responsive: false,
                items: 4,
                width: '100%',
                height: 'auto',
                next: "a.next<?php echo $_currentCategory ? $_currentCategory->getId() : '1111' ?>1",
                prev: "a.prev<?php echo $_currentCategory ? $_currentCategory->getId() : '1111' ?>1"
            });
        });
    </script>
<?php endif ?>
