<?php
$sku = $this->getSku();
$colour = $this->getColor();
$store = Mage::getModel('core/store')->load($this->getStore(), 'code')->getId();
$collection = Mage::helper('sm_newsletter')->getProductBySkuString($sku);
?>

<?php foreach($collection as $product):?>
    <?php $product->setStoreId($store);?>

<?php endforeach; ?>

<div class="product-list">
    <?php $i = 0; foreach($collection as $product): $i++;?>
        <?php $product->setStoreId($store);?>
		<?php if($i >= 2) : ?>
			<div style="width: 1%;float: left;display: inline-block;height: 100%;">&nbsp;</div>
		<?php endif;?>
        <div style="width: 32.3%; border: solid 1px #bbb; padding-bottom: 10px; float: left;">
            <a href="<?php echo $product->getProductUrl()?>"><div class="product-image"><img width="100%" style="border: none;" src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(192)?>"/></div></a>

            <div class="product-name" style="text-align: center; white-space: nowrap; width: 95%; overflow: hidden; text-overflow: ellipsis; margin: 5px auto;">
                <a style="color: #3c3d41; text-decoration: none;" href="<?php echo $product->getProductUrl()?>"><?php echo $product->getName()?></a>
            </div>

            <?php echo Mage_Catalog_Block_Product::setTemplate('newsletter/price.phtml')->setProduct($product)->toHtml() ?>
        </div>
    <?php endforeach; ?>
    <div style="clear: both;"></div>
</div>