<?php
$storeId        = Mage::app()->getStore()->getId();
$categoryRootId = Mage::app()->getStore($storeId)->getRootCategoryId();

$_categories = Mage::getModel('catalog/category')->getCollection()
    ->addFieldToFilter('path', array('like' => "%/{$categoryRootId}/%"))
    ->addAttributeToSelect('entity_id')
    ->addAttributeToFilter ('url_key', 'brands')
    ->addAttributeToFilter('is_active', 1)
    ->getData();

$arrListShow = array();
if(count($_categories)) {
    $childCategoryId = Mage::getModel('catalog/category')->load($_categories[0]['entity_id'])
        ->getChildren();
    $arrCategoryId = explode(',', $childCategoryId);

    $i = 0;
    foreach ($arrCategoryId as $idCate) {
        $cate = Mage::getModel('catalog/category')->load($idCate);
        $nameCate = ucwords($cate->getName());
        $areaCate = strtolower(substr($nameCate, 0, 1));
        if($cate['is_active'] == 1) {
            $arrListShow[$areaCate][$i]['name'] = $nameCate;
            $arrListShow[$areaCate][$i]['url']  = $cate->getUrl();
            $i++;
        }
    }
}
?>

<div class="recommend-hd-box brands-lable">
    <div style="clear:both;"></div>
    <div class="headRibbon">
        <span class="recommend-hd brands-page"><?php echo $this->__('Available Brands'); ?></span>
    </div>
</div>
<?php
$categoryCount = count($arrListShow);
if($categoryCount){?>
    <div class="listContainer">
        <ul class = "alphabet">
            <li class="selected-alpha"><span><?php echo $this->__('All.'); ?></span></li>
            <?php for($i=65; $i<=65+25; $i++):?>
                <li><span><?php echo chr($i); ?></span></li>
            <?php endfor;?>
        </ul>
        <?php
        $colRow = 8;
        $colNum = 4;
        ?>

        <ul class = "brands">
            <?php
            ksort($arrListShow);
            foreach ($arrListShow as $alphaName => $alphabet):
                $totalItemAlpha = count($alphabet);
                if(ceil(($totalItemAlpha/$colRow)) > $colNum) {
                    $colRow = ceil(($totalItemAlpha/$colNum));
                }

                $i=0;
                echo "<div class='alpha-box alpha-".$alphaName."'><div class='label-alpha'><p>".$alphaName.'</p></div>';
                foreach($alphabet as $item):
                    if ($i++%$colRow==0) {echo '<div class="columns">';}
                    echo '<li><span><a href='.$item['url'].'>'.$item['name'].'</a></span></li>';
                    if ($i%$colRow==0 || $i==$totalItemAlpha) {echo '</div>';}
                endforeach;
                echo '</div>';
            endforeach;
            ?>
            <div class="no-brand"><?php echo $this->__('No brands with alphabet') ?></div>
        </ul>
    </div>
    <script type="text/javascript">

        jQuery('.alphabet li span').click(function(){
            jQuery('.alphabet li.selected-alpha').removeClass('selected-alpha');
            jQuery(this).parent('li').addClass('selected-alpha');
            var alphabet = jQuery(this).html().toLowerCase();
            var i;
            i = 0;
            jQuery('.brands .alpha-box').each(function(){
                if(jQuery(this).hasClass('alpha-' + alphabet) || alphabet == 'all') {
                    i++;
                    jQuery(this).show();
                } else {
                    jQuery(this).hide();
                }
            });
            if(i==0) {
                jQuery('.brands div.no-brand').css('display', 'block');
            } else {
                jQuery('.brands div.no-brand').css('display', 'none');
            }
        });
    </script>
<?php
} else {
    ?>
    <div class="no-brand-in-store"><?php echo $this->__('No brands in store') ?></div>
<?php } ?>
