/*
	===== COLORS =====
	Main Text color: #73777A;
	Dark Grey: #3C3D41;
	light grey: #73777A;

	Orami Pink: #ff6c6c;
	Light Pink: #fc9797;
	Dark Pink: #e65f5f;

	Blue: #5781D3;

	Lime Green: #21b594;
*/

/*
	================================
			HELPER & RESET
	================================
*/

/* RESET */
body {
	font-size: 14px;
	color: #73777A;
	overflow-x: hidden !important;
}

body, button, input, optgroup, select, textarea {
	font-family: 'Roboto', sans-serif !important;
}

input:focus { outline: none; }

a { color: #ff6c6c; }
a:hover { color: #e65f5f; }

a:hover, a:visited, a:link, a:active { text-decoration: none; }

.messages,
.messages ul,
.messages li {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.messages>li {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.messages>li.error-msg {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.btn {
	height: 32px;
	font-size: 12px;
}

.btn.btn-primary {
	background: #ff6c6c;
	border: none;
}

.btn.btn-full {
	width: 100%;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    border-radius: 0;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 575px) {
	.btn.btn-full { margin-bottom: 15px; }
}

/* Form Control */
.form-control-feedback ul {
  float: left;
  color: #F63838;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
	color: #F63838;
}

/* Checkbox color */
.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ff6c6c;
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ff6c6c;
}

.custom-control-input:active ~ .custom-control-indicator {
  color: #fff;
  background-color: #FFB1B1;
}

.custom-control-input:checked ~ .custom-control-indicator {
	background-color: #ff6c6c;
}

/* SOCIAL ACCOUNT BUTTON */
.social-account .social-button {
	height: 50px;
	font-size: 15px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	-webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    color: #fff;
    border-radius: 1px;
    text-align: center;
}

.social-account .social-button span {
	line-height: 50px;
}

.social-account .social-button:hover {
    -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.social-account #facebook {
	background: #3B5998;
}

.social-account #facebook:active {
	background: #324A7D;
}

.social-account #facebook #facebook-icon {
    position: relative;
    left: -15px;
    top: -4px;
}

.social-account #google {
	background: #4285f4;
}

.social-account #google:active {
	background: #3367d6;
}

.social-account #google #google-icon {
	margin: 1px;
	border-radius: 1px;
	background: #fff;
	padding: 15px;
	float: left;
}

/* COLOR HELPER */
.text-pink { color: #ff6c6c !important; }
.text-lime-green { color: #21b594 !important; }

.no-underline { text-decoration: none !important; }

/* HELPER CLASSES */
.hidden {
	display: none !important;
}

/*
	================================
				HEADER
	================================
*/

/* HEADER */
header .bar {
	border-bottom: 1px solid #e7e7e7;
}
/* END HEADER */

/* TOP BAR */
#top-bar {
	font-size: 0.75rem;
	height: 47px;
	padding-top: 12px;
}

#top-bar .free-ship-text {
	color: #21b594;
	font-size: 1rem;
	font-weight: bold;
}

#top-bar .learn {
	text-decoration: underline;
	color: inherit;
}

#top-bar .info {
	margin-left: 12px;
}

#top-bar .info img {
	width: 20px;
	margin-right: 4px;
}
/* END TOP BAR */

/* TOOL BAR */
#tool-bar {
	height: 56px;
	padding-top: 7px;
	position: relative;
}

#tool-bar #mb-logo a {
	font-size: 17px;
	color: #3C3D41;
}

#tool-bar .main-search-bar {
	background: #fafafa;
	width: 100%;
	height: 42px;
	border: 1px solid #e7e7e7;
	padding: 0 14px;
}

#tool-bar .search {
	position: absolute;
	right: 26px;
	bottom: 10px;
	background: url(../images/search.png) no-repeat;
	border: none;
	font-size: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#tool-bar #top-menu {
	margin-top: 5px;
}

#tool-bar #menu-group,
#tool-bar #language {
	display: inline-block;
}

#tool-bar #menu-group img {
    margin: 0 15px
}

#tool-bar #menu-group #logged-in,
#tool-bar #menu-group #not-logged-in,
#tool-bar #menu-group #logged-in #favorite,
#tool-bar #menu-group #logged-in #user-icon {
	display: inline-block;
}

#tool-bar #menu-group #logged-in .dropdown-toggle:after {
	display: none;
}

@media (max-width: 575px) {
	#tool-bar {
		height: 61px;
		padding-top: 11px;
	}

	#tool-bar .butterfly-logo {
		width: 37px;
	}
}

#tool-bar #language .dropdown-toggle {
	width: 45px;
	padding: 0;
	color: #73777A;
	font-size: 12px;
}

#tool-bar #language .dropdown-toggle:after {
	display: inline-block;
	width: 10px;
	height: 6px;
	vertical-align: middle;
	content: "";
	background: url(../images/chevron-down-grey.png) no-repeat;
	border: none;
	margin-left: 0;
}

#tool-bar #language .dropdown-menu {
	min-width: initial;
	width: 45px;
}

#tool-bar #user-icon .dropdown-menu {
	min-width: initial;
	width: 95px;
	top: 8px !important;
    left: -16px !important;
}

#tool-bar .dropdown-item {
	color: #73777A;
	padding: 3px;
	text-align: center;
	font-size: 12px;
}

#tool-bar .dropdown-item:active {
    color: #fff;
    background-color: #ff6c6c;
}
/* END TOOL BAR */

/* TOP NAV BAR  */
#top-nav-bar {
	height: 52px;
	padding-top: 4px;
}

#top-nav-bar .container {
	overflow-x: visible !important;
}

#top-nav-bar .nav a {
	color: #73777A;
	font-size: 17px;
}

#top-nav-bar .nav-link.active:after { 
	content: "";
	float: left;
	background: #ff6c6c;
	border-radius: 3px;
	width: 120%;
	height: 4px;
	position: relative;
	left: -10%;
	top: 11px;
}
/* END TOP NAV BAR */

/*
	================================
				FOOTER
	================================
*/

/* FOOTER */
footer a,
footer a:hover,
footer a:active,
footer a:visited {
	color: #73777A;
}

/* CONTACT BAR */
#contact-bar {
	height: 40px;
	color: #fff;
	background: #5781D3;
	padding-top: 10px;
}

#contact-bar .container {
	overflow-x: visible !important;
}

#contact-bar span a { color: #fff; }  /* Fix iPhone link on tel number */

#contact-bar #talk {
	position: relative;
	top: -45px;
}

#contact-bar #help {
	display: inline-block;
}

@media (max-width: 575px) {
	#contact-bar {
		height: initial;
		font-size: 16px;
		padding: 10px 10px 20px
	}

	#contact-bar #talk {
		top: initial;
	}

	#contact-bar #help {
		margin-top: 12px;
	}

	#contact-bar .contact-icon {
		display: none;
	}

	#contact-bar .contact-info {
		border-bottom: 1px solid #A5C4FF;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;
	}
}
/* END CONTACT BAR */

/* FOOTER CONTENT */
#footer-content {
	padding: 15px 0;
}

#footer-content .footer-nav-header {
	display: inline-block;
	margin-bottom: 12px;
}

#footer-content #social-connect {
	margin-bottom: 30px;
}

#footer-content #subscribe-button {
	height: 48px;
	padding: 15px;
	text-transform: uppercase;
	color: #ff6c6c;
	border-color: #ff6c6c;
	margin-bottom: 15px;
}

#footer-content #subscribe-button:hover {
	color: #fff;
	border-color: #ff6c6c;
	background-color: #ff6c6c;
}

#footer-content #download-app img {
	margin: 5px 0;
}

#footer-content .col-1-of-5,
#footer-content .col-2-of-5 {
	padding: 0 15px;
}

#footer-content .col-2-of-5 {
	width: 40%;
}

#footer-content .col-1-of-5 {
	width: 20%;
}

#footer-content .payment-options {
	display: block;
}

@media (max-width: 575px) {
	#footer-content {
		font-size: 16px;
	}

	#footer-content .footer-nav-header {
		margin-bottom: 10px;
	}

	#footer-content .footer-nav,
	#footer-content #social-connect,
	#footer-content #download-app {
		margin-bottom: 25px;
	}

	#footer-content .footer-nav li {
		display: inline-block;
		margin-right: 16px;
		line-height: 2;
	}

	#footer-content #subscribe-button {
		display: block;
		width: 200px;
	}

	#footer-content .col-1-of-5,
	#footer-content .col-2-of-5 {
		width: 100%;
	}
}

#footer-bar {
	border-top: 1px solid #e7e7e7;
	padding: 10px 0;
}

/* END FOOTER CONTENT */

/*
	================================
		 MAIN CONTENT ELEMENTS
	================================
*/

section.main-orami {
  padding-top: 15px;
  padding-bottom: 40px;
}
section.main-orami.grey { background: #F5F5F1; }

section.main-orami .backdrop {
	position: relative;
	background: #fff;
	padding: 24px;
}

/*
	================================
		  LOGIN & REGISTER PAGE
	================================
*/

#login-page #login-content .login-title {
	padding-bottom: 24px;
}

#login-page #login-content .text-register {
	font-size: 17px;
	text-align: right;
}

#login-page #login-content .social-account {
	margin-bottom: 15px;
}

#login-page #login-content label {
	color: #73777A;
}

#login-page #login-content label i {
	color: #ff0000;
	font-style: normal;
}

@media (max-width: 575px) {
	#login-page { background: initial; }
	#login-page .backdrop { padding: 15px 15px 66px; }
	#login-page #login-content .text-register {
		text-align: initial;
		margin-bottom: 15px;
	}
}

#login-page #login-content .newsletter-select {
	display: block;
}

#login-page #login-content #term { font-size: 12px; }
#login-page #login-content #term a { color: #73777A; }
#login-page #login-content #term a:hover { text-decoration: underline; }
/* END LOGIN & REGISTER PAGE */