.postWrapper {
	border: 1px solid #e7e7e7;
	border-radius: 3px 3px 3px 3px;
	clear: both;
	margin: 15px 0;
	padding: 10px;
}
.postTitle {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #DDDDDD;
	margin-bottom: 15px;
	width: 930px;
	float: left;
}
.postTitle h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
	padding-bottom:5px;
	float: left;
}
.postTitle h3 {
	font-size: 11px;
	margin: 0px;
	padding-bottom:5px;
	font-weight: normal;
	font-style: italic;
	color: #898989;
	line-height: 26px;
	float: right;
}
.postContent {
	padding: 0 0 10px 10px;
}
.postDetails {
	
}
.postBookmarks {
	padding-bottom: 10px;
}
.postBookmarks h4 {
	
	font-size: 12px;
	font-weight: bold;
}
.commentWrapper {
	border: 1px solid #e7e7e7;
	border-radius: 3px 3px 3px 3px;
	margin: 15px 0;
	padding: 15px;
	float:left;
	width: 900px;
}
.commentContent {
	padding: 0 0 0 10px;
}
.commentDetails  {
	margin-bottom:5px;
	padding: 0px;
	font-style: italic;
	font-size: 11px;
	color: #898989;
}
.commentDetails  h4.username{
	display:inline;
	font-style: normal;
	color: #505050;
}

#postComment{
	display: block;
	margin-top: 35px;
}

.postError {
	font-size: 16px;
}

.tags{
	font-weight:bold;
	padding: 0 0 10px 10px;
}
.tags UL{
	display:inline;
}
.tags UL LI{
font-weight:normal;
	display:inline;
	padding-right:6px;
}


.tags h4 {
font-size:12px;
font-weight:bold;
}

.menu-tags, .menu-categories, .menu-recent{
	margin:5px 9px;
}
.menu-tags h5, .menu-categories h5, .menu-recent h5{font-size:11px;}

.block-blog .menu-tags UL LI{
	display:inline;
	padding:2px;
	margin-left:10px;
}
.block-blog .menu-categories UL LI{
	margin-left:10px;
}
.block-blog .menu-recent UL LI{
	margin-left:10px;
}
.block-blog .menu-recent UL LI a,.block-blog .menu-categories UL LI a,.block-blog .menu-tags UL LI a{font-size:11px;}

.tagcloud{
	/* text-align:center; */ 
}
.tag-count-1{
	font-size:1em!important;
}
.tag-count-2{
	font-size:1.2em!important;
}
.tag-count-3{
	font-size:1.4em!important;
}
.tag-count-4{
	font-size:1.6em!important;
}
.tag-count-5{
	font-size:1.8em!important;
}
.tag-count-6{
	font-size:2em!important;
}
.tag-count-7{
	font-size:2em!important;
}
.tag-count-8{
	font-size:2em!important;
}
.tag-count-9{
	font-size:2em!important;
}
.tag-count-10{
	font-size:2em!important;
}

.block-blog .head h4{
padding-left: 20px;
}

.block-blog .block-title strong {
background-image:url(../images/icon_blog.png);
background-repeat:no-repeat;
padding-left:21px;
text-align:left;
}

.postWrapper .poster{
	display:inline;
}
.input-box.aw-blog-comment-area{width:100%;}

.widget-latest li{font-size:12px;padding:5px 10px;}
.block-blog .menu-categories{margin:0;padding:5px 9px;}

A.awblog_current_comment { text-decoration:none!important; font-weight: bold!important; }