<?php
	$current_category = Mage::registry('current_category')->getId();

    if($current_category == 3) : // if pets
        $blockClass = "pets";
        $inputName = "inp_32304";
    elseif($current_category == 58): // if mom baby
        $blockClass = "baby";
        $inputName = "inp_32305";
    else:
        $blockClass = "lifestyle";
        $inputName = "inp_32303";
    endif;
?>

<div class="magazine-subscribe-block <?php echo $blockClass; ?>">
  <div class="popup-subscribe-reader" id="popupSubscribeReader">
    <div class="popup-content form-container clearfix">
      <form name="ProfileForm" target="_blank" onsubmit="return CheckInputs();" action="/display/index/send" method="post">
            <input type="hidden" name="CID" value="530127770">
            <input type="hidden" name="SID" value="">
            <input type="hidden" name="session_id" value="">
            <input type="hidden" name="f" value="3436">
            <input type="hidden" name="p" value="2">
            <input type="hidden" name="a" value="r">
            <input type="hidden" name="el" value="">
            <input type="hidden" name="endlink" value="">
            <input type="hidden" name="llid" value="">
            <input type="hidden" name="c" value="">
            <input type="hidden" name="optin" value="y">
            <input type="hidden" name="counted" value="">
            <input type="hidden" name="<?php echo $inputName; ?>" value="1">
			<div class="spacer">&nbsp;</div>
		    <div class="email-wrap clearfix">
		        <input id="fieldEmail" class="input-email email-field" type="email" name="inp_3" size="100" placeholder="กรอกอีเมลรับข่าวสารที่นี่">
		        <input type="button" class="dogs email-button btn btn-regular large" onclick="javascript:SubmitIt()" name="submit1" value="SUBSCRIBE">
		    </div>
      </form>
    </div>
  </div>
</div>

<script language="javascript">
        <!--
        function onbeforesubmit() {
            return true;
        }
        //-->
    </script>
    <script language="javascript">
        <!--
        var error;
        var form_lanuage = 'en';

        function is_0_valid() {
            count = 0;
            if (document.ProfileForm.optin) {
                if (document.ProfileForm.optin.checked) {
                    if (document.getElementsByName('interest[]')) {
                        if (document.getElementsByName('interest[]').length > 0) {
                            Interest = document.getElementsByName('interest[]');
                            for (i = 0; i < Interest.length; i++) {
                                if (Interest[i].checked)
                                    ++count;
                            }
                            if (count == 0) {
                                error += "Interests:";
                                return false;
                            }
                        }
                    }
                }
            }
            return true;
        }

        function is_3_valid(input) {
            if (input == "") {
                error += "Email: missing data!\n";
                return false;
            }

            var emailPat = /^(.+)@(.+)$/
            var specialChars = "\\(\\)<>@,;:\\\\\\\"\\.\\[\\]"
            var validChars = "\[^\\s" + specialChars + "\]"
            var quotedUser = "(\"[^\"]*\")"
            var ipDomainPat = /^\[(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})\]$/
            var atom = validChars + '+'
            var word = "(" + atom + "|" + quotedUser + ")"
            var userPat = new RegExp("^" + word + "(\\." + word + ")*$")
            var domainPat = new RegExp("^" + atom + "(\\." + atom + ")*$")

            var matchArray = input.match(emailPat)
            if (matchArray == null) {
                error += "E-Mail: Please enter a valid e-mail address!\n"; // check @ and .
                return false
            }
            var user = matchArray[1]
            var domain = matchArray[2]

            if (user.match(userPat) == null) {
                error += "E-Mail: Please enter a valid e-mail address!\n"; // username doesn't seem to be valid
                return false
            }

            var IPArray = domain.match(ipDomainPat)
            if (IPArray != null) {
                for (var i = 1; i <= 4; i++) {
                    if (IPArray[i] > 255) {
                        error += "E-Mail: Please enter a valid e-mail address!\n"; // Destination IP address is invalid
                        return false
                    }
                }
                return true
            }

            var domainArray = domain.match(domainPat)
            if (domainArray == null) {
                error += "E-Mail: Please enter a valid e-mail address!\n"; // The domain name doesn't seem to be valid
                return false
            }

            var atomPat = new RegExp(atom, "g")
            var domArr = domain.match(atomPat)
            var len = domArr.length

            if (len < 2) {
                error += "E-Mail: Please enter a valid e-mail address!\n"; // This address is missing a hostname
                return false
            }

            return true;
        }

        function CheckInputs() {
            var check_ok = true;
            error = "Wrong input!\n";

            check_ok = (is_0_valid('null') && check_ok);
            check_ok = (is_3_valid(document.ProfileForm.inp_3.value) && check_ok);
            if (check_ok == false)
                alert(error);
            return check_ok;
        }
        //-->
    </script>

    <script language="javascript">
        function SubmitIt(e) {
            if (typeof CheckInputs == 'function') {
                if (CheckInputs() == true) {
                    // if (typeof(document.getElementsByName('submit1')[0]) != "undefined") {
                    //     document.getElementsByName('submit1')[0].disabled = true;
                    // }

                    if (window.onbeforesubmit)
                        onbeforesubmit();
	                    document.ProfileForm.submit(function(e){e.preventDefault();});
	                    jQuery.colorbox({
	                        open:true,
	                        iframe:true,
	                        href:"/popup/orami_popup/thankyou.php",
	                        innerWidth:360,
	                        innerHeight:550,
	                        scrolling:false,
	                        closeButton:true,
	                    });
	                    return;
                }
            } else {
                if (typeof(document.getElementsByName('submit1')[0]) != "undefined") {
                    document.getElementsByName('submit1')[0].disabled = true;
                }

                if (window.onbeforesubmit)
                    onbeforesubmit();
	                document.ProfileForm.submit(function(e){e.preventDefault();});
	                jQuery.colorbox({
		                open:true,
		                iframe:true,
		                href:"/popup/orami_popup/thankyou.php",
		                innerWidth:360,
		                innerHeight:550,
		                scrolling:false,
		                closeButton:true,
		            });
		            return;
            }
        }
    </script>

<script language="javascript">
    // click input and change color
    jQuery(".input-email").focus(function() {
        jQuery(this).css("background","rgba(255,255,255,1)")
    });

    jQuery(".input-email").blur(function() {
        jQuery(this).css("background","rgba(255,255,255,0.85)")
    });
</script>