<!--
/**
 * Product:     Abandoned Carts Alerts Pro for 1.3.x-1.7.0.0 - 18/06/13
 * Package:     AdjustWare_Cartalert_3.2.0_0.2.3_634118
 * Purchase ID: n/a
 * Generated:   2013-07-12 10:03:45
 * File path:   app/locale/en_US/template/email/abandoned_cart_alert.html
 * Copyright:   (c) 2013 AITOC, Inc.
 */
-->
<!--@subject {{var customer_name}}, อย่าลืมให้อาหารตัวเล็กที่บ้านด้วยนะ… @-->

<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="590">
            <!-- [ header starts here] -->
            <tr>
                <td valign="middle" style="padding: 0 25px;" height="80"><a href="{{store url}}"><img src="{{skin url='images/logo_email.gif'}}" alt="{{var logo_alt}}" border="0"/></a></td>
            </tr>
            <tr>
                    <p><a href="{{var recover_url}}"><img src="{{skin url='images/view_my_cart_en.png'}}" alt="View my cart" border="0"/></a>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:15px 30px;">
                    <h1 style="font-size:24px; font-weight:bold; line-height:24px; margin:0 0 11px 0;color:#28448d;">{{var customer_name}}, อย่าลืมให้อาหารตัวเล็กที่บ้านด้วยนะ…</h1>
                    <p style="font-size:13px; line-height:18px; margin:0;color:#505050;">
                 เรามีความประสงค์จะแจ้งให้ทราบว่าคุณได้ทำการเลือกสินค้าราคาดีไว้ในรายการตะกร้าสินค้าเรียบร้อยแล้ว ทั้งนี้คุณจะได้รับบริการจัดส่งฟรีในทุกรายการสินค้าที่ได้เลือกไว้

                    </p>
				 <p>{{var products}}</p>
{{depend real_quote}}
                    <p><a href="{{var recover_url}}" ><img src="{{skin url='images/view_my_cart_en.png'}}" alt="View my cart" border="0"/></a><br></p>
{{/depend}} 
{{depend coupon}}
                    <p>Feel free to use this coupon: {{var coupon}}</p>
                    <p>Please note that it expires in {{var coupon_days}} day(s)</p>
{{/depend}} 

            </td>
            </tr>
      
			 <tr>
			    <td height="30"><img src="{{skin url='images/email-line.gif'}}"  style="margin-top:20px;" border="0"/></td>
			</tr>
			<tr>
				<td style="padding:20px;">
					<span style="font:normal 11px 'Arial';color:#505050; line-height:13px;">
					พบข้อสงสัยในการใช้บริการ 
ติดต่อแผนกลูกค้าสัมพันธ์ที่หมายเลข (02) 636 2233 ในเวลาทำการ จันทร์ – ศุกร์ 10.00 – 18.00 น. <br/>นอกเหนือเวลาดังกล่าวท่านสามารถติดต่อผ่านได้ที่อีเมล์  <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a> </span>
<br/><br/>
					<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
					กรุณาบันทึกอีเมล์ฉบับนี้ในสมุดที่อยู่ของคุณเพื่อจะทำให้แน่ใจว่าคุณได้รับอีเมล์ทุกฉบับจากเรา </span><br/><br/>
					<table cellpadding="0" cellspacing="0" width="590">
						<tr>
							<td width="450">
								<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
								อีเมล์ฉบับนี้ถูกส่งโดย Whatsnew Co., Ltd. <br/>เลขที่ 946 อาคารพาณิชย์ดุสิตธานี ชั้น 4 ถนนพระราม 4 แขวงสีลม เขตบางรัก กรุงเทพฯ 10500</span><br/><br/>
								<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
								<a href="{{store url="privacy-policy"}}" style="color:#505050; text-decoration:none;">ความเป็นส่วนตัว</a> | <a href="{{store url="contacts"}}" style="color:#505050; text-decoration:none;">ติดต่อเรา</a></span>
							</td>
							<td valign="bottom" align="right">
								<a href="https://www.facebook.com/petloftthai" target="_blank"><img src="{{skin url='images/email-facebook.gif'}}"  style="margin-right:10px;" border="0"/></a>
								<a href="https://twitter.com/PetLoft" target="_blank"><img src="{{skin url='images/email-twitter.gif'}}"  style="margin-right:10px;" border="0"/></a>
								<a href="https://plus.google.com/u/0/b/113812097105339950445/113812097105339950445/op/iph" target="_blank"><img src="{{skin url='images/email-google.gif'}}" border="0"/></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>