<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="590">
            <!-- [ header starts here] -->
            <tr>
                <td valign="middle" style="padding: 0 25px;" height="80"><a href="{{store url=""}}"><img src="{{skin url='images/logo_email.gif'}}" alt="{{var logo_alt}}" border="0"/></a></td>
            </tr>
            <tr>
                <td height="10"><img src="{{skin url='images/email-line.gif'}}"  style="margin-bottom:10px;" border="0"/></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:15px 30px;">
                    <h1 style="font-size:24px; font-weight:bold; line-height:24px; margin:0 0 11px 0;color:#28448d;">สวัสดีค่ะ คุณ {{htmlescape var=$customer.name}},</h1>
                    	<br/>
                    	<p style="font-size:13px; line-height:18px;color:#505050;margin: 0 0 16px 0;">ยินดีต้อนรับเข้าสู่ <a href="{{store url=""}}"  style="color:#28438c; text-decoration:none;" target="_blank">{{var store.getFrontendName()}}</a> โลกใบใหม่สำหรับคนรักสัตว์ เรายินดีเป็นอย่างยิ่งที่ท่านร่วมมาเป็นส่วนหนึ่งกับเรา และพร้อมเปิดรับความสุขและความสะดวกสบาย ในการซื้อสินค้าให้กับสัตว์เลี้ยงของท่านด้วยวิธีง่ายๆ</p>
                    	<br/>
                    	<p style="font-size:13px; line-height:18px;color:#505050;margin: 0 0 16px 0;">
<a href="{{store url=""}}"  style="color:#28438c; text-decoration:none;" target="_blank">{{var store.getFrontendName()}}</a> ร้านค้าออนไลน์สำหรับสัตว์เลี้ยง เรามีผลิตภัณฑ์หลากหลายยี่ห้อที่มีคุณภาพกว่า 1,000 รายการให้ท่านเลือกซื้อ ตลอด 24 ชั่วโมง เรามีบริการที่สะดวก รวดเร็ว ในการจัดส่งสินค้าให้ถึงมือท่านอย่างปลอดภัย ท่านและสัตว์เลี้ยงของท่านจะได้รับความสุขในบริการของเรา</p> 
                            
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                ข้อมูลของท่านสำหรับใช้ในการเข้าระบบ:<br/>
                                <strong>อีเมล์ท่าน</strong>: {{var customer.email}}<br/>
                            </p>
                            <br/>
                            <p style="font-size:13px; line-height:18px;color:#505050; margin:0;">หากท่านมีคำถามหรือข้อสงสัยใดๆ สามารถติดต่อเราได้ที่ <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a> หรือที่หมายเลขโทรศัพท์ 02 6362233</p>
                            <br/>
                            <span style="font-size:13px; line-height:18px;color:#505050;">ขอบพระคุณมากค่ะ</span>
                            <br/><br/>
                            <span style="font-size:13px; line-height:18px;color:#505050;font-weight:bold;">ทีมงาน  </span><span style="font-size:13px; line-height:18px;color:#28438c;font-weight:bold;">PetLoft </span>

                        </td>
                    </tr>
            <tr>
			    <td height="30"><img src="{{skin url='images/email-line.gif'}}"  style="margin-top:20px;" border="0"/></td>
			</tr>
			<tr>
				<td style="padding:20px;">
					<span style="font:normal 11px 'Arial';color:#505050; line-height:13px;">
					พบข้อสงสัยในการใช้บริการ 
ติดต่อแผนกลูกค้าสัมพันธ์ที่หมายเลข (02) 636 2233 ในเวลาทำการ จันทร์ – ศุกร์ 10.00 – 19.00 น. <br/>นอกเหนือเวลาดังกล่าวท่านสามารถติดต่อผ่านได้ที่อีเมล์  <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a> </span>
<br/><br/>
					<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
					กรุณาบันทึกอีเมล์ฉบับนี้ในสมุดที่อยู่ของคุณเพื่อจะทำให้แน่ใจว่าคุณได้รับอีเมล์ทุกฉบับจากเรา </span><br/><br/>
					<table cellpadding="0" cellspacing="0" width="590">
						<tr>
							<td width="450">
								<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
								อีเมล์ฉบับนี้ถูกส่งโดย Whatsnew Co., Ltd. <br/>เลขที่ 946 อาคารพาณิชย์ดุสิตธานี ชั้น 4 ถนนพระราม 4 แขวงสีลม เขตบางรัก กรุงเทพฯ 10500</span><br/><br/>
								<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
								<a href="{{store url="privacy-policy"}}" style="color:#505050; text-decoration:none;">ความเป็นส่วนตัว</a> | <a href="{{store url="contacts"}}" style="color:#505050; text-decoration:none;">ติดต่อเรา</a></span>
							</td>
							<td valign="bottom" align="right">
								<a href="https://www.facebook.com/petloftthai" target="_blank"><img src="{{skin url='images/email-facebook.gif'}}"  style="margin-right:10px;" border="0"/></a>
								<a href="https://twitter.com/PetLoft" target="_blank"><img src="{{skin url='images/email-twitter.gif'}}"  style="margin-right:10px;" border="0"/></a>
								<a href="https://plus.google.com/u/0/b/113812097105339950445/113812097105339950445/op/iph" target="_blank"><img src="{{skin url='images/email-google.gif'}}" border="0"/></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>