﻿<!--@subject Thank you for subscription @-->

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellpadding="0" cellspacing="0" width="650" border="0" style="font-size:0;">
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" width="650" border="0" style="font-size:0;">
				<tr>
					<td width="410" align="right">
						<span style="font-size:12px;color:#888888;font-family:tahoma;">
							<a href="{{var store_url}}" style="color:#0e4985;" target="_blank">คลิกที่นี่</a> เพื่อเข้าสู่ 
							<span style="color:#000;">venbi.com</span>
						</span>
					</td>
					<td width="240" align="right" height="45">
						<a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/search-edm-venbi.jpg'}}" style="border:0;"/></a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td height="10"></td></tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" width="650" border="0" style="font-size:0;">
				<tr>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-1.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-2.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-3.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-4.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-5.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-6.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-7.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var deals_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-8.jpg'}}" alt="deals" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-9.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-10.jpg'}}" style="border:0;"/></a></td>
					<td valign="top"><a href="{{var help_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-11.jpg'}}" alt="help" style="border:0;"/></a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-12.jpg'}}" style="border:0;"/></a></td>
	</tr>
	<tr>
		<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-13.jpg'}}" style="border:0;"/></a></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" width="650" border="0" style="font-size:0;">
				<tr>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-14.jpg'}}" style="border:0;"/></a></td>
					<td valign="middle" align="center" style="background-color:#4f6453;width: 156px;color:#fff;font:normal 18px 'Arial';">
						{{var coupon}}
					</td>
					<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-15.jpg'}}" style="border:0;"/></a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-16.jpg'}}" style="border:0;"/></a></td>
	</tr>
	<tr>
		<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-17.jpg'}}" style="border:0;"/></a></td>
	</tr>
	<tr>
		<td style="padding-left:10px;">
			<table style="background:#f9f9f9; border-left:1px solid #dedede; border-right:1px solid #dedede; width:640px;font-size:0;" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td style="padding:0 20px;" align="left">
						<h2 style="font-size:20px;color:#2947b9;font-family:tahoma;">สวัสดีค่ะคุณ {{var customer_name}}, </h2>
						<p style="font-size:12px;color:#3e3f3f;font-family:tahoma;">
						มอบของขวัญพิเศษประทับใจให้ทุกวันเกิดของลูกรัก และขอบคุณสำหรับข้อมูลของคุณ เพื่อความชัดเจนโปรดตรวจสอบและแก้ไขเพื่อความถูกต้องของข้อมูล เรามีความยินดีเป็นอย่างยิ่งที่จะมอบรหัสคูปองส่วนลดมูลค่า 100 บาท เพียงกรอกรหัสคูปองลงในช่องว่างของขั้นตอนสุดท้ายในการชำระเงิน
						</p>
						<p style="font-size:12px;color:#3e3f3f;font-family:tahoma;">
						ส่งฟรีสำหรับพื้นที่ภายในกรุงเทพมหานคร 
						</p>
						<p style="font-size:12px;color:#3e3f3f;font-family:tahoma;">
						xo - Venbi Team
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top"><a href="{{var store_url}}" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-18.jpg'}}" style="border:0;"/></a></td>
	</tr>
	<tr><td height="10"></td></td>
	<tr>
		<td valign="top"><a href="#" style="color:#0e4985;" target="_blank"><img src="{{skin url='images/thankyou-edm-venbi-19.jpg'}}" usemap="#MapVenbi"  style="border:0;"/></a></td>
	</tr>
</table>
<map name="MapVenbi" id="MapVenbi">
  <area shape="rect" coords="19,33,54,69" href="https://www.facebook.com/venbithai" target="_blank" />
  <area shape="rect" coords="61,33,95,69" href="http://www.youtube.com/user/VenbiThai" target="_blank" />
  <area shape="rect" coords="103,34,138,69" href="http://instagram.com/venbi_thailand" target="_blank" />
  <area shape="rect" coords="146,34,181,69" href="https://twitter.com/venbithai" target="_blank" />
</map>
</div>
</body>