<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxcartpro
 * @version    3.0.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<?php
?>
<div id="ajaxcartpro-progress" class="ajaxcartpro-box-hide">
    <?php if (Mage::getStoreConfig('ajaxcartpro/general/activityindicator')): ?>
        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'ajaxcartpro/' . Mage::getStoreConfig('ajaxcartpro/general/activityindicator') ?>" alt=""/>
    <?php else: ?>
        <!-- <img src="<?php echo $this->getSkinUrl('ajaxcartpro/images/al.gif'); ?>" alt=""/> -->
        	<div id="loaderImage"></div>
			<script type="text/javascript">
				var cSpeed=13;
				var cWidth=64;
				var cHeight=64;
				var cTotalFrames=8;
				var cFrameWidth=64;
				var cImageSrc='<?php echo $this->getSkinUrl('ajaxcartpro/images/loading.png'); ?>';
				
				var cImageTimeout=false;
				var cIndex=0;
				var cXpos=0;
				var cPreloaderTimeout=false;
				var SECONDS_BETWEEN_FRAMES=0;
				
				function startAnimation(){
					
					document.getElementById('loaderImage').style.backgroundImage='url('+cImageSrc+')';
					document.getElementById('loaderImage').style.width=cWidth+'px';
					document.getElementById('loaderImage').style.height=cHeight+'px';
					
					//FPS = Math.round(100/(maxSpeed+2-speed));
					FPS = Math.round(100/cSpeed);
					SECONDS_BETWEEN_FRAMES = 1 / FPS;
					
					cPreloaderTimeout=setTimeout('continueAnimation()', SECONDS_BETWEEN_FRAMES/1000);
					
				}
				
				function continueAnimation(){
					
					cXpos += cFrameWidth;
					//increase the index so we know which frame of our animation we are currently on
					cIndex += 1;
					 
					//if our cIndex is higher than our total number of frames, we're at the end and should restart
					if (cIndex >= cTotalFrames) {
						cXpos =0;
						cIndex=0;
					}
					
					if(document.getElementById('loaderImage'))
						document.getElementById('loaderImage').style.backgroundPosition=(-cXpos)+'px 0';
					
					cPreloaderTimeout=setTimeout('continueAnimation()', SECONDS_BETWEEN_FRAMES*1000);
				}
				
				function stopAnimation(){//stops animation
					clearTimeout(cPreloaderTimeout);
					cPreloaderTimeout=false;
				}
				
				function imageLoader(s, fun)//Pre-loads the sprites image
				{
					clearTimeout(cImageTimeout);
					cImageTimeout=0;
					genImage = new Image();
					genImage.onload=function (){cImageTimeout=setTimeout(fun, 0)};
					genImage.onerror=new Function('alert(\'Could not load the image\')');
					genImage.src=s;
				}
				
				//The following code starts the animation
				new imageLoader(cImageSrc, 'startAnimation()');
			</script>
    <?php endif; ?>
    <p><?php echo $this->__('Please wait...') ?></p>
</div>
