<?php
/**
 * J2T RewardsPoint2
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@j2t-design.com so we can send you a copy immediately.
 *
 * @category   Magento extension
 * @package    RewardsPoint2
 * @copyright  Copyright (c) 2009 J2T DESIGN. (http://www.j2t-design.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<div class="dashboard">
    <div class="page-title">
        <h1 style="float: left;"><?php echo $this->__('My Dashboard') ?></h1>
        <?php $customerData = Mage::getSingleton('customer/session')->getCustomer(); ?>
        <h1 style="float: right;"><?php echo $this->__('Customer ID: %d', $customerData->getId()) ?></h1>
        <div class="clearfix"></div>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('hello') ?>
    <?php echo $this->getChildHtml('top') ?>

    <div class="account-box ad-account-info box">
        <div class="box-account box-recent">
            <div class="box-head">
                <h2><?php echo $this->__('Points') ?></h2>
            </div>
            <?php echo $this->getChildHtml('points') ?>
        </div>
    </div>

    <div class="box-account box-info">
        <!-- div class="box-head">
            <h2><?php echo $this->__('Account Information') ?></h2>
        </div -->
        <?php /* Extensions placeholder */ ?>
        <?php echo $this->getChildHtml('customer.account.dashboard.extra') ?>
        <?php echo $this->getChildHtml('info') ?>
        <?php echo $this->getChildHtml('address') ?>
    </div>


<?php echo $this->getChildHtml('info1') ?>
<?php echo $this->getChildHtml('info2') ?>
</div>
