<?php
$_indexes     = $this->getIndexes();
$_cntNotEmpty = 0;
foreach ($_indexes as $_index) {
    if ($_index->getCountResults() && $_index->getContentBlock()->getIsVisible()) {
        $_cntNotEmpty++;
    }
}
?>
<?php if ($_cntNotEmpty >= 1): ?>
<ul class="searchindex-results">
<?php foreach ($_indexes as $_index): ?>
    <?php if ($_index->getCountResults()
        && ($_index->getContentBlock()->getIsVisible() == true || $_index->getCode() == 'catalog')): ?>
        <?php if ($_index == $this->getCurrentIndex()): ?>
        <li class="active">
        <?php else: ?>
        <li>
        <?php endif ?>
            <a href="<?php echo $this->getIndexUrl($_index) ?>"><?php echo $_index->getTitle() ?>&nbsp;<span>(<?php echo $_index->getCountResults() ?>)</span></a>
        </li>
    <?php endif ?>
<?php endforeach ?>
</ul>
<?php endif ?>
<div class="page-title">    
    <h1><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h1>    
</div>
<?php if ($_index->getCountResults() >= 1) { echo $this->getLayout()->createBlock('cms/block')->setBlockId('search_banner')->toHtml(); } ?>

<?php if ($this->getCurrentIndex()->getCode() == 'catalog'): ?>
    <?php echo $this->getChildHtml('searchindex_result_category') ?>
<?php endif ?>

<?php echo $this->getCurrentContent() ?>
