<?php
$_product    = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
?>

<?php if ($_product->isSaleable() && count($_attributes)):?>
    <?php //$config = $this->getJsonConfig() ?>
    <dl>
    <?php foreach($_attributes as $_attribute): ?>
        <dt><label class="required"><em>* </em><?php echo $_attribute->getLabel() ?></label></dt>            
            <dd<?php if ($_attribute->decoratedIsLast){?> class="last"<?php }?>>
                <div class="input-box">
                    <?php 
                        $packLabel = $_product->getAttributeText('packaging_label_header');
                        if(!$packLabel) {
                            $packLabel = 'Qty';
                        }
                        $packagingMeasurement = $_product->getAttributeText('pet_food_cost_per_type');
                        if(!$packagingMeasurement) {
                            $packagingMeasurement = 'Item';
                        }
                    ?>
                    <table id="product<?php echo $_product->getId()?>_attribute<?php echo $_attribute->getAttributeId() ?>" class="super-attribute-select_<?php echo $_product->getId()?>">
                        <thead>
                            <tr>
                                <td><?php echo $this->__($packLabel) ?></td>
                                <td><?php echo $this->__('Weight') ?></td>                    
                                <td><?php echo $this->__('Price').'/'. $this->__($packagingMeasurement) ?></td>
                                <td><?php echo $this->__('Our Price') ?></td>          
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </dd>
    <?php endforeach; ?>    
    </dl>
    <!--<div class="total-box">
        <label for="total"><?php /*echo $this->__('Total:') */?></label>
        <span id="total"></span>
    </div>-->
    

    <script type="text/javascript">
        var spConfig_<?php echo $_product->getId()?> = new Product.Config(<?php echo $this->getJsonConfig() ?>);
    </script>
<?php endif;?>