<?php /** @var Petloft_All_Block_Html_Globalheader $this */ ?>
<?php $_links = $this->getLinks(); ?>
<?php if(count($_links)>0): ?>
    <ul class="links"<?php if($this->getName()): ?> id="<?php echo $this->getName() ?>"<?php endif;?>>
        <?php foreach ($_links as $_link): ?>
            <li<?php if ($_link->getIsFirst() || $_link->getIsLast()): ?> class="<?php if ($_link->getIsFirst()): ?>first<?php endif; ?><?php if ($_link->getIsLast()): ?> last<?php endif; ?>"<?php endif; ?> <?php echo $_link->getLiParams() ?>><?php echo $_link->getBeforeText() ?>
                <?php $label = preg_replace('/\s+/', '', $_link->getLabel()) ?>
                <?php if (($_link->getTitle() == 'CustomerName') && ($label != '')): ?>
                    <span class="welcome-username-title">
                        <?php echo $this->__('Hi, ') ?>
                        <?php echo $_link->getLabel() ?>
                    </span>
                <?php endif; ?>
                <?php echo $_link->getAfterText() ?>
            </li>
        <?php endforeach; ?>
    </ul>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.username-block').click(function () {
                jQuery('.username-block .mycart-checkout-flag-links').toggle(200);
            });
        });

        jQuery(document).mouseup(function (e)
        {
            var clicker = jQuery('.username-block');
            var container = jQuery(".username-block .mycart-checkout-flag-links");
            if ((!container.is(e.target) && container.has(e.target).length === 0) && (!clicker.is(e.target) && clicker.has(e.target).length === 0)) {
                container.hide(200);
            }
        });
    </script>
<?php endif; ?>