<div id="emst_ajax_pop_up">
    <!-- <span class="button b-close"><span>X</span></span> -->
	<!--<img id="emst_popup_loading" style="display:none;" class="b-loading" src="<?php echo $this->getSkinUrl('images/spinner.gif')?>"/>
	<img id="emst_popup_submit_loading" style="display:none;" class="b-loading" src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>"/>-->
	<div class="emst_content"></div>
</div>