<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    //<![CDATA[
    Translator.add('L.', '<?php echo $this->__('L.'); ?>');
    Translator.add('kg.', '<?php echo $this->__('kg.'); ?>');
    Translator.add('g.', '<?php echo $this->__('g.'); ?>');
    // var optionsPrice = {};
    // optionsPrice[<?php echo $_product->getId() ?>] = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);	
	if(!optionsPrice || !optionsPrice[<?php echo $_product->getId() ?>]) {		
		var optionsPrice = {};
        <?php
        /** @var $_product Mage_Catalog_Model_Product */
        if($_product->getTypeId() == "bundle"):
        ?>
        optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
        <?php else: ?>
        optionsPrice[<?php echo $_product->getId() ?>] = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
        <?php endif; ?>
	}
	function handleJsFunctions() {
		if(typeof j2tHandleQty == 'function'){j2tHandleQty();}
		if(typeof productCustomOpCalJ2t == 'function'){productCustomOpCalJ2t();}
		if(typeof productDownloadCalJ2t == 'function'){productDownloadCalJ2t();}
		if(typeof groupPrCalJ2t == 'function'){groupPrCalJ2t();}
		if(typeof bundCalJ2t == 'function'){bundCalJ2t();}
		if(typeof preCalJ2t == 'function'){preCalJ2t();}
		var rewardsEl = $$("[class ^= 'j2t-loyalty-points']").first();
		if(rewardsEl){rewardsEl.setStyle({'padding':'12px 0px 0px 0px','width':'41%'});} //{'padding-top':'13px','width':'43%'}		
		$$("[id ^='product<?php echo $_product->getId();?>']").each(function(tbl){tbl.removeAttribute('disabled');});
		var elRef = jQuery("#ref");
        if (elRef.val()!="") {
            jQuery(".buy-bt").attr('ref', elRef.val());
            elRef.val("");
        }
		var buyButton = $$("form[id ^= 'popup_product_addtocart_form_'] div[class = 'add-to-cart'] button[type=button][class ^= 'button']").first();
		if(buyButton) {
			buyButton.setAttribute('onclick','EMSTProductAddToCartForm.submit(this)');
		}
	}
    //]]>
</script>
<input type="hidden" id="ref" value="" />
<div id="messages_product_view" align='center' class='bpopup-message'><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
	<!-- <div class="page-title">
        <h1>product name</h1>
    </div> -->
    <div class="product-essential">
    <form action="<?php echo $this->getUrl('ajaxcart/index/addToCart') ?>" method="post" id="popup_product_addtocart_form_<?php echo $_product->getId() ?>" class="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-shop">
            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>
            <?php if (!$this->hasOptions()):?>
                <?php if ($_product->isSaleable()): ?>
                <div class="product-options">
                    <?php 
                        echo $this->getLayout()
                                    ->createBlock('petloftall/simpleproducttable')
                                    ->toHtml();
                    ?>
                </div>
                <?php endif; ?>
                <?php if($_product->isSaleable()): ?>
                <div class="total-box">
                    <label for="total"><?php echo $this->__('Total:') ?></label>
                    <span id="total"></span>
                </div>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                        <!-- <?php //if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                            <span class="or"><?php //echo $this->__('OR') ?></span>
                        <?php //endif; ?> -->
                    <?php endif; ?>
                    <?php //echo $this->getChildHtml('addto') ?>
                </div>
                <?php else: ?>
                <div class="add-to-cart">
                    <a href="<?php echo $this->getUrl('contacts')?>" class="out-of-stock"><span><?php echo $this->__('Sold Out') ?></span></a>
                </div>
                <?php endif; ?>
                <?php echo $this->getChildHtml('extra_buttons') ?>            
            <?php elseif($this->hasOptions()): ?>
                <?php if (!$_product->isSaleable()): ?>
                    <div class="add-to-cart">
                        <a href="<?php echo $this->getUrl('contacts')?>" class="out-of-stock"><span><?php echo $this->__('Sold Out') ?></span></a>
                    </div>
                <?php endif; ?>
            <?php endif; ?>

            <?php echo $this->getChildHtml('other');?>

            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>
        </div>
        <div class="clearer"></div>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif;?>
    </form>
    </div>    
</div>