<div id="messages_product_view" align='center' class='bpopup-message'><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<style>
#ajaxcartpro-add-confirm{-webkit-border-radius: 5px !important;-moz-border-radius: 5px !important;border-radius: 5px !important;}
.popupproductimage img{border: 1px solid #cacaca}
</style>
<table>
	<tr>
		<td valign="top" class="popupproductimage" colspan="2" style="text-align: center;""><?php echo $this->getProductImage();?></td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td colspan="2" style="padding:5px 20px 0 20px;"><img src='<?php echo $this->getSkinUrl('images/media/hd-add-to-cart-en.jpg');?>'></td>
				</tr>
				<tr>
					<td colspan="2" valign="top" class="ajax-product-name" style="text-align:left;color: #6b6b6b;padding-left: 23px;font-size: 14px;height: 31px;overflow: hidden;" width="279">
						<?php echo $this->getProductName(); ?>
					</td>
				</tr>
				<tr>
					<td class="ajax-confirm-checkout" style="text-align:center;">
						<a href="<?php echo Mage::getUrl('checkout/cart')?>" class="aw-acp-checkout"><?php echo $this->__('View cart &amp; checkout')?></a>
					</td>
					<td class="ajax-confirm-checkout" style="text-align:center;">
						<a href="#" id='emst_continue_shopping' class="aw-acp-continue" class="focus" ><?php echo $this->__('Continue shopping')?></a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<script type="text/javascript">
//<![CDATA[
	if($('emst_continue_shopping')) {
		Event.observe('emst_continue_shopping','click', function(e) {
			Event.stop(e);
			jQuery('#emst_ajax_pop_up').bPopup().close();
		});
	}
//]]>
</script>