<fieldset>
	<div id="payment_form_<?php echo $this->getMethodCode() ?>" class="pm-description" style="border:1px solid #eae9e9; background-color:#fcfcfc;display:none">
	<?php echo $this->getMethod()->getCustomText(); ?>
	<!--[if IE]><div class="corner leto"></div><div class="corner rito"></div><div class="corner lebo"></div><div class="corner ribo"></div><![endif]-->
	</div>
</fieldset>