<?php
    $_product = $this->getProduct();
    $attr = $this->getAttr();
    $_helper = $this->helper('catalog/output');
    $check = 0;
    $instock = true;
    $swatchesHtml = "";
    $aClass = "";
    $notify = 0;

    $plan1 = Mage::getModel('recurringandrentalpayments/plans_product')->getCollection()
    ->addFieldToFilter('product_id',$_product->getId());

    foreach($plan1 as $plan2) {
        $productPlan = Mage::getModel('recurringandrentalpayments/plans')->load($plan2->getData('plan_id'));
        if ($productPlan->getData('plan_status') == 1) {
            $check++;
        }
    }
    if ($_product->isGrouped()) {
        $instock = Mage::helper('sales')->checkInstockGroupCustom($_product->getId());
    }
    // if product is configurable product
    /** @var Mage_Catalog_Model_Product $_product */
    if ($_product->getTypeId() == "configurable") {
        $attrs = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
        $swatchesHtml = '<ul id="color-swatches-listing-page">';

        foreach ($attrs as $at) {
            $colorAttributes = array('color', 'colors', 'color_electronic');

            if (in_array($at['attribute_code'], $colorAttributes)) {

                foreach ($at['values'] as $value) {
                    $defaultValue = Mage::getResourceModel('eav/entity_attribute_option_collection');
                    $defaultValue->setStoreFilter(0)
                        ->addFieldToFilter('tsv.option_id', $value['value_index'])
                        ->getFirstItem();
                    $label = $defaultValue->getData()[0]['default_value'];
                    $label = str_replace(' ', '-', $label);
                    $swatchesHtml .= '<li><img width="10px" height="10px" src="' . Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'wysiwyg/swatches/' . strtolower($label) . '.png' . '"/></li>';
                }
            }
        }
        $swatchesHtml .= "</ul>";
        $aClass = "color-swatches-border";
    }
?>

<!-- PRODUCT COL -->
<div class="col-6 col-sm-4 product-col">
    <!-- PRODUCT CARD -->
    <?php if ($_product->isSaleable()): ?>
    <div class="product-card">
    <?php else: ?>
    <div class="product-card disabled">
    <?php endif; ?>
        <!-- ADD TO CART BUTTON -->
        <?php if ($_product->isSaleable() && $instock ): ?>
            <?php if ($_product->isSaleable() && $instock && $_product->getTypeId() == 'simple'): ?>
                <?php if ($plan1->getSize() > 0 && $check > 0): ?>
                    <button 
                        class="add-to-cart btn-view-product"
                        onclick="setLocation('<?php echo $_product->getProductUrl() ?>');">
                        <?php echo $this->__('Add to Cart') ?>
                    </button>
                <?php else: ?>
                    <button 
                        data-url="<?php echo $this->getUrl('improvement/cart/addcart'); ?>" 
                        data-product= "<?php echo $_product->getId() ?>" 
                        class="add-to-cart btn-add-cart"
                        onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');">
                        <?php echo $this->__('Add to Cart') ?>
                    </button>
                <?php endif; ?>
            <?php elseif ($_product->isSaleable() && $instock && $_product->getTypeId() == 'configurable'): ?>
                <button class="add-to-cart btn-view-product" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
                    <?php echo $this->__('View') ?>
                </button>
            <?php else :?>
                <button class="add-to-cart" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
                    <?php echo $this->__('View') ?>
                </button>
            <?php endif; ?>
        <?php else: ?>
            <button class="add-to-cart disabled" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
                <?php echo $this->__('View') ?>
                <?php $_url = $this->getUrl('outofstocksubscription') ?>
            </button>
        <?php endif; ?> <!-- END ADD TO CART BUTTON -->

        <!-- NOTIFY OUT OF STOCK -->
        <?php if (!$_product->isSaleable() || !$instock ): ?>
            <div class="catalog-notify-box">
                <button  id="product-notify-me_<?php echo $_product->getId()?>" class="button product-notify-me" onclick="
                    document.getElementById('product-notify-me_<?php echo $_product->getId()?>').style.opacity='0';
                    document.getElementById('product-notify-me_<?php echo $_product->getId()?>').style.height='0';
                    document.getElementById('product-notify-span_<?php echo $_product->getId()?>').style.height='0';
                    document.getElementById('product-notify-block_<?php echo $_product->getId()?>').style.opacity='1';
                    return false;" >
                    <span id="product-notify-span_<?php echo $_product->getId()?>" class="product-notify-span">Notify me when available</span>
                </button>
            </div>

            <form action="<?php echo $_url ?>"  method="post" id="product_addtocart_form_<?php echo $_product->getId() ?>" class="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <div class="no-display">
                    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                    <input type="hidden" name="related_product" id="related-products-field" value=""/>
                </div>

                <div class="product-options notify-me product-notify-block" id="product-notify-block_<?php echo $_product->getId() ?>">
                    <div class="block-notify">
                        <div class="notify-button">
                            <div class="notify-input">
                                <input type="email" id="subscription_email" name="subscription_email" value="<?php if ($_customer) { echo $_customer->getEmail(); } ?>" class="input-text required-entry validate-email" placeholder="john@gmail.com "/>
                            </div>

                            <div class="button-set">
                                <input type="hidden" name="store_id" value="<?php echo Mage::app()->getStore()->getId() ?>">
                                <button class="btn-notify-me btn-notify-me-oos" type="submit"><span><?php echo $this->__('Notify me') ?></span></button>
                            </div>
                        </div>                          
                    </div>
                </div>
            </form>
        <?php endif; ?> <!-- END NOTIFY OUT OF STOCK -->

        <!-- OVERLAY -->
        <a href="<?php echo $_product->getProductUrl() ?>">
            <div class="overlay"></div>
        </a> <!-- END OVERLAY -->

        <!-- PRODUCT IMAGE -->
        <div class="product-image">
            <?php //echo $this->getChildHtml('promotion_flag'); ?>

            <?php if ($_product->isSaleable() && $_product->getData('promotion_flag')) : ?>
                <div class="badge promo-flag">
                    <img src="<?php echo $this->getSkinUrl('images/express_rocket.png'); ?>">
                    <?php echo " " . $this->__($_product->getData('promotion_message')); ?>
                </div>
            <?php endif; ?>

            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                <?php if(!Mage::getSingleton('customer/session')->isLoggedIn()) : ?>
                    <a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>" id="my-login-id" class="link-wishlist-catalog">
                        <button class="wishlist" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">Add to Wishlist</button>
                    </a>
                <?php endif; ?>
                <?php if(Mage::getSingleton('customer/session')->isLoggedIn()) : ?>
                <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product); ?>" class="link-wishlist-catalog">
                    <button class="wishlist" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">Add to Wishlist</button>
                </a>    
            <?php endif; ?>  
            <?php endif; ?>

            <a href="<?php echo $_product->getProductUrl() ?>">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(220, 180)->setQuality(100); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
                <?php if ($swatchesHtml != null): ?><?php echo $swatchesHtml ?><?php endif; ?>
            </a>
        </div> <!-- END PRODUCT IMAGE -->

        <!-- PRODUCT INFO BLOCK -->
        <div class="product-info-block">
            <div class="price-block">
                <?php echo $this->getLayout()->createBlock('catalog/product_price')->setTemplate('catalog/product/price.phtml')->setProduct($_product)->toHtml(); ?>
                
                <!-- AUTOSHIP -->
                <?php if ($plan1->getSize() > 0 && $check > 0): ?>
                    <?php
                        $subHelper = Mage::helper('recurringandrentalpayments') ;
                        $plans_product = Mage::getModel('recurringandrentalpayments/plans_product')->load($_product->getId());
                        $plan = Mage::getModel('recurringandrentalpayments/plans')->load($plans_product->getPlanId());
                        $planId = $plan->getId();
                    ?>
                    <div class="autoship">
                        <img src="<?php echo $this->getSkinUrl('images/autoship.png'); ?>">
                        <?php echo $this->__('Autoship')?> <?php echo $subHelper->getBestAveragePrice($planId,$_product->getId()); ?>
                    </div>
                <?php endif; ?> <!-- END AUTOSHIP -->
            </div>
            <div class="product-info">
                <?php if ($_product->getData('all_brands')) : ?>
                    <span class="brand"><?php echo $attr->getSource()->getOptionText($_product->getData('all_brands')); ?></span>
                <?php endif; ?>
                <span class="name">
                    <a href="<?php echo $productUrl; ?>"><?php echo $_product->getName(); ?></a>
                </span>
                <span class="review">
                    <?php echo $this->getReviewsSummaryHtml($_product, false , true) ?>
                </span>
            </div>
        </div> <!-- END PRODUCT INFO BLOCK -->
    </div> <!-- END PRODUCT CARD -->
</div> <!-- END PRODUCT COL -->