<?php $_product = $this->getProduct(); ?>

<!-- PROMOTION FLAG -->
<?php if($_product->isSaleable() && $_product->getData('promotion_flag')) :?>
    <div class="badge promo-flag">
        <img src="<?php echo $this->getSkinUrl('images/express_rocket.png'); ?>">
        <?php echo " " . $this->__($_product->getData('promotion_message')); ?>
    </div>
<?php endif; ?> <!-- END PROMOTION FLAG -->