<!--@subject {{var store.getFrontendName()}}: {{var subject}} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
.awrma-datatable { border-collapse: collapse; }
.awrma-datatable th { font-size: 12px; }
.awrma-datatable td, .awrma-datatable th { padding: 3px; }
@-->



<body style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="590">
            <!-- [ header starts here] -->
            <tr>
                <td valign="middle" style="padding: 0 25px;" height="80"><a href="{{store url=""}}"><img src="{{skin url='images/logo_email.gif'}}" alt="{{var logo_alt}}" border="0"/></a></td>
            </tr>
            <tr>
                <td height="10"><img src="{{skin url='images/email-line.gif'}}"  style="margin-bottom:10px;" border="0"/></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:15px 30px;">
                    <h1 style="font-size:24px; font-weight:bold; line-height:24px; margin:0 0 11px 0;color:#28448d;">สวัสดีค่ะ คุณ {{var request.getCustomerName()}}!</h1>
                    	<br/>
                    	<p style="font-size:13px; line-height:18px;color:#505050;margin: 0 0 16px 0;">
                    		{{var content}}
							{{depend request.getNotifyHasComment()}}
							{{var request.getCustomerName()}} has left a comment:<br />
							{{var request.getNotifyCommentText()}}
							{{/depend}}</p>
						    <br/>
						<p style="font-size:13px; line-height:18px;color:#505050;margin: 0 0 16px 0;">คุณสามารถจัดการคำร้องของคุณทางลิ้งค์นี้ <a href="{{var request.getAdminUrl()}}">{{var request.getAdminUrl()}}</a></p>
						
                    	
                    	<br/>
                    	
                            
                            
                        <p style="font-size:13px; line-height:18px;color:#505050; margin:0;">หากท่านมีคำถามหรือข้อสงสัยใดๆ สามารถติดต่อเราได้ที่ <a href="mailto:support@venbi.com" style="color:#28438c; text-decoration:none;">support@venbi.com</a> หรือที่หมายเลขโทรศัพท์ 02 6362233</p>
                        <br/>
                        <span style="font-size:13px; line-height:18px;color:#505050;">ขอบพระคุณมากค่ะ</span>
                            <br/><br/>
                            <span style="font-size:13px; line-height:18px;color:#505050;font-weight:bold;">ทีมงาน  </span><span style="font-size:13px; line-height:18px;color:#28438c;font-weight:bold;">Venbi </span>

                        </td>
                    </tr>
            <tr>
			    <td height="30"><img src="{{skin url='images/email-line.gif'}}"  style="margin-top:20px;" border="0"/></td>
			</tr>
			<tr>
				<td style="padding:20px;">
					<span style="font:normal 11px 'Arial';color:#505050; line-height:13px;">
					พบข้อสงสัยในการใช้บริการ 
ติดต่อแผนกลูกค้าสัมพันธ์ที่หมายเลข (02) 636 2233 ในเวลาทำการ จันทร์ – ศุกร์ 10.00 – 19.00 น. <br/>นอกเหนือเวลาดังกล่าวท่านสามารถติดต่อผ่านได้ที่อีเมล์  <a href="mailto:support@venbi.com" style="color:#28438c; text-decoration:none;">support@venbi.com</a> </span>
<br/><br/>
					<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
					กรุณาบันทึกอีเมล์ฉบับนี้ในสมุดที่อยู่ของคุณเพื่อจะทำให้แน่ใจว่าคุณได้รับอีเมล์ทุกฉบับจากเรา </span><br/><br/>
					<table cellpadding="0" cellspacing="0" width="590">
						<tr>
							<td width="450">
								<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
								อีเมล์ฉบับนี้ถูกส่งโดย Whatsnew Co., Ltd. <br/>เลขที่ 946 อาคารพาณิชย์ดุสิตธานี ชั้น 4 ถนนพระราม 4 แขวงสีลม เขตบางรัก กรุงเทพฯ 10500</span><br/><br/>
								<span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
								<a href="{{store url="privacy-policy"}}" style="color:#505050; text-decoration:none;">ความเป็นส่วนตัว</a> | <a href="{{store url="contacts"}}" style="color:#505050; text-decoration:none;">ติดต่อเรา</a></span>
							</td>
							<td valign="bottom" align="right">
                                <a href="https://www.facebook.com/venbithai" target="_blank"><img src="{{skin url='images/email-facebook.gif'}}"  style="margin-right:10px;" border="0"/></a>
                                <a href="https://twitter.com/venbithai" target="_blank"><img src="{{skin url='images/email-twitter.gif'}}"  style="margin-right:10px;" border="0"/></a>
                                <a href="http://www.youtube.com/user/TheVenbi" target="_blank"><img src="{{skin url='images/email-youtube.gif'}}" border="0"/></a>
                            </td>
						</tr>
					</table>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>