<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php if($_productCollection->count()): ?>
    <?php
    $categoryId = $this->getCategoryId();
    $category = Mage::getModel('catalog/category')->load($categoryId);
    $categoryUrl = $this->helper('catalog/category')->getCategoryUrl($category);
    ?>
    <div class="category-products">
        <div class="slide-header">
            <h1 class="title">
                <?php
                    if ($categoryId == 689) {
                        echo $this->__('Best Selling');
                    } else if ($categoryId == 690) {
                        echo $this->__('Feature Product');
                    } else if ($categoryId == 691) {
                        echo $this->__('New Product');
                    } else {
                        echo $this->__($category->getName());
                    }
                ?>
            </h1>
            <span class="more"><a href="<?php echo $categoryUrl ?>"><?php echo $this->__('See all') ?></a></span>
        </div>
        <ul class="slide-product" id="slideProduct<?php echo $categoryId ?>">
            <?php foreach ($_productCollection as $_product): ?>
                <li>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
                        <div class="wrap">
                            <div class="product-image">
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                            </div>
                            <div class="product-shop">
                                <header>
                                    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </header>
                            </div>
                        </div>
                    </a>
                    <div class="actions">
                        <ul>
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="i-send-wishlist"><i></i><?php echo $this->__('Add to favourite') ?></a></li>
                            <?php endif; ?>
                            <li><a href="<?php echo $this->getAddToCartUrl($_product) ?>" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>'); return false;" class="i-add-to-cart"><i></i><?php echo $this->__('Buy') ?></a></li>
                        </ul>
                    </div>
                </li>
            <?php endforeach ?>
        </ul>
    </div>
<?php endif; ?>