#evolvedcaching_entries_table tr.expired { color:#999; }
#evolvedcaching_entries_table tr.expired td.expired span { display:none; }
.evolvedcaching-entries-index p.expired_comment { clear:left; padding-top:5px; }