<!--footer_links:-->
<div class="footer_links information">
    <h2>Information</h2>
    <div>
        <ul>
            <li><a href="{{store url='contacts'}}">Contact Us</a></li>
            <li><a href="{{store url='return-policy'}}">Return Policy</a></li>
            <li><a href="{{store url='about-us'}}">About Us</a></li>
            <li><a href="{{store url='terms-and-conditions'}}">Terms &amp; Conditions</a></li>
            <li><a href="{{store url='privacy-policy'}}">Privacy Policy</a></li>
        </ul>
    </div>
</div>
<div class="footer_links help">
    <h2>Help</h2>
    <div>
        <ul>
            <li><a href="{{store url='help'}}">FAQ</a></li>
            <li><a href="{{store url='help'}}#howtoorder">How To Order</a></li>
            <li><a href="{{store url='help'}}#payments">Payments</a></li>
            <li><a href="{{store url='help'}}#shipping">Shipping &amp; Delivery</a></li>
            <li><a href="{{store url='help'}}#rewardpoints">Reward Points</a></li>
            <li><a href="{{store url='help'}}#returns">Cancellation &amp; Returns</a></li>
        </ul>
    </div>
</div>
<div class="footer_links follow">
    <h2>Follow Us</h2>
    <div>
        <ul>
            <li><a href="https://www.facebook.com/petloftthai">Facebook</a></li>
            <li><a href="https://twitter.com/PetLoft">Twitter</a></li>
            <li><a href="https://plus.google.com/u/0/b/113812097105339950445/113812097105339950445/op/iph">Google</a></li>
            <li><a href="http://blog.petloft.com/">PetLoft Blog</a></li>
        </ul>
    </div>
</div>



<!--footer_top:-->
<div id="footerBanner" class="footer-top">
    <div class="text-banner-footer">BUY NOW - <strong><a href="{{store url='help'}}#shipping">Get Free Shipping!</a></strong></div>
</div>

<!--home:-->
<p>{{block type="cms/block" block_id="slider_1"}}</p>
<p>{{block type="cms/block" block_id="cash_on_delivery"}}</p>
<p>{{block type="petloftcatalog/product_recommend" name="home.catalog.product.list" alias="products_homepage" category_id="689" template="catalog/product/recommend.phtml"}}</p>
<p>{{block type="petloftcatalog/product_recommend" name="home.catalog.product.list" alias="products_homepage" category_id="690" template="catalog/product/recommend.phtml"}}</p>
<p>{{block type="petloftcatalog/product_recommend" name="home.catalog.product.list" alias="products_homepage" category_id="691" template="catalog/product/recommend.phtml"}}</p>
<p>{{block type="cms/block" block_id="all-brands-slider"}}{{block type="cms/block" block_id="seo-keyword"}}</p>

<!--slider_1-->
<ul id="slides">
    <li><a href="#"><img src="{{media url='wysiwyg/petloft-mobile-homebanner-1.jpg'}}" alt="Banner 1"></a></li>
    <li><a href="#"><img src="{{media url='wysiwyg/petloft-mobile-homebanner-2.jpg'}}" alt="Banner 2"></a></li>
    <li><a href="#"><img src="{{media url='wysiwyg/petloft-mobile-homebanner-3.jpg'}}" alt="Banner 3"></a></li>
</ul>

<!--all-brands-slider:-->
<div id="brandslide">
    <h1 class="title">Our Brands</h1>
    <ul id="brand-slides">
        <li><a href="{{store url='cat-food/cat-food-brands/toro-toro.html'}}"><img src="{{media url="wysiwyg/petloft-torotoro-cat-food-homepage-banner.jpg"}}" alt="Toro Toro cat snacks" /></a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/cesar.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/cesar.jpg"}}" alt="Cesar" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/science-diet.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/science-diet.jpg"}}" alt="Science Diet" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/whiskas.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/whiskas.jpg"}}" alt="Whiskas" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/royal-canin.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/royal-canin.jpg"}}" alt="Royal Canin" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/pedigree.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/pedigree.jpg"}}" alt="Pedigree" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/alpo.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/alpo.jpg"}}" alt="Alpo" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/dog-n-joy.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/dog-n-joy.jpg"}}" alt="Dog'n Joy" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/dr-luvcare.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/dr-luvcare.jpg"}}" alt="Dr. LuvCare" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/earthborn.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/earthborn.jpg"}}" alt="Earthborn" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/jerhigh.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/jerhigh.jpg"}}" alt="Jerhigh" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/perfecta.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/perfecta.jpg"}}" alt="Perfecta" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/pro-pac.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/pro-pac.jpg"}}" alt="Pro Pac" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/pro-plan.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/pro-plan.jpg"}}" alt="Purina Proplan" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/sleeky.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/sleeky.jpg"}}" alt="Sleeky" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/smartheart.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/smartheart.jpg"}}" alt="Smartheart" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/bellotta.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/bellotta.jpg"}}" alt="Bellotta" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/friskies.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/friskies.jpg"}}" alt="Friskies" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/purina.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/purina.jpg"}}" alt="Purina One" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/pinnacle.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/pinnacle.jpg"}}" alt="Pinnacle" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/meo.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/meo.jpg"}}" alt="Me-O" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/zeal.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/zeal.jpg"}}" alt="Zeal" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/catsan.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/catsan.jpg"}}" alt="Catsan" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/cat-s-best.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/cat-s-best.jpg"}}" alt="Cat's Best" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/ketty-love.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/ketty-love.jpg"}}" alt="Ketty Love" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/frontline.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/frontline.jpg"}}" alt="Frontline Plus" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/heartgard.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/heartgard.jpg"}}" alt="Heartgard" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/happy-molly.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/happy-molly.jpg"}}" alt="Happy Molly" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/avoderm.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/avoderm.jpg"}}" alt="AvoDerm" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/maxima.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/maxima.jpg"}}" alt="Maxima" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/1st-choice.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/1st-choice.jpg"}}" alt="1st Choice" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/dental-fresh.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/dental-fresh.jpg"}}" alt="Dental Fresh" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/monge-fresh.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/monge-fresh.jpg"}}" alt="Monge" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/petsown.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/petsown.jpg"}}" alt="Pet's Own" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/petstage.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/petstage.jpg"}}" alt="Petstage" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/petzlife.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/petzlife.jpg"}}" alt="PetzLife" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/pronature-holistic.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/pronature-holistic.jpg"}}" alt="Pronature Holistic" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/richard-organic.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/richard-organic.jpg"}}" alt="Richard Organic" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/shed-x-dermaplex.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/shed-x-dermaplex.jpg"}}" alt="Shed-X Dermaplex" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/sukina-petto.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/sukina-petto.jpg"}}" alt="Sukina Petto" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/touchdog.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/touchdog.jpg"}}" alt="Touchdog" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/veterinary-formula.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/veterinary-formula.jpg"}}" alt="Veterinary Formula" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/vitalife.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/vitalife.jpg"}}" alt="Vitalife" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/x-treme-catnip.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/x-treme-catnip.jpg"}}" alt="X-Treme Catnip" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/superdesign.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/superdesign.jpg"}}" alt="Super Designs" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/engage.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/engage.jpg"}}" alt="Engage Eco Products" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/dogkery.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/dogkery.jpg"}}" alt="Dogkery" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/greenpet.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/greenpet.jpg"}}" alt="Green Pet" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/homepet-thailand.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/homepet-thailand.jpg"}}" alt="Homepet Thailand" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/puppe.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/puppe.jpg"}}" alt="Puppe' Pet Cloths" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/cat-n-joy.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/cat-n-joy.jpg"}}" alt="Cat'n Joy" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/condoa-a-a.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/catcondo.jpg"}}" alt="Cat Condos" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/petsafe.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/petsafe.jpg"}}" alt="Petsafe" /> </a></li>
        <li><a href="{{store url='cat-food/cat-food-brands/petmade.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/petmade.jpg"}}" alt="Petmate" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/barketek.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/barketek.jpg"}}" alt="Barketek" /> </a></li>
        <li><a href="{{store url='dog-food/dog-product-brands/pet-pee-pad.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/pet-pee-pad.jpg"}}" alt="Pet Pee Pad" /> </a></li>
        <li><a href="{{store url='fish-products/fish-product-brands/okane.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/okane.jpg"}}" alt="Okane" /> </a></li>
        <li><a href="{{store url='small-pets-products/small-pets-product-brands/kaytee.html'}}" target="_blank"> <img src="{{media url="wysiwyg/brand-slide/petloft/kaytee.jpg"}}" alt="Kaytee" /> </a></li>
    </ul>
</div>
        
<!--cash_on_delivery:-->
<p><a href="#"><img src="{{media url='wysiwyg/home-cash-on-delivery.jpg'}}" alt="Cash on Delivery"/></a></p>

<!--help:-->
<div>
    <ul id="helpMenu">
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#howtoorder">How To Order</a></li>
        <li><a href="#payments">Payments</a></li>
        <li><a href="#shipping">Shipping</a></li>
        <li><a href="#rewardpoints">Reward Points</a></li>
        <li><a href="#returns">Cancellation and Returns</a></li>
    </ul>
</div>
<div class="helpContent">
<div id="faq" class="subcontent">
    <h2>FAQ</h2>
    <ol class="accordion">
        <li>
            <div class="accord-header">Who is Petloft?</div>
            <div class="accord-content">Petloft is an online pet store with a mission to offer what your pets need and deliver it straight to you. We focus on a broad selection of quality products, great logistics, and customer service to impress our local pet community. Our goal is to help you save time from going to the pet store and the burden of carrying heavy pet products back home. At Petloft, we do the heavy lifting for you. Our teams of pet lovers are all dedicated to you and your pet&rsquo;s needs.</div>
        </li>
        <li>
            <div class="accord-header">How did Petloft come about?</div>
            <div class="accord-content">Petloft was formed from our love for all types of pets. As pet owners, we want convenience in buying the best quality products. We decided to combine our passion with our vast ecommerce knowledge to offer the local pet community a great service.</div>
        </li>
        <li>
            <div class="accord-header">Where is Petloft based?</div>
            <div class="accord-content">We are based at<br /> Whatsnew Co.,Ltd <br /> 946 Dusit Thani Bld., <br /> Floor4, RamaIV Road, <br /> Silom, Bangrak, <br /> Bangkok 10500<br /> If you would like to contact us, <a href="{{store url='contacts'}}" target="_blank">click here</a></div>
        </li>
        <li>
            <div class="accord-header">If I were interested in partnering with Petloft, how would I go about it?</div>
            <div class="accord-content">The company welcomes any and all business ventures and ideas that you might have that will ultimately add value to our members. To discuss this further, please contact us on <a href="mailto:support@petloft.com">support@petloft.com</a></div>
        </li>
        <li>
            <div class="accord-header">Free Shipping Promotion</div>
            <div class="accord-content">Free Delivery anywhere in Bangkok with the minimun purchase of 500 baht for each order
                <ul style="margin-left: 30px; list-style: square !important;">
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">฿100 flat fee for shipping nationwide exclude Bangkok</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Flat shipping fee of ฿100 will be applied to the order less than ฿500 in Bangkok and ฿200 for nationwide exclude Bangkok</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="accord-header">Deals Section</div>
            <div class="accord-content">The deals section on our site includes all products that have a discount of 20% or greater. We have made a special page for these products so that it will be easier for our customers such as your self to find.</div>
        </li>
        <li>
            <div class="accord-header">I forgot my password</div>
            <div class="accord-content">If you have forgotten your password, don&rsquo;t worry. We have systems in place to help you recover them. <a href="{{store url='forgot-password'}}" target="_blank">Click here</a> for more information.</div>
        </li>
        <li>
            <div class="accord-header">The item I want is out of stock. What now?</div>
            <div class="accord-content">Although we try to maintain a stock level that matches expected demand, highly popular items may sometimes be out of stock. Please contact our Customer Service team, who will quickly find a solution for you. Happy customers and happy pets are important to us.</div>
        </li>
        <li>
            <div class="accord-header">Can I place an item on hold for purchase at a later date?</div>
            <div class="accord-content">Sorry, but we do not offer this option. Our goal is to ensure all customers can immediately purchase our great products.</div>
        </li>
        <li>
            <div class="accord-header">How do I know if you carry a certain brand?</div>
            <div class="accord-content">You can use the search function, which is available on the top right of the page or go through our brands list buy clicking on either dog or cat.</div>
        </li>
        <li>
            <div class="accord-header">When can I expect new products to be listed on your website?</div>
            <div class="accord-content">We constantly update our products with new lines and new brands. Please visit our website to see the latest items we have in stock.</div>
        </li>
        <li class="last">
            <div class="accord-header">Is there somewhere I can go to view the product prior to purchasing?</div>
            <div class="accord-content">Unfortunately, we do not have a retail store and for safety reasons we cannot allow customers in the warehouse. If you have any questions regarding the products, please do not hesitate to contact our Customer Service team.</div>
        </li>
    </ol></div>
<div id="howtoorder" class="subcontent">
    <h2>How To Order</h2>
    <ol class="accordion">
        <li>
            <div class="accord-header">How do I order?</div>
            <div class="accord-content">Ordering at Petloft.com is very easy. The steps can be found <a href="{{store url='how-to-order'}}" target="_blank">here</a>.</div>
        </li>
        <li>
            <div class="accord-header">How do I register a new account?</div>
            <div class="accord-content">Please click on 'Register', which is located on the top right hand side of the page. You will then be prompted to a new page where you will find 'New Customer' on the left hand side. Fill in your details as requested before clicking 'submit'. Registration should now be complete and you should receive a confirmation e-mail to the address you registered with.</div>
        </li>
        <li>
            <div class="accord-header">Is there any registration fee for Petloft?</div>
            <div class="accord-content">Registration at Petloft is completely free and easy! Any form of charge will only come from purchasing of Petloft products.</div>
        </li>
        <li>
            <div class="accord-header">I need personal assistance with my order. Who can I contact?</div>
            <div class="accord-content">Our Customer Service team will be happy to assist you. Please e-mail us at <a href="mailto:support@petloft.com">support@petloft.com</a> or call us at 02-106-8222.</div>
        </li>
        <li class="last">
            <div class="accord-header">Do you take orders over the phone?</div>
            <div class="accord-content">Yes. We do take orders over phone. The payment mode possible for these orders is Cash On Delivery only. Click here for more details.</div>
        </li>
    </ol></div>
<div id="payments" class="subcontent">
    <h2>Payments</h2>
    <ol class="accordion">
        <li>
            <div class="accord-header">Is my credit card information safe at Petloft?</div>
            <div class="accord-content">The company will not store any credit card information on our servers. At Petloft, we use systems set in place by banks that have the security protocols set in place to handle safe credit card transactions.</div>
        </li>
        <li>
            <div class="accord-header">My credit card details are not being accepted. What's wrong?</div>
            <div class="accord-content">Please check with your bank or financial institution to rule out errors on their behalf. If problems continue to persist, please contact Customer Service who will notify the IT department of technical difficulties.</div>
        </li>
        <li>
            <div class="accord-header">My computer froze while processing payment. How will I know that my payment went through successfully?</div>
            <div class="accord-content">All successful transactions will receive a confirmation email that contains an order tracking number. If you have not received confirmation via email, please try placing your order again. Alternatively, please contact our Customer Service team to confirm the placement of your order.</div>
        </li>
        <li>
            <div class="accord-header">How many payment methods does Petloft have?</div>
            <div class="accord-content">At Petloft, we provide customers the ability to pay using the following facilities:
                <ul style="margin-left: 30px; list-style: square !important;">
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Credit card and Debit card</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">PayPal</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Cash on delivery (pay when we deliver the product)</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="accord-header">Are your prices in Thai Baht (THB)?</div>
            <div class="accord-content">All pricing is in Thai Baht.</div>
        </li>
        <li class="last">
            <div class="accord-header">Does your prices include taxes?</div>
            <div class="accord-content">All prices are inclusive of taxes.</div>
        </li>
    </ol></div>
<div id="shipping" class="subcontent">
    <h2>Shipping</h2>
    <ol class="accordion">
        <li>
            <div class="accord-header">When will my order ship?</div>
            <div class="accord-content">All items are shipped within 24 hours after the purchase is made and most of the time even sooner (weekdays only). All Petloft deliveries are sent via Premium Courier. The deliveries are made between 9:00 am - 7:00 pm. Currently we deliver from Monday to Saturday.</div>
        </li>
        <li>
            <div class="accord-header">How long will it take until I receive my order?</div>
            <div class="accord-content">We ship via our own delivery fleet and several other premium carriers. If you order by 4 pm on a business day, you will receive it in 2-3 business days. We do not yet guaranteed overnight shipping, although many areas of the country will receive their orders the next day. <br /><br /> * For Sangkhlaburi district, islands and provinces including Pattani, Yala, Naradhiwas, Mae Hong Son and Chiang Rai, delivery may take 1-2 days longer due to difficult routes. We&rsquo;ll try our best to deliver the product to you as soon as possible.</div>
        </li>
        <li>
            <div class="accord-header">How do I track my order?</div>
            <div class="accord-content">When your order ships, you will receive an email with the shipping and tracking information. You can use your tracking number on our website to trace your order. You can also find your tracking number with your order details; Click the "Order Status" button under the "My Account" menu after you have logged on. <br /><br /> Please check with your neighbors or building manager if you have not received your product even though the tracking says that it has been delivered. If the tracking information doesn't how up or shows that the item has been returned to us, please contact us by email or phone. It is possible that we may have the wrong shipping address, the driver may have unsuccessfully attempted to deliver, or the shipping carrier may have misplaced the product.</div>
        </li>
        <li>
            <div class="accord-header">What happens if I am not at home when my order is being delivered?</div>
            <div class="accord-content">In the process of delivering the product to you, our driver will contact you on the number provided to ensure that you are at the address that you have given to us. If you are not home at the time, do inform someone else in your household to beaware of our delivery so they can sign for the product on your behalf. IIf we are still unable to deliver the product to you despite our best efforts, the money paid for the product will be returned to you, but not the shipping fee (For more detail please check our &ldquo;<a href="{{store url='return-policy'}}" target="_blank">refund policy</a>&rdquo;). Undeliverable orders will not be resent and you must place a new order.</div>
        </li>
        <li>
            <div class="accord-header">Can I have my order shipped to my office?</div>
            <div class="accord-content">We are happy to delivery to your office; If you would like us to do that, please input your office address at checkout. Your office delivery will be made from the 9am to 7pm on weekdays and 9am to 12 noon on weekends.</div>
        </li>
        <li>
            <div class="accord-header">How much is the shipping fee?</div>
            <div class="accord-content">Free Delivery anywhere in Bangkok with the minimun purchase of 500 baht for each order
                <ul style="margin-left: 30px; list-style: square !important;">
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">฿100 flat fee for shipping nationwide exclude Bangkok</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Flat shipping fee of ฿100 will be applied to the order less than ฿500 in Bangkok and ฿200 for nationwide exclude Bangkok</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="accord-header">Do you ship outside of Thailand?</div>
            <div class="accord-content">Sorry, we currently do not ship outside of Thailand.</div>
        </li>
        <li class="last">
            <div class="accord-header">Why is my shipment delayed?</div>
            <div class="accord-content">You must order by 4 p.m. for 1-2-day shipping to apply. We try our best to make sure that you receive your order as soon as possible, however, there are some situations beyond our control that can delay your shipment.<br />The following orders may result in delayed shipping:
                <ul style="margin-left: 30px; list-style: square !important;">
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Incorrect shipping address</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Incorrect Mobile Phone number</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Unable to reach you at provided contact number</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Being absent after courier made an appointment</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Shipping address does not match billing address</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Payment delay or issue</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Courier failure to deliver (e.g. severe weather conditions)</li>
                </ul>
            </div>
        </li>
    </ol></div>
<div id="rewardpoints" class="subcontent">
    <h2>Reward Points</h2>
    <ol class="accordion">
        <li>
            <div class="accord-header">1% Cash-back policy</div>
            <div class="accord-content">A 1% cash back means that for every purchase made, you will receive 1% cash-back, which will be stored in your Petloft account. You can then use this credit as a discount on your next purchase.</div>
        </li>
        <li>
            <div class="accord-header">How do I get points for referring a friend</div>
            <div class="accord-content">There are many ways where you can get 100B by <a href="{{store url='rewardpoints/index/referral'}}" target="_blank">referring a friend</a>at Petloft.com
                <ul style="margin-left: 30px; list-style: square !important;">
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">You can share your unique link which can be found in My Accounts straight to your Facebook or Twitter page. You can also email this link straight to your friends.</li>
                    <li style="border-bottom: 0; padding: 5px; font-weight: normal;">Once your friends have clicked on the link and have made a purchase on Petloft, you will automatically be credited with 100 Baht in your account in the form of credits.</li>
                </ul>
            </div>
        </li>
        <li class="last">
            <div class="accord-header">Reward Points Terms &amp; Conditions</div>
            <div class="accord-content">Each time you shop on our website, you will earn Reward Points on your purchases. The Reward Points will be accumulated each time you purchase the products on our website and it will be expired within 6 months from your purchasing date. <br /><br /> For example, if you earn 20 points on January from your first purchase and another 30 points on March, your Reward Point balance is 50 points. On July, your balance will be deducted to 30 points because 20 points on January are already expired. In case you have not used your point within September, you point balance will become 0 as your points earned previously on March are expired. <br /><br /> For your own interest, please kindly redeem your Reward Points in the available period of time.</div>
        </li>
    </ol></div>
<div id="returns" class="subcontent">
    <h2>Cancellation and Returns</h2>
    <ol class="accordion">
        <li>
            <div class="accord-header">How do I return my purchase?</div>
            <div class="accord-content"><strong>Returns are FREE, fast and easy!</strong><br /> If you wish to return an item, please contact our customer care and request a return of the product(s) via phone 02-106-8222 or Email <a href="mailto:support@petloft.com">support@petloft.com</a>. If the conditions of the returned product aligned within our return policy, please fill in the Returns Slip you received with your shipment, enclose the invoice in the package then send it back to us in its original packaging. Please send the product back to Petloft.com at any Thailand Post location nearby your premise under domestic registered mail service. <br /><br /> NOTE: Sorry for any inconveniences may cause you, return shipments are not eligible for scheduled pick-ups by Petloft.com. <br /><br /> Our address is:<br /> Acommerce Co.,Ltd<br /> 8/2 Rama3 Rd, Soi 53, <br />Bang Phong Pang, Yarn-Nava, <br />Bangkok 10120<br /><br /> Petloft.com will absorb the incurred shipping costs in this registered returns back to you on the refund process. We ask that you keep the receipt/slip of this shipping cost issued by the post office as an evidence. And please send your receipt/slip back to Customer Care by submitting a photo file to the email <a href="mailto:support@petloft.com">support@petloft.com</a></div>
        </li>
        <li>
            <div class="accord-header">Can I cancel my order?</div>
            <div class="accord-content">If you wish to cancel your order, get in touch with customer service as soon as possible with your order number. If your order has been dispatched, please do not accept delivery and contact customer service. In case of Prepaid orders Refunds will be processed as per our Return policies. Any cashback credits used in the purchase of the order will be credited back to your account.</div>
        </li>
        <li>
            <div class="accord-header">Packing your return</div>
            <div class="accord-content">We suggest that you use the boxes that the products arrived in. Simply apply the shipping label acquired through the online return process or from our Customer Service team. Please put the return label to your box/package and drop it off at any Thailand Post location. NOTE: Return shipments are not eligible for scheduled pick-ups by Petloft. Please contact us with any questions or concerns at 02-106-8222 or send an e-mail to <a href="mailto:support@petloft.com">support@petloft.com</a></div>
        </li>
        <li>
            <div class="accord-header">How long will it take for my return to be processed?</div>
            <div class="accord-content">Once we receive the item(s), we will process your request within 14 business days.</div>
        </li>
        <li>
            <div class="accord-header">When do I receive my refund?</div>
            <div class="accord-content">Once we receive your item(s) and have checked that it is in original condition, a refund will be initiated immediately. Please allow up to 7 business days to receive your refund from the time we receive your return. Petloft will refund your money through Bank Transfer or in store credit, if preferred.</div>
        </li>
        <li>
            <div class="accord-header">What are the shipping charges if I return my purchased items?</div>
            <div class="accord-content">The shipping costs will vary according to your location and method of postage you choose. Please make sure to ship back to us via Thailand post by registered mail and we will refund the shipping fees after receiving the product.</div>
        </li>
        <li class="last">
            <div class="accord-header">What if my item has a defect?</div>
            <div class="accord-content">Our Quality Control department tries to ensure that all products are of a high quality when they leave the warehouse. In the rare circumstance that your item has a defect, you may send it back to us with a completed Returns Slip attached within 30 days upon receiving the item(s), a full refund will be issued to you.</div>
        </li>
    </ol></div>
</div>
