<!-- menu_footer_info_links -->
<ul class="level0">
    <li class="level1">
        <a href="{{store url}}contacts/" title="Contacts">
            <span>Contacts</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}return-policy/" title="Return Policy">
            <span>Return Policy</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}about-us/" title="About Us">
            <span>About Us</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}terms-and-conditions/" title="Terms &amp; Conditions">
            <span>Terms &amp; Conditions</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}privacy-policy/" title="Privacy Policy">
            <span>Privacy Policy</span>
        </a>
    </li>
</ul>

<!-- menu_footer_help_links -->
<ul class="level0">
    <li class="level1">
        <a href="{{store url}}help/" title="FAQ">
            <span>FAQ</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}help/#howtoorder" title="How To Order">
            <span>How To Order</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}help/#payments" title="Payments">
            <span>Payments</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}help/#shipping" title="Shipping & Delivery">
            <span>Shipping & Delivery</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}help/#rewardpoints" title="Reward Points">
            <span>Reward Points</span>
        </a>
    </li>
    <li class="level1">
        <a href="{{store url}}help/#returns" title="Cancellation & Returns">
            <span>Cancellation & Returns</span>
        </a>
    </li>
</ul>

<!-- menu_footer_follow_links -->
<ul class="level0">
    <li class="level1">
        <a href="https://www.facebook.com/petloftthai" title="Facebook">
            <span>Facebook</span>
        </a>
    </li>
    <li class="level1">
        <a href="https://twitter.com/PetLoft" title="Twitter">
            <span>Twitter</span>
        </a>
    </li>
    <li class="level1">
        <a href="https://plus.google.com/u/0/b/113812097105339950445/113812097105339950445/op/iph" title="Google">
            <span>Google</span>
        </a>
    </li>
    <li class="level1">
        <a href="http://blog.petloft.com/" title="Petloft Blog">
            <span>Petloft Blog</span>
        </a>
    </li>
    <li class="level1">
        <a href="http://www.petloft.com/newsletter-archive/" title="Newsletter">
            <span>Newsletter</span>
        </a>
    </li>
</ul>

<!-- menu_footer_bottom -->
<div class="menu-footer-bottom">
    <div class="payment">
        <img src="{{media url='wysiwyg/mobile-footer-payment.jpg'}}" alt="Payment"/>
    </div>
    <div class="copyright">
        <div class="logo-footer">
            <img src="{{media url='wysiwyg/mobile-footer-logo.jpg'}}" alt="Whatsnew"/>
        </div>
        <div class="copyright-footer">
            <p>&#169; 2013, Whatsnew Co.,Ltd.</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</div>

<!-- home_banner -->
<a href="#" title="Home banner">
    <img src="{{media url='wysiwyg/home-mobile-banner.jpg'}}" alt="Home banner" />
</a>