<?php /* @var $this Mage_Checkout_Block_Onepage_Success */ ?>
<?php
/** @var Petloft_Catalog_Helper_Data $helper */
$helper = Mage::helper('petloftcatalog');
?>

<div id="oscheckout-success">
    <div class="header-section">
        <div id="oscheckout-heading" class="float-f">
            <!-- <h1 class="txt-color-navy float-l"><?php echo $this->__('Order confirmation') ?></h1> -->
            <div id="custom-static-block">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('oscheckout-success')->toHtml() ?>
            </div><!--#custom-static-block-->
        </div>

        <div id="oscheckout-static-block" class="float-r">
        </div>
    </div>
    <div class="info-success">
        <div id="information-section">
            <div id="order-detail">
                <div id="greeting">
                    <h2 class="sub-title"><?php echo $this->__('Thank you for your order!') ?></h2>
                    <span class="txt-bold"><?php echo '- ' . $this->__('order verified')?></span>
                    <p><?php echo $this->__('Hi there! we are processing your order.') ?></p>
                </div><!--#greeting-->

                <div id="detail">
                    <div class="h-30">
                        <span id="order-infor" class="float-l"><?php echo $this->__('Order Number')?>&nbsp;&colon;&nbsp;<?php echo ($this->getCanViewOrder()? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId())) : $this->escapeHtml($this->getOrderId()))?></span>
                        <?php /** @var $_order EMST_Sales_Model_Order  */ ?>
                        <?php $_order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId()) ?>
                        <?php //if($_order): ?>
                            <?php $_shippingAddress = is_object($_order->getShippingAddress()) ? $_order->getShippingAddress() : $_order->getBillingAddress(); $deliveryDays = $helper->getDeliveryDays($this->getOrderId(), $_shippingAddress->getRegionId()); ?>
                            <div id="deliver-infor" class="float-r">
                                <span class=""><?php echo $this->__('Sent to')?>&nbsp;&colon;&nbsp;</span>
                                <span id="shipping-deliver" class="txt-color-orange txt-bold"><?php echo $_shippingAddress->getFirstname() . ' ' . $_shippingAddress->getLastname() ?></span>
                            </div>
                        <?php //endif; ?>
                    </div>
                    <div class="h-80">
                        <span class="txt-bold"><?php echo count($_order->getAllItems()) . ' ' . ($_order->getTotalItemCount() == 1 ? 'item' : 'items')  ?></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class=""><?php echo $this->__('by') . ' '?></span><span class="txt-bold">&nbsp<?php echo  $_SERVER['HTTP_HOST'] ?></span>
                        <span id="deliver-time" class="float-r txt-bold"><?php echo $this->__('Delivery %s working days', $deliveryDays); ?></span>
                    </div>
                    <div class="h-30">
                        <span class="txt-bold"><?php echo $this->__('Order confirmation email has been sent to your inbox.') ?></span>
                        <a id="print-url" class="txt-color-gray float-r" href="<?php echo $this->getPrintUrl() ?>">Print</a>
                    </div>
                    <div class="h-30">
                        <a id="continue-shopping" class="txt-bold txt-color-blue float-r" href="<?php echo Mage::getBaseUrl() ?>"><?php echo $this->__('Continue shopping') ?></a>
                    </div>
                </div>
            </div><!--#order-detail-->
            <div id="short-email">
                <p><?php echo $this->__('Hello') ?>&nbsp;<?php echo $_shippingAddress->getFirstname() . ' ' . $_shippingAddress->getLastname(). ','; ?></p>
                <p><?php echo $this->__('Thanks for ordering at') ?></p>&nbsp;
                <p><?php echo $this->__('Orami') ?></p>
                <p><?php echo $this->__('Your order number is ') . ' ' ?><span style="font-weight: bold; color: #000"><?php echo $this->getOrderId() ?></span></p>
                <p><?php echo $this->__("We delivery in")."&nbsp".$deliveryDays. "&nbsp" . $this->__("working days") .", ".  $this->__("if you'd like more information on products or have any further enquires on your delivery & orders, please contact on our Customer Service Hotline") ?></p>
                 <p style="font-weight: bold; color: #000"><?php echo $this->__('02-106-8222') ?></p>
                <p style="font-weight: bold; color: #000"><?php echo $this->__('open Mon - Fri at 10:00AM to 7:00PM') ?></p>
                <p><?php echo $this->__('Kind Regards') . ',' ?></p>
                <p><?php echo $this->__('Orami Team') ?></p>
            </div><!--#short-email-->
        </div><!--#information-section-->

        <div id="sharing-section">
            <div id="sharing-fb">
                <h2 class="txt-color-navy"><?php echo $this->__('Share with your friends') ?></h2>
                <?php $_first_item = null; ?>
                <?php foreach($_order->getAllVisibleItems() as $_i): ?>
                    <?php $_first_item =  $_i->getProduct();break;?>
                <?php endforeach; ?>
                <div class="sharing-feature-img" class="float-l w-30-percent">
                    <img src="<?php echo Mage::helper('catalog/image')->init($_first_item, 'thumbnail')->resize(67,111) ?>" />
                </div>
                <div class="sharing-message float-r w-70-percent">
                    <p class="title-share"><?php echo $this->__('Share with your friends') ?></p>
                    <p><?php echo $this->__("I've just bought") ?> the <?php echo $_first_item->getName()?>&nbsp;<?php echo $this->__('at') ?>&nbsp;<?php echo $_SERVER['HTTP_HOST'] ?></p>
                    <?php
                    $pId = '';
                    $mainImage = '';
                    $prTitle = '';
                    $sm = '';
                    if($_order->getId()) {
                        foreach ( $_order->getAllItems() as $item ) {
                            $product = Mage::getModel('catalog/product')->load($item->getProductId());
                            if($product->getId()) {
                                $pId = $product->getId();
                                $sm = $this->helper('catalog/output')->productAttribute($product, nl2br($product->getShortDescription()), 'description');
                                $prTitle = $product->getName();
                                $mainImage = $this->helper('catalog/image')->init($product, 'image');
                                break;
                            }
                        }
                    }
                    $sm1 = "I just bought the  $prTitle from " . $_SERVER['HTTP_HOST']."! Check it out.";
                    $userId = Mage::getSingleton('customer/session')->getCustomer()->getId();
                    $refUrl = $this->getUrl('rewardpoints/index/goReferral', array("referrer" => $userId,'sharedPid'=>$pId,'_secure'=>false,'t'=>'[Referred Friends]'));

                    /* From MAGENTO-494 */
                    $sm = urlencode($sm);
                    $prTitle = urlencode($prTitle);
                    $mainImage = urlencode($mainImage);
                    $refUrl = urlencode($refUrl);
                    /* end */

                    $FBSharer = "http://www.facebook.com/sharer/sharer.php?s=100&summary=$sm&title=$prTitle&img={$mainImage}&p[url]={$refUrl}&from=sucssess";

                    ?>
                    <div class="btn" onclick="javascript:window.open('<?php echo $FBSharer;?>', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');"><?php echo $this->__('Share') ?></div>
                    <!--<div class="fb-share-button btn" data-href="<?php // echo $refUrl ?>"></div>-->
                </div>
            </div><!--#sharing-fb-->
            <div id="sharing-email">
                <h2 class="txt-color-navy"><?php echo $this->__('Refer friends') ?></h2>
                <div class="sharing-feature-img" class="float-l w-30-percent">
                    <img src="<?php echo $this->getSkinUrl('images/icr-share-email.png') ?>">
                </div>
                <div class="sharing-message float-r w-70-percent">
                    <p><?php echo $this->__("Hi! I've just bought") ?>&nbsp;<?php echo $_first_item->getName() ?></p>&nbsp;<?php echo $this->__('at') ?>&nbsp;<span><?php echo $_SERVER['HTTP_HOST'] ?></span>
                    <div class="btn" onclick="javascript:window.open('<?php echo Mage::getBaseUrl() ?>rewardpoints/index/referral/')"><?php echo $this->__('Share to friend') ?></div>
                </div>
            </div><!--#sharing-email-->
        </div><!--#sharing-section-->
    </div>
</div><!--#onestepcheckout-success-wrapper-->
<div style="width: 30%; display: list-item; list-style: none; margin: 0; float: right;">
    <?php
    // for PriceZa tracking
    if($_order->getId()) {
        $productId = array();
        $itemAmount = array();
        foreach ( $_order->getAllItems() as $item ) {
            $product = Mage::getModel('catalog/product')->load($item->getProductId());
            if($product->getId()) {
                $pId = $product->getId();
                $sm = $this->helper('catalog/output')->productAttribute($product, nl2br($product->getShortDescription()), 'description');
                $prTitle = $product->getName();
                $mainImage = $this->helper('catalog/image')->init($product, 'image');

                if($item->getProductType()=='simple'){
                    $itemOrdered = $item->getQtyOrdered();
                    for($i=0; $i<$itemOrdered; $i++){
                        $itemProdId[] = $product->getId();
                        $itemAmount[] = $product->getFinalPrice();
                    }
                }
            }
        }

        $storeName = Mage::app()->getStore()->getName();
        $tmp = explode(" ", $storeName);
        $store = strtolower($tmp[0]);
        switch ($store){
            case 'petloft'  : $merchantId = 2040; break;
            case 'venbi'    : $merchantId = 2039; break;
            case 'sanoga'   : $merchantId = 2016; break;
            case 'lafema'   : $merchantId = 2050; break;
            default: $merchantId = 0;
        }
        $productId = implode("|", $itemProdId);
        $amount = implode("|", $itemAmount);
        $filter = $_order->getPayment()->getMethodInstance()->getTitle();
        $data = $this->getOrderId();
    }
    // for PriceZa tracking
    ?>

    <div class="head box-title">
        <h2><?php echo $this->__('Refer a friend for FREE ฿100') ?></h2>
    </div>


<script type="text/javascript">
    var pricezaJsHost = (("https:" == document.location.protocol) ? "https://www." : "http://www.");
    document.write(unescape("%3Cscript src='" + pricezaJsHost + "priceza.com/js/tracking.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
            PRICEZA.track({
            type : "purchase",
            merchantId : "<?php echo $merchantId ?>",
            productId : "<?php echo $productId ?>",
            value : "<?php echo $amount ?>",
            filter : "<?php echo $filter ?>",
            data : "<?php echo $data ?>"
        });
    } catch(error) {}

</script>
