/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#inline_content{text-align: left; padding:10px; background:#fff;}
#inline_content .picker{padding: 10px 20px;}
#inline_content #errMsg { /*display: none;*/ position: absolute; top: 13px; left: 27px;}
#inline_content .subscribe-messages { overflow: hidden; width: 100%; }
#inline_content .subscribe-messages ul { list-style: none outside none !important; margin: 0 !important; padding:0 !important; }
#inline_content .subscribe-messages li li{ margin: 0 0 3px; }
#inline_content .subscribe-error-msg{
    background-image: url(../images/i_msg-error.gif);
    color: #DF280A;
    background-repeat: no-repeat !important;
    font-size: 11px !important;
    font-weight: bold !important;
    padding: 0 0 0 23px !important;
}
#inline_content h1.campaign{margin:0;font: bold 1.5em 'Arial'; color: #E38B27;}
#form-subscribe .birthday-picker{margin:0;padding:0;border:0; !important}
#form-subscribe .label{display:block; font-size:12px; line-height:30px;}
#form-subscribe .label em{color: #EB340A; font-weight: bold;}
#form-subscribe .btnJoin{width:85px; height:32px; background:#e78d2d; color:white; border:0;border-radius:4px; cursor:pointer;}
#form-subscribe p{line-height: 25px;}
#form-subscribe input[type="text"]{height: 25px; text-indent: 5px; width: 225px;}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; /*overflow:hidden;*/}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; border: none;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox{outline:0; overflow: visible !important;}
    #cboxTopLeft{/*width:1px; height:1px; background:#000;*/}
    #cboxTopRight{/*width:1px; height:1px; background:#000;*/}
    #cboxBottomLeft{/*width:1px; height:1px; background:#000;*/}
    #cboxBottomRight{/*width:1px; height:1px; background:#000;*/}
    #cboxMiddleLeft{/*width:1px; background:#000;*/}
    #cboxMiddleRight{/*width:1px; background:#000;*/}
    #cboxTopCenter{/*height:1px; background:#000;*/}
    #cboxBottomCenter{/*height:1px; background:#000;*/}
    #cboxContent{/*background:#fff; overflow:hidden*/;}
        .cboxIframe{/*background:#fff;*/}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-top:0;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:white;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/loader.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:18px; height: 18px; position: absolute; top: 0; right: 0; background-image: url(../images/close_btn.png); margin-top: 10px; margin-right: 16px; background-color: transparent; text-indent: 100% }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        /*#cboxClose{position:absolute; top:9px; left:7px; background:url(../images/popup_close.png) no-repeat; width:25px; height:25px; text-indent:-9999px;}*/
        /*#cboxClose:hover{background-position:-25px -25px;}*/

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}