.global-header div.wrap-banner .wrap-banner-main-img{
	float:left;
    width: 110px;
    margin: 10px -10px 0 0;
	padding: 0;
}
.global-header div.wrap-banner .wrap-banner-main-img .logo{
    width:110px;
	margin-top: 10px;
}
.wrap-header .container-bx {
    height: 43px;
}
.web_feature{display:inline-block;margin:0px 0 0 30px;float:left;}
.web_feature li{float:left;padding:25px 15px;text-transform:uppercase;font-size:16px;cursor:pointer;position:relative;}
.web_feature li .bridge_border{position:absolute;height:10px;width:100%;top:92%;z-index:9;}
.web_feature li a{font-size:13px; text-align:center; font-weight:bold;display:block;color:#73777a;}
.web_feature li.shop_link a{color:#3c3d41;}
.web_feature li:hover{background-color:#fafafa;}
.web_feature li:hover a{color:#3c3d41; text-decoration: none;}
.web_feature li.shop_link:after{

}
.web_feature li.shop_link:after, .web_feature li.shop_link:before {
    bottom: -2px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.web_feature li.shop_link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 7px;
    margin-left: -7px;
}
.web_feature li.shop_link:before {
    border-color: rgba(235, 235, 235, 0);
    border-bottom-color: #ebebeb;
    border-width: 10px;
    margin-left: -10px;
}
.global-header div.wrap-banner .wrap-banner-cart{
	position: relative;
    float: right;
}
.quick-access{
	float:left;
    margin-top: 18px;
}
.mini-cart {
    float: right;
    text-align: right;
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-left: 1px solid #e8e8e8;
    cursor: pointer;
}
.mini-cart .top_icon_cart .fa{
	font-size: 24px;
}
.mini-cart .top_icon_cart .top_number_cart {
    color: #FFFFFF;
    text-align: center;
    width: 15px;
    border: 2px solid #fff;
    line-height: 10px;
    height: 14px;
    background: #91a7d0;
    position: absolute;
    right: -7px;
    top: -5px;
    font-size: 9px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

.wrap-banner .mini-cart .mini-cart-price {
    width: 35%;
    text-align: right;
    margin-top: 10px;
    float: right;
    margin-right: 12px;
    display: none;
}

.form-search input {
    background: #f3f3f3;
    border: 0;
    padding: 0 40px 0 20px;
    color: #A5A5A5;
    width: 330px;
    height: 30px;
    line-height: 25px;
    border-radius: 40px;
}
.form-search button {
    background: none;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 10px 3px 0px;
    cursor: pointer;
    height: 100%;
}
.wrap-banner{
	border-bottom: 2px solid #ededed;
	border-top: 1px solid #f6f6f6;
    background: #fff;
}
.wrap-header {
    background: #FFF;
}
.mini-cart .top_icon_cart .mini-cart-text {
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
}
.mini-cart a{
	display: block;
	position: relative;
	text-align: center;
}
.mycart-checkout-flag-links {
    float: right;
    margin-left: 10px;
}
.mycart-checkout-flag-links ul.links.not-login li{
	float: none;
	clear: none;
}
.quick-access form{
	float: left;
}
.quick-access .username-block {
    float: right;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 99;
    margin-left: 10px;
    margin-top: 6px;
}
.quick-access .username-block .fa{
	font-size: 20px;
    cursor: pointer;
}
.quick-access .username-block .akun{
	font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    clear: both;
    display: block;
}
.quick-access .username-block .welcome-username-title{
	display: none;
}
.quick-access .username-block .mycart-checkout-flag-links {
    float: right;
    position: absolute;
    /* color: #fff; */
    border: solid 2px rgb(214, 214, 215);
    /*border-top: none;*/
    z-index: 1;
    background: #fff;
    min-width: 190px;
    padding: 0 10px;
    right: -60px;
}

.quick-access .username-block .mycart-checkout-flag-links .links.account-links li span {
    font-size: 11px;
}

.quick-access .username-block .mycart-checkout-flag-links .links.account-links li span.total-reward-points-value {
    color: #ff6c6c;
    font-size: 11px;
}

.quick-access .account-links li {
    border-bottom: solid 1px #d6d6d6;
    padding: 0;
}

.quick-access .account-links li:last-child {
    border-bottom: none;
    margin-top: 10px;
}

.quick-access .account-links li.separate {
    display: none;
}

.quick-access .links li a {
    /* font-family: "montserratlight", Arial; */
    font-size: 11px;
    /* color: #505050; */
    text-decoration: none;
}
.quick-access .account-links li a {
    padding-left: 0;
}

.quick-access .links li {
    margin: 0;
    line-height: 25px;
    display: block;
    text-align: left;
    clear: both;
}

#sign-box,
#sign-box-mb {
    position: absolute;
    z-index: 999;
    background-color: white;
    border: 2px solid #ededed;
    width: 120px;
    margin: 3px 0 0 1px;
    padding: 0 5px 4px 5px;
}
#sign-box-btn,
#sign-box-btn-mb {

    cursor: pointer;
    display: block;
    width: 70px;
    padding: 2px 0;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background: #ff6c6c;
    color: #fff;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    line-height: 25px;
}
.quick-access ul.links li:last-child a {
    border-right: none;
    white-space: nowrap;
    float: left;
}

.quick-access .links li a:hover {
    text-decoration: underline;
}

.quick-access .links li span {
    float: none;
    font-size: 11px;
    line-height: 26px;
    margin: 0;
    padding-right: 10px;
    /*  color: #ffffff; */
    display: inline;
}

.quick-access .links.account-links li span.total-reward-points-value {
    color: #21becb;
}

.quick-access .links li.first {
    height: 30px;
    max-width: 260px;
    overflow: hidden;
}
@media only screen and (max-width: 960px) {
	
}

@media only screen and (max-width: 838px) {
    .web_feature{
        margin: 0px 0 0 5px;
    }
    .form-search input{
        width: 234px;
    }
}
@media only screen and (max-width: 736px) {
    .global-header div.wrap-banner .wrap-banner-cart {
        margin: 0;
        position: fixed !important;
        right: 0;
        z-index: 10;
        top: 55px;
        width: 100%;
    }
    .wrap-header {
        background: #FFF;
        padding: 5px 0;
        position: fixed;
        right: 0;
        left: 0;
        top:0;
        z-index: 9;
        border-bottom: 2px solid #ededed;
    }
    .top-header.mb .logo img{
        width: 70px;
        margin-top: 5px;
    }
    .global-header div.wrap-banner .wrap-banner-main-img .logo{
        display: none;
    }
    .mini-cart .top_icon_cart .top_number_cart{
        right: -3px;
        top: -2px;
        height: 15px;
    }
    #am_minicart_container{
        margin-top: 0;
    }

    .mb-account #sign-box-btn-mb{
        cursor: pointer;
        display: block;
        width: 70px;
        padding: 6px 0;
        margin: 6px 0;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        background: #ff6c6c;
        color: #fff;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;

        line-height: 20px;
        margin-left: 15px;
        float: left;
    }
    .mb-account .wrap-my-login-id{
        display: table;
        padding: 5px 5px 5px 15px;
    }
    .mb-account .wrap-my-login-id li{
        margin-bottom: 12px;
    }
    .mb-account .wrap-my-login-id li:last-child{
        margin-bottom: 0;
    }
    .mb-account .mb-login-box {
        display: none;
        position: absolute;
        top: 49px;
        right: 10px;
        z-index: 1;
        background: #fff;
        border: 2px solid #e7e7e7;
        padding: 0 7px;
        line-height: 30px;
        width: 130px;
    }
    .mb-account {
        float: right;
        margin-right: 58px;
        /*border-right: solid 1px #e8e8e8;*/
        height: 45px;
        display: inline-block;
    }

    .mb-account .mb-myacc {
        display: table;
        width: 18px;
        height: 25px;
        padding: 0 10px;
        margin-top: 13px;
        font-size: 20px;
        float: left;
    }
    .mb-search {
    float: left;
    border: solid 1px #e8e8e8;
    position: relative;
    /* height: 45px; */
    padding: 1px 0px;
    border-radius: 100%;
    margin-top: 4px;
    display: table;
    }
    .mb-search > a {
        display: block;
        padding: 10px 12px 2px;
    }
    .mb-search > a img {
    width: 10px;
    height: auto;
    margin-top: -1px;
    }
    #sign-box-mb {
        top: 49px;
        width: 125px;
        margin: 0 0 0 50px;
        padding: 0 5px 4px 0;
    }
}

.open-order-tracking-mb img {
    width: 21px;
}
.open-order-tracking-mb.margin img {
    margin-top: 5px;
}
