<section id="menu-group">
    <!-- MENU ICONS -->
    <a href="#">
        <img class="hidden-sm-up" src="<?php echo $this->getSkinUrl('images/search.png'); ?>" alt="Search">
    </a>
    <a href="<?php echo Mage::getBaseUrl().'checkout/cart/'; ?>">
        <img src="<?php echo $this->getSkinUrl('images/cart.png'); ?>" alt="Cart">
    </a>

    <?php 
        if(Mage::getSingleton('customer/session')->isLoggedIn()) :
    ?>
        <section id="logged-in">
            <a href="<?php echo Mage::getBaseUrl().'wishlist/'; ?>">
                <img id="favorite" class="hidden-xs-down" src="<?php echo $this->getSkinUrl('images/bigheart_grey.png'); ?>" alt="Wish List">
            </a>
            <div id="user-icon" class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img id="user-icon-img" src="<?php echo $this->getSkinUrl('images/user.png'); ?>" alt="User">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="<?php echo Mage::getBaseUrl().'customer/account/index/'; ?>"><?php echo $this->__('My Account'); ?></a>
                    <a class="dropdown-item" href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('Log Out'); ?></a>
                </div>
            </div>
        </section> <!-- END MENU ICONS -->
    <?php else: ?>
        <!-- LOGIN BUTTON -->
        <section id="not-logged-in" class="$menuClass">
            <a class="btn btn-primary" href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>">
                <?php echo $this->__('LOGIN'); ?>
            </a>
        </section> <!-- END LOGIN BUTTON -->
    <?php endif; ?>
</section>