<section id="menu-group">
    <!-- MENU ICONS -->
    <div class="mb-search">
        <a href="#">
            <img class="d-sm-none" src="<?php echo $this->getSkinUrl('images/search.png'); ?>" alt="Search">
        </a>
    </div>
    <a id="tglr" <?php if (Mage::helper('checkout/cart')->getItemsCount() > 0) { echo "class='noti'"; } ?> data-container="body" data-toggle="popover" data-placement="bottom" style="font-size: 1%">
        Cart
    </a>
    <?php
        if(Mage::getSingleton('customer/session')->isLoggedIn()) :
    ?>
        <section id="logged-in">
            <a id="favorite" href="/wishlist/" title="Wishlist">
                Wishlist
            </a>
            <div id="user-icon" class="dropdown">
                <a id="user-icon-img" class="dropdown-toggle" href="#" title="My Account" role="button" id="dropdownUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/customer/account/index/"><?php echo $this->__('My Account'); ?></a>
                    <a class="dropdown-item" href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('Log Out'); ?></a>
                </div>
            </div>
        </section> <!-- END MENU ICONS -->
    <?php else: ?>
        <!-- LOGIN BUTTON -->
        <section id="not-logged-in" class="$menuClass">
            <a class="btn btn-primary" href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>">
                <?php echo $this->__('LOGIN'); ?>
            </a>
        </section> <!-- END LOGIN BUTTON -->
    <?php endif; ?>
</section>

<script>
    jQuery(document).ready(function(){
        if (jQuery(window).width() < 575) {
            jQuery('#tglr').click(function(event) {
                window.location.href='<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>';
            });
        } else {
            jQuery('#tglr').popover({
                html : true,
                content: function() {
                    var div_id =  "tmp-id-" + jQuery.now();
                    return details_in_popup(div_id);
                }
            });
        }
    });

    function details_in_popup(div_id){
        jQuery.ajax({
            url: "<?php echo $this->getUrl('improvement/cart/getcart');?>",
            type: "POST",
            success: function (data) {
                var cartData = JSON.parse(data);
                var arr = Object.keys(cartData).map(function (key) { return cartData[key]; });
                if (arr.length > 0) {
                    var string = "<div class='pop-item-section'>";
                     for(var i = 0; i < arr.length; i++){
                        string +=  "<div class='clearfix pop-item'>" + "<div class='pop-img'>" + "<img" + " "  + "src='/media/catalog/product" + arr[i]['image'] + "'/></div><div class='pop-content'>"  + arr[i]['name']  +"</br><b>"
                        +arr[i]['price'] + "</b> X <b>" +arr[i]['quantity'] + "</b> <?php echo $this->__("item") ?>" +"</div></div>";
                        total = "<b class='pop-cart-total'><?php echo $this->__("Total") ?> " + arr[i]['total'] + "</b>" ;
                    }
                    string += "</div>";
                    jQuery('#' + div_id).html(string+total);
                }else {
                    jQuery('#' + div_id).html("Your Cart Is Empty");
                }

            },
            error: function (data) {
                alert('Some Problem Happen. Cannot View Cart');
            }
        });
        return '<div id="' + div_id + '" class="pop-cart-content">Loading...</div>'
            + '<div class="pop-cart-footer">'
                + '<a href="<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>" class="pop-cart-btn secondary funnel_viewcart">View Cart</a>'
                + '<a href="<?php echo Mage::helper('checkout/url')->getCheckoutUrl(); ?>" class="pop-cart-btn funnel_checkout">Checkout</a>'
            + '</div>';
    }

    jQuery('body').on('click', function (e) {
        jQuery('[data-toggle="popover"]').each(function () {
            if (!jQuery(this).is(e.target) && jQuery(this).has(e.target).length === 0 && jQuery('.popover').has(e.target).length === 0) {
                jQuery(this).popover('hide');
            }
        });
    });
</script>