<fieldset>
	<?php $_code=$this->getMethodCode() ?>
	<?php $_id=strtoupper($_code); ?>
	<?php $name= "name='payment[agent_{$_code}]'"; ?>
	<ul id="payment_form_<?php echo $_code ?>" style="display:none" class="pm-description" style="border:1px solid #eae9e9; background-color:#fcfcfc;display:none">		
		<li>
			<span><?php echo $this->getDescription() ?></span>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Pay over the counters') ?></label>
			<div class="input-box">
				<ul class="tesco-payment">					
					<?php foreach($this->_getSource()->getOverCounterOption() as $option):?>
						<?php $val = $this->getValue($option);?>
						<?php $name_= ($val=='OVERTHECOUNTER_TESCO')?"{$name} checked='checked'":$name;?>
						<li>
							<input id="<?php echo $val.'_'.$_id; ?>" value="<?php echo $val;?>" type="radio" <?php echo $name_; ?> class="radio radio123cash" />
							<label for="<?php echo $val.'_'.$_id; ?>" class="<?php echo $this->getClass($option);?>"><?php //echo $this->getLabel($option) ?></label>
						</li>
					<?php endforeach;?>
				</ul>
			</div>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Or pay at ATM') ?></label>
			<div class="input-box">
				<ul class="tesco-payment">
					<?php foreach($this->_getSource()->getAtmOption() as $option):?>
						<?php $val = $this->getValue($option);?>
						<li>
							<input id="<?php echo $val.'_'.$_id; ?>" value="<?php echo $val;?>" type="radio" <?php echo $name; ?>  class="radio radio123cash" />
							<label for="<?php echo $val.'_'.$_id; ?>" class="<?php echo $this->getClass($option);?>"><?php //$this->getLabel($option) ?></label>
						</li>
					<?php endforeach;?>
				</ul>
			</div>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Or pay at bank counters') ?></label>
			<div class="input-box">
				<ul class="tesco-payment">
					<?php foreach($this->_getSource()->getBankCounterOption() as $option):?>
						<?php $val = $this->getValue($option);?>
						<li>
							<input id="<?php echo $val.'_'.$_id; ?>" value="<?php echo $val;?>" type="radio" <?php echo $name; ?>  class="radio radio123cash" />
							<label for="<?php echo $val.'_'.$_id; ?>" class="<?php echo $this->getClass($option);?>"><?php //$this->getLabel($option) ?></label>
						</li>
					<?php endforeach;?>
				</ul>
			</div>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Or pay with your internet banking account') ?></label>
			<div class="input-box">
				<ul class="tesco-payment">
					<?php foreach($this->_getSource()->getIbankingOption() as $option):?>
						<?php $val = $this->getValue($option);?>
						<li>
							<input id="<?php echo $val.'_'.$_id; ?>" value="<?php echo $val;?>" type="radio" <?php echo $name; ?>  class="radio radio123cash" />
							<label for="<?php echo $val.'_'.$_id; ?>" class="<?php echo $this->getClass($option);?>"><?php //$this->getLabel($option) ?></label>
						</li>
					<?php endforeach;?>
				</ul>
			</div>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Or pay directly from you bank account') ?></label>
			<div class="input-box">
				<ul class="tesco-payment">
					<?php foreach($this->_getSource()->getWebPayOption() as $option):?>
						<?php $val = $this->getValue($option);?>
						<li>
							<input id="<?php echo $val.'_'.$_id; ?>" value="<?php echo $val;?>" type="radio" <?php echo $name; ?>  class="radio radio123cash" />
							<label for="<?php echo $val.'_'.$_id; ?>" class="<?php echo $this->getClass($option);?>"><?php //$this->getLabel($option) ?></label>
						</li>
					<?php endforeach;?>
				</ul>
			</div>
		</li>
	</ul>
</fieldset>
<script type="text/javascript">
//<![CDATA[
	payment.validate = function() {
        var result = payment.beforeValidate();
        if (result) {
            return true;
        }
        var methods = document.getElementsByName('payment[method]');
        if (methods.length==0) {
            alert(Translator.translate('Your order cannot be completed at this time as there is no payment methods available for it.'));
            return false;
        }
        for (var i=0; i<methods.length; i++) {
            if (methods[i].checked) {
				if(methods[i].id == 'p_method_<?php echo $_code ?>') {
					var channel_agents = document.getElementsByName('payment[agent_<?php echo $_code; ?>]');
					var channel_check = false;
					for (var j=0; j<channel_agents.length; j++) {
						if (channel_agents[j].checked) {
							channel_check = true;
						}
					}
					if(!channel_check) {
						alert(Translator.translate('Please specify a channel.'));
						return false;
					}
				}
                return true;
            }
        }
        result = payment.afterValidate();
        if (result) {
            return true;
        }
        alert(Translator.translate('Please specify payment method.'));
        return false;
    }
//]]>
</script>