<?php
$category = Mage::registry('current_category');
?>
<?php if ($category): ?>
    <?php if ($category->getSeoText()): ?>
        <div class="pc-filter">
            <div class="seo-text">
                <?php echo $category->getSeoText(); ?>
                <br/>
                <p></p><?php echo $this->__('*Results from product usage depends on personal body type') ?></p>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>