<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="<?php echo $this->getHeaderWidth() ?>"><?php echo $this->getHeaderHtml() ?></td>
            <td class="form-buttons"><?php echo $this->getButtonsHtml() ?></td>
        </tr>
    </table>	
</div>
<div><?php echo $this->getStoreSwitcherHtml();?></div>
<div id="emst-lowstock-content-grid">
    <?php echo $this->getGridHtml() ?>
</div>