<?php $order_items = $this->getOrderItemList() ?>
<?php if (! empty($order_items)) : ?>

<div class="block block-recently-purchased">
    <div class="block-title">
        <strong><span><?php echo $this->__("Most Recently Purchased") ?></span></strong>
    </div>
    <div class="block-content">
    <?php foreach ($order_items as $key=>$item): ?>
	    <div class="product-images"> 
	       <a href="<?php echo $item['url_product']?>"><img src="<?php echo $item['product_thumbnail'] ?>" alt="<?php echo $this->htmlEscape($item['name']) ?>" width="50" height="50" /></a>
	    </div>
        <h5><a href="<?php echo $item['url_product']?>"><?php echo $this->htmlEscape($item['name'])?></a></h5>
    <?php endforeach ?>
    </div>
</div>

<?php endif; ?>