/*for media_slide (jquery.cycle.all.js)*/
#container {
    /*width: 350px;*/
    width: 100%;
    margin: 0px auto;
    position: relative;
    border:0px dotted gray;
}
div#slideshow {
    width: 100%;
    height: 278px; margin: 15px 0 0 0;
    /*background: url(../images/border.png);*/
    overflow: hidden !important; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */ 
    position: relative; z-index: 5;
}
div#slideshow ul#slide-nav {
    width:100%;
    display: block;
    list-style: none;
    position: absolute;
    /*top: 140px;*/
    z-index: 15;
}
div#slideshow ul#slide-nav li#prev {
    float: left; margin: 100px 0 0 0;
}
div#slideshow ul#slide-nav li#next {
    float: right; margin: 100px 0 0 0;position: relative;/*left: 810px;*/
}
div#slideshow ul#slide-nav li a {
    display: block; width: 80px; height: 80px; text-indent: -9999px;
}

/*div#slideshow ul#nav li#prev a {
    background: url(../images/prev.png);
}
div#slideshow ul#nav li#next a {
    background: url(../images/next.png);
}*/
div#slideshow ul#slide-nav li#prev a.control-s, div#slideshow ul#slide-nav li#next a.control-s {
    display: block; width: 40px; height: 62px;
}

div#slideshow ul#slide-nav li#prev a.control-s {
    background: url("../images/media_arrows.gif") no-repeat scroll 0 0 transparent;
}

div#slideshow ul#slide-nav li#next a.control-s {
    background: url("../images/media_arrows.gif") no-repeat scroll -38px 0 transparent;
}

div#slideshow ul#slides {
    list-style: none;
}
div#slideshow ul#slides li {
    margin: 0 0 20px 0;
}
div#slideshow ul#slides li a {
    display: block; width: 930px; height: 337px;
}
a {outline: none; }

ul#slides li div.caption {
    display:none;
    position: absolute;
    padding:0 0 0 10px;
    width: 100%;
    height: 45px;
    bottom: 0;
    background:url(../images/alpha-white.png);
    text-align: left;
    font:bold 18px/40px 'Arial';
    color:#414a50;
}