.breadcrumbs{
  margin-top: 14px;
//  padding: 0 15px;
  overflow: hidden;
  display: none;
  ul{
    li{
      text-transform: lowercase;
      font-size: 10px;
      color: @color-text4;
      font-family: arial, helvetica, sans-serif;
      display: inline-block;
      float: left;
      span{
        text-indent: -9999px;
        display: inline-block;
        height: 11px;
        width: 7px;
        background: url("../images/ico-breadcrumbs.png") no-repeat;
        background-size: 7px auto;
        background-position: 0 3px;
      }
    }
    li{
      a{
        color: @color-text1;
        text-decoration: underline;
      }
    }
  }
}