.main {padding:0px 15px;text-align:left;}
.checkout-banner {
		img {width:100%}
	}
.center_first {
  .top-checkout{
    .checkout-title{
      h1{
        .Thaifont-bold;
        font-size: 30px;
        color: @color-text1;
        text-transform: uppercase;
        line-height: 30px;
      }
      h1:before{
        content: "";
        width: 30px;
        display: inline-block;
        background: url("../images/ico-nav.png") no-repeat;
        background-size: auto 23px;
        background-position: -293px 0px;
        float: left;
        height: 24px;
      }
      p{
        font-family: arial, helvetica, clean, sans-serif;
        font-size: 12px;
        color: @color-text8;
        line-height: 22px;
      }
    }
  }
  .login-form{
    margin: 23px 0;
    .login{
      .login-fb{
        h2{
          font-size: 12px;
          color: @color-text1;
          font-weight: bold;
        }
      }
      .login-form-new{
        h4{
          font-size: 12px;
          color: @color-text1;
          font-weight: bold;
        }
        #login-form{
          fieldset{
            .form-list{
              margin-top: 10px;
              li{

                label{
                  display: inline-block;
                  font-family: arial, helvetica, sans-serif;
                  font-size: 13px;
                  font-weight: bold;
                  width: initial;
                  padding-bottom: 0;
                  em{
                    float: right;
                    color: @color-requred;
                  }
                }
                .forgetpassword{
                  font-size: 10px;
                  font-family: tahoma, arial, helvetica, sans-serif;
                  text-transform: lowercase;
                  color: @color-text7;
                  margin-bottom: 15px;
                  color: @color-text7;
                }
                .input-box{
                  margin: 13px 0;
                }
                .forgot-password{
                  color: #df1e21;
                  float: left;
                  display: inline-block;
                  font-size: 11px;
                }
              }
              .loginbox{
                li{
                  label{
                    em{
                      display: none;
                    }
                  }
                }
              }
            }
          }
          .buttons-set{
            overflow:  hidden;
            margin: 5px 0;
            padding:0 ;
            .button{
              background: @color-text1;
              border:0;
              font-family: arial, helvetica, clean, sans-serif;
              font-size: 14px;
              font-weight: bold;
              color: @bg-input;
              padding: 5px 8px;
            }
          }
        }
      }
    }
  }
  #checkout-onestep-form{
    .col-main{
      .checkout-form{
        li{
          .col2{
            ul{
              li{
                .inputBox2{
                  .order-review{
                    #checkout-review-load{
                      #checkout-review-table-wrapper{
                        padding: 0 5px;
                        .data-table{

                        }
                      }
                    }
                  }
                  dl{
                    dt{
                      label{
                        margin-left: 10px;
                      }
                    }
                  }
                  #checkout-shipping-method-load{
                    .sp-methods{
                      dt{
                        padding: 0;

                      }
                      dd{
                        ul{
                          li{
                            font-family: arial, helvetica, clean, sans-serif;
                            label{
                              font-size: 13px;
                            }
                            & > div{
                              font-size: 12px;
                              color: @color-text8;
                              margin: 10px 0;
                            }
                            & > p{
                              b{
                                span{
                                  font-weight: normal;
                                  margin: 15px 0;
                                  display: inline-block;
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                  }

                }

              }
            }
          }
//          .col3{
//            ul{
//              li{
//                .inputBox2{
//                  .order-review{
//                    #checkout-review-load{
//                      #checkout-review-table-wrapper{
//                        .data-table{
//                          tr{
//                            td{
//                              padding: 0 5px;
//                              h3{
//                                font-family: arial, helvetica, clean, sans-serif;
//                                font-size: 13px;
//                                color: @color-text1;
//                                font-weight: normal;
//                              }
//                              .checkout-review-item{
//                                .cart-price{
//                                  span{
//                                    font-weight: bold;
//                                    font-family: arial, helvetica, clean, sans-serif;
//                                    font-size: 12px;
//                                    color: @color-text8;
//                                  }
//                                  span.price{
//                                    font-weight: normal;
//
//                                  }
//                                }
//                              }
//                            }
//                          }
//                        }
//                      }
//                    }
//                  }
//                }
//              }
//            }
//          }
        }
      }
    }
  }
	.form-list {
		li {
          display:block;
          width:100%;
          #required-field-text{
            color: @color-requred;
            float: right;
            display: inline-block;
            font-size: 11px;
          }
          label {text-align:left;padding-bottom:10px;font-size:13px;color:@color-text7;display:inline-block;font-weight: bold; display: inline-block}
          .required em {color:#df1e21; float: right}
          .input-box {width:100%;margin-bottom:12px;}
          .input-box2 {margin:10px 0px 12px;}
          .widefield {
              .input-box2 {margin-top:0px;}
          }
		}
		
	}
    #billing-form-list{
      li{
        label{
          color: @color-text8; /* text color */
          font-size: 12px;
          font-weight: normal;
        }
        .input-box{
          #billing_18{
            float: left;
            margin-top: 3px;
          }
          .billing-address-select{
            ul{
              li{
                div{
                  padding: 10px ;
                  background: #ebebeb;
                  margin: 1px 0 ;
                  div{
                    padding: 0 0 0 17px;
                    color: @color-text7; /* text color */
                    font-family: arial, helvetica, clean, sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
	.checkout-form {
		.step {font-size:17px;color: @c-black; text-transform:capitalize;position:relative;background:#fff;width:100%;overflow:hidden;margin:20px 0px;display:inline-block}
		.step:after {content:"";height:1px;background-color:#819fc2;position:absolute;bottom:39%;left:auto;border-left:10px solid #fff;width:100%}
		.sp-methods {
			dt {
              font-size:13px;font-weight:bold;color:#333;background:#ebebeb;border-bottom:1px solid #fff;padding:12px 10px;
              label{
                a{
                  margin-left: 10px;
                  color: #8cc640;
                }
              }
            }
            dd{
              fieldset{
                ul{
                  li{
                    label{
                      color: @color-text8; /* text color */
                      font-family: "Arial";
                      font-size: 13px;
                      font-weight: bold;
                      margin-bottom: 11px;
                      display: inline-block;
                    }
                    .input-box{
                      & > *{
                        display: inline-block;
                      }
                      margin-bottom: 15px;
                      .arrowselectbox{
                        width: 70%;
                        .selector{
                          span{
                            border: 1px solid @color-text1;
                            padding: 2px 30px 2px 5px;
                            font-size: 15px;
                            text-align: center;
                            color: @color-text1;
                            line-height: 15px !important;
                            text-align: center;
                            font-weight: bold !important;

                          }
                          span:after{
                            background: @color-text1;
                          }
                        }
                      }
                      input[type="text"],input[type="password"]{
                        padding: 2px 5px;
                        font-size: 11px;
                        width: 70%;
                      }
                      .v-fix{
                        width: 70%;
                        input[type="text"],input[type="password"]{
                          width: 100%;
                        }
                      }
                      .v-fix:last-child{
                        margin-top: 15px;
                        margin-bottom: 0;
                      }
//                      .validate-email{
//                        padding: 2px 5px;
//                        font-size: 11px;
//                        width: 70%;
//                      }
                    }
                    .cc_owner_label{
                      color: #ed1c24; /* text color */
                      font-family: arial, helvetica, clean, sans-serif;
                      font-size: 13px;
                      font-weight: normal;

                    }
                    #normal2c2p_cc_holder{
                      margin: 0;
                    }
                  }
                  li:last-child{
                    .input-box{
                      .v-fix{
                        width: 50%;
                        float: left;
                        margin: 0;
                        .arrowselectbox{
                          width: 90%;
                        }
                      }
                      .v-fix:last-child{
                        .arrowselectbox{
                          float: right;
                        }
                      }
                    }
                  }
                }
              }
            }
		}
		.checkout-review-item {margin-bottom:20px;
			div {display:inline-block;font-size:12px;  }
			div.w50itemmid {padding:0px 3%;}
			div.w50itemright {  text-align: right;}
			div.w50item {
              width:41.379%;
            }
            div{
              span {
                font-weight: bold;
              }
              span.price{
                font-weight: normal;
              }
            }
		}
		.data-table { border-collapse: collapse;
          width: 100%;}
		.product-name {color: @c-text-detail;font-size:13px;margin-bottom:15px;}
		tbody {
			.price {color: @c-price}
		}
		tfoot tr.first{
			td {border-top:1px solid #819fc2}
		} 
	tfoot tr {
		td {font-size:15px; color: @c-text-detail; padding:10px;}
	}
		.pm-description {padding:14px 20px 14px 15px;
			.v-fix {}
		}
		.buttons-set {margin:10px 0px 30px;padding:0px;} 
	}
}

.checkout-banner{
  display: none;
}