.footer{
  footer{
    .footer-top{
      margin-bottom: 10px;
      .text-banner-footer{
        padding: 4px 15px;
        background: @color-text1;
        color: @bg-input;
        text-align: center;
        font-size: 16px;
        .MyriadPro-bold;
        word-spacing: 2px;
        letter-spacing: 0.5px;
        background-image: url("../images/bg-footer.jpg");
        background-repeat: repeat-x;
        background-size: auto 30px;
        strong{
          a{
            color: @bg-input;
          }

        }
      }
      .text-banner-footer:before{
        content: "";
        background: url("../images/ico-nav.png") no-repeat;
        background-size: auto 18px;
        display: inline-block;
        width: 20px;
        height: 18px;
        background-position: -147px 3px;
        margin-right: 5px;
      }
    }
    .footer_links{
      padding: 0 15px;
      h2{
        text-transform: uppercase;
        .MyriadPro-bold;
        color: @color-text1;
        border-bottom: 1px solid @color-text1;
        position: relative;
        padding: 7px 0 10px;
        font-weight: bold;
        font-size: 15px;
      }
      h2:before{
        background: url("../images/ico-nav.png") no-repeat;
        width: 18px;
        height: 18px;
        font-size: 12px;
        display: inline-block;
        background-size: auto 22px;
      }
      h2:after{
        content: "\f106";
        font-family: FontAwesome, sans-serif;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        font-size: 21px;
        color: @color-text1;
        top: 10px;
        right: 0;
        position: absolute;

      }
      div {
        ul{
          padding:3px 0 3px 20px;

          li{
            padding:2px 0;
            margin-top: 5px;
            a{
              font-family: arial, helvetica, sans-serif;
              font-size: 12px;
              color: @color-text1;
              display: inline-block;
            }
            a:before{
              content: "\f105";
              font-family: FontAwesome, sans-serif;
              font-weight: normal;
              font-style: normal;
              display: inline-block;
              font-size: 12px;
              color: @color-text1;
              margin-right: 3px;
            }
          }
        }
      }
    }
    .payment_methods{
      padding: 0 15px;
      margin-top: 17px;
      img{
        max-width: 100%;
      }
    }
    .footer_links.active{
      h2:after{
        content: "\f107";
      }
    }
    .information{
      h2:before{
        content: "";
        background-position: -203px 3px;
      }
    }
    .help{
      h2:before{
        content: "";
        background-position: -216px 2px;
      }
    }
    .follow{
      h2:before{
        content: "";
        background-position: -235px 3px;
      }
      margin-bottom: 5px;
    }
  }
  .copyright{
    padding: 4px 15px;
    background: @color-text1;
    color: @bg-input;
    text-align: right;
    .MyriadPro-bold;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    background-image: url("../images/bg-footer.jpg");
    background-repeat: repeat-x;
    background-size: auto 30px;
    font-size: 9px;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 28px;
    .footer_logo{
      float: left;
      overflow: hidden;
      width: 28%;
      display: inline-block;
      img{
        width: 100%;
      }
    }
  }
}