.customer-account-login, .customer-account-create{
  .main{ padding: 0;}
}
.account-login,.account-create{
  .page-title{    
    h1{
      border-bottom: 1px solid #b3b3b3;      
      margin-top: 12px;
      color: @color-text1;
      font-family: arial, helvetica, sans-serif;
      font-size: 16px;
      font-weight: bold;
      padding: 0 15px 10px;
    }
  }
  .new-users{
    margin-top: 5px 0 0 0;
    .content{
      overflow:hidden;
      .login-fb{
        text-align: center;
        h2{
          font-family: arial, helvetica, clean, sans-serif;
          color: @c-fb;
          font-size: 17px;
          margin: 20px 0 0;
        }
        .fb_button_ps{
          margin: 20px auto;
          display: inline-block;
          float: none;
          background: @bt-fb;
          padding: 10px 19px 10px 10px;
          .HelveticaNeueLTCom-Roman;
          .fb-bt{
            font-size: 15px;
            color: @bg-input;
          }
        }
        .fb_button_ps:before{
          content: "\f09a";
          .FontAwesome;
          display: inline-block;
          font-size: 14px;
          color: @bg-input;
          width: 19px;
          height: 14px;
          margin-top: 2px;
          margin-right: 2px;
        }
      }
    }
  }
}
#login-form{
  padding: 0 15px;
  .col2-set{
    .registered-users{
      .content{
         .bg-login-box{
           & > p{
             color: @color-text9;
             font-family: arial, helvetica, sans-serif;
             font-size: 13px;
             margin: 10px 0;
             a{
               color: @color-text5;
             }
           }
           & > p:first-child{
             margin-bottom: 11px;
           }
           p.required{
             color: @color-requred;
             float: right;
             display: inline-block;
             font-size: 11px;
           }
           .form-list{
             li{
               .leftlabel{
                 label{
                   display: inline-block;
                   font-family: arial, helvetica, sans-serif;
                   font-size: 13px;
                   font-weight: bold;
                   em{
                     float: right;
                     color: @color-requred;
                   }
                 }
               }
               .forgetpassword{
                 font-size: 14px;
                 font-family: tahoma, arial, helvetica, sans-serif;
                 text-transform: capitalize;
                 margin-top: 20px;
                 margin-bottom: 23px;
                 a{
                   color: @bg-header1;
                   text-decoration: underline;
                 }
               }
               .input-box{
                 margin: 12px 0;
                 input{
                    border-color: @color-text1;
                   border-radius: 0;
                   padding: 8px 5px;
                   .Thaifont-regular;
                   color: @color-text1;
                 }
               }

             }
             .loginbox{
               .leftlabel{
                 label{
                   em{
                     display: none;
                   }
                 }
               }
             }
           }
           .buttons-set{
             overflow:  hidden;
             padding:0 ;
             .loginbt-loginpage{
               .button{
                 background: @c-btn-login;
                 border:0;
                 font-family: arial, helvetica, clean, sans-serif;
                 font-size: 20px;
                 font-weight: bold;
                 color: @bg-input;
                 padding: 6px 0px;
                 border-radius: 0;
                 text-transform: uppercase;
                 span{ font-size: 20px;}
               }
             }
             .register-block{
               text-align: center;
               font-family: arial, helvetica, clean, sans-serif;
               background-color: @c-btn-checkout;
               padding: 9px 0;
               margin-top: 17px;
               span{
                 color: @border-color1;
                 font-size: 10.5px;
                 width: 100%;
                 display: inline-block;
               }
               a{
                 font-size: 17px;
                 color: @c-white;
                 font-weight: bold;
                 text-transform: capitalize;
               }
             }
           }
         }
      }
    }
  }
}

.onestepcheckout-onestep-index {
  #login-form {
    padding: 0;
  }
}

.buttons-set{
  .back-link{
    margin-bottom: 15px;
    a{
      .MyriadPro-bold;
      color: @color-text1;
      text-transform: uppercase;

      small{
        display: none;
      }
    }
    a:before{
      content: "\f104";
      .FontAwesome;
      display: inline-block;
      font-size: 24px;
      color: @color-text5;
      width: 22px;
      height: 22px;
      position: relative;
      bottom: -2px;
    }
  }
}

.account-create{
 .page-title{
   & > p{
     color: @color-text9;
     font-family: arial, helvetica, sans-serif;
     font-size: 12px;
     margin: 10px 0;
     padding: 0 15px;
     a{
       color: @color-text5;
     }
   }
 }
 form{
  padding: 0 15px;
   .fieldset{
     .form-list{
       li{
         #required-field-text{
           color: @color-requred;
           float: right;
           display: inline-block;
           font-size: 11px;
         }
         label{
           display: inline-block;
           font-family: arial, helvetica, sans-serif;
           font-size: 13px;
           font-weight: bold;
           em{
             float: right;
             color: @color-requred;
           }
         }
         .input-box{
           margin: 12px 0 23px;
           input{
             border-color: @color-text1;
             border-radius: 0;
             padding: 8px 5px;
             .Thaifont-regular;
             color: @color-text1;
           }
         }
       }
     }

     h2.legend{
       display: none;
     }
   }
   .row{
     overflow: hidden;
     .buttons-set{
       margin-top:13px ;
       .button{
         background: @c-btn-login;
         border:0;
         font-family: arial, helvetica, clean, sans-serif;
         font-size: 20px;
         font-weight: bold;
         color: @bg-input;
         padding: 6px 0px;
         border-radius: 0;
         text-transform: uppercase;
         span{ font-size: 20px;}
       }
     }
<<<<<<< HEAD
     .register-subscribe-newsletter{
       overflow: hidden;
=======
     .register-subscribe-newsletter, .register-terms-agreement{
       float: left;
       width: 50%;
       margin-top: 19px;
>>>>>>> MAGENTO-657
       li{
         list-style: none;
         .input-box{
           display: inline-block;
           float: left;
           margin: 3px 7px 0 0;
           input[type=text]{
             margin: 1px 0 0 0 ;
           }
         }
         label{
           font-size:14px ;
           font-family: tahoma, arial, helvetica, sans-serif;
           float: left;
           color: @color-text9;
         }
       }
     }
    .register-terms-agreement {
      width: 100% !important;
      label{
        font-size:11px !important;
        font-family: tahoma, arial, helvetica, sans-serif !important;
      }
    }
   }
   .new-users{
     margin-top: 5px;
   }
 }
}