.customer-account-edit, 
.customer-account-index,
.customer-address-index,
.customer-address-form,
.newsletter-manage-index,.rewardpoints-index-referral,
.sales-order-history, .sales-order-view, .awrma-customer-rma-list,
.rewardpoints-index-points, .review-customer-index, .review-customer-view{
  .main{
    padding: 0;
  }
}
.my-account, .awrma-account,
.rewardpoints-index-points{
  .page-title{
    border-bottom: 1px solid #dcdcdc;
    padding: 1px 15px 15px;
    margin-bottom: 20px;
    h1{
      margin-top: 4px;
      margin-bottom: 6px;
      color: @c-black;
      font-family: arial, helvetica, sans-serif;
      font-size: 16px;
      font-weight: bold;
      &:before{
        content: "\f100";
        .FontAwesome;
        display: inline-block;
        font-size: 13px;
        margin-right: 6px;
      }
    }
  }
  form{
    padding: 0 15px;
    .form-list{
      li{
        margin-bottom: 23px;
        .field{ margin-bottom: 23px;
          &:last-child{ margin-bottom: 0;}
        }
        input.input-text{
          padding: 8px;
          color: #999999;
          font-size: 14px;
        }
      }
    }
  }
  div.checker{
    width: 24px;
    height: 24px;
    span{
      background-image: none;
      width: 24px;
      height: 24px;
      border: 1px solid @c-black;
      margin-top: -2px;
      input{ width: 24px; height: 24px;}
      &.checked{
        position: relative;
        &:after{
          content:"";
          background: url("../images/icr-checked.png") no-repeat;
          display: block;
          width: 22px;
          height: 16px;
          position: absolute;
          top: 4px;
        }
      }
    }
  }
  .buttons-set{
    overflow: hidden;
    position: relative;
    .back-link{
      float: left;
      position: absolute;
      bottom: -2px;
      margin-bottom: 0;
      width: 100%;
      a{
        color: @c-black;
        font-size: 15px;
        text-transform: capitalize;
        font-family: arial, helvetica, sans-serif;
        font-weight: 400;
        &:before{
          content: "\f100";
          .FontAwesome;
          display: inline-block;
          font-size: 13px;
          color: @c-black;
          bottom: 0;
          width: 11px;
        }
      }
    }
    .buttons{
      float: right;
      button.button{
        background-color: @c-btn-login;
        border-radius: 0;
      }
      .required{
        color: #ff0004;
        margin-bottom: 15px;
        text-align: right;
      }
    }    
  }
  .addresses-list{    
    ol{
      list-style: none;
      li{
        padding-left: 11px;
        address{ 
          margin-bottom: 15px;
          font-size: 14px;
          color: @color-text8;
        }
      }
    }
    .sub-title{
      font-size: 15px;
      font-weight: 700;
      color: @c-text-detail;
      text-transform: capitalize;
      margin-bottom: 18px;
    }
    a{
      font-size: 12px;
      font-weight: 700;
      color: @c-price;
    }
    .actions{
      background: transparent;
      text-align: left;
      padding-left: 26px;
      .separator{
        margin: 0 10px;
        color: @c-price;
      }
    }
    .addresses-primary{
      margin-bottom: 30px;
      padding: 0 15px;
    }
    .addresses-additional{
      .sub-title{ padding: 0 15px;}
      ol li{
        background-color: @c-background1;
        margin-bottom: 15px;
        padding:  15px 0 0;
        address{ padding-left: 26px;}
      }
    }
  }
  .selector{
    height: 35px !important;
    span{
      border: 1px solid @c-black;
      height: 35px !important;
      line-height: 35px !important;
      color: #999999 !important;
      font-family: arial, helvetica, sans-serif;
      font-size: 14px;
      &:after{
        background-color: @c-black;
        width: 37px;
      }
    }    
  } 
}
.customer-account-index{
  .block-blog{ display: none}
  #menu{
    #nav-container{
      ul{
        li{
          padding: 14px 9px;
          a{
            color: @color-text2;
            font: bold 14px arial, helvetica, sans-serif;
          }
        }
      }
    }
  }
  .page-title{
    margin-bottom: 0;
    h1{
      margin-top: 4px;
      margin-bottom: 13px;
      color: @c-black;
      font-family: arial, helvetica, sans-serif;
      font-size: 18px;
      font-weight: bold;
      &.name-customer{
        float: right;
        font-weight: 400;
        font-size: 15px;
      }
      &.label{ float: left;}
      &:before{ content:""}
    }
  }
  .welcome-msg{
    color: @color-text7; /* text color */
    font-family: "Arial";
    font-size: 12px;
    line-height: 18px;
    .hello{
      font-weight: bold;
    }
  }
  .box-account{
    .box-title{
      overflow: hidden;
      margin: 17px 0 0;
      h3{
        display: inline-block;
        float: left;
      }
      a{
        float: right;
        color: @color-text1;
        font-weight: normal;
      }
    }
    .box-content{
      p{
        color: @color-text8; /* text color */
        font-family: arial, helvetica, clean, sans-serif;
        font-size: 13px;
        line-height: 13px;
        span{
          width: 100%;
          display: inline-block;
          margin: 20px 0 0;
        }
        a{
          display: inline-block;
          margin: 20px 0;
          color: @color-text1;
        }
      }
      .subscribe-currently,.subscribe-list{
        margin-top: 15px;
      }
      .subscribe-list{
        color: @color-text1;
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: 1px solid @color-text1 ;
      }
    }
    .sub-title{
      & > span{ display: none;}
      a{
        float: right;
        color: @color-text1;
        font-weight: normal;
      }
    }
    .info-box{
      padding-left: 5px;
      h3{
        color: @color-text8;
        span{
          display: none;
        }
      }
      address{
        font-style: normal;
        color: @color-text8;
      }
    }
  }
  .my-account{
    margin-bottom: 0;
    .page-title{
      border-bottom: 1px solid #dcdcdc;
      padding: 0 15px;
    }
  }
  .my-account-links{
    li{
      border-bottom: 1px solid #dcdcdc;
      padding: 15px 15px 15px 31px;
      a{
        font-size: 16px;
        color: @color-text9;
        display: block;
        position: relative;
        &:after{
          content: "\f105";
          font-family: FontAwesome, sans-serif;
          font-weight: bold;
          font-style: normal;
          display: inline-block;
          font-size: 16px;
          color: @c-black;
          position: absolute;
          z-index: 99;
          top: 0;
          right: 0;
        }
      }
      
    }
  }
}
.customer-account-edit{
  .my-account{
    .page-title{
      .customer-id{ font-size: 12px; color: @bg-header1; padding-left: 13px;}
    }
    form{
      overflow: hidden;
      .form-list{
        li.control{
          label{ color: @color-text9; font-size: 14px;}
        }        
      }
      .fieldset h2.legend{ margin-bottom: 14px;font-size: 16px;color: #666666;font-weight: 400;}      
    }
  }
}
.customer-address-index, .awrma-customer-rma-list{
  .page-title{    
    padding: 0;
    margin-bottom: 20px;
    border-bottom: none;
    h1{
      border-bottom: 1px solid #dcdcdc; 
      padding: 0 15px 10px;   
      margin:0;  
    }
    .top-button{
      border-bottom: 1px solid #dcdcdc; 
      padding: 15px 58px 15px;
      button.button{
        border-radius: 0;
        background-color: @c-btn-login;
        span{
          color: @c-white;
          font-size: 15px;
        }
      }
    }
  }
}
.customer-address-form{
  .my-account{
    .page-title{ padding-bottom: 5px;}
    .buttons-set{
      .buttons{
        button.button{
          background-color: @c-btn-login;
          border-radius: 0;
          > span{
            text-transform: uppercase;
            padding: 0 10px;
          }
        }        
      }    
    }
  }  
}
.newsletter-manage-index,
.awrma-customer-rma-list{
  .my-account, .awrma-account{
    .page-title{ padding-bottom: 5px;}
    .buttons-set{
      .buttons{
        button.button{
          > span{
            padding: 0 32px;
          }
        }        
      }    
    }
    form{
      .form-list{
        li.control{
          label{ color: @color-text9; font-size: 14px; margin-left: 6px;}
        }        
      }            
    }
  }
}
.rewardpoints-index-referral{
  .main{ position: relative;}
  .my-account{
    .page-title{ padding-bottom: 5px; margin-bottom: 13px;}
    .content-page{
      padding: 0 15px;
      position: relative;
      .group-select{ margin-bottom: 13px;}
      .mes-top{
        font-size: 14px;
        color: @color-text9;
        margin-bottom: 20px;
        strong{
          font-weight: 400;
        }
      }
      .box-recent{
        .box-title h3{
          font-weight: 700;
          font-size: 14px;
          color: @c-black;
          margin-bottom: 18px;
        }
        .logo-share{
          text-align: center;
          .twitter-share{ margin-left: 25px;}
        }
      }
      form{
        padding: 0;
        margin-top: 30px;
        .form-list li{
          margin-bottom: 17px;
          .field.j2t-rewardpoints-email{ width: 100%;} 
        }      
      }
      .mes-invited{
        float: left;
        margin-top: -76px;
        font-size: 11px;
        color: #999999;
      }      
    }
  }
  .buttons-set{
    padding-left: 15px;
    .back-link{
      float: left;
      position: absolute;
      bottom: 12px;
      margin-bottom: 0;
      width: 100%;
      a{
        color: @c-text-detail;
        font-size: 15px;
        text-transform: capitalize;
        font-family: arial, helvetica, sans-serif;
        font-weight: 400;
        small{ display: none}
        &:before{
          content: "\f100";
          .FontAwesome;
          display: inline-block;
          font-size: 13px;
          color: @c-text-detail;
          bottom: 0;
          width: 11px;
        }
      }
    }           
  }
}
.sales-order-history, .rewardpoints-index-points,
.review-customer-index{
  .my-account{
    .page-title{ padding-bottom: 5px;}
    .pager{
      padding: 0 15px;
      margin-bottom: 15px;
      .limiter{
        overflow: hidden;
        text-align: center;
        margin-bottom: 13px;
        label{
          float: left;
        }
        > span{
          float: right;
        }
        label, >span{
          line-height: 35px;
          font-weight: 700;
          font-size: 14px;
          color: @color-text8;
        }
        .selector{
          width: 44% !important;
          span{
            text-align: left;
            padding-left: 37px !important;
          }
        }
      }
    }
    .data-table{
      li{
        border-bottom: 1px solid #dcdcdc;
        padding: 15px 15px 5px;
        font-size: 14px;
        color: @color-text9;
        position: relative;
        &:first-child{
          border-top: 1px solid #dcdcdc;
        }
        p{ margin-bottom: 10px;
          label{ font-weight: 700; width: 100px; display: inline-block;}
          &.view-order{
            text-align: right;
            padding-right: 22px;
            padding-top: 10px;
            a{
              font-weight: 700;
              font-style: italic;
              font-size: 13px;
              color: @c-price;
            }
            .separator{
              color: @c-price;
              margin: 0 10px;
            }
          }
        }

        .show-more{
          position: absolute;
          top: 15px;
          right: 15px;
          background: url("../images/btn-add-one.png") no-repeat;
          width: 19px;
          height: 19px;
          text-indent: -1000em;
        }
        &.active{
          background-color: @c-background1;
          .show-more{
            background: url("../images/icr-more-show.png") no-repeat;
          }
        }
      }
    }
    .buttons-set{
      padding: 30px 15px 0;
      .back-link{          
        position: static;         
      }         
    }    
  }
}
.sales-order-view{
  .my-account .page-title{ margin-bottom: 15px; overflow: hidden;
    .order-status{
      float: left;
      font-size: 12px;
      font-style: italic;
      color: #737373;
    }
    .link-reorder{
      float: right;
      font-weight: 700;
      text-decoration: underline;
      font-size: 13px;
      color: @c-price;
    }
  }
  .order-date{
    padding: 0 15px 15px;
    font-size: 13px;
    color: #737373;
    border-bottom: 1px solid #dcdcdc;
  }
  .box{
    border-bottom: 1px solid #dcdcdc;
    padding: 11px 15px;
    position: relative;
    .action{
      position: absolute;
      top: 9px;
      right: 15px;
      background: url("../images/btn-add-one.png") no-repeat;
      width: 19px;
      height: 19px;
      text-indent: -1000em;
    }
    .box-title h2{
      font-size: 15px;
      font-weight: 700;
      color: @bg-header1;
    }
    .box-content{
      address{
        padding: 14px 10px;
        font-size: 14px;
        color: #333333;
      }
    }
    &.active{
      background-color: @c-background1;
      .action{
        background: url("../images/icr-more-show.png") no-repeat;
      }
    }
  }
  .order-details{     
    background-color: @c-background1;
    .data-orders{
      padding: 0 15px;
      border-bottom: 1px solid #dcdcdc;
      .item{
        overflow: hidden;
        margin-bottom: 15px;
        color: #333333;
        font-size: 14px;
        label{
          float: left;
          width: 48%;
          font-weight: 700;
        }
        .right-data{
          float: left;
          width: 52%;
          h3.product-name{ font-weight: 400}
        }
      }
    }
    .totals-orders{
      background-color: #fff;
      font-size: 13px;
      >div{
        overflow: hidden;
        border-bottom: 1px solid #dcdcdc;
        padding: 15px;
        .left-totals{
          float: left;
          width: 48%;
        }
        .right-totals{
          float: left;
          width: 50%;
          font-weight: 700;
        }
      }
    }  
    .table-caption{      
      font-size: 15px;
      font-weight: 700;
      color: @bg-header1;
      padding: 15px;
    }
    .buttons-set{
      padding: 23px 15px 0;
      background-color: #fff;
      .back-link{          
        position: static;         
      }         
    }
  }
}
.awrma-customer-rma-list{
  .my-account{
    .buttons-set .back-link{ position: static; padding: 0 15px;}
  }
  .content-awrma{ padding: 0 15px; margin-bottom: 20px;}
}
.rewardpoints-index-points{
  .my-account{
    .page-title{ padding-bottom: 5px;}
    .data-table{
      li{
        label, span.key{
          width: 110px !important;
          display: inline-block !important;
          float: left;
          font-weight: 700;
          font-size: 13px;
        }
        .more-infor{
          .row{ margin-bottom: 10px;}
        }
      }
    }       
  }
  .buttons-set{
    padding: 30px 15px 0;
    .back-link{          
      position: static;         
    }         
  } 
  .rewardpoints{
    background-color: #f4f4f4;
    border-top: 1px solid @color-text4;
    border-bottom: 1px solid @color-text4;
    padding: 10px 15px;
    margin-top: 24px;
    ul li{
      font-size: 14px;
      color: @color-text8;
      overflow: hidden;
      margin-bottom: 10px;
      label{
        float: left;
      }
      span{ float: right;}
    }
  }
  .main > .pager{ display: none;}  
}
.review-customer-index{
  .data-table{
    li{
      overflow: hidden;
      padding-bottom: 5px !important;
      dt, dd{ margin-bottom: 10px; overflow: hidden;
        label{ font-weight: 700; width: 100px; display: inline-block; float: left;}
        span.myproduct-name{
          float: left;
          display: inline-block;
          min-width: 55%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 92px;          
        }        
      }
      dd{
        margin-bottom: 10px;
        span{ float: left; width: auto;}
        &.see-more{
          text-align: center;
          margin: 15px 0 10px;
          a{
            font-size: 13px;
            font-weight: 700;
            font-style: italic;            
            color: @c-text-detail;
          }          
        }
      }     
    }
  }
}

.review-customer-view{
  .my-account{
    .page-title{ padding-bottom: 5px;} 
    .product-review{
      color: #666666;
      .product-img-box{
        padding: 0 15px;
        text-align: center;
        margin-bottom: 30px;
        a{
          display: block;
          width: 50%;
          margin: 0 auto;
          img{ width: 100%}
        }
      }
      .product-details{
        padding: 0 15px;
        margin-bottom: 30px;
        .product-name{
          font-weight: 700;
          font-size: 14px;
          color: @c-text-detail;
          margin-bottom: 15px;
        }
        dt{
          margin-bottom: 15px;
          text-transform: capitalize;
          font-size: 14px;          
        }
        dd:last-child{
          margin-top: 15px;
          font-size: 12px;
        }
      }
    }      
  }
  .buttons-set{
    padding: 30px 15px 0;
    .back-link{          
      position: static;         
    }         
  } 
}