
/*Order confirmation page*/
.onestepcheckout-onestep-success {
  p, span {
    line-height: 200%;
  }
  .order-note {
    color: @c-text-detail;
    font-size: 95%;
    font-style: italic;
  }
  .txt-bold {
    font-weight: bold;
  }
  .txt-lime {
    color: @c-text-detail;
  }
  .txt-navy {
    color: @c-text-detail;
  }
  #contain > h2, #contain>h2 + p {
    margin-left: 15px;
  }
  [class="row"] {
    border-top: 1px solid #ddd;
  }
  h1{
         margin-top: 4px;
         margin-bottom: 6px;
         color: @c-text-detail;
         font-family: arial, helvetica, sans-serif;
         font-size: 16px;
         font-weight: bold;
         &:before{
           content: "\f100";
           .FontAwesome;
           display: inline-block;
           font-size: 13px;
           margin-right: 6px;
         }
       }
  h2 {
    color: @c-text-detail;
  }
  #contain>h2 + p {
    color: @c-text-detail;
  }
  .order-infor {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #f0f7ff;
  }
  .order-infor > div {
    margin-left: 15px;
  }
  .order-actions {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
  .order-actions > a {
    background-color: @c-btn-checkout;
    color: #fff;
    display: block;
    height: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9px;
    text-align: center;
  }
  .sharing-fb {
    background-color: #3c5a9a;
    color: #fff;
    display: block;
    height: 35px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9px;
    text-align: center;
  }
  .sharing-email > .btn {
    background-color: #0c4d91;
    color: #fff;
    display:block;
    height: 35px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 9px;
    text-align: center;
  }
  .order-actions + div.row {
    background-color: #f0f7ff;
  }

  .row > h2 {
    margin-left: 15px;
  }

  .sharing-note > span, .line-note > span {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }
  .line-note> span {
    width: 100px;
  }

  #contain > div:nth-child(9) {
    padding-left: 15px;
  }

  .line-qr {
    clear: both;
    height: auto;
    width: 15%;
    margin: 50px auto;
    margin-bottom: 30px;
  }
  .line-qr p img {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0px auto;

  }
  .line-note {
    width: 290px;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  .line-note span {
    background-color: #0C4D91;
    color: #fff;
    width: 290px !important;
    padding: 5px;
    text-align:center;width: 100%;
  }
}