.cms-home{
  .std{
    margin: 0 -15px;
    box-sizing: border-box;
  }
  .bx-wrapper{
//    width: 100%;
    margin: 5px 0 0;
//    max-width: 100%!important;
    .bx-viewport{
      border: 0;
      left: 0;

      ul{

        li{
//          margin: 0 -15px;
//          box-sizing: border-box;
        }
      }
    }

    .bx-pager{
      bottom: 8px;
      .bx-pager-item{
        width: 15px;
      }
    }
    .bx-pager.bx-default-pager{
      a{
        background: #fff;
      }
      a.active{
        background: url("../images/ico-slider.png") no-repeat transparent;
        background-size: 12px auto;
        width: 12px;
        height: 12px;
      }
    }
    .bx-controls-direction{
      display: none;
    }
  }
  .main{
    .std{
      p{
        display: block;
        a{
          max-width:100% ;
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}