#brandslide{
  margin: 25px 0 11px ;
  padding: 26px 0;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.35);
  background: @bg-brand;
  text-transform: uppercase;
  overflow: hidden;
  h1.title{
    margin: 12px;
    text-align: center;
    .MyriadPro-bold;
    font-size: 12px;
    color: @color-text3;
  }
  .bx-wrapper
  {
    margin-bottom: 10px;
    width: 100%!important;
    max-width: 100%!important;
    .bx-viewport{
      -webkit-box-shadow: none;
      box-shadow: none;
      background: transparent;
      #brand-slides{
        li{
          a{
            img{
              max-width: 60%;
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
    .bx-controls{
      .bx-controls-direction{
        display: block;
        a{
          background: none;
          text-indent: initial;
          font-size: 0px;
          height: 14px;
          width: 14px;
          top: 55%;
        }
        a.bx-prev:before{
          content: "\f104";
          font-family: FontAwesome, sans-serif;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          font-size: 24px;
          color: @color-text3;

        }
        a.bx-next:before{
          content: "\f105";
          font-family: FontAwesome, sans-serif;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          font-size: 24px;
          color: @color-text3;
        }
        a.bx-next{
          right: 5px;
        }
        a.bx-prev{
          left: 5px;
        }
      }
    }
  }
}