//
// Variables
// --------------------------------------------------

@images: "../images/";
@img: "../img/";

@c-white:			#ffffff;
@c-black:			#000000;
@bg-header:         @c-black;
@bg-header1:        @c-black;
@bg-input:          @c-white;
@color-text1:       #484848;
@color-text2:       @bg-input;
@border-color1:     #85d2e7;
@border-color2:     #aeaeae;
@border-color3:     #9edcec;
@border-color4:     #4d4d4d;
@bg-nav-top:        #252525;
@price-text:        @c-price;
@btn-favorite:      #2866c2;
@btn-add-to-cart:   @c-black;
@bg-brand:          #f0f5fd;
@color-text3:       #97a5bc;
@color-text4:       #999999;
@color-text5:       @c-black;
@color-price:       #959595;
@color-text6:       @c-black;
@color-text7:       @c-black;
@color-requred:     #df1e21;
@color-text8:       #333333;
@border-color:      #eaa90c;
@bt-fb:             #3b5998;
@border-img:        #dadada;
@color-text9:       @c-black;
@color-text10:      #336699;
@bg-table:          #f4f4f4;

// add new color

@c-color-border1:	#cdcdcd;
@c-color-border2:	#dbdbdb;
@c-border3:			#e7e7e7;
@c-background1:		#eaeaea;
@c-price:			#eaaa00;
@c-text-detail:		@c-black;
@c-text-input: 		@c-black;
@c-border-cart:		#7b7b7b;
@c-btn-checkout:	@c-black;
@c-btn-login:		#eaaa00;
@c-fb:              #3b5999;