<?php /* @var $this Mage_Core_Block_Template */ ?>
<?php if ($locales = $this->getLocales()): ?>
<p class="switcher"><label for="store_switcher"><?php echo $this->__('Choose Locale:') ?></label>
<select name="store_switcher" id="store_switcher" onchange="return switchStore(this);">
    <?php foreach ($locales as $locale): ?>       
        <option value="<?php echo $locale['value'] ?>"<?php if($this->getLocaleCode() == $locale['value']): ?> selected="selected"<?php endif; ?>>&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->escapeHtml($locale['label']) ?></option>
    <?php endforeach; ?>
</select>
<?php echo $this->getHintHtml() ?>
</p>
<script type="text/javascript">
    function switchStore(obj) {
        var storeParam = obj.value ? 'locale/' + obj.value + '/' : '';
        if (obj.switchParams) {
            storeParam += obj.switchParams;
        }
    <?php if ($this->getUseConfirm()): ?>
        if (confirm("<?php echo $this->__('Please confirm site switching. All data that hasn\'t been saved will be lost.') ?>")) {
            setLocation('<?php echo $this->getSwitchUrl() ?>' + storeParam);
            return true;
        } else {
            obj.value = '<?php echo $this->getLocaleCode() ?>';
        }
        return false;
    <?php else: ?>
        setLocation('<?php echo $this->getSwitchUrl() ?>' + storeParam);
    <?php endif; ?>
    }
</script>
<?php endif; ?>
