<?php /* @var $this SM_Freebies_Block_Items */ ?>
<?php $products = $this->getProduct(); ?>
<div id="tbl-selected-freebies" style="display: none;">
    <table class="data-table" style="background-color: white !important;border: 0px !important;">
        <tbody>
        <?php if ($products != null && $products->count() > 0): ?>
            <?php foreach ($products as $product): ?>
                <tr>
                    <td colspan="4" style="background:white;border-bottom:1px dotted #d5d5d5 !important;">
                        <p class="h3 product-name"><?php echo $product->getName(); ?></p>

                        <div class="checkout-review-item">
                            <div class="w50item" style="width: 90px;	text-align: left;">
                        <span class="cart-price">
                            <span style="font:normal 12px 'Arial' #000;"><?php echo $this->__('Free'); ?></span>
                        </span>
                            </div>
                            <div class="w50itemmid" style="width: 80px; text-align: center;">
                        <span class="cart-price">
                            <span style="font:normal 12px 'Arial' #000;">Qty.&nbsp;</span>
                            <span class="price">1</span>
                        </span>
                            </div>
                            <div class="w50itemright" style="width: 110px; text-align: right;">
                        <span class="cart-price">
                            <span style="font:normal 12px 'Arial' #000;">Subtotal&nbsp;</span>
                            <span class="price"><?php echo Mage::helper('core')->currency(0, true, false); ?></span>
                        </span>
                            </div>
                        </div>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var freebies_wrapper = jQuery('#tbl-selected-freebies');
        var freebies_content = freebies_wrapper.find('table tbody').html();
        var target = jQuery('div.order-review');
        if(freebies_content != ''){
            target.prepend(freebies_wrapper.html());
            freebies_wrapper.remove();
        }else{
            freebies_wrapper.remove();
        }
    });
</script>