<?php /* @var $this SM_Freebies_Block_Products */ ?>
<?php if($this->hasRule()): ?>
    <?php $products = $this->getProducts(); ?>
    <?php if($this->getFreebiesLimit() > 0): ?>
        <td colspan="8" class="tdfreebie">
            <table>
                <tr>
                    <td class="store-col"><span class="freebie-store-ico"></span></td>
                    <td class="freebie-desc" colspan="2">
                        <p class="title"><?php echo $this->__('You get a freebie!') ?></p>
                        <p class="text"><?php echo $this->__('Please select one <br/>freebie before checking out') ?></p>
                    </td>
                    <td class="freebie-products" colspan="5">
                        <div class="slide-freebie">
                            <a class="prev" href="javascript:void(0);" style="display: block;">prev</a>
                            <ul class="freebie" id="freebies-slide">
                                <?php if (!is_null($products) && $products->count() > 0): ?>
                                    <?php $selectedFreebies = $this->getSelectedFreebies(); ?>
                                    <?php foreach ($products as $product): ?>
                                        <?php if ($product->isSaleable()): ?>
                                            <?php $checker = in_array($product->getId(), $selectedFreebies); ?>
                                            <li style="cursor: pointer;"<?php echo $checker ? ' contextmenu="selected"' : ''; ?>>
                                                <img class="product-image"
                                                     src="<?php echo Mage::helper('catalog/image')->init($product, 'image')->resize(100) ?>"
                                                     contextmenu="product-<?php echo $product->getId() ?>"<?php echo $checker ? ' style="border-color: #444;"' : ''; ?>/>
                                                <p class="product-name"><?php echo $product->getName() ?></p>
                                            </li>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </ul>
                            <a class="next" href="javascript:void(0);" style="display: block;">next</a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                jQuery('#freebies-slide').carouFredSel({
                    scroll: {
                        items: 1,
                        effect: 'easeOutBounce',
                        speed: 2500,
                        pauseOnHover: true
                    },
                    auto: false,
                    responsive: false,
                    items: 3,
                    next: "a.next",
                    prev: "a.prev"
                });

                var limitSelection = <?php echo $this->getFreebiesLimit(); ?>;

                jQuery('ul.freebie li').click(function () {
                    var target = jQuery(this);
                    // get product id
                    var image = target.find('img.product-image');
                    var product = image.attr('contextmenu');
                    var productId = product.replace('product-','');
                    if(limitSelection == 1){
                        // find current selected item to remove
                        if(jQuery('ul.freebie li[contextmenu="selected"]').length > 0){
                            var oldTarget = jQuery('ul.freebie li[contextmenu="selected"]');
                            var oldImage = oldTarget.find('img.product-image');
                            var oldProduct = oldImage.attr('contextmenu');
                            var oldProductId = oldProduct.replace('product-','');
                            jQuery.ajax({
                                url         : "<?php echo Mage::getUrl('freebies/index/add') ?>",
                                type        : 'post',
                                data        : 'id='+oldProductId+'&action=remove',
                                async       : true,
                                beforeSend  : function () {
                                    jQuery('#freebies-loading').show();
                                },
                                success     : function (result) {
                                    if(result != null && result == 'true'){
                                        oldImage.css('border-color','#fff');
                                        oldTarget.removeAttr('contextmenu');
                                    }
                                }
                            });
                        }
                        // add new selected item
                        jQuery.ajax({
                            url         : "<?php echo Mage::getUrl('freebies/index/add') ?>",
                            type        : 'post',
                            data        : 'id='+productId+'&action=add',
                            async       : true,
                            beforeSend  : function () {
                                jQuery('#freebies-loading').show();
                            },
                            success     : function (result) {
                                if(result != null && result == 'true'){
                                    setTimeout(function () {
                                        image.css('border-color','#444');
                                        target.attr('contextmenu', 'selected');
                                    }, 500);
                                    jQuery('#freebies-loading').hide();
                                }
                            }
                        });
                    }else{
                        // check limit
                        if(target.attr('contextmenu') == null){
                            if(jQuery('ul.freebie li[contextmenu="selected"]').length >= limitSelection){
                                return false;
                            }
                        }
                        // if pass limit, send ajax request
                        jQuery.ajax({
                            url         : "<?php echo Mage::getUrl('freebies/index/add') ?>",
                            type        : 'post',
                            data        : 'id='+productId+'&action='+(target.attr('contextmenu') == 'selected' ? 'remove' : 'add'),
                            async       : true,
                            beforeSend  : function () {
                                jQuery('#freebies-loading').show();
                            },
                            success     : function (result) {
                                if(result != null && result == 'true'){
                                    if(target.attr('contextmenu') == 'selected'){
                                        image.css('border-color','#fff');
                                        target.removeAttr('contextmenu');
                                    }else{
                                        image.css('border-color','#444');
                                        target.attr('contextmenu', 'selected');
                                    }
                                    jQuery('#freebies-loading').hide();
                                }
                            }
                        });
                    }
                });
            });
        </script>
    <?php else: ?>
        <td colspan="8" class="tdfreebie">
            <table>
                <tr>
                    <td class="store-col"><span class="freebie-store-ico"></span></td>
                    <td class="freebie-desc" colspan="2">
                        <p class="title"><?php echo $this->__('Freebies for you!') ?></p>
                        <p class="text"><?php echo $this->__('Spend over ') . Mage::helper('core')->currency($this->getMinimumToSpend(), false, false) . $this->__(' Baht <br/>to get a range of our <br/>freebies and toys.') ?></p>
                    </td>
                    <td class="freebie-products freebies-hidden" colspan="5">
                        <ul class="freebie" id="freebies-slide">
                            <?php $countFreebies = 1; ?>
                            <?php if (!is_null($products) && $products->count() > 0): ?>
                                <?php foreach ($products as $product): ?>
                                    <?php if ($product->isSaleable()): ?>
                                        <?php if ($countFreebies <= 3): ?>
                                            <li>
                                                <img class="product-image"
                                                     src="<?php echo Mage::helper('catalog/image')->init($product, 'image')->resize(100) ?>"/>
                                            </li>
                                            <?php $countFreebies += 1; ?>
                                        <?php else: ?>
                                            <?php break; ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    <?php endif; ?>
<?php endif; ?>