<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <h4><?php echo $this->__('LINE Pay'); ?></h4>
    <p><?php echo $this->__('LINE Pay is a secured and easy payment platform. You will be redirected to the LINE Pay system instructions. This will require your LINE application on your smartphone to complete the payment.');?></p>
</ul>
