<?php
$wishLists = $this->getWishlists();
$catName = $this->getCatname();
?>
<div class="one_column collection-page">
    <div class="wrap-body"></div>
    <div class="bg-dark-megamenu"></div>
    <div class="wrap-middle-content container">
        <div class="row">
            <div class="container">

                <ol class="breadcrumb">
                    <li class="active"><?php echo $catName ?><span
                            class="result_collection">(<?php echo count($wishLists) ?> results)</span></li>
                </ol>
                <div class="category_name_collection"><h1><?php echo $catName ?></h1></div>
            </div>
        </div>
        <div class="wrap-content">
            <div class="bg_popup"></div>
            <div class="content">
                <div class="row">
                    <div class="container">
                        <?php foreach ($wishLists as $wishList):
                            $customer = Mage::getSingleton('customer/customer')->load($wishList['customer_id']);
                            $itemSlug = Mage::getModel('catalog/product_url')->formatUrlKey($wishList['name']);
                            ?>

                            <div itemtype="http://schema.org/ItemList" class="collection-card">
                                <div class="wrap-widget" itemprop="itemListElement" itemscope=""
                                     itemtype="http://schema.org/Product">
                                    <div class="prod-image">
                                        <a class="block-link-product-1" itemprop="url"
                                           href="<?php echo Mage::getUrl('collections/' . $wishList['id'] . '-' . $itemSlug); ?>">
                                            <?php if ($wishList['cover']) : ?>
                                                <img style="display: block;" class="lazy"
                                                     src="<?php echo $this->getUrl('media/collection-cover') . $wishList['cover']; ?>"/>
                                                <?php $coverImage = $this->getUrl('media/collection-cover') . $wishList['cover']; ?>
                                                <!-- Use cloud cover image, If wishlist cover image is not exist -->
                                            <?php else : ?>
                                                <img style="display: block;" class="lazy"
                                                     src="<?php echo $this->getSkinUrl('images/') . 'orami_collection_empty.png'; ?>"
                                                     class="cg-img-responsive"
                                                     alt="<?php echo $wishList['name']; ?>">
                                            <?php endif; ?>
                                        </a>
                                    </div>

                                    <div class="wrap-widget-detail">
                                        <div class="category-name">
                                            <?php echo $catName ?>
                                        </div>
                                        <div class="collection-name">
                                            <?php echo $wishList['name'] ?>
                                        </div>
                                        <div class="colllection-owner">
                                            <div class="colllection-owner-name">
                                                <?php echo 'By ' . $customer->getName() ?>
                                            </div>
                                        </div>

                                        <a itemprop="url"
                                           href="<?php echo Mage::getUrl('collections/' . $wishList['id'] . '-' . $itemSlug); ?>">
                                            <button class="clearfix btn btn-label-ghost">View Collection <i
                                                    class="fa fa-angle-right" aria-hidden="true"></i></button>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        <?php endforeach; ?>

                        <div class="paging">
                            <p class="showing">Menampilkan 1 - 6 dari 6 produk </p>
                            <ul class="pagination">
                                <li class="current"><a href="#!">1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./index_files/footer.03f60127.js"></script>
    <script type="text/javascript" async="" src="./index_files/view"></script>

</div>