<?php
$collectionCats = $this->getCollectionCats();
?>

<div class="one_column collection-page">
    <div class="wrap-body"></div>
    <div class="bg-dark-megamenu"></div>
    <div class="wrap-middle-content container">

        <div class="wrap-content">
            <div class="bg_popup" style="visibility: hidden;"></div>
            <div class="content">
                <?php
                    echo $this->getLayout()->createBlock('cms/block')->setBlockId('collection_banner_block')->toHtml();?>
                <div class="row">
                    <?php foreach ($collectionCats as $value): ?>
                        <?php $wishLists = Mage::getModel('socialcommerce/customercollection')
                            ->getCollection()->addFieldToFilter('collection_category_id', array('eq' => $value['category_id']))->setPageSize(4);
                        ?>
                        <?php if (count($wishLists) > 0): ?>
                            <div class="container">
                                <div style="font-weight: bold" class="category_name">
                                    <span><?php echo $value['name'] ?></span></div>
                                <div class="wrap_widget_collection">
                                    <?php
                                    foreach ($wishLists as $wistList) {
                                        $list = Mage::getSingleton('wishlist/wishlist')->load($wistList->getData('wishlist_id'));
                                        $customer = Mage::getSingleton('customer/customer')->load($list->getData('customer_id'));
                                        $itemSlug = Mage::getModel('catalog/product_url')->formatUrlKey($list->getName());
                                        ?>
                                        <div itemtype="http://schema.org/ItemList" class="collection-card">
                                            <div class="wrap-widget" itemprop="itemListElement" itemscope=""
                                                 itemtype="http://schema.org/Product">
                                                <div class="prod-image">
                                                    <a class="block-link-product-1" itemprop="url"
                                                       href="<?php echo Mage::getUrl('collections/' . $list->getData('wishlist_id') . '-' . $itemSlug); ?>">
                                                        <?php if ($list->getCover()) : ?>
                                                            <?php if (getimagesize($this->getUrl('media/collection-cover') . $list->getCover()) !== false): ?>
                                                                <img style="display: block;" class="lazy" src="<?php echo $this->getUrl('media/collection-cover') . $list->getCover(); ?>"/>
                                                            <?php else: ?>
                                                                <?php if (strpos($this->getUrl('media/collection-cover') . $list->getCover(), '/en')): $link = str_replace("/en","",$this->getUrl('media/collection-cover') . $list->getCover()) ?>
                                                                    <img src="<?php echo $link; ?>" style="display: block;" class="lazy">
                                                                <?php elseif (strpos($this->getUrl('media/collection-cover') . $list->getCover(), '/th')): $link = str_replace("/th","",$this->getUrl('media/collection-cover') . $list->getCover())?>
                                                                    <img src="<?php echo $link; ?>" style="display: block;" class="lazy">
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                            <?php $coverImage = $this->getUrl('media/collection-cover') . $list->getCover(); ?>
                                                            <!-- Use cloud cover image, If wishlist cover image is not exist -->

                                                        <?php else : ?>
                                                            <img style="display: block;" class="lazy no-cover"
                                                                 src="<?php echo $this->getSkinUrl('images/') . 'orami_collection_empty.png'; ?>"
                                                                 alt="<?php echo $list->getName(); ?>">
                                                        <?php endif; ?>
                                                    </a>
                                                </div>

                                                <div class="wrap-widget-detail">
                                                    <div class="category-name">
                                                        <?php echo $value['name'] ?>
                                                    </div>
                                                    <div class="collection-name">
                                                        <?php echo $list->getName() ?>
                                                    </div>
                                                    <div class="colllection-owner">
                                                        <div class="colllection-owner-name">
                                                            <?php echo 'By ' . $customer->getName() ?>
                                                        </div>
                                                    </div>

                                                    <a itemprop="url"
                                                       href="<?php echo Mage::getUrl('collections/' . $list->getData('wishlist_id') . '-' . $itemSlug); ?>">
                                                        <button class="clearfix btn btn-label-ghost">View Collection <i
                                                                class="fa fa-angle-right" aria-hidden="true"></i>
                                                        </button>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                    ?>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php if (count($wistLists) > 3): ?>
                            <div class="container">
                                <div class="category-link clearfix">
                                    <a class="margin-center"
                                       href="<?php echo Mage::getUrl('collections/index/collectionwishlist') . 'cat_id/' . $value['category_id'] ?>">
                                        <button class="btn btn-label-ghost">
                                            Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        <?php else: ?>
                            <div class="container">
                                <div class="category-link clearfix"></div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>

                    <div class="wrap_link_create_collection clearfix">
                        <div class="inner_box_text">
                            <span class="clearfix"> <strong>Got a favourite product on Orami?</strong></span>
                            <span class="clearfix desc"> Make your favorite products in a collection based on your theme and give inspirations for other shoppers!</span>
                            <a class="clearfix btn btn-primary margin-center add-new-collection" href="#!"
                               onclick="addNewCollection();">Add New Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>