<?php

$customer = $this->getCustomer();
$loggedCustomer = Mage::getSingleton('customer/session')->getCustomer();
$isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
// TODO: Check user condition by $viewer variable
$viewer = '';
$isEditor = false;

if ($isLoggedIn) {

    if ($loggedCustomer->getId() == $customer->getId()) {
        $viewer = 'owner';
    } else {
        $viewer = 'other_user';
    }
    $customerGroupId = Mage::getSingleton('customer/session')->getCustomerGroupId();

    $customerGroup = Mage::getModel('customer/group')->load($customerGroupId);
    if (strtolower($customerGroup->getCode()) == 'editor') {
        $isEditor = true;
    }
}

$profile = $this->getProfiler();
$customerDob = $customer->getDob();
$fullUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($fullUrl);
$images = Mage::getModel('socialcommerce/collectioncover')->getCollection()->setCurPage(1)->setPageSize(12);

if ($customerDob) {
    $tmp = new DateTime($customer->getDob());
    $customerDob = $tmp->format('m/d/Y');
}

# Get wishlist collection
$wishlistCollection = Mage::getModel('wishlist/wishlist')->getCollection()
    ->addFieldToSelect('*')
    ->addFieldToFilter('customer_id',array('eq'=>$customer->getId()));
$hasCollection = $wishlistCollection->count() < 1 ? false : true;

# Get Collection Categories
$collectionCategoriesCollection = Mage::getModel('socialcommerce/collectioncategory')->getCollection();
$hasCollectionCategory = $collectionCategoriesCollection->count() < 1 ? false : true;

?>
<div class="one_column collection-page">
    <div class="wrap-middle-content container">
        <div class="wrap-content">
            <div class="container-fluid">
                <div class="bg_popup">
                </div>
                <div class="row">
                    <div class="container">
                        <div id="skin">
                            <img src="<?php echo $this->getSkinUrl('images/') . 'profile-banner.jpg'; ?>" width="100%">
                        </div>

                        <div class="wrap-profile">
                            <?php if ($profile->getCloudAvatar()) : ?>
                                <?php echo cl_image_tag($profile->getCloudAvatar(), ['class' => 'rounded-this top-offset widther', 'alt' => $profile->getUsername(), 'secure' => true, 'width' => 165, 'height' => 165, 'crop' => 'fill', 'format' => 'jpg']); ?>
                            <?php elseif ($profile->getAvatar()) : ?>
                                <?php if (getimagesize(Mage::getUrl('media/avatar/') . $profile->getAvatar()) !== false): ?>
                                    <img src="<?php echo $this->getUrl('media/avatar/') . $profile->getAvatar(); ?>"
                                         alt="<?php echo $profile->getUsername(); ?>" class="rounded-this top-offset"
                                         style="">
                                <?php else: ?>
                                    <?php if (strpos(Mage::getUrl('media/avatar/'), '/en')): $link = str_replace("/en", "", Mage::getUrl('media/avatar/')) ?>
                                        <img src="<?php echo $link . $profile->getAvatar(); ?>"
                                             alt="<?php echo $profile->getUsername(); ?>"
                                             class="rounded-this top-offset" style="">
                                    <?php elseif (strpos(Mage::getUrl('media/avatar/'), '/th')): $link = str_replace("/th", "", Mage::getUrl('media/avatar/')) ?>
                                        <img src="<?php echo $link . $profile->getAvatar(); ?>"
                                             alt="<?php echo $profile->getUsername(); ?>"
                                             class="rounded-this top-offset" style="">
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php else : ?>
                                <?php if ($customer->getGender() == 1) : ?>
                                    <img src="<?php echo $this->getSkinUrl('images/') . 'avatar-m.jpg'; ?>" width="100%"
                                         class="top-offset rounded-this" alt="<?php echo $profile->getUsername(); ?>">
                                <?php else : ?>
                                    <img src="<?php echo $this->getSkinUrl('images/') . 'avatar-f.jpg'; ?>" width="100%"
                                         class="top-offset rounded-this" alt="<?php echo $profile->getUsername(); ?>">
                                <?php endif; ?>
                            <?php endif; ?>
                            <div class="wrap-action">
                                <div class="profile-action">
                                    <h3><?php echo $profile->getUsername(); ?></h3>
                                    <?php if ($profile->getLocation()) : ?>
                                        <div class="profile-location"><?php echo $profile->getLocation(); ?></div>
                                    <?php endif; ?>

                                    <?php if ($profile->getAbout()) : ?>
                                        <div class="profile-interest"><?php echo $profile->getAbout(); ?></div>
                                    <?php endif; ?>

                                    <?php if ($viewer == 'owner'): ?>
                                        <span class="createcollection">
                                                <a href="<?php echo Mage::getUrl('social/settings/') ?>">Edit Profile</a>
                                            </span>
                                    <?php endif; ?>
                                    <?php # Check if user logged in, and visiting her own profile page ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="container">
                        <p class="collection-header-title">Collections</p>
                        <?php if ($viewer == 'owner') : ?>
                            <div class="collection-card-old add-collection"
                                 style="padding: 0 5px; margin-bottom: 0 !important;"
                                 onclick="newShowAddCollectionDialog()">
                                <a class="block-link-add-collection" data-popup-open="popup-1" href="#">
                                    <i class="fa fa-plus" style="font-size:30px;"></i>
                                    Add New Collection
                                </a>
                            </div>
                        <?php endif; ?>
                        <?php if ($hasCollection): ?>

                            <?php foreach (array_reverse($wishlistCollection->getItems(), true) as $wishlist): ?>
                                <?php
                                # Check for wishlist visibility.
                                # If wishlist is private, and the active user is not the owner of the wishlist,
                                # the item should be skipped.
                                if ($wishlist->getVisibility() == 0 && $viewer != 'owner') {
                                    continue;
                                }

                                if ($wishlist->getView() == 0) {
                                    continue;
                                }

                                # Excluding the default wishlist
                                if (!$wishlist->getName() || $wishlist->getName() == 'Wishlist') {
                                    continue;
                                }

                                $itemSlug = Mage::getModel('catalog/product_url')->formatUrlKey($wishlist->getName());
                                $items = $wishlist->getItemCollection();
                                $collectionEmpty = $items->getSize() > 0 ? false : true;
                                $item = $items->getFirstItem();
                                if ($item->getProductId()) {
                                    $product = Mage::getModel('catalog/product')->load($item->getProductId());
                                    $itemImage = $product->getImageUrl();
                                }
                                ?>
                                <div itemtype="http://schema.org/ItemList" class="collection-card-old">
                                    <div class="wrap-widget" itemprop="itemListElement" itemscope=""
                                         itemtype="http://schema.org/Product">
                                        <a class="block-link-collection" itemprop="url"
                                           href="<?php echo $this->getUrl('collections/' . $wishlist->getId() . '-' . $itemSlug); ?>"></a>
                                        <?php if ($viewer == 'owner' || $isEditor) : ?>
                                            <div class="editCollectionInfo">
                                                <a data-popup-open="popup-1"
                                                   class="edit-collection editCollectionLink"
                                                   onclick="showCollectionEdit()"
                                                   data-collection-id="<?php echo $wishlist->getId(); ?>"
                                                   data-desc-col="<?php echo $wishlist->getDesc(); ?>"
                                                   data-title-col="<?php echo $wishlist->getName(); ?>"
                                                   data-visibility-col="<?php echo $wishlist->getVisibility(); ?>"
                                                   data-editor-categories-col="<?php echo $wishlist->getCategories(); ?>"><i
                                                        class="fa fa-pencil"></i></a>
                                            </div>
                                        <?php endif; ?>
                                        <div class="prod-image">
                                            <?php $cekcover = $wishlist->getCloudCover(); ?>
                                            <a href="<?php echo $this->getUrl('collections/' . $wishlist->getId() . '-' . $itemSlug); ?>">

                                                <?php if (!$cekcover) : ?>

                                                    <?php if ($wishlist->getCover() && strpos($wishlist->getCover(), 'socialcommerce') == false) : ?>
                                                        <?php $link = $this->getUrl('media/collection-cover') . $wishlist->getCover(); ?>

                                                    <?php elseif ($wishlist->getCover() && strpos($wishlist->getCover(), 'socialcommerce') == true) : ?>
                                                        <?php $link = $wishlist->getCover(); ?>
                                                    <?php elseif (isset($itemImage) && $itemImage): ?>
                                                        <?php $link = $itemImage; ?>
                                                    <?php else: ?>
                                                        <?php $link = $this->getSkinUrl('images') . '/orami_collection_empty.png'; ?>
                                                    <?php endif; ?>

                                                    <?php if(strpos($link, '/orami_collection_empty.png')){
                                                        $cover = "no-cover";
                                                    }else{
                                                        $cover = "";
                                                    }
                                                    ?>
                                                    <!--check image exist in each store-->
                                                    <?php if (getimagesize($link) !== false): ?>
                                                        <img src="<?php echo $link ?>" width="100%"
                                                             class="img-collection <?php echo $cover?>">
                                                    <?php else: ?>
                                                        <?php if (strpos($link, '/en')): $link = str_replace("/en", "", $link) ?>
                                                            <img src="<?php echo $link ?>" width="100%"
                                                                 class="img-collection <?php echo $cover?>">
                                                        <?php elseif (strpos($link, '/th')): $link = str_replace("/th", "", $link) ?>
                                                            <img src="<?php echo $link ?>" width="100%"
                                                                 class="img-collection <?php echo $cover?>">
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    <!--end check image exist in each store-->

                                                <?php else : ?> <!-- has cover -->
                                                    <?php if ($wishlist->getCover() && strpos($wishlist->getCover(), 'socialcommerce') == false) : ?>
                                                        <?php if (getimagesize($this->getUrl('media/collection-cover') . $wishlist->getCover()) !== false): ?>
                                                            <img
                                                                src="<?php echo $this->getUrl('media/collection-cover') . $wishlist->getCover(); ?>"
                                                                width="100%" class="img-collection">
                                                        <?php else: ?>
                                                            <?php if (strpos($this->getUrl('media/collection-cover'), '/en')): $link = str_replace("/en", "", $this->getUrl('media/collection-cover')) ?>
                                                                <img src="<?php echo $link . $wishlist->getCover(); ?>"
                                                                     class="img-collection" style="width: 100%;">
                                                            <?php elseif (strpos($this->getUrl('media/collection-cover'), '/th')): $link = str_replace("/th", "", $this->getUrl('media/collection-cover')) ?>
                                                                <img src="<?php echo $link . $wishlist->getCover(); ?>"
                                                                     class="img-collection" style="width: 100%;">
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    <?php elseif ($wishlist->getCover() && strpos($wishlist->getCover(), 'socialcommerce') == true) : ?>
                                                        <?php if (getimagesize($wishlist->getCover()) !== false): ?>
                                                            <img
                                                                src="<?php $wishlist->getCover(); ?>"
                                                                width="100%" class="img-collection">
                                                        <?php else: ?>
                                                            <?php if (strpos($wishlist->getCover(), '/en')): $link = str_replace("/en", "", $wishlist->getCover()) ?>
                                                                <img
                                                                    src="<?php echo $link; ?>"
                                                                    width="100%" class="img-collection">
                                                            <?php elseif (strpos($wishlist->getCover(), '/th')): $link = str_replace("/th", "", $wishlist->getCover()) ?>
                                                                <img
                                                                    src="<?php echo $link; ?>"
                                                                    width="100%" class="img-collection">
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    <?php elseif ($wishlist->getCloudCover()) : ?>
                                                        <?php echo cl_image_tag($wishlist['cloud_cover'], ['class' => 'img-collection collection-img', 'alt' => $wishlist->getName(), 'secure' => true, 'width' => 245, 'height' => 245, 'crop' => 'fill', 'format' => 'jpg']); ?>
                                                    <?php else : ?>
                                                        <?php if (getimagesize($itemImage) !== false): ?>
                                                            <img src="<?php echo $itemImage; ?>" width="100%"
                                                                 class="img-collection">
                                                        <?php else: ?>
                                                            <?php if (strpos($itemImage, '/en')): $link = str_replace("/en", "", $itemImage) ?>
                                                                <img src="<?php echo $link; ?>" width="100%"
                                                                     class="img-collection">
                                                            <?php elseif (strpos($itemImage, '/th')): $link = str_replace("/th", "", $itemImage) ?>
                                                                <img src="<?php echo $link; ?>" width="100%"
                                                                     class="img-collection">
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                <?php endif; ?> <!-- end of if(!$cekcover) -->
                                            </a>
                                        </div>

                                        <div class="wrap-widget-detail">
                                            <div class="collection-name">
                                                <a href="<?php echo $this->getUrl('collections/' . $wishlist->getId() . '-' . $itemSlug); ?>">
                                                    <?php echo $wishlist->getName(); ?>
                                                    <?php echo ($collectionEmpty) ? ' (Empty)' : ''; ?>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php else: ?>

                        <?php endif; ?>
                        <div class="paging">
                            <p class="showing">Menampilkan 1 - 6 dari 6 koleksi </p>
                            <ul class="pagination">
                                <li class="current"><a href="#!">1</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    function editCollection(wishListID, username) {
                        var data = {collection_id: wishListID}
                        $.ajax({
                            url: baseUri + 'user/getcollection',
                            data: data,
                            type: 'POST',
                            dataType: 'json',
                            success: function (response) {
                                if (response.status == true) {
                                    $(".product-overlay-collection").show();
                                    $("#do_action").val('edit');
                                    $("#collection-form-title").text('Edit Halaman Koleksi');
                                    $(".close_add_collection").html('').html("<a onclick='deleteCollection(" + wishListID + ");'>Hapus Koleksi Ini</a>");
                                    $("#title").val(response.data.name);
                                    $("#desc").val(response.data.desc);
                                    if (response.data.visibility == 0) {
                                        $("#is-public").prop("checked", false);
                                    } else {
                                        $("#is-public").prop("checked", true);
                                    }
                                    $("#collection-id").val(wishListID);
                                }
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<div class="popup" data-popup="popup-1">
    <div class="overlay" data-popup-close="popup-1"></div>
    <div class="popup-inner">
        <form id="edit_colletion_form" action="<?php echo $this->getUrl('social/settings/editcollection'); ?>"
              method="post" enctype="multipart/form-data" class="form-horizontal collection-form">
            <div class="cg-col-lg-12 cg-col-xs-12 cg-col-sm-12 cg-col-md-12 box inside-collection noborder"
                 style="padding-bottom:0; margin-bottom:0;">
                <div class="cg-col-lg-12 cg-col-sm-12 cg-col-md-12 cg-col-xs-12 collection-top-part">
                    <h2 id="collection-popup-header"style="border-bottom:1px solid;font-weight: bold; color:#ff6c6c">Add New Collection</h2>
                </div>
                <div class="cg-col-xs-12  bottom-spacer">
                    <div class="form-group in-block full-width">
                        <label for="inputEmail3" style="font-weight: bold">Title:
                            <!--                            <span class="light lil-exp">sesuai tema koleksi yang ingin anda buat</span></label>-->
                            <div class="cg-col-sm-12">
                                <input type="text" name="colname" id="modalTitleCol"
                                       class="form-control input-new-collection" placeholder="Collection Title">
                            </div>
                    </div>
                    <div class="form-group in-block full-width">
                        <label for="inputPassword3" style="font-weight: bold">Description:

                            <div class="cg-col-sm-12">
                            <textarea rows="4" name="desc" id="modalDescCol" class="form-control input-new-collection"
                                      maxlength="250" placeholder="Collection Description"
                                      style="resize:none;height:auto;"></textarea>
                            </div>
                    </div>
                </div>
                <div class="cg-col-xs-12">
                    <div style="margin-top: 5px;margin-bottom: 5px" class="form-group in-block full-width nomargin">
                        <label for="inputEmail3" style="font-weight: bold">Collection Image: </label>
                    </div>
                    <div class="cg-row">
                        <div class="cg-sm-12">
                            <div id="tabs3">
                                <div class="wrap-button-choice">
                                    <div class="button-choice">
                                        <label id="weblink" name="image_link"><i class="fa fa-link"></i>Use image from
                                            web</label>
                                        <label id="locallink" name="image_upload" class="active-choice"><i
                                                class="fa fa-cloud-upload"></i>Upload an image.</label>
                                    </div>
                                </div>

                                <div class="wrap-field-choice">
                                    <input style="display: none" class="image_link" type="text" id="image-url"
                                           name="image_url"
                                           placeholder="http://" size="20">

                                    <div id="cover_image_upload_container"
                                         class="image_upload field-choice show-choice">
                                        <div id="image_replace">
                                            <i class="fa fa-file-image-o"></i>
                                            <span class="clearfix">Recommend .jpg with size 400x400</span>
                                        </div>
                                        <img style="display:none;" id="blah" src="#" alt="your image"/>
                                        <label for="cover_image_upload">Browse</label>
                                        <input onchange="readURL(this)" class="input_image_upload" type="file"
                                               title="Browse" name="cover" id="cover_image_upload"/>
                                        <input type="hidden" id="image-browse-preset" name="image_browse_preset">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="collection_id" id="modalCollectionId">
                    <input type="hidden" name="collection_id2" id="modalCollectionId2">
                    <input type="hidden" name="username" value="<?php echo $profile->getUsername(); ?>">
                    <input type="hidden" name="preset_image" id="epreset_image"/>

                </div>
            </div>
            <div id="saveCollectionContainer" class="bottom-spacer-container">
                <div id="saveCollectionBtn">
                    <button type="submit" class="btn" style="background-color:#ff6c6c;color:white;margin: 10px 0;"
                            name="submitButton">
                        <label>Save My Collection</label>
                    </button>
                </div>
                <input type="checkbox" name="visibility" id="modalVisibilityCol" class="input-collection"
                       style="height: inherit; width:10px;">
                <label for="visibility" class="check-public">Make Collection Public</label>
            </div>


            <div id="removecollection" class="cg-col-xs-12 take-center" style="margin-top:5px;text-align: center">
                <a onclick="removeCollection()" id="removeButton" class="delete-collection-link cursor btn-cancel"
                   style="border-bottom: 1px solid #ccc;padding-bottom:0;"><i
                        class="fa fa-trash-o"></i>Delete Collection.</a>
            </div>
            <div id="removequestion" style="text-align: center;margin-top:5px;display: none">
                <p>Do you want to delete this collection ?</p>
                <table>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-cancel-button take-center full-width"
                                    style="background-color:#ff6c6c;color:white;width:120px;margin: 10px 0;"
                                    name="deleteButton">Yes
                            </button>
                        </td>
                        <td>
                            <div class="btn btn-cancel-button take-center full-width"
                                 style="background-color:#DDDDDD;width:120px;margin: 10px 0;"
                                 onclick="newHideCollectionEdit()">No
                            </div>
                        </td>
                    </tr>
                </table>


            </div>
            <div class="clear"></div>
        </form>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>

<script>
    jQuery("#saveCollectionBtn").click(function( event ) {
        event.preventDefault();
        jQuery( "#edit_colletion_form").submit();
    });

    function newShowAddCollectionDialog() {
        var link = '<?php echo $this->getUrl('social/settings/createnewcollection') ?>';
        jQuery('#edit_colletion_form').attr("action", link);
        document.getElementById("modalTitleCol").value = "";
        document.getElementById("modalDescCol").value = "";
        jQuery('#removecollection').fadeOut('fast');
        jQuery('#image_replace').fadeIn('fast');
        jQuery('#blah').fadeOut('fast');
        jQuery('#collection-popup-header').html('Add New Collection');
    }

    function showCollectionEdit() {
        var link = '<?php echo $this->getUrl('social/settings/editcollection') ?>';
        jQuery('#edit_colletion_form').attr("action", link);
        jQuery('#removecollection').fadeIn('fast');
        jQuery('#image_replace').fadeIn('fast');
        jQuery('#blah').fadeOut('fast');
        jQuery('#collection-popup-header').html('Edit Collection')
    }



    jQuery('.editCollectionLink').click(function () {
        var collectionId = jQuery(this).data('collection-id');
        var titlecol = jQuery(this).data('title-col');
        var desccol = jQuery(this).data('desc-col');
        var visibilitycol = jQuery(this).data('visibility-col');
        var visibility_val = false;

        if (visibilitycol === 1) {
            visibility_val = true;
        }

        jQuery('#modalCollectionId').val(collectionId);
        jQuery('#modalCollectionId2').val(collectionId);
        jQuery('#modalTitleCol').val(titlecol);
        jQuery('#modalDescCol').val(desccol);
        jQuery('#modalVisibilityCol').prop('checked', visibility_val);
    });


    jQuery(function () {
        //----- OPEN
        jQuery('[data-popup-open]').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-open');
            jQuery('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
            jQuery('.overlay').fadeIn(350);
            e.preventDefault();
        });

        //----- CLOSE
        jQuery('[data-popup-close]').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-close');
            jQuery('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
            jQuery('.overlay').fadeOut(350);
            e.preventDefault();
        });

        jQuery('.overlay').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-close');
            jQuery('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
            jQuery('.overlay').fadeOut(350);
            e.preventDefault();
        });
    });

    jQuery('#weblink').click(function () {
        jQuery('#weblink').css("background-color", "#fff");
        jQuery('#locallink').css("background-color", "#999");
        jQuery('#image-url').fadeIn('fast');
        jQuery('#cover_image_upload_container').fadeOut('fast');
    });
    jQuery('#locallink').click(function () {
        jQuery('#locallink').css("background-color", "#fff");
        jQuery('#weblink ').css("background-color", "#999");
        jQuery('#cover_image_upload_container').fadeIn('fast');
        jQuery('#image-url').fadeOut('fast');
    });

    function removeCollection() {
        jQuery('#saveCollectionContainer').fadeOut('fast');
        jQuery('#removequestion').fadeIn('fast');
        jQuery('#removecollection').fadeOut('fast');
    }

    function newHideCollectionEdit() {
        jQuery('#removequestion').fadeOut('fast');
        jQuery('#saveCollectionContainer').fadeIn('fast');
        jQuery('#removecollection').fadeIn('fast');
    }

    function readURL(input) {
        var maxSize = 1024*1024*1;
        jQuery('#image_replace').fadeOut('fast');
        jQuery('#blah').fadeIn('fast');
        if(input.files[0].size < maxSize) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    jQuery('#blah')
                        .attr('src', e.target.result)
                        .width(140)
                        .height(100);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }else{
            alert('Your image size must be smaller than 1MB');
            return false;
        }
    }
</script>

