<?php
$wishlist = $this->getWishlist();
?>

<?php
/*checking if this collection deleted or not*/
$view = $wishlist->getView();
$prof = Mage::helper('socialcommerce')->getProfileInformation($wishlist['customer_id']);
$username = $prof['display_name'];
if ($view == '0') {
    $url = $this->getUrl('collections');
    $this->_redirectUrl($url);
}
?>

<div class="main">

    <?php
    $wishlist = $this->getWishlist();
    $user = Mage::helper('socialcommerce')->getProfileInformation($wishlist['customer_id']);
    $coverImage = $this->getSkinUrl('images') . '/orami_collection_empty.png';
    $_productCollection = $this->getWishlistCollection();
    $_helper = $this->helper('catalog/output');
    $_core_helper = Mage::helper('core');
    $messages = Mage::getSingleton("checkout/session")->getMessages(true);
    echo $this->getLayout()->createBlock("core/messages")->setMessages($messages)->getGroupedHtml();
    ?>
    <div class="profile-user clearfix">
        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
            <?php if ($wishlist['cover']) : ?>

                <?php if (getimagesize($this->getUrl('media/collection-cover') . $wishlist['cover']) !== false): ?>
                    <img src="<?php echo $this->getUrl('media/collection-cover') . $wishlist['cover']; ?>"
                         class="collection-img"/>
                <?php else: ?>
                    <?php if (strpos($this->getUrl('media/collection-cover'), '/en')): $link = str_replace("/en", "", $this->getUrl('media/collection-cover')) ?>
                        <img src="<?php echo $link . $wishlist['cover']; ?>"
                             alt="My Avatar" style="width: 100%;">
                    <?php elseif (strpos($this->getUrl('media/collection-cover'), '/th')): $link = str_replace("/th", "", $this->getUrl('media/collection-cover')) ?>
                        <img src="<?php echo $link . $wishlist['cover']; ?>"
                             alt="My Avatar" style="width: 100%;">
                    <?php endif; ?>
                <?php endif; ?>

                <?php $coverImage = $this->getUrl('media/collection-cover') . $wishlist['cover']; ?>
                <!-- Use cloud cover image, If wishlist cover image is not exist -->
            <?php else : ?>
                <?php
                // Check first product item in user collection (wishlist)
                $item = $_productCollection->getFirstItem();
                if ($item->getProductId()) {
                    $product = Mage::getModel('catalog/product')->load($item->getProductId());
                }
                ?>

                <!-- Use product image if exist-->
                <?php if (isset($product) && $product->getImageUrl()) { ?>
                    <img src="<?php echo $product->getImageUrl(); ?>" class="cg-img-responsive"
                         alt="<?php echo $wishlist->getName(); ?>">
                    <?php $coverImage = $product->getImageUrl(); ?>
                <?php } else { ?>

                    <!-- Use default user collection cover image exist, if no image options exist -->
                    <img src="<?php echo $this->getSkinUrl('images/') . 'orami_collection_empty.png'; ?>"
                         class="cg-img-responsive no-cover" alt="<?php echo $wishlist->getName(); ?>">
                <?php } ?>
            <?php endif; ?>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <p class="collection-detail-main-title"><?php $wishlist->getName() ?></p>

            <div class="clearfix">
                <div class="avatar male">
                    <?php if ($user['profile_image'] != null && $user['profile_image'] != ""): ?>
                        <?php if (getimagesize($user['profile_image']) !== false): ?>
                            <img src="<?php echo $user['profile_image']; ?>"
                                 title="<?php echo $user['display_name']; ?>"
                                 alt="<?php echo $user['display_name']; ?>" width="100%" class="rounded-this">
                        <?php else: ?>
                            <?php if (strpos($user['profile_image'], '/en')): $link = str_replace("/en", "", $user['profile_image']) ?>
                                <img src="<?php echo $link; ?>" title="<?php echo $user['display_name']; ?>"
                                     alt="<?php echo $user['display_name']; ?>" width="100%" class="rounded-this">
                            <?php elseif (strpos($user['profile_image'], '/th')): $link = str_replace("/th", "", $user['profile_image']) ?>
                                <img src="<?php echo $link; ?>" title="<?php echo $user['display_name']; ?>"
                                     alt="<?php echo $user['display_name']; ?>" width="100%" class="rounded-this">
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php else: ?>
                        <img src="<?php echo $this->getSkinUrl('images/') . 'avatar-m.jpg'; ?>" title="Non Avatar" width="100%" class="rounded-this">
                    <?php endif; ?>
                </div>
                <div class="cg-col-xs-12">

                <span class="collection-detail-name opensans">Updated by <a
                        href=<?php echo $this->getUrl('user') . $user['display_name'] ?> style="text-decoration: none;"><span
                        class="pinker"
                        style="text-decoration: underline;color: #ff6c6c;"><?php echo $user['display_name'] ?></span></a>
                    on <?php echo date('m/d/Y', strtotime($wishlist['updated_at'])); ?></span>
                </div>
            </div>
            <p class="clearfix margin-vertical">
                <?php echo $wishlist->getDesc(); ?>
                <?php
                /*This is for collection counter*/
                $count = $wishlist->getCounter();
                $countnew = $count + 1;
                $wlid = $wishlist->getData('wishlist_id');
                $w = Mage::getSingleton('core/resource')->getConnection('core_write');
                $result = $w->query("UPDATE wishlist SET counter = '" . $countnew . "' WHERE wishlist_id = '" . $wlid . "'");
                ?>
            </p>
            <div class="cg-col-xs-8 cg-col-lg-4 cg-col-md-5 cg-col-sm-5 bottom-spacer-container">
                <div class="cg-col-xs-12 collection-detail-share opensans">
                    Share your collection
                </div>
                <table style="width: 30%">
                    <tr>
                        <td>
                            <div class="cg-col-xs-2 padding-3lr soc-size facebook">
                                <a style="color:#fff;"
                                   href="https://www.facebook.com/sharer.php?u=<?php echo $this->helper('core/url')->getCurrentUrl(); ?>&t=<?php echo $wishlist->getName(); ?>"
                                   onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                        class="fa fa-facebook" style="padding-top:7px;"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="cg-col-xs-2 padding-3lr soc-size twitter">
                                <a style="color:#fff;"
                                   href="http://twitter.com/home?status=<?php echo $wishlist->getName(); ?>+<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
                                   onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                        class="fa fa-twitter" style="padding-top:7px;"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="cg-col-xs-2 padding-3lr soc-size pinterest">
                                <a style="color:#fff;"
                                   href="https://www.pinterest.com/pin/create/link/?url=<?php echo $this->helper('core/url')->getCurrentUrl(); ?>&media=<?php echo $coverImage; ?>&description=<?php echo urlencode($wishlist->getDesc()); ?>"
                                   onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                        class="fa fa-pinterest-p" style="padding-top:7px;"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="cg-col-xs-2 padding-3lr soc-size gplus">
                                <a style="color:#fff;"
                                   href="https://plus.google.com/share?url=<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"
                                   onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i
                                        class="fa fa-google-plus" style="padding-top:7px;"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="font-weight: bold;margin-top: 10px;font-size: 16px;"
         class="cg-col-xs-12 bottom-spacer-container collection-detail-shop opensans bold">
        SHOP THE COLLECTION
    </div>
    <div class="category-products">
        <div class="collectionbox">
            <div style="float:left;margin-right: 540px" class="collectioncontentbox">
                <input type="hidden" id="checkProductId" name="checkProductId" value="">
                <input type="hidden" id="checkQty" name="checkQty" value="">
                <input type="checkbox" class="checkall" value="0">
                <label for="checkall" class=" opensans"><?php echo $this->__('Select All Products') ?></label>
                <br/>
                <div class="total-price opensans">
                    <span><?php echo $this->__('Total Price : ') ?></span><span
                        class="totalPrice"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>
                        0</span>
                </div>
            </div>
            <div class="collectionactionbox">
                <button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cartall">
      <span>
        <span class="in-block"> <span class="pull-left">BUY&nbsp;</span>  <span
                class="hidden-md hidden-sm hidden-xs pull-left">SELECTED</span><span
                class="pull-left hidden-sm hidden-xs hidden-md">&nbsp;PRODUCTS&nbsp;</span> (</span><span
              class="in-block selectedItems">0</span><span class="in-block"><?php echo $this->__(')') ?></span>
    </span>
                </button>
            </div>
        </div>
        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
        <form method="post" id="frmAddMulti" action="<?php echo $this->getUrl('social/settings/multiadd') ?>">

            <div class="cg-container-100">
                <div class="cg-row">

                    <div class="list-products">

                        <div class="cg-row frame-box nomargin">
                            <div class="grid_collection_category">
                                <div class="wrap-product-list clearfix">
                                    <?php $i = 0;
                                    foreach ($_productCollection as $_product): ?>

                                        <?php
                                        $_product = Mage::getModel('catalog/product')->load($_product->getProductId());
                                        $_helper = $this->helper('catalog/output');
                                        ?>


                                        <?php $productId = $_product->getId();

                                        $productNameStripped = $this->stripTags($_product->getName(), null, true);
                                        $productDesc = $this->stripTags($_product->getShortDescription(), null, true);

                                        $productRegularPrice = round($_product->getPrice());
                                        $productRegularPriceFormatted = $_core_helper->currency($productRegularPrice, true, false);//'Rp ' . number_format($productRegularPrice, 0, '', '.');

                                        $productSpecialPrice = round($_product->getSpecialPrice());
                                        $productSpecialPriceFormatted = $_core_helper->currency($productSpecialPrice, true, false);//'Rp ' . number_format($productSpecialPrice, 0, '', '.');

                                        $productFinalPrice = round($_product->getFinalPrice());
                                        $productFinalPriceFormatted = $_core_helper->currency($productFinalPrice, true, false);//'Rp ' . number_format($productFinalPrice, 0, '', '.');

                                        $productLimitedStock = $_product->getAttributeValue('limited_stock');
                                        $productBestPrice = $_product->getAttributeValue('best_price');

                                        $productImageUrl = $this->helper('catalog/image')->init($_product, 'small_image')->resize(320, 320);
                                        $productImageLabel = $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true);

                                        $productUrl = $_product->getProductUrl();
                                        $productAddToCartUrl = Mage::helper('checkout/cart')->getAddUrl($_product);

                                        $productDiscount = 100 - round(($productFinalPrice / $productRegularPrice) * 100);

                                        $stocklevel = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($productId)->getQty();

                                        $stockStatus = $_product->getStockItem();

                                        $backOrder = Mage::getModel('cataloginventory/stock_item')->loadByProduct($productId)->getBackorders();

                                        # Date compare for special price
                                        $productSpecialPriceFromDate = $_product->getSpecialFromDate();
                                        $productSpecialPriceToDate = $_product->getSpecialToDate();
                                        $todayTime = time();

                                        $productSpecialDateIsValid = ($todayTime >= strtotime($productSpecialPriceFromDate)
                                            && $todayTime <= strtotime($productSpecialPriceToDate) + 86400
                                            || $todayTime >= strtotime($productSpecialPriceFromDate)
                                            && is_null($productSpecialPriceToDate)) ? true : false;

                                        # Taken from old theme
                                        $productButtonLabel = 'BUY NOW';
                                        $productAvailability = 1;

                                        ?>

                                        <div itemtype="http://schema.org/ItemList" class="prod-widget-vertical">
                                            <div class="wrap-widget" itemprop="itemListElement" itemscope=""
                                                 itemtype="http://schema.org/Product">
                                                <ul class="widget-button-right">
                                                    <li>
                                                        <a onclick="addToWishList('106140')"
                                                           id-prod-coll="add-collection-categori-106140"
                                                           class="add-to-collection"><i class="fa fa-heart"></i></a>
                                                    </li>
                                                    <li>
                                                        <label class="checkbox-cust" id="select-one-product-106140"
                                                               data-id="106140">
                                                            <?php if (!$_product->canConfigure() && $_product->isSaleable() && $_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                                                                <?php $item_in_stock = true; ?>
                                                                <div class="checker-this">
                                                                    <i id="tick-<?php echo $_product->getId() ?>"
                                                                       class="fa fa-check"></i>
                                                                    <input type="checkbox" name="cc"
                                                                           class="check collection-checkbox"
                                                                           productId="<?php echo $_product->getId() ?>"
                                                                           id="check-<?php echo $_product->getId() ?>"
                                                                           value="<?php echo $_product->getId() ?>"/>
                                                                    <label
                                                                        for="check-<?php echo $_product->getId() ?>"><span
                                                                            class="poper<?php echo $i; ?>"></span></label>
                                                                    <div
                                                                        class="cg-hidden-xs check-to-clicking<?php echo $i; ?>">
                                                                    </div>
                                                                </div>
                                                            <?php else: ?>
                                                                <?php $item_in_stock = false; ?>
                                                            <?php endif; ?>
                                                        </label>
                                                    </li>
                                                </ul>

                                                <a class="block-link-product" itemprop="url"
                                                   href=""></a>

                                                <div class="prod-image">
                                                    <?php
                                                    $productImageUrl = $this->helper('catalog/image')->init($_product, 'small_image')->resize(320, 320);
                                                    ?>
                                                    <img src="<?php echo $productImageUrl; ?>"
                                                         alt="<?php echo $productImageLabel ?>"
                                                         id="product-collection-image-<?php echo $productId; ?>">
                                                    <div class="wrap-widget-button">
                                                        <a class="block-link-product" itemprop="url"
                                                           href="">
                                                        </a>

                                                        <a class="add-to-chart btn btn-primary btn-block"
                                                           onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>')">
                                                            Add To Cart
                                                        </a>

                                                    </div>
                                                </div>

                                                <div class="wrap-widget-detail">
                                                    <div class="prod-name">
                                                        <p class="name-product opensans"><a class="bold"
                                                                                            onclick="showQuickView(<?php echo $i; ?>,'<?php echo $productImageUrl; ?>')"
                                                                                            title="<?php echo $productNameStripped; ?>"
                                                                                            style="font-size:13px;font-weight: bold;font-family: 'Open Sans', Arial;cursor:pointer;"><?php echo $productNameStripped; ?></a>
                                                        </p>
                                                    </div>
                                                    <div class="widget-price" itemprop="offers" itemscope=""
                                                         itemtype="http://schema.org/Offer">
                                                        <p class="price">
                                                            <?php echo $this->getReviewsSummaryHtml($_product, 'short', true) ?>
                                                            <?php echo $this->getLayout()->createBlock('catalog/product_price')->setTemplate('catalog/product/price.phtml')->setProduct($_product)->toHtml(); ?>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="media">
                                                <script language="javascript">

                                                    jQuery(document).ready(function () {

                                                        jQuery('#closeqv<?php echo $i;?>').click(function () {
                                                            jQuery('#quickView<?php echo $i;?>').fadeOut('fast');
                                                        })

                                                        jQuery(".poper<?php echo $i;?>").on('mouseover', function () {
                                                            jQuery(".check-to-clicking<?php echo $i;?>").addClass('pop-it<?php echo $i;?>');
                                                        });
                                                        jQuery(".poper<?php echo $i;?>").on('mouseout', function () {
                                                            jQuery(".check-to-clicking<?php echo $i;?>").removeClass('pop-it<?php echo $i;?>');
                                                        });

                                                    });

                                                </script>

                                                <input type="hidden" class="collection-checkbox-qty"
                                                       productId="<?php echo $_product->getId() ?>"
                                                       id="qty-<?php echo $_product->getId() ?>" value="1">

                                            </div>
                                            <div class="text">
                                                <div class="price-box">
                                                    <input type="hidden" class="final-price-<?php echo $productId; ?>"
                                                           value="<?php echo $productFinalPrice; ?>"/>
                                                    <?php if ($_product->canConfigure()) : ?>
                                                        <?php
                                                        $productBlock = $this->getLayout()->createBlock('catalog/product_price');
                                                        echo $productBlock->getPriceHtml($_product);
                                                        ?>
                                                    <?php elseif ($productSpecialPrice && $productSpecialPrice < $productRegularPrice && $productSpecialDateIsValid) : ?>
                                                        <div class="special-price in-block full-width">
                                                            <p class="old-price">
                                                        <span class="price-label"
                                                              style="display: block;"><?php echo $this->__('Sebelumnya'); ?></span>
                                                        <span class="price size12"
                                                              id="old-price-<?php echo $productId; ?>"><?php echo $productRegularPriceFormatted; ?></span>
                                                            </p>
                                                    <span class="current-price price"
                                                          id="product-price-<?php echo $productId; ?>"><?php echo $productSpecialPriceFormatted; ?></span>
                                                        </div>
                                                    <?php else : ?>
                                                    <p class="old-price" style="min-height:22px;">
                                                        <span class="price size12"></span>
                                                    </p>
                                                <span class="regular-price">
                                            <?php endif; ?>
                                                </div>
                                            </div>
                                        </div>
                                        <?php $i++;
                                    endforeach ?>
                                    <script language="javascript">
                                        function showQuickView(id, imgSrc) {
                                            jQuery('#quickView' + id).fadeIn('fast');
                                            jQuery('.product-collection-image-quick').attr('src', imgSrc);
                                        }
                                        function hideQuickView(id) {
                                            jQuery('#quickView' + id).fadeOut('fast');
                                        }
                                        function deleteItem(id) {
                                            jQuery('#deleteItemIdku' + id).fadeToggle('fast');
                                        }
                                        function dontDelete(id) {
                                            jQuery('#deleteItemIdku' + id).fadeOut('fast');
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear:both;"></div>

            <div style="margin-top: 20px" class="collectionbox">
                <div style="float:left;margin-right: 540px" class="collectioncontentbox">
                    <input type="hidden" id="checkProductId" name="checkProductId" value="">
                    <input type="hidden" id="checkQty" name="checkQty" value="">
                    <input type="checkbox" class="checkall" value="0">
                    <label for="checkall" class=" opensans"><?php echo $this->__('Select All Products') ?></label>
                    <br/>
                    <div class="total-price opensans">
                        <span><?php echo $this->__('Total Price : ') ?></span><span
                            class="totalPrice"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>
                            0</span>
                    </div>
                </div>
                <div class="collectionactionbox">
                    <button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cartall">
      <span>
        <span class="in-block"> <span class="pull-left">BUY&nbsp;</span>  <span
                class="hidden-md hidden-sm hidden-xs pull-left">SELECTED</span><span
                class="pull-left hidden-sm hidden-xs hidden-md">&nbsp;PRODUCTS&nbsp;</span> (</span><span
              class="in-block selectedItems">0</span><span class="in-block"><?php echo $this->__(')') ?></span>
    </span>
                    </button>
                </div>
            </div>
        </form>

        <script
            type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>

    </div>
</div>
<div class=""></div>
<script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery('input.checkall').click(function () {
            if (jQuery(this).val() == 0) {
                jQuery('input.check').each(function () {
                    jQuery(this).prop('checked', true);
                    var id = "#tick-" + jQuery(this).val();
                    jQuery(id).fadeIn('fast');
                });
                jQuery(this).val(1);
            } else {
                jQuery('input.check').each(function () {
                    jQuery(this).prop('checked', false);
                    var id = "#tick-" + jQuery(this).val();
                    jQuery(id).fadeOut('fast');
                });
                jQuery(this).val(0);
            }
            countSelectedItems();
            countTotalPrice();
        });

        jQuery('input.check').click(function () {
            countSelectedItems();
            countTotalPrice();
        });

        jQuery('input.check').change(function () {
            var id = "#tick-" + jQuery(this).val();
            if (this.checked) {
                jQuery(id).fadeIn('fast');
            } else {
                jQuery(id).fadeOut('fast');
            }
        });

        jQuery('.collection-checkbox-qty').change(function () {
            countSelectedItems();
            countTotalPrice();
        });

        jQuery('.btn-cartall').click(function () {
            if (jQuery('input.check:checked').length > 0) {
                var prodId = '';
                var qty = '';

                jQuery('input.check:checked').each(function () {
                    product_id = jQuery(this).attr('productId');
                    prodId = prodId + product_id + ',';
                    qty = qty + jQuery('#qty-' + product_id).val() + ',';
                });

                prodId = prodId.substr(0, prodId.length - 1);
                qty = qty.substr(0, qty.length - 1);
                jQuery('input#checkProductId').val(prodId);
                jQuery('input#checkQty').val(qty);

                jQuery("#frmAddMulti").submit();
            } else {
                alert('<?php echo $this->__('Please select at least one product') ?>');
            }
        });

    });

    jQuery('.category-products .item').hover(function () {
        if (jQuery(this).find('a.product-image').hasClass('hover')) {
            jQuery(this).find('a.product-image').removeClass('hover');
        } else {
            jQuery(this).find('a.product-image').addClass('hover');
        }

        if (jQuery(this).find('div.actions').hasClass('hover')) {
            jQuery(this).find('div.actions').removeClass('hover');
        } else {
            jQuery(this).find('div.actions').addClass('hover');
        }
    });

    jQuery('.thumb-img').bind("click", function () {
        jQuery(".product-collection-image-quick").attr('src', jQuery(this).attr("data-image-main"));
    });

    function countSelectedItems() {
        var selectedItems = 0;
        var elQty;
        var product_id;

        if (jQuery('input.check:checked').length == jQuery('input.check').length) {
            jQuery('input.checkall').prop('checked', true);
        } else {
            jQuery('input.checkall').prop('checked', false);
        }

        if (jQuery('input.check:checked').length > 0) {
            jQuery('input.check:checked').each(function () {
                product_id = jQuery(this).attr('productId');
                elQty = jQuery('#qty-' + product_id);
                selectedItems += parseInt(elQty.val());
            });
        }

        jQuery('.selectedItems').html(selectedItems);
    }

    function moxy_number_format(input, separator) {
        takeNumber = String(input).match(/\d/g);
        number = takeNumber.join("");
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, separator);
    }

    function countTotalPrice() {
        var subtotal = 0;
        var el, elPrice;
        var product_id;
        var totalPrice;
        var token;
        var res;

        if (jQuery('input.check:checked').length == 0) {
            totalPrice = 'Rp 0';
        }

        jQuery('input.check:checked').each(function () {
            product_id = jQuery(this).attr('productId');
            el = jQuery('.final-price-' + product_id);
            elPrice = jQuery('#qty-' + product_id);
            subtotal = subtotal + (parseInt(el.val()) * parseInt(elPrice.val()));
        });
        total = moxy_number_format(subtotal, '.');
        jQuery('.totalPrice').html('<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>' + total);
    }


</script>
