<?php
/**
 * 	Comment
 * 
 * 
 * 
 * 
 * 
 **/
?>

<?php
	if ($this->helper('customer')->isLoggedIn())
	{
		$user_list = $this->getFacebookFriendBuy();

		// debug($user_list);
		if( ! empty($user_list) )
		{
?>
		<div class='block block-friendlist'>
			<div class="block-title">
				<strong><span><?php echo $this->__('Recently friends product purchase') ?></span></strong>
			</div>
			
			<script type="text/javascript">
				jQuery(function(){
					
					var count_li = jQuery(".recently_product_purchase li").length;
					var current_li = 1;
					var myVar = setInterval(function(){slide_up();}, 5000);

					function slide_up()
					{
						if(current_li > count_li)
						{
							current_li=1;
						}

						jQuery('.recently_product_purchase li').each(function( index ) {
							jQuery(this).hide();
						});
						jQuery('.recently_product_purchase li:nth-child('+current_li+')').fadeIn(
							'slow',
							function() {
								current_li++;								
							}
						);
					}
				});
			</script>
			<ul style='overflow:hidden;height:55px;' class="recently_product_purchase">
			<?php
				$item_list = array();
				foreach ($user_list as $key => $value)
				{
					if( ! empty($value['orders']) )
					{
						foreach ($value['orders'] as $key1 => $value1)
						{
							if( ! empty($value1['items']) )
							{
								foreach ($value1['items'] as $key2 => $value2)
								{
									$item_list[$value['fb_id']][] = $value2;
								}
							}
						}
					}

				// debug($item_list);
			?>		
					<li style='margin-top: 3px;overflow:hidden;width:210px;'>
						<div style="width:30px;float:left;padding-top:4px;">
							<img src='<?php echo $this->facebook->getUserProfileImageUrl($value['fb_id']) ?>' style="width:30px;">
						</div>
						<div style="width:170px;float:left;margin-left:5px;">
							<span style="display:block;font-weight:bold; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><?php echo $value['name'] ?></span>
							<span style="display:block; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">buy <a href="<?php echo $item_list[$value['fb_id']][0]['product_detail']['url_product'] ?>" target="_blank"><?php echo $item_list[$value['fb_id']][0]['product_detail']['name'] ?></a></span>
							<span style="display:block;">on <?php echo $item_list[$value['fb_id']][0]['created_at'] ?></span>
						</div>
					</li>
			<?php
				}
				// foreach ($user_list as $key => $value)
				// {
				// 	echo "<li style='float: left;margin-right: 3px;'>" . $value['name'] . "</li>";
				// }
			?>
			</ul>
		</div>
<?php		
		}
	}
?>