<script>
    function afterCallSC(SC, render){
        if(SC.page.products.length > 0) {
            jQuery.ajax({
                url: '/emarsys/index/checkstatus',
                data: {'data': SC.page.products},
                type: 'POST',
                dateType: 'json',
                async: false,
                success: function (data) {
                    data = JSON.parse(data);
                    SC.page.products = data;
                }
            });
            render(SC);
        }
    }
</script>
<script type="text/html" id="cart-widget-template">
    <![CDATA[
    {{ if (SC.page.products.length > 3) { }}
    <p class="h3"><?php echo $this->__('People who viewed this also bought'); ?></p>

    <ul id="slideCartWidget" class="bx-emarsys">
            {{ for (var i=0; i < SC.page.products.length; i++) { }}
            <!--for statement-->
            {{ SC.page.products[i].link = SC.page.products[i].link.replace("/th/", '/'); }}
            {{ SC.page.products[i].link = SC.page.products[i].link.replace("admin.petloft.com", 'moxy.co.th'); }}
            {{ SC.page.products[i].link = SC.page.products[i].link.replace("https://www.orami.co.th", ''); }}
            {{ SC.page.products[i].link = SC.page.products[i].link.split("?")[0]; }}
            {{ var p = SC.page.products[i]; }}
            {{ if(p.image != 'http://cdn.whatsnew.asia/media/catalog/productno_selection') { }}
            {{ var discount = ((1 - p.price / p.msrp) * 100).toFixed(0); }}
            {{ console.log(p.title + ' - ' + p.available); }}
            <li class="rec-analysis" data-web-section="category" data-product-id="{{=p.productId}}" data-scarabitem="{{=p.id }}">
                <a href="{{= p.link }}">
                    <div class="emarsys-recommended">
                        <img src="{{= p.image }}" alt="{{= p.title}}" >
                        <div class="price-box">
                            <span class="msrp">฿ {{= p.msrp }}</span>
                            <span class="price">฿ {{= p.price }}</span>
                            {{ if( discount >= 3 ) { }}
                                <span class="discount">{{= discount}}%</span>
                            {{ } }}
                        </div>
                        <span class="name">
                            {{= p.title}}
                        </span>
                    </div>
                </a>
            </li>
            {{ } }}
            {{ } }}
        </ul>
    {{ } }}
    ]]>
</script>
<div id="cartWidgetContainer" style="margin: 10px 0px;">
</div>

<script>
    ScarabQueue.push(['recommend', {
        logic: 'CART',
        containerId: 'cartWidgetContainer',
        templateId: 'cart-widget-template',
        success: afterCallSC
    }]);

    jQuery('#cartWidgetContainer').css('opacity','0'); // hide block befor load

    setTimeout(function(){
    var slides,
        width = jQuery(window).width();

    if (width < 575) {
        slides = 2;
    } else {
        slides = 5;
    }

    jQuery('.bx-emarsys').bxSlider({
        minSlides: slides,
        maxSlides: slides,
        moveSlides: 1,
        slideWidth: (width / slides) - 10,
        slideMargin: 2.5,
        pager: false
    });

    jQuery('#cartWidgetContainer').css('opacity','1');
    }, 3000);

</script>