<script>
    var productList = [];
    function afterCallSC(SC, render){
        if(SC.page.products.length > 0) {
            jQuery.ajax({
                url: '/emarsys/index/checkstatus',
                data: {'data': SC.page.products},
                type: 'POST',
                dateType: 'json',
                async: false,
                success: function (data) {
                    data = JSON.parse(data);
                    SC.page.products = data;
                }
            });
            render(SC);
        }
    }
</script>
<script type="text/html" id="personal-widget-template">
    <![CDATA[
    {{ if (SC.page.products.length > 3) { }}
    <div class="recommend-hd-box"><div style="clear:both;"></div>
        <div class="headRibbon"><span class="leftRib"></span><span class="recommend-hd"><?php echo $this->__('Recommended for you');?></span><span class="rightRib"></span></div>
    </div>
    <ul id="slidePersonalWidget" class="gridXL" style="width:1170px;">
        {{ for (var i=0; i < SC.page.products.length; i++) { }}
            <!--for statement-->
        {{ SC.page.products[i].link = SC.page.products[i].link.replace("/th/", '/'); }}
        {{ SC.page.products[i].link = SC.page.products[i].link.split("?")[0]; }}
        {{ var p = SC.page.products[i]; }}
        {{ if(p.image != 'http://cdn.whatsnew.asia/media/catalog/productno_selection') { }}
        {{ var discount = ((1 - p.price / p.msrp) * 100).toFixed(0); }}
        {{ console.log(p.title + ' - ' + p.available); }}
        <li class="recItem" data-product-id="{{=p.productId}}" data-scarabitem="{{=p.id }}">
            <div class="imgPlace">
                <a href="{{= p.link }}" title="{{= p.title}}" class="product-image">
                    <img src="{{= p.image }}" width="150" height="150" alt="{{= p.title}}" />
                </a>
            </div>
            <div class="productItem">
                <div class="textPlace">
            <span class="pdName">
                <a href="{{= p.link }}" title="{{= p.title}}">{{= p.title}}</a>
            </span>
                    <div class="price-box">
                        {{ if(p.price > 0){ }}
                        <p class="special-price">
                            <span class="price-label">Our Price:</span>
                            <span class="price" id="product-price-{{= p.productId}}">฿{{= p.price }}</span>
                        </p>
                        {{ if( discount >= 3 ) { }}
                        <p class="old-price">
                            <span class="price-label">Regularly:</span>
                            {{ if(p.msrp){ }}
                            <span class="price" id="old-price-{{= p.productId}}">฿{{= p.msrp }}</span>
                            {{ } }}
                        </p>
                        {{ } }}
                        {{ if( discount >= 3 ) { }}
                        <p class="save-percentage">
                            <span class="price-label">Save:</span>
                            <span class="price" id="save-percentage-{{= p.productId}}">{{= discount}}<span>%</span></span>
                        </p>
                        {{ } }}
                        {{ } }}
                    </div>

                    <a href="{{= p.link }}" title="{{= p.title}}"><div class="overlay_item"></div></a>
                    <div class="actions" align="center">
                        {{ if (p.available == true){ }}
                        <button class="button btn-cart" title="<?php echo $this->__('Add To Bag');?>" type="button">
                            <span align="center" ref="{{= p.productId}}" class="buy-rec"><span style="float:none;"><?php echo $this->__('Add To Bag');?></span></span>
                            <input type="hidden" name="product" value="{{= p.productId}}"/>
                        </button>
                        {{ } else { }}
                        <button type="button" title="See" class="button btn-see" onclick="setLocation('{{= p.link }}')">
                            <span><?php echo $this->__('View');?></span>
                        </button>
                        {{ } }}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </li>
        {{ } }}
        {{ } }}
    </ul>
    {{ } }}
    ]]>
</script>
<div id="personalWidgetContainer">

</div>

<script>
    var bigCategory = '<?php echo htmlspecialchars_decode($this->getBigCategory());?>';
    if(bigCategory != '') {
        ScarabQueue.push(['include', 'category', 'has', bigCategory]); // can only recommend 2
    }
    ScarabQueue.push(['recommend', {
        logic: 'PERSONAL',
        containerId: 'personalWidgetContainer',
        templateId: 'personal-widget-template',
        success: afterCallSC
    }]);
    //ScarabQueue.push(['go']);

    jQuery(document).ready(function(){
        setTimeout(function(){
            jQuery('<div class="control"><a class="prevRecommendation" href="javascript:void(0);">prev</a><a class="nextRecommendation" href="javascript:void(0);">next</a></div>').insertBefore(jQuery('#slidePersonalWidget'));
            jQuery('#slidePersonalWidget').carouFredSel({
                scroll: {
                    items:3,
                    effect: 'easeOutBounce',
                    speed: 2500,
                    pauseOnHover: true
                },
                auto: false,
                responsive: false,
                items: 4,
                width: '100%',
                height: 'auto',
                next: "a.nextRecommendation",
                prev: "a.prevRecommendation"
            });
            AmAjaxShoppCartLoad('button.btn-cart');
        }, 3000);
    });
</script>