<?php
/** @var Mage_Catalog_Model_Product $_p */
$_p = $this->getProduct();
?>

<?php if ($_p->getAttributeText('shipping_duration') == 'Special Order Product'): ?>
    <?php
    if ($_p->getStockItem()->getManageStock() == 1) {
        if ($_p->getStockItem()->getData('qty') > 0) {
            ?>
            <div class="special-item">
                <div class="image">
                    <div id="special_flag"></div>
                </div>
                <div class="information-icon">&#9432;
                    <div class="tooltiptext">
                        <?php echo $this->__('Preorder products usually take 7-10 business days to ship as we don’t stock this product in our warehouse.') ?>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <?php
        }
    } else {
        if ($_p->getStockItem()->getData('qty') == 0) {
            ?>
            <div class="special-item">
                <div class="image">
                    <div id="special_flag"></div>
                </div>

                <div class="information-icon">&#9432;
                    <div class="tooltiptext">
                        <?php echo $this->__('Preorder products usually take 7-10 business days to ship as we don’t stock this product in our warehouse.') ?>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <?php
        } else {
            ?>
            <div class="special-item">
                <div class="image">
                    <div id="instock_flag"></div>
                </div>

                    <div class="information-icon">&#9432;
                        <div class="tooltiptext">
                            <?php echo $this->__('This product is stocked in our warehouse and can be delivered to you in just 1-4 business days') ?>
                        </div>
                    </div>
                <div class="clearfix"></div>
            </div>
            <?php
        }
    }
    ?>
<?php endif; ?>

<?php if ($_p->getAttributeText('shipping_duration') == 'Dropship Product'): ?>
    <div class="special-item">
        <div class="image">
            <div id="drop_flag"></div>
        </div>

        <div class="information-icon">&#9432;
            <div class="tooltiptext">
                <?php echo $this->__('This item is shipped directly from the vendor. The shipping fee will be determined on delivery. Please see shipping fee and conditions in the product details. Orami recommends to order this item separately from your other items.') ?>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
<?php endif; ?>

<?php if ($_p->getAttributeText('shipping_duration') == 'Consignment and Buy-in Product' && $_p->getStockItem()->getData('qty') > 0): ?>
    <div class="special-item">
        <div class="image">
            <div id="instock_flag"></div>
        </div>

        <div class="information-icon">&#9432;
            <div class="tooltiptext">
                <?php echo $this->__('This product is stocked in our warehouse and can be delivered to you in just 1-4 business days') ?>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
<?php endif; ?>
