<?php
/** @var Mage_Catalog_Model_Product $_product */
$_product = $this->getProduct();
?>
<?php if ($_product->getData('shipping_duration')): ?>
    <div class="col-within">
        <div id="within-img"></div>
        <div class="text-row">
            <?php if ($_product->getData('override_inventory') == 0 || $_product->getStockItem()->getIsInStock() == 0): ?>
                <?php if ($_product->getAttributeText('shipping_duration') == 'Consignment and Buy-in Product' && $_product->getStockItem()->getIsInStock() == 1): ?>
                    <div class="text-up"><?php echo $this->__('Within') ?></div>
                    <div class="text-down"><?php echo '1-4 ' . $this->__('Business Days') ?></div>
                <?php elseif ($_product->getAttributeText('shipping_duration') == 'Dropship Product'): ?>
                    <div class="text-up"><?php echo $this->__('Within') ?></div>
                    <div class="text-down"><?php echo '7-14 ' . $this->__('Business Days') ?></div>
                <?php elseif ($_product->getAttributeText('shipping_duration') == 'Special Order Product'): ?>
                    <?php
                    if ($_product->getStockItem()->getManageStock() == 1) {
                        if ($_product->getStockItem()->getData('qty') > 0) {
                            ?>
                            <div class="text-up"><?php echo $this->__('Within') ?></div>
                            <div class="text-down"><?php echo '7-10 ' . $this->__('Business Days') ?></div>
                            <?php
                        }else{
                            ?>
                            <div class="text-up"><?php echo $this->__('Within') ?></div>
                            <div class="text-down"><?php echo '7-10 ' . $this->__('Business Days') ?></div>
                            <?php
                        }
                    } else {
                        if ($_product->getStockItem()->getData('qty') == 0) {
                            ?>
                            <div class="text-up"><?php echo $this->__('Within') ?></div>
                            <div class="text-down"><?php echo '7-10 ' . $this->__('Business Days') ?></div>
                            <?php
                        } else {
                            ?>
                            <div class="text-up"><?php echo $this->__('Within') ?></div>
                            <div class="text-down"><?php echo '1-4 ' . $this->__('Business Days') ?></div>
                            <?php
                        }
                    }
                    ?>
                <?php else: ?>
                    <div class="text-up"><?php echo $this->__('Within') ?></div>
                    <div class="text-down"><?php echo '1-4 ' . $this->__('Business Days') ?></div>
                <?php endif; ?>
            <?php else: ?>
                <div class="text-up"><?php echo $this->__('Within') ?></div>
                <div class="text-down"><?php echo '7-10 ' . $this->__('Business Days') ?></div>
            <?php endif; ?>
        </div>
    </div>
    <div class="col-cash">
        <div id="cash-img"></div>
        <div class="text-row">
            <div class="text-up"><?php echo $this->__('Cash on Delivery') ?></div>
            <div class="text-down">
                <?php if ($_product->getData('product_payment_methods') && $_product->getData('product_payment_methods') != ""): ?>
                    <?php $paymentArray = explode(",", $_product->getData('product_payment_methods')); ?>
                    <?php if (!in_array("cashondelivery", $paymentArray)): ?>
                        <?php echo $this->__('Available') ?>
                    <?php else: ?>
                        <?php echo $this->__('Not Available') ?>
                    <?php endif; ?>
                <?php else: ?>
                    <?php if (($_product->getFinalPrice() <= 9999) && ($_product->getAttributeText('shipping_duration') != 'Dropship Product')): ?>
                        <?php echo $this->__('Available') ?>
                    <?php else: ?>
                        <?php echo $this->__('Not Available') ?>
                    <?php endif ?>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="col-pay">
        <div id="pay-img"></div>
        <div class="text-row">
            <div class="text-up"><?php echo $this->__('Counter Payment') ?></div>
            <div class="text-down">
                <?php if (Mage::getStoreConfig('payment/normal2c2p/active') == 1): ?>
                    <?php echo $this->__('Available') ?>
                <?php else: ?>
                    <?php echo $this->__('Not Available') ?>
                <?php endif ?>
            </div>
        </div>
    </div>
<?php endif ?>
