<?php $_product = $this->getProduct() ?>
<div class="share-title">
    <?php echo $this->__('Share') ?>:
</div>
<div class="share-list">
    <ul>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $_product->getProductUrl() ?>"
               target="_blank" title="Facebook"><span class="fb-icon"></span></a></li>
        <li>
            <a href="https://twitter.com/home?status=<?php echo $_product->getProductUrl() ?>"
               target="_blank" title="Twitter"><span class="twitter-icon"></span></a></li>
        <li>
            <a href="https://plus.google.com/share?url=<?php echo $_product->getProductUrl() ?>"
               target="_blank" title="Google Plus"><span class="google-plus-icon"></span></a></li>
        <li>
            <a href="https://pinterest.com/pin/create/button/?url=<?php echo $_product->getProductUrl() ?>&media=<?php echo $_product->getImageUrl() ?>"
               target="_blank" title="Pinterest"><span class="pinterest-icon"></span></a></li>
        <li>
            <a href="mailto:?&subject=<?php echo $_product->getName() ?>"
               target="_blank" title="Gmail"><span class="gmail-icon"></span></a></li>
    </ul>
</div>