<span id="shipping-rate-seemore"><?php echo $this->__('See Shipping Rates'); ?></span>
<div id="shipping-rate-popover" style="display: none;">
    <div class="close-section">
        <img id="close-popover" src="<?php echo $this->getSkinUrl('images/close.png'); ?>" alt="close">
    </div>
    <p><?php echo $this->__('Shipping Fees based on product weight and total basket size.'); ?></p>
    <table>
        <tr class="table-head">
            <td><?php echo $this->__('Weight (g)'); ?></td>
            <td><?php echo $this->__('Bangkok'); ?></td>
            <td><?php echo $this->__('Nationwide'); ?></td>
        </tr>
        <tr>
            <td>0-1,000</td>
            <td>฿46</td>
            <td>฿53</td>
        </tr>
        <tr>
            <td>1,001-2,000</td>
            <td>฿53</td>
            <td>฿60</td>
        </tr>
        <tr>
            <td>2,001-5,000</td>
            <td>฿67</td>
            <td>฿81</td>
        </tr>
        <tr>
            <td>5,001-10,000</td>
            <td>฿84</td>
            <td>฿98</td>
        </tr>
        <tr>
            <td>10,001-15,000</td>
            <td>฿105</td>
            <td>฿133</td>
        </tr>
        <tr>
            <td>15,001-20,000</td>
            <td>฿140</td>
            <td>฿161</td>
        </tr>
        <tr>
            <td>>20,000</td>
            <td>฿150</td>
            <td>฿180</td>
        </tr>
    </table>
</div>

<script>
    jQuery('#shipping-rate-seemore').click(function() {
        jQuery('#shipping-rate-popover').fadeToggle();
    });

    jQuery('#close-popover').click(function() {
        jQuery('#shipping-rate-popover').fadeOut();
    });
</script>