<?php
$secureMode = preg_match('/https:\/\//', Mage::helper('core/url')->getCurrentUrl()) ? true : false;
$contactFormUrl = Mage::getUrl();
if($secureMode) {
    $contactFormUrl = str_replace('http://', 'https://', $contactFormUrl);
}
$currentStore = Mage::app()->getStore()->getCode();
$version      = 'lang-en';
$nameStore    = '';
switch($currentStore) {
    case 'en' :  $nameStore = "Petloft's"; break;
    case 'ven' : $nameStore = "Venbi's"; break;
    case 'sen' : $nameStore = "Sagona's"; break;
    case 'len' : $nameStore = "Lafema's"; break;
    case 'moxyen' : $nameStore = "Moxy's"; break;
}
if( strpos($currentStore, 'th') !== false ){$version = 'lang-th';}
?>
<div class="contact-sidebar-show <?php echo $version; ?>" style="display: none;">
    <div class="outer">
        <div class="container">
            <div class="inner">
                <div id="wrapper">
                    <div class="content">
                        <div class="title-container">
                            <a class="title mini-view-button" href="javascript:void(0)"></a>
                        </div>
                        <div class="body-container">
<!--                            <div class="style-border-color">-->
<!--                                <div class="body-inner">-->
<!--                                    <div class="view">-->
<!--                                        <div class="title-content-container"></div>-->
<!--                                        <div class="form" id="mainView">-->
<!--                                            <form action="--><?php //echo $contactFormUrl; ?><!--ajaxcontact/index/messagebox/" id="contactFormSidebar" method="post">-->
<!--                                                <div class="form-row">-->
<!--                                                    <p>-->
<!--                                                        <label for="name" class="required">--><?php //echo Mage::helper('ajaxcontact')->__('Name') ?><!--<em>*</em></label>-->
<!--                                                        <input name="name" id="name" title="--><?php //echo Mage::helper('ajaxcontact')->__('Name') ?><!--" value="--><?php //echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?><!--" class="input-text required-entry" type="text" />-->
<!--                                                    </p>-->
<!--                                                </div>-->
<!--                                                <div class="form-row">-->
<!--                                                    <p>-->
<!--                                                        <label for="email" class="required">--><?php //echo Mage::helper('ajaxcontact')->__('Email') ?><!--<em>*</em></label>-->
<!--                                                        <input name="email" id="email" title="--><?php //echo Mage::helper('ajaxcontact')->__('Email') ?><!--" value="--><?php //echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?><!--" class="input-text required-entry validate-email" type="text" />-->
<!--                                                    </p>-->
<!--                                                </div>-->
<!--                                                <div class="form-row">-->
<!--                                                    <p>-->
<!--                                                        <label for="telephone">--><?php //echo Mage::helper('ajaxcontact')->__('Mobile') ?><!--</label>-->
<!--                                                        <input name="telephone" id="telephone" title="--><?php //echo Mage::helper('ajaxcontact')->__('Mobile') ?><!--" value="" class="input-text" type="text" />-->
<!--                                                    </p>-->
<!--                                                </div>-->
<!--                                                <div class="form-row">-->
<!--                                                    <p>-->
<!--                                                        <label for="subject">--><?php //echo Mage::helper('ajaxcontact')->__('Subject') ?><!--</label>-->
<!--                                                        <input name="subject" id="subject" title="--><?php //echo Mage::helper('ajaxcontact')->__('Subject') ?><!--" value="" class="input-text" type="text" />-->
<!--                                                    </p>-->
<!--                                                </div>-->
<!--                                                <div class="form-row content-message">-->
<!--                                                    <p>-->
<!--                                                        <label for="comment" class="required">--><?php //echo Mage::helper('ajaxcontact')->__('Message') ?><!--<em>*</em></label>-->
<!--                                                        <textarea name="comment" id="comment" title="--><?php //echo Mage::helper('ajaxcontact')->__('Message') ?><!--" class="required-entry input-text" cols="5" rows="6"></textarea>-->
<!--                                                    </p>-->
<!--                                                </div>-->
<!--                                                <div class="form-row">-->
<!--                                                    <p>-->
<!--                                                        <button type="submit" title="--><?php //echo Mage::helper('ajaxcontact')->__('Send') ?><!--">--><?php //echo Mage::helper('ajaxcontact')->__('Send') ?><!--</button>-->
<!--                                                        <span class="ajax-loader" style="display: none;">-->
<!--                                                            <src="--><?php //echo $this->getSkinUrl('images/loader.gif') ?><!--" alt=""/>-->
<!--                                                        </span>-->
<!--                                                    </p>-->
<!--                                                </div>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="message-box" style="
                            padding-top:10px;
                            text-align:center;
                            height:230px;
                            color: white;
                            background:#ff6c6c;
                            font-family: 'Open Sans', Arial;">
                                <p style="font-size: 12px;padding: 5px;">Hi there, drop us message at</p>
                                <div style="
                                    display: block;
                                    margin: auto;
                                    padding-top: 3px;
                                    height: 31px;
                                    width: 174px;
                                    text-align: center;
                                    font-size: 14px;
                                    font-weight: bold;
                                    border-radius: 20px;
                                    border: 2px solid white;">
                                    <?php echo $this->__('support@orami.co.th'); ?></div>
                                <p style="font-size: 12px;padding: 2px;">or give our Customer Service a call</p>
                                <div style="
                                    display: block;
                                    margin: auto;
                                    padding-top: 3px;
                                    height: 31px;
                                    width: 174px;
                                    text-align: center;
                                    font-size: 14px;
                                    font-weight: bold;
                                    border-radius: 20px;
                                    border: 2px solid white;">02-106-8222</div>
                                <p style="font-size: 12px;padding: 2px;">and our team will get back to you</p>
                                <p style="font-size: 12px;padding: 2px;">during Monday to Saturday 10AM-7PM</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-sidebar-hide <?php echo $version; ?>">
    <div class="compact-view">
        <div class="body">
            <a href="javascript:void(0);" class="full-view-button">
                <div class="extra"></div>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var contactFormSidebar = new VarienForm('contactFormSidebar', true);
    jQuery(function($) {
        $('.contact-sidebar-hide .full-view-button').on('click', function() {
            $('.contact-sidebar-hide').hide();
            $('.contact-sidebar-show').show();
        });
        $('.contact-sidebar-show .mini-view-button').on('click', function() {
            $('.contact-sidebar-show').hide();
            $('.contact-sidebar-hide').show();
        });
        $('#contactFormSidebar').submit(function() {
            if (contactFormSidebar.validator.validate()) {
                var form = $(this),
                    loader = $('.ajax-loader');
                loader.show();
                $.post(form.attr('action'), form.serialize(), function(json) {
                    var messageClass = json.status ? 'success' : 'error',
                        messageHtml = '<p class="'+ messageClass +'">' + json.message + '</p>';
                    if(json.status == true) {
                        $('.contact-sidebar-show').hide();
                        $('.contact-sidebar-hide').show();
                        document.getElementById("contactFormSidebar").reset();
                    }
                    $('.contact-sidebar-show').find('.title-content-container').html(messageHtml);
                    loader.hide();
                }, "json");
            }

            return false;
        });
    });
    //]]>
</script>