<h1 id="uniform-theme-kit">Uniform Theme Kit</h1>
<p>Welcome!  I&#39;m happy you are here.  You&#39;re interested in making your own theme that works with Uniform and you&#39;ve come to the right place.</p>
<h2 id="sprite-image-layout">Sprite Image Layout</h2>
<p>A big chunk of theming is just getting the sprite image set up for use with Uniform.  It depends on having the images laid out in a specific way and that you follow a few rules:</p>
<ol>
<li><p>You can change the size of the images, but you must make all of the images of a particular class match in height.  For example, that means all of your <code>&lt;select&gt;</code> elements are designed to have the same height.  If you need multiple heights, I suggest you set up multiple themes.</p>
</li>
<li><p>Order in the sprite image matters greatly.  Please don&#39;t change it.</p>
</li>
</ol>
<p>And now, on to the sprite image itself.</p>
<p><img src="identification.png" alt="Identification Image"></p>
<p>The green are the &quot;regular&quot; elements, yellow indicate &quot;active&quot;, light blue is &quot;hover&quot;, dark blue is &quot;active&quot;, and maroon is &quot;disabled&quot;.  The order of the images, from top to bottom, is the select list buttons, select button cap, checkboxes, radios, file upload filename area, file upload action button, buttons, button caps.</p>
<p>Here&#39;s the entire list as text, just in case the colors are not your thing.  The CSS selectors are listed for the elements.</p>
<ul>
<li>Select dropdowns<ul>
<li>div.selector span</li>
<li>div.selector.active span</li>
<li>div.selector.hover span</li>
<li>div.selector.hover.active span</li>
<li>div.selector.disabled span</li>
</ul>
</li>
<li>Select dropdown button caps<ul>
<li>div.selector</li>
<li>div.selector.active</li>
<li>div.selector.hover</li>
<li>div.selector.hover.active</li>
<li>div.selector.disabled</li>
</ul>
</li>
<li>Checkboxes - these are all on one line<ul>
<li>div.checker</li>
<li>div.checker.active</li>
<li>div.checker.hover</li>
<li>div.checker.hover.active</li>
<li>div.checker.checked</li>
<li>div.checker.checked.active</li>
<li>div.checker.checked.hover</li>
<li>div.checker.checked.hover.active</li>
<li>div.checker.disabled</li>
<li>div.checker.checked.disabled</li>
</ul>
</li>
<li>Radio buttons - these are all on one line<ul>
<li>div.radio</li>
<li>div.radio.active</li>
<li>div.radio.hover</li>
<li>div.radio.hover.active</li>
<li>div.radio.checked</li>
<li>div.radio.checked.active</li>
<li>div.radio.checked.hover</li>
<li>div.radio.checked.hover.active</li>
<li>div.radio.disabled</li>
<li>div.radio.checked.disabled</li>
</ul>
</li>
<li>File upload filename - only 3 images<ul>
<li>div.uploader span.filename</li>
<li>div.uploader.hover span.filename</li>
<li>div.uploader.disabled span.filename</li>
</ul>
</li>
<li>File upload &quot;browse&quot; button<ul>
<li>div.uploader span.action</li>
<li>div.uploader.active span.action</li>
<li>div.uploader.hover span.action</li>
<li>div.uploader.hover.active span.action</li>
<li>div.uploader.disabled span.action</li>
</ul>
</li>
<li>Button elements and styled links - only 4 images<ul>
<li>div.button span</li>
<li>div.button.active span</li>
<li>div.button.hover span</li>
<li>div.button.disabled span</li>
</ul>
</li>
<li>Button element caps<ul>
<li>div.button</li>
<li>div.button.active</li>
<li>div.button.hover</li>
<li>div.button.disabled</li>
</ul>
</li>
</ul>
<h2 id="the-background-images">The Background Images</h2>
<p>These two are not included in the sprite because they need to repeat.  They need your special artwork as well to make a good theme, but they are a lot easier since they are just plain images.</p>
<h2 id="creating-a-custom-theme">Creating A Custom Theme</h2>
<p>You can create your own theme by following these steps:</p>
<ol>
<li><p>Using the theme kit as a sort of a template, create a new sprite image.  The various backgrounds and images need to be in the same order.  Yours can use different dimensions if that&#39;s useful.  There&#39;s more information on the sprite in this file.</p>
</li>
<li><p>Create the two input backgrounds, one for when the element has focus and another for when it does not have focus.</p>
</li>
<li><p>If you intend to use retina sized images, now is a good time to create those too.</p>
</li>
<li><p>Copy an existing theme&#39;s <code>css/uniform.*.scss</code> file.</p>
</li>
<li><p>Change the SCSS file to fit your theme.</p>
<ul>
<li><p>The _base theme file should specify all layout specific things, such as position, width, height, background offsets and the like.  It should not need to get modified.</p>
</li>
<li><p>Variables are described in another section in this file.</p>
</li>
<li><p>Your custom SCSS file is where you should set colors, fonts and other stylistic aspects.</p>
</li>
<li><p>You may need to change the path of the <code>@import &quot;../../_base/css/uniform._base.scss&quot;</code> to match your pathing structure.</p>
</li>
<li><p>If including retina display images, you need to <code>@include retina()</code> at the end of your scss file, like the Jeans theme.</p>
</li>
</ul>
</li>
<li><p>Rebuild the CSS file using sass.  A command like this should help get you started.</p>
<ul>
<li><p><code>sass --scss -s --style=compressed uniform.my_new_theme.scss &gt; uniform.my_new_theme.min.css</code></p>
</li>
<li><p>You may need to download and install <a href="http://sass-lang.com/">Sass</a>.</p>
</li>
</ul>
</li>
<li><p>Enjoy!</p>
</li>
</ol>
<h2 id="scss-variables-and-mixins">SCSS Variables And Mixins</h2>
<p>Thanks to the power that Sass provides, we can generate CSS rules with variables.  Sass also provides the CSS minification that this project uses.</p>
<h1 id="variables">Variables</h1>
<h3 id="class-names">Class Names</h3>
<p>Uniform allows setting your own custom classes in the JavaScript, and these variables let you mirror that behavior in the generated CSS files.  Usually one will not need to modify these unless you are doing localization or if you want to have more unique class names in your theme.</p>
<ul>
<li>$class-action: &quot;.action&quot;;  /<em> File upload &quot;Browse&quot; button </em>/</li>
<li>$class-active: &quot;.active&quot;;</li>
<li>$class-button: &quot;.button&quot;;</li>
<li>$class-checkbox: &quot;.checker&quot;;</li>
<li>$class-checked: &quot;.checked&quot;;</li>
<li>$class-disabled: &quot;.disabled&quot;;</li>
<li>$class-input: &quot;.uniform-input&quot;;</li>
<li>$class-filename: &quot;.filename&quot;;  /<em> File upload filename </em>/</li>
<li>$class-focus: &quot;.focus&quot;;</li>
<li>$class-hover: &quot;.hover&quot;;</li>
<li>$class-multiselect: &quot;.uniform-multiselect&quot;;</li>
<li>$class-radio: &quot;.radio&quot;;</li>
<li>$class-select: &quot;.selector&quot;;</li>
<li>$class-upload: &quot;.upload&quot;;</li>
<li>$class-textarea: &quot;.uniform&quot;;</li>
<li>$class-wrapper: &quot;&quot;;  /<em> Useful for namespacing </em>/</li>
</ul>
<p>The <code>$class-wrapper</code> variable is extra handy for defining a namespacing for using multiple themes at once.  See the documentation in the <code>www/</code> folder or online for examples.</p>
<h3 id="images">Images</h3>
<ul>
<li>$sprite: &quot;../images/sprite.png&quot;;</li>
<li>$sprite-retina: &quot;../images/sprite-retina.png&quot;;</li>
<li>$input-background: &quot;../images/bg-input.png&quot;;</li>
<li>$input-background-retina: &quot;../images/bg-input-retina.png&quot;;</li>
<li>$input-background-focus: &quot;../images/bg-input-focus.png&quot;;</li>
<li>$input-background-focus-retina: &quot;../images/bg-input-focus-retina.png&quot;;</li>
<li>$sprite-size: 493px;</li>
<li>$input-background-size: 1px;</li>
</ul>
<p>These define the paths to the images.  They are wrapped in <code>url(...)</code> in the generated CSS file.  The format of the images is described elsewhere in this file.</p>
<p>The retina display image is of a higher quality than the regular one.  Typically it is of double density, but you&#39;re not restricted to that.  Scaling happens automatically by the browser and it&#39;s based on the <code>$sprite-size</code> and <code>$input-background-size</code> variables.</p>
<p>The sizes are necessary for scaling down the retina display to the original image&#39;s size.</p>
<h3 id="basic-heights-and-widths">Basic Heights and Widths</h3>
<ul>
<li>$button-height: 30px;</li>
<li>$checkbox-height: 19px;</li>
<li>$checkbox-width: 19px;</li>
<li>$radio-height: 18px;</li>
<li>$radio-width: 18px;</li>
<li>$select-height: 26px;</li>
<li>$upload-action-width: 85px;</li>
<li>$upload-filename-width: 82px;</li>
<li>$upload-height: 28px;</li>
<li>$upload-width: 190px;</li>
</ul>
<p>These determine the width and height of some of the elements.  They all are basically what they imply.  Their dimensions are used to calculate the offsets in the sprite images in order to locate where something is.  When you have messed up backgrounds, you should probably double-check these values and ensure that it all lines up.</p>
<h3 id="caps">Caps</h3>
<ul>
<li>$button-margin-left: 13px;</li>
<li>$select-margin-left: 10px;</li>
</ul>
<p>These are the widths of the caps for buttons and select lists.</p>
<ul>
<li>$select-margin-right: 25px;</li>
</ul>
<p>This is the width of the drop-down arrow image for select lists.</p>
<ul>
<li>$upload-filename-padding: 0 10px;</li>
</ul>
<p>The filename is given this much padding for positioning the span&#39;s text appropriately inside the div.</p>
<h3 id="trickier-settings">Trickier Settings</h3>
<ul>
<li>$button-span-height: $button-height;</li>
</ul>
<p>The span height for buttons can change in order to accommodate changing margins.</p>
<ul>
<li>$button-padding: 0;</li>
<li>$input-padding: 3px;</li>
</ul>
<p>The specified amount of padding will be applied to the button&#39;s span or an input/textarea/multiselect element in order to position content.</p>
<ul>
<li>$select-fixed-width: 190px;</li>
</ul>
<p>When select lists are not set for automatic sizing, this variable dictates how wide the select should appear.</p>
<ul>
<li>$select-select-height: 22px;</li>
<li>$select-select-top: 2px;</li>
</ul>
<p>Select elements are forcibly resized to be the given height and absolutely positioned to have the given top setting in order to make the whole styled image clickable.</p>
<ul>
<li>$upload-filename-margin-top: 2px;</li>
<li>$upload-filename-margin-bottom: 2px;</li>
</ul>
<p>These two will vertically align the filename in the upload input.</p>
<ul>
<li>$upload-filename-margin-left: 2px;</li>
</ul>
<p>Change this setting so filenames start near the edge of your image, but not too close.  You don&#39;t want overlap, now do you?</p>
<h1 id="mixins">Mixins</h1>
<p>Mixins let you define a reusable chunk of CSS and then include it in multiple places.  When you need to update it, you only need to update it once and rebuild your SCSS files.  Fantastic!</p>
<p>To use it, you just add a <code>@include</code> line in your css, like this:</p>
<pre><code>a {
    color: blue;
    @include: ellipsis();
}
</code></pre><h3 id="hideyetclickable-">hideYetClickable()</h3>
<p>Sets the element to be invisible, yet it takes up space and can still be interacted with.</p>
<h3 id="inline-block-">inline-block()</h3>
<p>Usually a <code>display: inline-block</code> is enough, but older versions of IE have issues.  This should basically work all the way back to IE6.</p>
<h3 id="ellipsis-">ellipsis()</h3>
<p>Alters the CSS so when there is content that overflows it will be shown as &quot;...&quot; instead of expanding the element.</p>
<h3 id="border-radius-radius-">border-radius($radius)</h3>
<p>Sets up the cross-browser border radius elements.  It&#39;s not official and somewhat older browsers may need their custom CSS rules until those users upgrade or the computers die.</p>
<p>Pass in a radius, like this:</p>
<pre><code>@include: border-radius(3px);
</code></pre><h3 id="box-shadow-def-">box-shadow($def)</h3>
<p>Sets the multiple box-shadow CSS3 rules.  Pass in your box-shadow definition.</p>
<pre><code>@include: box-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
</code></pre><h3 id="retina-">retina()</h3>
<p>Adds the chunk of CSS to the theme file that enables a retina display image.  Right now it always uses a double-density image even if the display only has a device pixel ratio of 1.3, but that only matters if you&#39;re really concerned about bandwidth.</p>
<h3 id="use-backgrounds-sprite-sprite-size-input-input-focus-input-size-">use-backgrounds($sprite, $sprite-size, $input, $input-focus, $input-size)</h3>
<p>Writes a somewhat large chunk of CSS that sets backgrounds.  This is intended to be used by retina(), but exposed in case you have a need for it.</p>
<h2 id="changes-in-v2-0">Changes in v2.0</h2>
<p>The order of the images at the bottom of the file were updated.  This is the revised order:</p>
<ul>
<li>file input normal</li>
<li>file input hover (was disabled)</li>
<li><p>file input disabled (was hover)</p>
</li>
<li><p>file button normal (was disabled)</p>
</li>
<li>file button active (was normal)</li>
<li>file button hover</li>
<li>file button hoveractive (was active)</li>
<li><p>file button disabled (was hoveractive)</p>
</li>
<li><p>button normal (was button cap normal or omitted)</p>
</li>
<li>button active (was button cap hover or omitted)</li>
<li>button hover (was button cap active or omitted)</li>
<li><p>button disabled (was button cap disabled or omitted)</p>
</li>
<li><p>button cap normal (was button normal or omitted)</p>
</li>
<li>button cap active (was button hover or omitted)</li>
<li>button cap hover (was button active or omitted)</li>
<li>button cap disabled (was button disabled or omitted)</li>
</ul>
