<?php
/**
 * Inchoo is not affiliated with or in any way responsible for this code.
 *
 * Commercial support is available directly from the [extension author](http://www.techytalk.info/contact/).
 *
 * @category Marko-M
 * @package SocialConnect
 * @author Marko Martinović <marko@techytalk.info>
 * @copyright Copyright (c) Marko Martinović (http://www.techytalk.info)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
?>
<a href="<?php echo $this->escapeUrl($this->_getButtonUrl()); ?>" class="funnel_login">
	<div id="facebook" class="social-button funnel_login">
	    <img id="facebook-icon" class="funnel_login" src="<?php echo $this->getSkinUrl('images/facebook-f.png'); ?>">
	    <span class="funnel_login"><span class="hidden-xs-down funnel_login">Login with </span>Facebook</span>
	</div>
</a>

