body {
    height: 100%;
    overflow-x: hidden;
}

#contain {
    position: relative;
    left: 0;
    overflow-x: hidden;
}
.active #contain {
    left: 276px!important;
    height: 100%;
    overflow: hidden;
}
.active #overlay {
    position: absolute;
    z-index: 9999;
    transform: translate3d(0, 0, 9999px);
    -webkit-transform: translate3d(0, 0, 9999px);
    -moz-transform: translate3d(0, 0, 9999px);
    -ms-transform: translate3d(0, 0, 9999px);
    -o-transform: translate3d(0, 0, 9999px);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

