<?php
/* $issuers = array (
	'Aeon Thana Sinsap (Thailand) Public Company Limited',
	'Bangkok Bank Public Company Limited',
	'Bank of Ayudhya Public Company Limited',
	'Cimb Thai Bank Public Company Limited',
	'Citibank, National Association',
	'Islamic Bank of Thailand',
	'Kasikornbank Public Company Limited',
	'Krung Thai Bank Public Company Limited',
	'Krungthai Card Public Company, Limited',
	'Payment Solution 2008 Company Limited',
	'Standard Chartered Bank (Thai) Public Company Limited',
	'Thanachart Bank Public Company Limited',
	'The Government Savings Bank',
	'The Hongkong and Shanghai Banking Corporation Limited',
	'The Siam Commercial Bank Public Company Limited',
	'Tmb Bank Public Company Limited',
	'United Overseas Bank(Thai)Public Company Limited',
	'Other'
);
*/
$issuers = $this->getBanks();
$prefix = $this->getFieldPrefix();
?>
<style>
    .bank-hidden-content {
        display: none;
    }

</style>
<fieldset>
<?php $_code = $this->getMethodCode() ?>
<ul id="payment_form_<?php echo $_code ?>" style="display:none" class="pm-description"
    style="border:1px solid #eae9e9; background-color:#fcfcfc;display:none">
<?php echo $this->getHeaderText(); ?>
<li>
    <label for="<?php echo $_code ?>_cc_type" class="required"><?php echo $this->__('Card Type') ?></label>

    <div class="input-box">
        <div class="arrowselectbox cc2pselect-long">
            <select id="<?php echo $_code ?>_cc_type" name="payment[<?php echo $prefix; ?>cc_type]"
                    title="<?php echo $this->__('Card Type') ?>" class="required-entry validate-cc-type-select">
                <option value=""><?php echo $this->__('--Please Select--') ?></option>
                <?php $_ccType = $this->getInfoData('cc_type') ?>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option
                        value="<?php echo $_typeCode ?>"<?php if ($_typeCode == $_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </div>
</li>
<li style='clear:both'>
    <label for="<?php echo $_code ?>_cc_country"
           class="required-entry"><?php echo $this->__('Country of Issuer Bank') ?></label>

    <div class="input-box">
        <div class="arrowselectbox cc2pselect-long">
            <?php echo $this->getCcAvailableCountry(); ?>
        </div>
    </div>
</li>
<?php if ($this->periodEnabled() && $this->getPeriods()): ?>
    <li>
        <input class="switch-payment-type full-payment" checked="checked" value="full" type="radio" name="payin[]"
               checked="checked" title="Full payment"
               class="radio validate-one-required-by-name" autocomplete="off">
        <label><?php echo $this->__('Full payment') ?></label><span style="opacity: 0;">asdadsda</span>
        <div class="payment-type">
            <label for="<?php echo $_code ?>_panBank" class="required"><?php echo $this->__('Issuer Bank') ?></label>

            <div class="input-box">
                <div class="arrowselectbox cc2pselect-long">
                    <select id="<?php echo $_code ?>_panBank" name="payment[<?php echo $prefix; ?>panBank]"
                            title="<?php echo $this->__('Issuer Bank') ?>" class="required-entry">
                        <option value=""><?php echo $this->__('--Please Select--') ?></option>
                        <?php $_panBank = $this->getInfoData('panBank') ?>
                        <?php foreach ($issuers as $code => $_issuerName): ?>
                            <option
                                value="<?php echo $code ?>"<?php if ($code == $_panBank): ?> selected="selected"<?php endif ?>><?php echo $_issuerName ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
            </div>
            <div id='<?php echo $_code ?>_li_cc_period' style="display: none">
                <div><?php echo $this->__('Installment Payment Plan(IPP)'); ?>:</div>
                <input type="radio" class="radio " id="<?php echo $_code ?>_ipp_none"
                       name="payment[<?php echo $prefix; ?>period]" value="0"/>
                <label for="<?php echo $_code ?>_ipp_none"
                       class="required"><?php echo $this->__('Full Payment') ?></label><br/>
                <?php foreach ($this->getPeriods() as $vl => $lb): ?>
                    <div id="period_item_<?php echo $vl; ?>">
                        <input type="radio" class="radio" id="<?php echo $_code ?>_ipp_<?php echo $vl; ?>"
                               value="<?php echo $vl; ?>" name="payment[<?php echo $prefix; ?>period]"/>
                        <label for="<?php echo $_code ?>_ipp_<?php echo $vl; ?>"
                               class="required"><?php echo $this->__($lb) ?></label><br/>
                    </div>
                <?php endforeach ?>
            </div>
        </div>
    </li>
    <li id='<?php echo $_code ?>_panBank2_li'>
        <label for="<?php echo $_code ?>_panBank2"
               class="required"><?php echo $this->__('Not In List(Please Specify)') ?></label>

        <div class="input-box">
            <input type="text" class="input-text required-entry" id="<?php echo $_code ?>_panBank2"
                   name="payment[<?php echo $prefix; ?>panBank2]"/>
        </div>
    </li>
    <li>
        <input class="switch-payment-type" value="installment" type="radio" name="payin[]" title="Pay in installment"
               class="radio validate-one-required-by-name" autocomplete="off">
        <label><?php echo $this->__('Pay in installment') ?></label>
        <div class="payment-type all-plan" style="display: none">
            <?php if($this->getPeriodByBank('Bangkokbank')):?>
            <div class="lists-option-bank">
                <input id="bankokbank" value="Bangkokbank" type="radio" name="plan[]"
                       class="radio validate-one-required-by-name installment-plan-radio" autocomplete="off">
                <span class="bankokbank-image"></span>

                <div class="plan-list bank-hidden-content">
                    <span class="title-bank"><?php echo $this->__('Installment details') ?></span>

                    <div class="list-option-bank">
                        <?php foreach ($this->getPeriodByBank('Bangkokbank') as $lb): ?>
                            <?php $vl = $lb['bank'] . $lb['period_value'] . $lb['minimum'] ?>
                            <div class="list-bank-detail" id="period_item_<?php echo $vl; ?>">
                                <input type="radio" class="radio validate-one-required-by-name fake-installment"
                                       id="<?php echo $_code ?>_ipp_fake<?php echo $vl; ?>"
                                       trigger="#<?php echo $_code ?>_ipp_<?php echo $vl; ?>" value="<?php echo $vl; ?>"
                                       name="paymentfake[<?php echo $prefix; ?>period]"/>
                                <label for="<?php echo $_code ?>_ipp_fake<?php echo $vl; ?>"
                                       class="required"><?php echo $this->__($lb['period_label']) ?></label><br/>
                            </div>
                        <?php endforeach ?>
                    </div>
                    <div class="check-other-bank">
                        <input type="checkbox" class="checkbox required-entry tnc-checkbox" id="term-and-conditions-bangkok"
                               name="term-and-conditions-bangkok"/>
                        <label for="term-and-conditions-bangkok"
                               class="required"><?php echo $this->__('I have read and accept the ') ?></label><a
                            href="<?php echo Mage::getUrl('help/#payments') ?>"
                            style="color:#000;text-decoration: underline;"
                            target="_blank"><?php echo $this->__('Installment Plan terms and Conditions') ?></a><br/>
                    </div>
                </div>
            </div>
            <?php endif;?>
            <?php if($this->getPeriodByBank('Krungthaicard')):?>
            <div class="lists-option-bank">
                <input id="krungthaicard" value="Krungthaicard" type="radio" name="plan[]"
                       class="radio validate-one-required-by-name installment-plan-radio" autocomplete="off">
                <span class="krungthaicard-image"></span>

                <div class="plan-list bank-hidden-content">
                    <span class="title-bank"><?php echo $this->__('Installment details') ?></span>

                    <div class="list-option-bank">
                        <?php foreach ($this->getPeriodByBank('Krungthaicard') as $lb): ?>
                            <?php $vl = $lb['bank'] . $lb['period_value'] . $lb['minimum'] ?>
                            <div class="list-bank-detail" id="period_item_<?php echo $vl; ?>">
                                <input type="radio" class="radio validate-one-required-by-name fake-installment"
                                       id="<?php echo $_code ?>_ipp_fake<?php echo $vl; ?>"
                                       trigger="#<?php echo $_code ?>_ipp_<?php echo $vl; ?>" value="<?php echo $vl; ?>"
                                       name="paymentfake[<?php echo $prefix; ?>period]"/>
                                <label for="<?php echo $_code ?>_ipp_fake<?php echo $vl; ?>"
                                       class="required"><?php echo $this->__($lb['period_label']) ?></label><br/>
                            </div>
                        <?php endforeach ?>
                    </div>
                    <div class="check-other-bank">
                        <input type="checkbox" class="checkbox required-entry tnc-checkbox" id="term-and-conditions-krungthaicard"
                               name="term-and-conditions-krungthaicard"/>
                        <label for="term-and-conditions-krungthaicard"
                               class="required"><?php echo $this->__('I have read and accept the ') ?></label><a
                            href="<?php echo Mage::getUrl('help/#payments') ?>"
                            style="color:#000;text-decoration: underline;"
                            target="_blank"><?php echo $this->__('Installment Plan terms and Conditions') ?></a><br/>
                    </div>
                </div>

            </div>
            <?php endif;?>
            <?php if($this->getPeriodByBank('Thanachart')):?>
            <div class="lists-option-bank">
                <input id="thanachart" value="Thanachart" type="radio" name="plan[]"
                       class="radio validate-one-required-by-name installment-plan-radio" autocomplete="off">
                <span class="Thanachart-image"></span>

                <div class="plan-list bank-hidden-content">
                    <span class="title-bank"><?php echo $this->__('Installment details') ?></span>

                    <div class="list-option-bank">
                        <?php foreach ($this->getPeriodByBank('Thanachart') as $lb): ?>
                            <?php $vl = $lb['bank'] . $lb['period_value'] . $lb['minimum'] ?>
                            <div class="list-bank-detail" id="period_item_<?php echo $vl; ?>">
                                <input type="radio" class="radio validate-one-required-by-name fake-installment"
                                       id="<?php echo $_code ?>_ipp_fake<?php echo $vl; ?>"
                                       trigger="#<?php echo $_code ?>_ipp_<?php echo $vl; ?>" value="<?php echo $vl; ?>"
                                       name="paymentfake[<?php echo $prefix; ?>period]"/>
                                <label for="<?php echo $_code ?>_ipp_fake<?php echo $vl; ?>"
                                       class="required"><?php echo $this->__($lb['period_label']) ?></label><br/>
                            </div>
                        <?php endforeach ?>
                    </div>
                    <div class="check-other-bank">
                        <input type="checkbox" class="checkbox required-entry tnc-checkbox" id="term-and-conditions-thanachart"
                               name="term-and-conditions-thanachart"/>
                        <label for="term-and-conditions-thanachart"
                               class="required"><?php echo $this->__('I have read and accept the ') ?></label><a
                            href="<?php echo Mage::getUrl('help/#payments') ?>"
                            style="color:#000;text-decoration: underline;"
                            target="_blank"><?php echo $this->__('Installment Plan terms and Conditions') ?></a><br/>
                    </div>
                </div>
            </div>
            <?php endif;?>
            <?php if($this->getPeriodByBank('Citibank')):?>
            <div class="lists-option-bank">
                <input id="citibank" value="Citibank" type="radio" name="plan[]"
                       class="radio validate-one-required-by-name installment-plan-radio"
                       autocomplete="off">
                <span class="citibank-image"></span>

                <div class="plan-list bank-hidden-content">
                    <span class="title-bank"><?php echo $this->__('Installment details') ?></span>

                    <div class="list-option-bank">
                        <?php foreach ($this->getPeriodByBank('Citibank') as $lb): ?>
                            <?php $vl = $lb['bank'] . $lb['period_value'] . $lb['minimum'] ?>
                            <div class="list-bank-detail" id="period_item_<?php echo $vl; ?>">
                                <input type="radio" class="radio validate-one-required-by-name fake-installment"
                                       id="<?php echo $_code ?>_ipp_fake<?php echo $vl; ?>"
                                       trigger="#<?php echo $_code ?>_ipp_<?php echo $vl; ?>" value="<?php echo $vl; ?>"
                                       name="paymentfake[<?php echo $prefix; ?>period]"/>
                                <label for="<?php echo $_code ?>_ipp_fake<?php echo $vl; ?>"
                                       class="required"><?php echo $this->__($lb['period_label']) ?></label><br/>
                            </div>
                        <?php endforeach ?>
                    </div>
                    <div class="check-other-bank">
                        <input type="checkbox" class="checkbox required-entry tnc-checkbox" id="term-and-conditions-krungthaicard"
                               name="term-and-conditions-krungthaicard"/>
                        <label for="term-and-conditions-krungthaicard"
                               class="required"><?php echo $this->__('I have read and accept the ') ?></label><a
                            href="<?php echo Mage::getUrl('help/#payments') ?>"
                            style="color:#000;text-decoration: underline;"
                            target="_blank"><?php echo $this->__('Installment Plan terms and Conditions') ?></a><br/>
                    </div>
                </div>
            </div>
            <?php endif;?>
            <div>
                <?php if($this->getZeroArray()):?>
                    <?php echo $this->__('Please purchase the following item(s) in a separate basket for the 0% installment payment plan:')?>
                    <ul style="list-style: circle; margin-left:25px;">
                        <?php foreach($this->getZeroArray() as $sku => $name) :?>
                            <li style="color: red"><?php echo $name?></li>
                        <?php endforeach;?>
                    </ul>
                    <?php echo $this->__('')?>
                <?php endif; ?>
            </div>
        </div>

    </li>
<?php else: ?>
    <li>
        <label for="<?php echo $_code ?>_panBank" class="required"><?php echo $this->__('Issuer Bank') ?></label>
        <div class="input-box">
            <div class="arrowselectbox cc2pselect-long">
                <select id="<?php echo $_code ?>_panBank" name="payment[<?php echo $prefix;?>panBank]" title="<?php echo $this->__('Issuer Bank') ?>" class="required-entry">
                    <option value=""><?php echo $this->__('--Please Select--') ?></option>
                    <?php $_panBank = $this->getInfoData('panBank') ?>
                    <?php foreach ($issuers as $code => $_issuerName): ?>
                        <option value="<?php echo $code ?>"<?php if($code==$_panBank): ?> selected="selected"<?php endif ?>><?php echo $_issuerName ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
    </li>
    <li id = '<?php echo $_code ?>_panBank2_li'>
        <label for="<?php echo $_code ?>_panBank2" class="required"><?php echo $this->__('Not In List(Please Specify)') ?></label>
        <div class="input-box">
            <input type="text" class="input-text required-entry" id="<?php echo $_code ?>_panBank2" name="payment[<?php echo $prefix;?>panBank2]"/>
        </div>
    </li>
    <?php if($this->periodEnabled()): ?>
        <li id='<?php echo $_code ?>_li_cc_period' style="display:none">
            <div><?php echo $this->__('Installment Payment Plan(IPP)');?>:</div>
            <input type="radio" class="radio" id="<?php echo $_code ?>_ipp_none" name="payment[<?php echo $prefix;?>period]" value="0"/>
            <label for="<?php echo $_code ?>_ipp_none" class="required"><?php echo $this->__('Full Payment') ?></label><br/>
            <?php foreach ($this->getPeriods() as $vl => $lb): ?>
                <div id="period_item_<?php echo $vl;?>">
                    <input type="radio" class="radio" id="<?php echo $_code ?>_ipp_<?php echo $vl;?>" value="<?php echo $vl;?>" name="payment[<?php echo $prefix;?>period]"/>
                    <label for="<?php echo $_code ?>_ipp_<?php echo $vl;?>" class="required"><?php echo $this->__($lb) ?></label><br/>
                </div>
            <?php endforeach ?>
        </li>
    <?php endif; ?>
<?php endif; ?>
<li>
    <div class="input-box" id="<?php echo $_code ?>_cc_holder">
        <div class="v-fix">
            <label for="<?php echo $_code ?>_cc_owner_firstname"
                   class="required"><?php echo $this->__('Firstname') ?></label>
            <input type="text" title="<?php echo $this->__('Firstname') ?>" class="input-text required-entry"
                   id="<?php echo $_code ?>_cc_owner_firstname" name="payment[<?php echo $prefix; ?>cc_owner_firstname]"
                   value="">
        </div>
        <div class="v-fix">
            <label for="<?php echo $_code ?>_cc_owner_lastname"
                   class="required"><?php echo $this->__('Lastname') ?></label>
            <input type="text" title="<?php echo $this->__('Lastname') ?>" class="input-text required-entry"
                   id="<?php echo $_code ?>_cc_owner_lastname" name="payment[<?php echo $prefix; ?>cc_owner_lastname]"
                   value="">
        </div>
    </div>
    <label for="<?php echo $_code ?>_cc_holder"
           class="cc_owner_label"><?php echo $this->__('* Name on Credit Card (English Only)') ?></label>
</li>
<li>
    <label for="<?php echo $_code ?>_cc_owner" class="required"><?php echo $this->__('Card Holder Email') ?></label>

    <div class="input-box">
        <input type="text" title="<?php echo $this->__('Card Holder Email') ?>"
               class="input-text required-entry  validate-email" id="<?php echo $_code ?>_cc_owner"
               name="payment[<?php echo $prefix; ?>cardholderEmail]" value="<?php echo $this->getCustomerEmail(); ?>"/>
    </div>
</li>

<li>
    <label for="<?php echo $_code ?>_cc_number" class="required"><?php echo $this->__('Credit Card Number') ?></label>

    <div class="input-box">
        <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[<?php echo $prefix; ?>cc_number]"
               title="<?php echo $this->__('Credit Card Number') ?>"
               class="input-text validate-cc-number validate-cc-type" value=""/>
    </div>
</li>
<li>
    <label for="<?php echo $_code ?>_cc_cid" class="required"><?php echo $this->__('Secure Code(CVV2)') ?></label>

    <div class="input-box">
        <div class="v-fix">
            <input type="password" title="<?php echo $this->__('Secure Code(CVV2)') ?>"
                   class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid"
                   name="payment[<?php echo $prefix; ?>cc_cid]" value=""/>
        </div>
        <a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
    </div>
</li>
<li style='clear:both'>
    <label for="<?php echo $_code ?>_expiration" class="required"><?php echo $this->__('Expiration Date') ?></label>

    <div class="input-box">
        <div class="v-fix">
            <div class="arrowselectbox cc2pselect-short">
                <select id="<?php echo $_code ?>_expiration" name="payment[<?php echo $prefix; ?>cc_exp_month]"
                        class="month validate-cc-exp required-entry">
                    <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                    <?php foreach ($this->getCcMonths() as $k => $v): ?>
                        <?php
                        $k ? $val = $k : $val = '';
                        if ($val != '') {
                            if ((strlen($val) == 1) && ($val > 0)) {
                                $val = '0' . $val;
                            }
                        }
                        ?>
                        <option
                            value="<?php echo $val ?>"<?php if ($val == $_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
        <div class="v-fix">
            <?php $_ccExpYear = $this->getInfoData('cc_exp_year ') ?>
            <div class="arrowselectbox cc2pselect-short">
                <select id="<?php echo $_code ?>_expiration_yr" name="payment[<?php echo $prefix; ?>cc_exp_year]"
                        class="year required-entry">
                    <?php foreach ($this->getCcYears() as $k => $v): ?>
                        <option
                            value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
    </div>
</li>
<!--<li>
			<div class="accept-terms">
				<div class="input-box">
					<input type="checkbox" name="payment[<?php echo $prefix;?>store_cc_info]" id="<?php echo $_code ?>store_cc_info"/  class="c2p-checkbox">
					<label for="<?php echo $_code ?>store_cc_info" style="font-size:13px;" >
						<?php echo $this->__('Save card for easy check out');?>, <span class="c2p-yellowtx"><?php echo $this->__('we don’t save your personal information…');?></span>
					</label>
				</div>
			</div>
		</li>-->
<script type="text/javascript">
    //<![CDATA[
    var CCIssuer<?php echo $_code ?> = function () {
        var _panBank = $('<?php echo $_code ?>_panBank');
        if (_panBank.value.toLowerCase() == 'other') {
            $('<?php echo $_code ?>_panBank2_li').show();
        } else {
            $('<?php echo $_code ?>_panBank2_li').hide();
        }
    };

    Event.observe($('<?php echo $_code ?>_panBank'), 'change', CCIssuer<?php echo $_code ?>);
    CCIssuer<?php echo $_code ?>();
    //]]>
</script>
<?php echo $this->getFooterText(); ?>
</ul>
</fieldset>
<?php if ($this->periodEnabled()): ?>
    <script type="text/javascript">
        //<![CDATA[
        var banksJson = <?php echo $this->getPeriodsBankJson();?>;
        var periods = $$('#<?php echo $_code ?>_li_cc_period input[name="payment[<?php echo $prefix;?>period]"]');
        Event.observe('payment_form_<?php echo $_code ?>', 'change', function (e) {
            var el = (e.srcElement ? (e.srcElement) : (e.target));
            var panBank = '<?php echo $_code ?>_panBank';
            if ((el.id == panBank)
                && $(panBank).value) {
                var match = false;
                periods.each(function (pr) {
                    if (banksJson[pr.value] == $(panBank).value) {
                        match = true;
                        //  pr.up().show();
                    }
                    else if (pr.value != '<?php echo $_code ?>_ipp_none') {
                        //  pr.up().hide();
                    }
                });
                if (match === false) {
                    //    Effect.Fade('<?php echo $_code ?>_li_cc_period');
                }
                else {
                    //  Effect.Appear('<?php echo $_code ?>_li_cc_period');
                }
            }
            else if ((el.id == panBank) && !($(panBank).value)) {
                //   $('<?php echo $_code ?>_li_cc_period').hide();
            }
        });
        //]]>
    </script>
<?php endif; ?>
<?php if ($this->periodEnabled() && $this->getPeriods()): ?>
<script>
    jQuery(document).ready(function () {
        jQuery("input.radio.installment-plan-radio").click(function () {
            var $this = jQuery(this);
            jQuery("div.lists-option-bank .plan-list").each(function () {
                jQuery(this).addClass('bank-hidden-content');
            });
            var nextOption = $this.closest('.lists-option-bank').find(".plan-list");
            nextOption.removeClass('bank-hidden-content');

        });
        jQuery('.fake-installment').click(function () {
            var id = jQuery(this).attr('trigger');
            jQuery(id).click();
        });
        jQuery('.installment-plan-radio').click(function () {
            var bank = jQuery(this).val();
            jQuery('#<?php echo $_code ?>_panBank').val(bank);
            jQuery('#normal2c2p_ipp_none').click();
            jQuery('.plan-list').find('input[type="radio"]').prop('checked', false);
            jQuery('.payment-type.all-plan .lists-option-bank').removeClass('checkedbank');
            jQuery(this).closest('.lists-option-bank').addClass('checkedbank');

        });
        jQuery('.full-payment').click(function () {
            jQuery('#<?php echo $_code ?>_panBank').prop('selectedIndex', 0);
            jQuery('#normal2c2p_ipp_none').click();
            jQuery('.all-plan').find('input[type="radio"]').prop('checked', false);
            jQuery("div.lists-option-bank .plan-list").each(function () {
                jQuery(this).addClass('bank-hidden-content');
            });
        });
        jQuery('.switch-payment-type').click(function () {
            jQuery('.payment-type').hide();
            jQuery(this).closest('li').find('.payment-type').show();
        });
        jQuery('#normal2c2p_panBank').change(function () {
            var bank = jQuery(this).val();
            if (bank == "Bangkokbank" || bank == "Citibank" || bank == "Krungthaicard" || bank == "Thanachart") {
                jQuery('#normal2c2p_ipp_none').click();
                jQuery('.all-plan').find('input[type="radio"]').prop('checked', false);

            }
        });
        jQuery('.tnc-checkbox').click(function(){
            if(jQuery(this).is(':checked')){
                jQuery('.tnc-checkbox').prop('checked', true);
            }else{
                jQuery('.tnc-checkbox').prop('checked', false);
            }
        })
    });

</script>
<?php endif;?>