<fieldset>
	<?php $_code=$this->getMethodCode() ?>
	<?php $_id=strtoupper($_code); ?>
	<ul id="payment_form_<?php echo $_code ?>" style="display:none" class="pm-description" style="border:1px solid #eae9e9; background-color:#fcfcfc;display:none">		
		<li>
			<span><?php echo $this->getDescription() ?></span>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Pay over the counters') ?></label>
			<div class="input-box">
				<input id="OVERTHECOUNTER_7ELEVEN_<?php echo $_id; ?>" value="OVERTHECOUNTER_7ELEVEN" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="OVERTHECOUNTER_7ELEVEN_<?php echo $_id; ?>"><?php echo $this->__('7ELEVEN') ?></label>
				
				<input id="OVERTHECOUNTER_TOT_<?php echo $_id; ?>" value="OVERTHECOUNTER_TOT" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="OVERTHECOUNTER_TOT_<?php echo $_id; ?>"><?php echo $this->__('TOT') ?></label>
				
				<input id="OVERTHECOUNTER_TESCO_<?php echo $_id; ?>" value="OVERTHECOUNTER_TESCO" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio"  />
				<label for="OVERTHECOUNTER_TESCO_<?php echo $_id; ?>"><?php echo $this->__('TESCO') ?></label>
				
				<input id="OVERTHECOUNTER_TRUEMONEY_<?php echo $_id; ?>" value="OVERTHECOUNTER_TRUEMONEY" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="OVERTHECOUNTER_TRUEMONEY_<?php echo $_id; ?>"><?php echo $this->__('TRUEMONEY') ?></label>
				
				<input id="OVERTHECOUNTER_PAYATPOST_<?php echo $_id; ?>" value="OVERTHECOUNTER_PAYATPOST" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="OVERTHECOUNTER_PAYATPOST_<?php echo $_id; ?>"><?php echo $this->__('PAYATPOST') ?></label>
			</div>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Or pay at ATM') ?></label>
			<div class="input-box">
				<input id="ATM_SCB_<?php echo $_id; ?>" value="ATM_SCB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="ATM_SCB_<?php echo $_id; ?>"><?php echo $this->__('SCB') ?></label>
				
				<input id="ATM_KTB_<?php echo $_id; ?>" value="ATM_KTB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="ATM_KTB_<?php echo $_id; ?>"><?php echo $this->__('KTB') ?></label>
				
				<input id="ATM_KBANK_<?php echo $_id; ?>" value="ATM_KBANK" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="ATM_KBANK_<?php echo $_id; ?>"><?php echo $this->__('KBANK') ?></label>
				
				<input id="ATM_TMB_<?php echo $_id; ?>" value="ATM_TMB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="ATM_TMB_<?php echo $_id; ?>"><?php echo $this->__('TMB') ?></label>
				
				<input id="ATM_UOB_<?php echo $_id; ?>" value="ATM_UOB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="ATM_UOB_<?php echo $_id; ?>"><?php echo $this->__('UOB') ?></label>
				
				<input id="ATM_BAY_<?php echo $_id; ?>" value="ATM_BAY" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="ATM_BAY_<?php echo $_id; ?>"><?php echo $this->__('BAY') ?></label>
				
				<input id="ATM_BBL_<?php echo $_id; ?>" value="ATM_BBL" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="ATM_BBL_<?php echo $_id; ?>"><?php echo $this->__('BBL') ?></label>
				
			</div>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Or pay at bank counters') ?></label>
			<div class="input-box">
				<input id="BANKCOUNTER_SCB_<?php echo $_id; ?>" value="BANKCOUNTER_SCB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="BANKCOUNTER_SCB_<?php echo $_id; ?>"><?php echo $this->__('SCB') ?></label>
				
				<input id="BANKCOUNTER_KTB_<?php echo $_id; ?>" value="BANKCOUNTER_KTB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="BANKCOUNTER_KTB_<?php echo $_id; ?>"><?php echo $this->__('KTB') ?></label>
				
				<input id="BANKCOUNTER_KBANK_<?php echo $_id; ?>" value="BANKCOUNTER_KBANK" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="BANKCOUNTER_KBANK_<?php echo $_id; ?>"><?php echo $this->__('KBANK') ?></label>
				
				<input id="BANKCOUNTER_TMB_<?php echo $_id; ?>" value="BANKCOUNTER_TMB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="BANKCOUNTER_TMB_<?php echo $_id; ?>"><?php echo $this->__('TMB') ?></label>
				
				<input id="BANKCOUNTER_UOB_<?php echo $_id; ?>" value="BANKCOUNTER_UOB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="BANKCOUNTER_UOB_<?php echo $_id; ?>"><?php echo $this->__('UOB') ?></label>
				
				<input id="BANKCOUNTER_BAY_<?php echo $_id; ?>" value="BANKCOUNTER_BAY" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="BANKCOUNTER_BAY_<?php echo $_id; ?>"><?php echo $this->__('BAY') ?></label>
				
				<input id="BANKCOUNTER_BBL_<?php echo $_id; ?>" value="BANKCOUNTER_BBL" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="BANKCOUNTER_BBL_<?php echo $_id; ?>"><?php echo $this->__('BBL') ?></label>
			</div>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Or pay with your internet banking account') ?></label>
			<div class="input-box">
				<input id="IBANKING_SCB_<?php echo $_id; ?>" value="IBANKING_SCB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="IBANKING_SCB_<?php echo $_id; ?>"><?php echo $this->__('SCB') ?></label>
				
				<input id="IBANKING_KTB_<?php echo $_id; ?>" value="IBANKING_KTB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="IBANKING_KTB_<?php echo $_id; ?>"><?php echo $this->__('KTB') ?></label>
				
				<input id="IBANKING_KBANK_<?php echo $_id; ?>" value="IBANKING_KBANK" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="IBANKING_KBANK_<?php echo $_id; ?>"><?php echo $this->__('KBANK') ?></label>
				
				<input id="IBANKING_TMB_<?php echo $_id; ?>" value="IBANKING_TMB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="IBANKING_TMB_<?php echo $_id; ?>"><?php echo $this->__('TMB') ?></label
				
				<input id="IBANKING_BAY_<?php echo $_id; ?>" value="IBANKING_BAY" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="IBANKING_BAY_<?php echo $_id; ?>"><?php echo $this->__('BAY') ?></label>
				
				<input id="IBANKING_BBL_<?php echo $_id; ?>" value="IBANKING_BBL" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="IBANKING_BBL_<?php echo $_id; ?>"><?php echo $this->__('BBL') ?></label>
			</div>
		</li>
		<li>
			<label class="required"><?php echo $this->__('Or pay directly from you bank account') ?></label>
			<div class="input-box">
				<input id="WEBPAY_SCB_<?php echo $_id; ?>" value="WEBPAY_SCB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="WEBPAY_SCB_<?php echo $_id; ?>"><?php echo $this->__('SCB') ?></label>
				
				<input id="WEBPAY_KTB_<?php echo $_id; ?>" value="WEBPAY_KTB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="WEBPAY_KTB_<?php echo $_id; ?>"><?php echo $this->__('KTB') ?></label>
				
				<input id="WEBPAY_TMB_<?php echo $_id; ?>" value="WEBPAY_TMB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="WEBPAY_TMB_<?php echo $_id; ?>"><?php echo $this->__('TMB') ?></label>
				
				<input id="WEBPAY_UOB_<?php echo $_id; ?>" value="WEBPAY_UOB" type="radio" name="payment[agent_<?php echo $_code; ?>]" class="radio" />
				<label for="WEBPAY_UOB_<?php echo $_id; ?>"><?php echo $this->__('UOB') ?></label>
			</div>
		</li>
	</ul>
</fieldset>
<script type="text/javascript">
//<![CDATA[
	payment.validate = function() {
        var result = payment.beforeValidate();
        if (result) {
            return true;
        }
        var methods = document.getElementsByName('payment[method]');
        if (methods.length==0) {
            alert(Translator.translate('Your order cannot be completed at this time as there is no payment methods available for it.'));
            return false;
        }
        for (var i=0; i<methods.length; i++) {
            if (methods[i].checked) {
				if(methods[i].id == 'p_method_<?php echo $_code ?>') {
					var channel_agents = document.getElementsByName('payment[agent_<?php echo $_code; ?>]');
					var channel_check = false;
					for (var j=0; j<channel_agents.length; j++) {
						if (channel_agents[j].checked) {
							channel_check = true;
						}
					}
					if(!channel_check) {
						alert(Translator.translate('Please specify a channel.'));
						return false;
					}
				}
                return true;
            }
        }
        result = payment.afterValidate();
        if (result) {
            return true;
        }
        alert(Translator.translate('Please specify payment method.'));
        return false;
    }
//]]>
</script>