/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/LICENSE-M1.txt
 *
 * @category   AW
 * @package    AW_Autorelated
 * @copyright  Copyright (c) 2011 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/LICENSE-M1.txt
 */

.aw-arp-block-content {
   /* padding: 5px 0px 0px 5px;*/
padding: 0 !important;
    overflow: hidden;
    clear: both;
}

.aw-arp-item {
    text-align: center;
    width: 168px;
    min-height: 168px;
	/*height: 250px;*/
    display: -moz-inline-stack;
    display: inline-block !important;
    vertical-align: top;
    margin: 0 21px 0 0;
    zoom: 1;
    *display: inline !important;
    _height: 250px;
    margin-bottom: 20px;
}
.aw-arp-item.last{
    margin-right: 0 !important;
}
.aw-arp-item .price-box p.old-price {
    display: block;
    width: 48%;
    padding-right: 3px !important;
    text-align: right;
    float: left;
}
.aw-arp-item .price-box p.special-price {
    width: 48%;
    float: right;
    text-align: left;
    padding-left: 3px !important;
    line-height: 33px;
}
.aw-arp-item .price-box .special-price .price-label{
	display:none;
}
.aw-arp-item .price-box .special-price .price{
	font-size:16px;
	font-weight:bold;	
}
.aw-arp-block-content .aw-arp-addtocart>p {
    margin-bottom: 5px;
    float: left;
    text-align: center;
    width: 100%;
}

.aw-arp-product-item {
    margin: 0 0 20px;
}

.aw-arp-item-photo {
    float: left;
    margin-right: 10px;
}

.aw-arp-item-photo img {
    border: 1px solid #e8e8e8;
    width: 75px;
}

.aw-arp-item-text {
    margin-left: 85px;
}

.footer .aw-arp-block-content li {
    display: inline-block !important;
    *display: inline !important;
}

.footer .aw-arp-block-content a {
    color: #1E7EC8;
}

.aw-arp-item .price-box .save-percentage {
    display: none;
}

div.block-content li.aw-arp-item {
    border-bottom: 0 dotted #c7c7c7;
    padding: 0;
    float: left;
    margin-top: 15px;
}
.aw-arp-item a.relate-pd-name{
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    color: #000;
    min-height: 55px;
    height: 55px;
    overflow: hidden;
    display: block;
}

.aw-arp-item .old-price .price-label{display: none;}
.aw-arp-item .availability.out-of-stock span{
    color: #d83820;
    width: 100%;
    font-size: 11px;
    text-align: center;
    float: left;
}

.aw-arp-item .aw-arp-addtocart a.link-cart{
    background: url("../../../venbi/images/sprite.png") 0 -1069px repeat-x !important;
    border-radius: 3px !important;
    color: #FFFFFF !important;
    padding: 6px 15px;
    width: auto;
    text-shadow: 0 -1px 0 #599436;
    border: 1px solid #599436;
    min-height: 20px;
    display: initial;
}
.block-related .price-box {
margin-bottom: 5px;
float: left;
width: 100%;
}
.block.block-related.aw-arp-block .block-title strong{
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #505050;
    text-transform: uppercase;
    font-family: 'petloft-light';
}