<?php
/**
 * J2T RewardsPoint2
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@j2t-design.com so we can send you a copy immediately.
 *
 * @category   Magento extension
 * @package    RewardsPoint2
 * @copyright  Copyright (c) 2009 J2T DESIGN. (http://www.j2t-design.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<section id="my-dashboard">
    <div class="backdrop">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

        <div class="box">
            <p class="h2" style="float: left;"><?php echo $this->__('My Dashboard') ?></p>
            <?php $customerData = Mage::getSingleton('customer/session')->getCustomer(); ?>
            <p class="h2" style="float: right;"><?php echo $this->__('Customer ID: %d', $customerData->getId()) ?></p>
            <div class="clearfix"></div>
            <?php echo $this->getChildHtml('hello') ?>
        </div>

        <div class="box">
            <?php echo $this->getChildHtml('top') ?>
        </div>
    </div>

    <div style="margin: 24px 0;">
        <?php echo $this->getChildHtml('points') ?>
    </div>

    <div class="backdrop">
        <div class="box">
            <?php echo $this->getChildHtml('customer.account.dashboard.extra') ?>
            <?php echo $this->getChildHtml('info') ?>
            <?php echo $this->getChildHtml('address') ?>
        </div>

        <?php //echo $this->getChildHtml('info1') ?>
        <?php //echo $this->getChildHtml('info2') ?>
    </div>
</section>
