<?php
/**
 * J2T RewardsPoint2
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@j2t-design.com so we can send you a copy immediately.
 *
 * @category   Magento extension
 * @package    RewardsPoint2
 * @copyright  Copyright (c) 2009 J2T DESIGN. (http://www.j2t-design.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 ?>



<div class="page-head">
    <p class="h3"><?php echo $this->__('Orami points') ?></p>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>


<?php $_points = $this->getPoints();?>
<?php if($_points->getSize()): ?>
<?php echo $this->getPagerHtml() ?>

<table cellspacing="0" class="data-table" id="reward-points-table">
    <thead>
        <tr>
            <?php ?><th><?php echo $this->__('Points Type') ?></th><?php ?>
            <th><?php echo $this->__('Points Added') ?></th>
            <th><?php echo $this->__('Points Used') ?></th>
            <th><?php echo $this->__('Date Received') ?></th>
            <th><?php echo $this->__('Valid Until') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_points as $_point): ?>
            <tr>
                <td>
                    <?php echo $this->getTypeOfPoint($_point);?>
                </td>
                <td><?php echo $_point->getPoints_current() ?></td>
                <?php /*?><?php echo $_point->getPoints_spent() ? $this->__('yes') : $this->__('no') ?><?php */?>
                <td><?php echo $_point->getPoints_spent() ?></td>
                <td><?php if ($_point->getDate_start() != ""): echo $this->formatDate($_point->getDate_start(), 'short'); endif; ?></td>
                <td><?php if ($_point->getDate_end() != ""): echo $this->formatDate($_point->getDate_end(), 'short'); endif; ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php echo $this->getPagerHtml() ?>
<?php else: ?>
    <p><?php echo $this->__('You don\'t have any recorded points.'); ?></p>
<?php endif ?>
