<?php
/**
 * J2T RewardsPoint2
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@j2t-design.com so we can send you a copy immediately.
 *
 * @category   Magento extension
 * @package    RewardsPoint2
 * @copyright  Copyright (c) 2009 J2T DESIGN. (http://www.j2t-design.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 ?>
 <section id="referral" class="backdrop">
    <div class="box">
        <p class="h3"><?php echo $this->__('Referral') ?></p>

        <?php if($this->getReferrerPoints()):?>
            <?php echo $this->__('For any first valid order placed by referred friend, you earn: <strong>%s points</strong>', $this->getReferrerPoints());?>
            <br />
        <?php endif;?>
        <?php if($this->getFriendPoints()):?>
            <?php echo $this->__('For any first valid order placed by referred friend, your friend gets: <strong>%s extra points</strong>', $this->getFriendPoints());?>
        <?php endif;?>
    </div>
    
    <?php if($this->isAddthis() || $this->isPermanentLink()):?>
    <div class="account-box ad-account-info box">
        <?php if($this->isPermanentLink()):?>
        <div class="box-account box-recent" style="display: none">
            <p class="h4"><?php echo $this->__('Referred Friends') ?></p>
            <span class="share-bt" onclick="javascript:window.open('http://www.facebook.com/sharer/sharer.php?u=<?php echo $this->getReferringUrl() ?>&t=[Referred Friends]', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');"><img src="<?php echo $this->getSkinUrl('images/share-fb-bt.png') ?>" alt="Referred Friends on Facebook" /></span>
            <span class="share-bt" onclick="javascript:window.open('http://twitter.com/home?status=<?php echo $this->getReferringUrl() ?>', 'twitter_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');"><img src="<?php echo $this->getSkinUrl('images/share-twitter-bt.png') ?>" alt="Referred Friends on Twitter" /></span>
            <!-- <div class="head box-title">
                <p class="h3"><?php echo $this->__('Permanent Link') ?></p>
            </div>
            <?php echo $this->__('Share the following link with your friends: <br /><strong>%s</strong>', $this->getReferringUrl()) ?> -->
        </div>
        <?php endif;?>


        <?php if($this->isAddthis()):?>
        <div class="box-account box-recent">
            <fieldset class="group-select">
                <p class="h4"><?php echo $this->__('Share referring link') ?></p>
                </div>
                <ul>
                    <li>
                        <div class="input-box">
                            <label for="j2t-share-title"><?php echo $this->__('Sharing title (may not be used)') ?></label><br />
                            <input onkeyup="j2tReinitializeAddThis();" type="text" name="j2t-share-title" id="j2t-share-title" value="<?php echo $this->__('');?>" class="input-text" />
                        </div>
                        <div class="input-box">
                            <label for="j2t-share-text"><?php echo $this->__('Sharing text (may not be used)') ?></label><br />
                            <textarea onkeyup="j2tReinitializeAddThis();" id="j2t-share-text" name="j2t-share-text" cols="100" rows="5" class="input-text"><?php echo $this->__('');?></textarea>
                        </div>
                    </li>
                </ul>
            </fieldset>
        
            <br />
            
            <!-- AddThis Button BEGIN -->
            <?php echo Mage::getStoreConfig('rewardpoints/registration/referral_addthis_code', Mage::app()->getStore()->getId());?>
            <script type="text/javascript">
                var addthis_share =
                {
                    url: "<?php echo $this->getReferringUrl();?>",
                    title: $('j2t-share-title').value,
                    description: $('j2t-share-text').value
                }
            </script>
            
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=<?php echo Mage::getStoreConfig('rewardpoints/registration/referral_addthis_account', Mage::app()->getStore()->getId());?>"></script>
            <!-- AddThis Button END -->
            
            
            <?php /*?>
            <a class="addthis_button" id="j2t-post-share" addthis:url="<?php echo $this->getReferringUrl();?>" addthis:title="<?php echo $this->__('');?>" addthis:description="<?php echo $this->__('');?>"></a>
            <script type="text/javascript">
                function j2tReinitializeAddThis(){
                  if (window.addthis){
                     $('j2t-post-share').writeAttribute('addthis:title', $('j2t-share-title').value);
                     $('j2t-post-share').writeAttribute('addthis:description', $('j2t-share-text').value);
                     window.addthis.ost = 0;
                     window.addthis.ready();
                  }
               }
                //addthis.button('#j2t-post-share', {}, {url: "<?php echo $this->getReferringUrl();?>", title: $('j2t-share-title').value, description: $('j2t-share-text').value});
                addthis.button('#j2t-post-share');
            </script>
            <?php */?>
        </div>
        <?php endif;?>
    </div>
    <?php endif;?>

    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getUrl('rewardpoints/index/referral/') ?>" method="post" id="form-validate" class="form-material">
        <div class="box-account box-recent">
            <fieldset class="group-select" id="j2t-referral-lines">
                <?php /*?><input type="hidden" value="Il1NwrpfsCuSmp03" name="form_key"/><?php */?>
                <?php echo $this->getBlockHtml('formkey')?>
                <p class="h3"><?php echo $this->__('Refer a friend') ?></p>

                <div class="row">
                    <div class="j2t-rewardpoints-referral col-sm-7">
                        <div class="field j2t-rewardpoints-name group">
                            <label class="text-label"><?php echo $this->__('Friend\'s name') ?> <i>&#42;</i></label>
                            <input type="text" name="name[]" value="" title="<?php echo $this->__('Friend\' name') ?>" class="required-entry input-text" id="name" />
                        </div>
                        <div class="field j2t-rewardpoints-email group">
                            <label class="text-label"><?php echo $this->__('Friend\'s email address') ?> <i>&#42;</i></label>
                            <input type="text" name="email[]" value="" title="<?php echo $this->__('Friend\'s email address') ?>" class="required-entry input-text" id="email" />
                        </div>
                    </div> 
                </div>         
            </fieldset>
            
            <script type="text/javascript">
                var elmt_id_j2t = 0;
                function j2t_add_line(){
                    var form_list_ul = $('j2t-add-line').up().down("ul");
                    //var form_list_ul_clone = Element.clone(form_list_ul, true);
                    var form_list_ul_clone = form_list_ul.cloneNode(true);
                    
                    form_list_ul_clone.down("#label-name").id = "label-name-"+elmt_id_j2t;
                    form_list_ul_clone.down("#name").id = "name-"+elmt_id_j2t;
                    form_list_ul_clone.down("#label-email").id = "label-email-"+elmt_id_j2t;
                    form_list_ul_clone.down("#email").id = "email-"+elmt_id_j2t;
                    
                    form_list_ul_clone.down("#name-"+elmt_id_j2t).value = "";
                    form_list_ul_clone.down("#email-"+elmt_id_j2t).value = "";
                    
                    var del_img = new Element('img', {src: '<?php echo $this->getSkinUrl('images/j2t_minus_one.png') ?>'})
                    form_list_ul_clone.down(".j2t-rewardpoints-email").insert({
                        bottom: del_img
                    });
                    del_img.observe('click', function(event) {
                        Event.element(event).up("ul").remove();
                    });
                    
                    $('j2t-add-line').insert({ before: form_list_ul_clone });
                    elmt_id_j2t++;
                }
            </script>

            <div class="group">
                <span><a href="#">Required field &#42;</a></span>
            </div>

            <button class="form-button button btn btn-primary" type="submit"><?php echo $this->__('Send') ?></button>
        </div>
    </form>
    <script type="text/javascript">
        var dataForm = new VarienForm('form-validate', true);
    </script>
 </section>

<section class="backdrop" style="margin: 24px 0;">
    <?php $_referred = $this->getReferred();?>
    <?php if($_referred->getSize()): ?>

    <table cellspacing="0" class="data-table" id="referred-friends-table">
        <thead>
            <tr>
                <?php ?><th><?php echo $this->__('Full Name') ?></th><?php ?>
                <th><?php echo $this->__('Email') ?></th>
                <!--<th><?php echo $this->__('Registered?') ?></th>-->
                <th><?php echo $this->__('First order?') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php $_odd = ''; ?>
            <?php foreach ($_referred as $_friend): ?>
                <tr>
                    <?php ?><td><?php echo $_friend->getRewardpoints_referral_name() ?></td><?php ?>
                    <td><?php echo $_friend->getRewardpoints_referral_email() ?></td>
                    <!--<td><?php echo $_friend->getRewardpoints_referral_child_id() ? $this->__('yes') : $this->__('no') ?></td>-->
                    <td class="a-right"><?php echo $_friend->getRewardpoints_referral_status() ? $this->__('yes') : $this->__('no') ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?php else: ?>
        <p><?php echo $this->__('You haven\'t invited any friend.'); ?></p>
    <?php endif ?>
</section>
<div class="pager-referral">
    <?php echo $this->getPagerHtml() ?>
</div>