<?php
/**
 * J2T RewardsPoint2
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@j2t-design.com so we can send you a copy immediately.
 *
 * @category   Magento extension
 * @package    RewardsPoint2
 * @copyright  Copyright (c) 2009 J2T DESIGN. (http://www.j2t-design.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 ?>

<?php $points_currently_used = $this->getPointsCurrentlyUsed(); ?>
<?php $couponCode = Mage::getSingleton('checkout/cart')->getQuote()->getCouponCode(); ?>
<?php $cartBlock = Mage::getBlockSingleton('checkout/cart'); ?>
<?php $pts = $this->getPointsOnOrder();?>

<!-- ORAMI POINTS -->
<div class="group clearfix">
    <?php if (!$this->getAutoUse()): ?>
        <!-- LOGGED IN -->
        <?php if ($this->getCustomerId()): ?>
            <?php $point_details = $this->getPointsInfo();?>  

            <label><?php echo $this->__('Orami points'); ?></label>  
            
            <!-- CAN USE POINT -->
            <?php if ($this->canUseCouponCode() && $cartBlock->checkIfHasItems() && ($couponCode == "" || $couponCode == null) || !$this->canUseCouponCode()):?>
                <div class="discount-codes box discount">
                    <?php if (!$points_currently_used): ?>
                        <!-- ADD POINTS -->
                        <form action="<?php echo $this->getUrl('rewardpoints/index/quotation/') ?>" method="post" name="discountFormPoints2" id="discountFormPoints2">
                            <div class="add-rewardpoint">
                                <!-- ADD TEXT BOX -->
                                <div class="add-input-rewardpoint">
                                    <input <?php if($point_details['full_use']):?>type="hidden"<?php else:?>type="text"<?php endif;?> value="<?php if($point_details['full_use']):?><?php echo $point_details['max_use'];?><?php endif;?>"  name="points_to_be_used" class="coupon-input input-text" />
                                </div> <!-- END ADD TEXT BOX -->
                                
                                <!-- ADD BUTTON -->
                                <div class="buttons-set add-button-rewardpoint">
                                    <button class="coupon-button form-button-alt button" value="<?php echo $this->__('Apply Points') ?>" onclick="discountFormPoints2.submit(false)" type="button">
                                        <?php echo $this->__('Apply Points') ?>
                                    </button>
                                </div> <!-- END ADD BUTTON -->
                            </div>
                        </form><!-- END ADD POINTS -->
                    <?php else: ?>
                        <!-- REMOVE POINTS -->
                        <form action="<?php echo $this->getUrl('rewardpoints/index/removequotation/') ?>" method="post" name="discountFormPoints2" id="discountFormPoints2">
                            <div class="remove-rewardpoint">
                                <!-- REMOVE TEXTBOX -->
                                <div class="remove-input-rewardpoint">
                                    <input type="text" value="<?php echo $points_currently_used; ?>" name="points_to_be_used" class="coupon-input input-text" disabled/>
                                </div> <!-- END REMOVE TEXTBOX -->

                                <!-- REMOVE BUTTON -->
                                <div class="buttons-set remove-button-rewardpoint">
                                    <button class="coupon-button form-button-alt button disabled" type="button" onclick="discountFormPoints2.submit(false)" value="<?php echo $this->__('Remove Points') ?>"><span><span><?php echo $this->__('Remove Points') ?></span></span></button>
                                </div> <!-- END REMOVE BUTTON -->

                                <!-- POINT USED -->
                                <?php if ($points_currently_used > 0):?>
                                    <span class="sub green"><?php echo $this->__('You are currently using %d points.', $points_currently_used, $this->getCustomerPoints()); ?></span>
                                <?php endif;?> <!-- END POINT USED -->
                            </div>
                        </form> <!-- END REMOVE POINTS -->
                    <?php endif;?>
                </div>
            <?php else: ?>
                <!-- CAN'T USE POINT -->
                <input class="coupon-input" disabled />
                <button class="coupon-button" value="<?php echo $this->__('Apply Points') ?>" disabled >
                    <?php echo $this->__('Apply Points') ?>
                </button>

                <?php if($cartBlock->checkIfHasItems()) : ?>
                    <span class="sub">
                        <?php echo $this->__('Orami points cannot be used with Promotion Codes.') ?>
                    </span>
                <?php endif; ?>
            <?php endif;?> <!-- END CAN USE POINT -->
        <?php endif;?>  <!-- LOGGED IN -->



    <?php else: ?>
        <?php if (!$this->getCustomerId()):?>
            <div class="discount-codes box discount">
                <p class="h2">
                    <?php echo $this->__('Orami points'); ?>
                    <a href="<?php echo Mage::helper('cms/page')->getPageUrl('help') ?>#rewardpoints" target="_blank">
                        <span class="question-help"></span>
                    </a>
                </p>
                <div class="rewards_point_cart">
                    <p class="h2">
                        <?php echo $this->__("Cashback 1% on every purchase");?>
                    </p>
                    <?php echo $this->__("You will be receiving a total of %s Baht from the purchase to be used on your next purchase.", $pts);?>
                    <?php echo Mage::helper('rewardpoints/data')->getEquivalence($pts);?></div>
            </div>
        <?php endif; ?>

        <?php if ($this->getCustomerId()): ?>
            <?php $customerPoints = $this->getCustomerPoints(); ?>

            <?php if ($customerPoints):?>
                <div class="discount-codes box discount">
                    <p class="h2">
                        <?php echo $this->__('Orami points'); ?>
                        <a href="<?php echo Mage::helper('cms/page')->getPageUrl('help') ?>#rewardpoints" target="_blank">
                            <span class="question-help"></span>
                        </a>
                    </p>
                    
                    <div class="rewards_point_cart">
                        <p class="h2"><?php echo $this->__("Cashback 1% on every purchase");?></p>
                        <?php echo $this->__("You will be receiving a total of %s Baht from the purchase to be used on your next purchase.", $pts);?>
                        <?php echo Mage::helper('rewardpoints/data')->getEquivalence($pts);?>
                    </div>

                    <?php if ($points_currently_used > 0):?>
                        <p><?php echo $this->__('You are currently using %d of your %d Cashback available.', $points_currently_used, $customerPoints); ?></p>
                    <?php endif;?>
                </div>
            <?php endif;?>
        <?php endif;?>
    <?php endif;?>
</div> <!-- END ORAMI POINTS -->

<script type="text/javascript">
    document.observe("dom:loaded", function() { 
        <?php if ($this->canShowRemoveLink() && $points_currently_used > 0):?>
                var points_text = "<?php echo str_replace('"', '\"', $this->__('%s points used', $points_currently_used));?>";
                var reward_link_cart = '<span id="link_j2t_rewards"> <a href="javascript:$(\'discountFormPoints2\').submit();" title="<?php echo Mage::helper('rewardpoints')->__('Remove Points').'"><img src="'.Mage::getDesign()->getSkinUrl('images/j2t_delete.gif').'" alt="'.Mage::helper('rewardpoints')->__('Remove Points').'" /></a></span>'; ?>';
                $$(".totals-rewards").each(function (el){
                    el.innerHTML = el.innerHTML.replace(points_text, points_text+reward_link_cart);
                });
        <?php endif;?>
    });
</script>

