<?php $filters = $this->getAttributeActiveFilters();?>

<?php	
	$active_filter = array();
	foreach($filters as $_filter)
	{
		$attr = $this->getAttributeByCode($_filter);
		if($attr) { array_push($active_filter, $_filter); }
	}
?>

<?php $first3 = array_slice($filters,0,3);?>
<?php $last3 = array_slice($filters,3);?>

<div class="top-filter">
	<div  id="filter-hd">
		<span style="cursor: pointer;"><?php echo $this->__('Refine your results') ?><span id="expanderSign" class="collapes-filter"></span></span>
	</div>
	<div class="sortby-hd">
	<?php echo $this->getToolbarHtml() ?>
	</div>
</div>
<?php $checkDisplay = ($this->getActiveFilters())? '': 'style="display:none;"'?>
<!--<form name="filter-form" action="" id = "category-product-filter">-->
	<div id="product-filter-box" <?php echo $checkDisplay;?>>
		<div class="left-content floatL">
			<?php // First 3 columns ?>	
			<?php foreach($first3 as $_filter):?>	
				<?php $attr = $this->getAttributeByCode($_filter); ?>
				<?php if(!$attr) continue; ?>		
				<div class="floatL left-small-box">
					<div class="margB5 fontB"><?php echo $this->__($attr->getFrontendLabel()); ?></div>			
								
						<?php $options = $attr->getFrontend()->getSelectOptions()?>
						<?php $curr = $this->getParam($attr->getAttributeCode());?>
						
						<?php foreach($options as $option): ?>
						<?php if(!is_array($option) || !$option['value'] || !$option['label']) continue;?>
						<?php $checked = ($curr == $option['value'])?'checked="checked"':'';?>
							<div class="margB5">
								<input type="radio" onclick="setLocation(this.value)" id="<?php echo $attr->getAttributeCode().'_'.$option['value']?>" 
								name="<?php echo $attr->getAttributeCode();?>" <?php echo $checked?> 
								value="<?php echo $this->getFilterValue($attr->getAttributeCode(),$option['value']);?>" /> <?php echo $option['label'];?>
							</div>
						<?php endforeach;?>
								
				</div>
			<?php endforeach; ?>
			<?php // Last column?>
			<?php 
				$temp_last = array();
				foreach($last3 as $_filter)
				{
					$attr = $this->getAttributeByCode($_filter);
					if($attr) { array_push($temp_last, $_filter); }
				}
			?>
			<?php if (count($active_filter) > 4): ?>
			<div class="floatL left-small-box-last">
			<?php foreach($temp_last as $_filter):?>
				<?php $attr = $this->getAttributeByCode($_filter); ?>
				<?php if(!$attr) continue; ?>
				<div class="margB5 fontB"><?php echo $this->__($attr->getFrontendLabel())?></div>
				<div class="margB5">
					<?php $curr = $this->getParam($attr->getAttributeCode());?>
					<?php $options = $attr->getFrontend()->getSelectOptions()?>
					<div class="arrowselectbox selectsortby">
						<select onchange="setLocation(this.value)" id="<?php echo $attr->getAttributeCode()?>" name="<?php echo $attr->getAttributeCode()?>">				
							<?php foreach($options as $option): ?>
							<?php if(!is_array($option)) continue;?>
							<?php $checked = ($curr == $option['value'])?'selected="selected"':'';?>					
								<option value="<?php echo $this->getFilterValue($attr->getAttributeCode(),$option['value']);?>" <?php echo $checked;?> ><?php echo $option['label'];?></option>
							<?php endforeach; ?>
						</select>
					</div>
				</div>
			<?php endforeach; ?>
			</div>
			<?php else: ?>
				<?php 
					$arr_size = count($temp_last) / 2 ;
					$last3_first = array_slice($temp_last, 0, $arr_size);
					$last3_second = array_slice($temp_last, $arr_size);
				?>
				<div class="floatL left-small-box-last border-right">
				<?php foreach($last3_first as $_filter):?>
					<?php $attr = $this->getAttributeByCode($_filter); ?>
					<?php if(!$attr) continue; ?>
					<div class="margB5 fontB"><?php echo $this->__($attr->getFrontendLabel())?></div>
					<div class="margB5">
						<?php $curr = $this->getParam($attr->getAttributeCode());?>
						<?php $options = $attr->getFrontend()->getSelectOptions()?>
						<div class="arrowselectbox">
							<select onchange="setLocation(this.value)" id="<?php echo $attr->getAttributeCode()?>" name="<?php echo $attr->getAttributeCode()?>">				
								<?php foreach($options as $option): ?>
								<?php if(!is_array($option)) continue;?>
								<?php $checked = ($curr == $option['value'])?'selected="selected"':'';?>					
									<option value="<?php echo $this->getFilterValue($attr->getAttributeCode(),$option['value']);?>" <?php echo $checked;?> ><?php echo $option['label'];?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
				<?php endforeach; ?>
				</div>
				<div class="floatL left-small-box-last">				
				<?php foreach($last3_second as $_filter):?>
					<?php $attr = $this->getAttributeByCode($_filter); ?>
					<?php if(!$attr) continue; ?>
					<div class="margB5 fontB"><?php echo $this->__($attr->getFrontendLabel())?></div>
					<div class="margB5">
						<?php $curr = $this->getParam($attr->getAttributeCode());?>
						<?php $options = $attr->getFrontend()->getSelectOptions()?>
						<div class="arrowselectbox">
							<select onchange="setLocation(this.value)" id="<?php echo $attr->getAttributeCode()?>" name="<?php echo $attr->getAttributeCode()?>">				
								<?php foreach($options as $option): ?>
								<?php if(!is_array($option)) continue;?>
								<?php $checked = ($curr == $option['value'])?'selected="selected"':'';?>					
									<option value="<?php echo $this->getFilterValue($attr->getAttributeCode(),$option['value']);?>" <?php echo $checked;?> ><?php echo $option['label'];?></option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>
				<?php endforeach; ?>
				</div>
			<?php endif; ?>
			<div class="clear"></div>
		</div>
		<?php //echo $this->getChildHtml('cart_sidebar');?>
		<?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId(44)->toHtml()?>       
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('banner_filter')->toHtml()?>
	</div>
<!--</form>-->
<?php if($this->getActiveFilters()):?>
	<div class="result-filter">
		<div>
			<ul>
			<?php foreach($this->getActiveFilters() as $filter):?>
				<li><?php echo $this->__($filter->getFilter()->getAttributeModel()->getFrontendLabel())?>: <?php echo $filter->getLabel()?> <span style="cursor: pointer;text-decoration:underline" onclick ="setLocation('<?php echo $this->getRemoveUrl( $filter->getFilter()->getAttributeModel()->getAttributeCode())?>')"></span></li>
			<?php endforeach;?>
			</ul>
		</div>		
		<div class="clear-filter">
			<span style="cursor: pointer; text-decoration:underline" onclick="setLocation('<?php echo $this->getRemoveUrl()?>')"><?php echo $this->__('Clear All')?></span>
			<span class="sign" style="cursor: pointer;" onclick="setLocation('<?php echo $this->getRemoveUrl()?>')"></span>
		</div>		
	</div>
<?php endif; ?>

