<!--@subject {{var store.getFrontendName()}}: Shipment for Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="590">
            <!-- [ header starts here] -->
            <tr>
                <td valign="middle" style="padding: 0 25px;" height="80"><a href="{{store url=""}}"><img src="{{skin url='images/logo_email.gif'}}" alt="{{var logo_alt}}" border="0"/></a></td>
            </tr>
            <tr>
                <td height="10"><img src="{{skin url='images/email-line.gif'}}"  style="margin-bottom:10px;" border="0"/></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:15px 30px;">
                    <h1 style="font-size:24px; font-weight:bold; line-height:24px; margin:0 0 11px 0;color:#28448d;">Hello, {{htmlescape var=$order.getCustomerName()}}</h1>
                    <p style="font-size:13px; line-height:18px; margin:0;color:#505050;">
                        Thank you for your order from {{var store.getFrontendName()}}.
                        You can check the status of your order by <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logging into your account</a>.
                        If you have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or call us at <span class="nobr">{{config path='general/store_information/phone'}}</span>.
                    </p>
                    <p style="font-size:12px; line-height:18px; margin:0;color:#505050;">
                        Your shipping confirmation is below. Thank you again for your business.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding:0 30px 15px 30px;">
                    <span style="font-size:12px; font-weight:normal; margin:0;color:#505050;">Your Shipment for Order #{{var order.increment_id}}</span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table cellspacing="0" cellpadding="0" border="0" width="590" style="border:3px solid #e1e1e1;">
                        <thead>
                        <tr>
                            <th align="left" width="290" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;color:#505050;">Billing Information:</th>
                            <th align="left" width="290" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;color:#505050;">Payment Method:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td colspan="2" height="3" bgcolor="#e1e1e1"></td></tr>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;color:#505050;">
                                {{var order.billing_address.format('html')}}
                            </td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; color:#505050;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="590" style="border:3px solid #e1e1e1;">
                        <thead>
                        <tr>
                            <th align="left" width="290"  style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;color:#505050;">Shipping Information:</th>
                            <th align="left" width="290"  style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;color:#505050;">Shipping Method:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td colspan="2" height="3" bgcolor="#e1e1e1"></td></tr>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;color:#505050;">
                                {{var order.shipping_address.format('html')}}
                                &nbsp;
                            </td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;color:#505050;">
                                {{var order.shipping_description}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
                    {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                    <p style="font-size:12px; margin:0 10px 10px 0">{{var comment}}</p>
                </td>
            </tr>
            <tr>
			    <td height="30"><img src="{{skin url='images/email-line.gif'}}"  style="margin-top:20px;" border="0"/></td>
			</tr>
			<tr>
				<td style="padding:20px;">
					<span style="font:normal 11px 'Arial';color:#505050;">For Customer Service inquiries, please email <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a>.
					Have a suggestion, comment, or general feedback? Please send an email to <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a> to let us know.</span><br/><br/>
					<span style="font:normal 11px 'Arial';color:#505050;">
					This email was sent to you by PetLoft.com. To ensure delivery to your inbox (not bulk or junk folders), you can add <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a> to your address book or safe list.</span><br/><br/>
					<table cellpadding="0" cellspacing="0" width="590">
						<tr>
							<td width="450">
								<span style="font:normal 11px 'Arial';color:#505050;line-height:16px;">
								&copy; 2013 Whatsnew Co., Ltd. All Rights Reserved.<br/>
								946 Dusit Thani Building, 4th fl., <br/>Rama IV Rd. Bangrak, Bangkok, 10500 Thailand</span><br/><br/>
								<span style="font:normal 11px 'Arial';color:#505050;line-height:16px;">
								<a href="{{store url="privacy-policy"}}" style="color:#505050; text-decoration:none;">Privacy Policy</a> | <a href="{{store url="contacts"}}" style="color:#505050; text-decoration:none;">Contact us</a></span>
							</td>
							<td valign="bottom" align="right">
								<a href="https://www.facebook.com/petloftthai" target="_blank"><img src="{{skin url='images/email-facebook.gif'}}"  style="margin-right:10px;" border="0"/></a>
								<a href="https://twitter.com/PetLoft" target="_blank"><img src="{{skin url='images/email-twitter.gif'}}"  style="margin-right:10px;" border="0"/></a>
								<a href="https://plus.google.com/u/0/b/113812097105339950445/113812097105339950445/op/iph" target="_blank"><img src="{{skin url='images/email-google.gif'}}" border="0"/></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>