
    <ul class="pager">
        <li class="sort-by">
            <label><?php echo $this->__('Sort By: ') ?></label>
            <div class="arrowselectbox selectsortby">
                <select onchange="setLocation(this.value)">
                <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                <?php if ($_order != $this->__('Position')): ?>
                    <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                        <?php echo $this->__($_order) ?>
                    </option>
                <?php endif; ?>
                <?php endforeach; ?>
                </select>
            </div>
            <div class="arrowsortby">
                <?php if($this->getCurrentDirection() == 'desc'): ?>
                    <a style="cursor: pointer" onclick="setLocation('<?php echo $this->getOrderUrl(null, 'asc') ?>')" title="<?php echo $this->__('Set Ascending Direction') ?>"><img src="<?php echo $this->getSkinUrl('images/i_desc_arrow.gif') ?>" alt="<?php echo $this->__('Set Ascending Direction') ?>" class="v-middle" /></a>
                <?php else: ?>
                    <a style="cursor: pointer" onclick="setLocation('<?php echo $this->getOrderUrl(null, 'desc') ?>')" title="<?php echo $this->__('Set Descending Direction') ?>"><img src="<?php echo $this->getSkinUrl('images/i_asc_arrow.gif') ?>" alt="<?php echo $this->__('Set Descending Direction') ?>" class="v-middle" /></a>
                <?php endif; ?>
            </div>
        </li>
        <li class="limiter">
            <label><?php //echo $this->__('Show') ?><?php echo $this->__('Items per page: ') ?></label>
            <div class="arrowselectbox selectperpage">
                <select onchange="setLocation(this.value)">
                <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                    <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                        <?php echo $_limit ?>
                    </option>
                <?php endforeach; ?>
                </select> <?php //echo $this->__('per page') ?>
            </div>
        </li>
        
        
    </ul>

