.font-face(@fontname, @fontfile, @fontweight:normal, @fontstyle:normal) {

  font-family: "@{fontname}";
  src: url("@{fontfile}.eot");
  src: url("@{fontfile}.eot?#iefix") format("embedded-opentype"),
  url("@{fontfile}.woff") format("woff"),
  url("@{fontfile}.ttf") format("truetype"),
  url("@{fontfile}.svg#@{fontname}") format("svg");
  font-weight: @fontweight;
  font-style: @fontstyle;

}

/* ==========================================================================
  Fonts
   =================================== ======================================= */


@font-face {
  .font-face('thaisansneue-regular', '../fonts/thaisansneue-regular-webfont', @fontweight:normal, @fontstyle:normal);
}
@font-face {
  .font-face('thaisansneue-italic', '../fonts/thaisansneue-italic-webfont', @fontweight:normal, @fontstyle:italic);
}
@font-face {
  .font-face('thaisansneue-bold', '../fonts/thaisansneue-bold-webfont', @fontweight:bold, @fontstyle:normal);
}
@font-face {
  .font-face('MyriadPro-bold', '../fonts/MyriadPro-bold', @fontweight:bold, @fontstyle:normal);
}
@font-face {
  .font-face('MyriadPro-regular', '../fonts/MyriadPro-regular', @fontweight:normal, @fontstyle:normal);
}
@font-face {
  .font-face('HelveticaNeueLTCom-Roman', '../fonts/HelveticaNeueLTCom-Roman', @fontweight:normal, @fontstyle:normal);
}


@font-face {
  .font-face('FontAwesome', '../fonts/FontAwesome', @fontweight:normal, @fontstyle:normal);
}

//@font-face {
//  .font-face('ITCAvantGardeStd-Demi', '../fonts/itcavantgardestd-demi-webfont', @fontweight:normal, @fontstyle:normal);
//}
//
//@font-face {
//  .font-face('ITCAvantGardeStd-XLt', '../fonts/itcavantgardestd-xlt-webfont', @fontweight:normal, @fontstyle:normal);
//}
//
//@font-face {
//  .font-face('ITCAvantGardeStd-Md', '../fonts/itcavantgardestd-md-webfont', @fontweight:normal, @fontstyle:normal);
//}
//
//@font-face {
//  .font-face('sanofi-icons', '../fonts/sanofi-icons', @fontweight:normal, @fontstyle:normal);
//}

.Thaifont-regular {font-family: thaisansneue-regular,sans-serif;font-weight: normal;font-style: normal;}
.FontAwesome{font-family: FontAwesome,sans-serif;;font-weight: normal;font-style: normal;}
.Thaifont-italic {font-family: thaisansneue-italic,sans-serif;font-weight: normal;font-style: italic;}
.Thaifont-bold {font-family: thaisansneue-bold,sans-serif;font-weight: normal;font-style: normal;}
.MyriadPro-bold {font-family: MyriadPro-bold,sans-serif;font-weight: bold;font-style: normal;}
.MyriadPro-regular {font-family: MyriadPro-regular,sans-serif;font-weight: normal;font-style: normal;}
.HelveticaNeueLTCom-Roman{font-family: HelveticaNeueLTCom-Roman,sans-serif;font-weight: normal;font-style: normal;}


