.search-open .main{
  margin-top: 36px;
}
.header{
  background: @bg-header1;
  padding: 0 14px;
  overflow: hidden;
  // background-image: url("../images/bg-header.jpg");
  // background-size: 100% auto;
  // border-bottom: 1px solid #124b8d;  
  header{
    .top-links{
      .top-links-right{
        text-align: right;
        .Thaifont-regular;
        text-transform: uppercase;
        margin-top: 2px;
        padding-left: 20px;
        .links{
          list-style: none;
          color: @bg-input;
          margin: 0;
          display: inline-block;
          li{
            display: inline-block;
            margin: 0 5px;
          }
        }
        .language-switcher{
          display: inline-block;
          a.selected{
            font-style: italic;
          }
          span{
            color: @bg-input;
          }
        }
        a{
          color: @bg-input;
          font-size: 12px;
        }
      }
    }
    .left-header{
      float: left;
    }
    .right-header{
      float: right;
    }
    .logo{
      margin-left: 13px;
      float: left;
      background: url("../images/bg_line_menu.png") repeat-y;
      padding-left: 13px;
      a img{ vertical-align: middle}
      .header-bg{
        text-align: center;
        a{
          img{
            width: 50%;            
          }
        }
      }
    }
    .menu-wrapper{
      height: 53px;
      line-height: 53px;
      overflow: hidden;     
      .menu-button{
        display: inline-block;
        float: left;
        margin-top: 1px;        
        #menu-btn{
          font-size: 0
          
        }
        #menu-btn:after{
          content: "\f0c9";
          .FontAwesome;
          display: inline-block;
          font-size:23px;
          color: @bg-input;
        }
      }
      .search{
        float: left;
        display: inline-block;
        .mini-search-btn{
          button{
            border: none;
            background: none;
            font-size: 0;
            &:after{
              content:"\f002";
              .FontAwesome;
              font-size: 17px;
              color: @bg-input;
            }            
          }
        }
        .mini-search-form{
          position: absolute;
          width: 100%;
          left: 0;
          z-index: 999;          
          form{
            padding: 5px 7px;
            background-color: #eaeaea;
            border-bottom: 1px solid #14367a;
            overflow: hidden;
            #search{
              padding: 2px 2px;
              border-radius: 3px;
              border: 1px solid #b3b3b3;
              color: #999999;
              float: left;
              font-size: 12px;
              .Thaifont-italic;
              text-transform: uppercase;
              width: 85%;
              height:25px;
            }
          }
          button.button{
            width: 40px;
            float: right;
            background-color: #d9d9d9;
            border: 1px solid #b3b3b3;
            padding: 2px 0;
            > span span{
              width: auto;
              font-size: 0px;
              &:after{
                content:"\f002";
                .FontAwesome;
                font-size: 17px;
                color: #707070;
              }
            }
          }
        } 
        
      }

      .icons-set{
        float: left;
        display: inline-block;
        float: right;
        margin-left: 10px;
        & > div{
          float: left;
          display: inline-block;
        }
        .wishlist{
          .wishlist-icon{
            padding: 0 5px 0 0;
            a{
              font-size: 0;
            }
            a:before{
              content: "\f004";
              .FontAwesome;
              display: inline-block;
              font-size:17px;
              color: @bg-input;
            }
            span{
              .Thaifont-bold;
              font-size: 14px;
              color: @bg-input;
            }
          }
        }
        .cart{
          .cart-icon{
            padding: 0 0 0 5px;
            position: relative;
            a{
              font-size: 0;
              display: inline-block;
            }
            a:before{
              content: "\f07a";
              .FontAwesome;
              display: inline-block;
              font-size:17px;
              color: @bg-input;
            }
            span{
              .Thaifont-bold;
              font-size: 14px;
              color: @bg-input;
              position: absolute;
              top: -14px;
              right: 2px;
            }
          }
        }
      }
    }
  }
}