@font-face {
    font-family: 'pj_standardregular';
    src: url('../font/pj_standard-webfont.eot');
    src: url('../font/pj_standard-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/pj_standard-webfont.woff2') format('woff2'),
    url('../font/pj_standard-webfont.woff') format('woff'),
    url('../font/pj_standard-webfont.ttf') format('truetype'),
    url('../font/pj_standard-webfont.svg#pj_standardregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
    background: url('../images/sitedown.jpg') fixed no-repeat center center;
    background-size: cover;
    position: relative;
    font-family: 'pj_standardregular';
}

.header-container, .footer-container {
    display: none;
}

#center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #e0e0e0;
    border: 15px solid #5b5b5b;
    margin-left: -315px;
    margin-top: -315px;
    box-shadow: 0 0 15px #5b5b5b;
    -webkit-box-shadow: 0 0 15px #5b5b5b;
    -moz-box-shadow: 0 0 15px #5b5b5b;
    -ms-box-shadow: 0 0 15px #5b5b5b;
    -o-box-shadow: 0 0 15px #5b5b5b;
    padding: 50px;
    color: #5b5b5b;
}

#center hr {
    color: #939393;
}

.page-title {
    border-bottom: 1px solid #939393;
    padding: 60px 0 10px;
}

.page-title h1 {
    font-size: 25px;
    font-weight: normal;
    display: block;
    margin: 0;
    line-height: 45px;
}

.page-content {
    padding-top: 15px;
}

.page-content p {
    margin: 0;
    line-height: 27px;
}

.page-link {
    padding-top: 11px;
}

.page-link a {
    text-decoration: none;
    margin: 0 10px;
}

.page-link img {
    height: 30px;
}