<?php if (is_array($this->getTotal()->getFullInfo())) : ?>
<?php foreach ($this->getTotal()->getFullInfo() as $info): ?>
    <tr class="summary-details-amrules summary-details" style="display:none;">
        <td class="a-right" colspan="<?php echo $this->getColspan(); ?>">
            <?php echo $info['label']; ?>
            <br />
        </td>
        <td class="a-right" rowspan="1">
            -<?php echo $this->helper('checkout')->formatPrice($info['amount']); ?>
        </td>
    </tr>
<?php endforeach; ?>
<?php endif; ?>
<tr class="summary-total discount-box" onclick="expandDetails(this, '.summary-details-amrules')" >
    <td class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
             <div class="summary-collapse"><?php echo $this->getTotal()->getTitle() ?></div>
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?>
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
</tr>
