/*  Globle css  */

/* Menu mobile */

#menu, #contain {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
#menu {
    height: 100%;
    display: block;
    position: absolute;
    width: 276px !important;
    left: -100%;
    top: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.active #menu {
    left: 0;
}


#menu {
    border-right: 1px solid #a8e0ee;
    overflow-y: hidden !important;
    height: auto !important
}

#menu .nav-wrap {
    background: #fff;
}


#menu .nav-wrap #nav-container ul li.subcategory-header .sign-link{
    margin: 0;
    margin-bottom: 10px;
    background: 0 0;
    border: 0;
    font-size: 100%;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    width: 150px;
    float: left;
}

#menu .nav-wrap #nav-container ul li.subcategory-header .switch-language-box{
    float: left;
    width: auto;
    padding-left: 55px;
}


#menu .nav-wrap #nav-container ul li {
    font: 700 16px 'montserratlight',arial, helvetica, sans-serif;
    padding: 9px 12px;
    color: #fff;
    border-bottom: 1px solid #EE5293;
    background: transparent !important;
    position: relative
}

#menu .nav-wrap #nav-container ul li.splash-page-header a img {
    width: auto;
    height: 35px;
} 

#menu .nav-wrap #nav-container ul li span {
    font-weight: 700;
    color: #EE5293;
    font-size: 14px;
    text-transform: uppercase;
}
#menu .nav-wrap #nav-container ul li.level-top.links {
    color: #fff;
    border-bottom: 1px solid #fff;
    background: #EE5293 !important;
}
#menu .nav-wrap #nav-container ul li.level-top.links span{
    color: #fff;
    text-transform: none;
}
#menu .nav-wrap #nav-container ul li .nav-home:before {
    content: "\f015";
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 21px;
    color: #eaa90c;
    margin-right: 10px
}

#menu .nav-wrap #nav-container ul li.site-petloft, #menu .nav-wrap #nav-container ul li.site-venbi, #menu .nav-wrap #nav-container ul li.site-sanoga, #menu .nav-wrap #nav-container ul li.site-lafema, #menu .nav-wrap #nav-container ul li.level-top.sites {
    padding: 0;
    border-bottom: 1px solid #fff
}

#menu .nav-wrap #nav-container ul li.site-petloft a, #menu .nav-wrap #nav-container ul li.site-venbi a, #menu .nav-wrap #nav-container ul li.site-sanoga a, #menu .nav-wrap #nav-container ul li.site-lafema a,
#menu .nav-wrap #nav-container ul li.level-top.sites a {
    padding: 9px 12px 9px 35px;
    position: relative
}
#menu .nav-wrap #nav-container ul li.level-top.sites a span {
    color: #fff;
}
#menu .nav-wrap #nav-container ul li.site-petloft a .site-details strong, #menu .nav-wrap #nav-container ul li.site-venbi a .site-details strong, #menu .nav-wrap #nav-container ul li.site-sanoga a .site-details strong, #menu .nav-wrap #nav-container ul li.site-lafema a .site-details strong {
    display: block
}

#menu .nav-wrap #nav-container ul li.site-petloft a:before, #menu .nav-wrap #nav-container ul li.site-venbi a:before, #menu .nav-wrap #nav-container ul li.site-sanoga a:before, 
#menu .nav-wrap #nav-container ul li.site-lafema a:before, #menu .nav-wrap #nav-container ul li.level-top.sites a:before {
    content: "";
    background: url(../images/moxy_store.png) no-repeat left center;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 13px
}

#menu .nav-wrap #nav-container ul li.site-magazine {
    background-color: #20beca !important;
}
#menu .nav-wrap #nav-container ul li.site-appliances {
    background-color: #995152 !important;
}
#menu .nav-wrap #nav-container ul li.site-petloft {
    background-color: #1f83c1 !important;
}
#menu .nav-wrap #nav-container ul li.site-fashion {
    background-color: #f5833d !important;
}
#menu .nav-wrap #nav-container ul li.site-living {
    background-color: #638a98 !important;
}

#menu .nav-wrap #nav-container ul li.site-appliances {
    background-color: #995152 !important;
}

#menu .nav-wrap #nav-container ul li.site-electronics {
    background-color: #6f3995 !important;
}

#menu .nav-wrap #nav-container ul li.site-venbi {
    background-color: #ede81e !important
}
#menu .nav-wrap #nav-container ul li.site-venbi a span  {
    color: #000 !important;
}
#menu .nav-wrap #nav-container ul li.site-venbi a:after {
    color: #000 !important;
}

#menu .nav-wrap #nav-container ul li.site-sanoga {
    background-color: #6dbc47 !important
}

#menu .nav-wrap #nav-container ul li.site-lafema {
    background-color: #f6a4b3 !important;
    border-bottom: none
}
#menu .nav-wrap #nav-container ul li .link-icon {
    width: 8px;
    height: 11px;
    background: url(../images/ico-nav.png) no-repeat;
    display: inline-block;
    margin-right: 10px;
    -webkit-background-size: auto 20px;
    background-size: auto 20px
}

#menu .nav-wrap #nav-container ul li .info .link-icon {
    background-position: -384px -3px
}

#menu .nav-wrap #nav-container ul li .help .link-icon {
    background-position: -433px -4px;
    width: 11px;
    -webkit-background-size: auto 22px;
    background-size: auto 22px
}

#menu .nav-wrap #nav-container ul li .follow .link-icon {
    background-position: -458px -4px;
    width: 11px;
    -webkit-background-size: auto 22px;
    background-size: auto 22px
}

#menu .nav-wrap #nav-container ul li .contact .link-icon {
    width: 11px;
    background-position: -403px -4px
}

#menu .nav-wrap #nav-container ul li .desktop-switcher {
    width: auto;
    display: block;
    margin-left: 46px
}

#menu .nav-wrap #nav-container ul li .desktop-switcher:before {
    content: "";
    width: 15px;
    height: 13px;
    background: url(../images/icr-desktop-switcher.png) no-repeat;
    display: inline-block;
    margin-right: 3px
}

#menu .nav-wrap #nav-container ul li .menu-footer-bottom {
    margin-left: -12px;
    margin-top: -9px
}

#menu .nav-wrap #nav-container ul li .menu-footer-bottom .payment {
    padding: 11px 42px;
    background-color: #fff
}

#menu .nav-wrap #nav-container ul li .menu-footer-bottom .copyright {
    padding-left: 13px;
    padding-right: 40px;
    padding-top: 10px
}

#menu .nav-wrap #nav-container ul li .menu-footer-bottom .copyright .logo-footer {
    float: left
}

#menu .nav-wrap #nav-container ul li .menu-footer-bottom .copyright .copyright-footer {
    text-align: right;
    font-size: 11px;
    width: 249px
}

#menu .nav-wrap #nav-container ul li .nav-home {
    background: 0 0
}

#menu .nav-wrap #nav-container ul li .nav-help {
    background-position: -105px 0
}

#menu .nav-wrap #nav-container ul li ul {
    display: none
}

#menu .nav-wrap #nav-container ul li.current {
    background: #092b51 !important
}

#menu .nav-wrap #nav-container ul li > a:after {
    content: "\f105";
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 21px;
    color: #fff;
    position: absolute;
    z-index: 99;
    top: 27%;
    left: 255px
}

#menu .nav-wrap #nav-container ul li.subcategory-header {
    border-bottom: 1px solid #fff;
    border-left: 0;
    border-right: 0;
    background: #ee5293 !important;
}

#menu .nav-wrap #nav-container ul li.subcategory-header > span {
    text-transform: none;
}

#menu .nav-wrap #nav-container ul li.subcategory-header span, #menu .nav-wrap #nav-container ul li.subcategory-header a {
    color: #fff;
}
 #menu .nav-wrap #nav-container ul li.subcategory-header a.active {
    color: #000;
 }

#menu .nav-wrap #nav-container ul li.subcategory-header a {
    display: inline-block
}

#menu .nav-wrap #nav-container ul li.subcategory-header .sign-link {
    margin-bottom: 10px;
}

#menu .nav-wrap #nav-container ul li.subcategory-header .sign-link .title {
    font-size: 15px;
}

#menu .nav-wrap #nav-container ul li.subcategory-header .sign-link a.link {
    font-size: 13px;
}

#menu .nav-wrap #nav-container ul li.subcategory-header .account-link {
    position: relative
}

#menu .nav-wrap #nav-container ul li.subcategory-header .account-link a {
    font-size: 13px
}

#menu .nav-wrap #nav-container ul li.subcategory-header .account-link > a:after {
    content: "\f105";
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 21px;
    color: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 244px
}

#menu .nav-wrap #nav-container ul li.subcategory-header a:after, #menu .nav-wrap #nav-container ul li a.desktop-switcher:after {
    content: ""
}

#menu .nav-wrap #nav-container ul:nth-child(2) li:after {
    content: ""
}

#menu .nav-wrap #nav-container .level0 > .subcategory-header > .link-icon {
    display: none
}


.header header .menu-wrapper .menu-button #menu-btn {
    font-size: 0
}

.header header .menu-wrapper .menu-button #menu-btn:after {
    content: "\f0c9";
    font-family: FontAwesome, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 23px;
    color: #fff
}

.customer-account-index #menu #nav-container ul li {
    padding: 14px 9px
}

.customer-account-index #menu #nav-container ul li a {
    color: #fff;
    font: 700 14px arial, helvetica, sans-serif
}

