<?php
// Retrieve $data from OmiseController
$data = $this->getData(); ?>

<!-- Include Omise's stylesheet -->
<link rel="stylesheet" href="<?php echo $this->getSkinUrl(); ?>omise/omise-admin.css" type="text/css" />

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<div class="content-header">
    <table cellspacing="0">
        <tr><td><h3 class="head-dashboard">Omise Payment Gateway Dashboard</h3></td></tr>
    </table>
</div>

<!-- Content -->
<?php if (isset($data['omise'])): ?>
    <div class="box">
        <div class="content">

            <!-- Account Info -->
            <div class="ostyle-info-box omise-account-info omise-clearfix">
                <div class="left">
                    <dl>
                        <!-- Account email -->
                        <dt>Account: </dt>
                        <dd><?php echo $data['omise']['email']; ?></dd>

                        <!-- Account status -->
                        <dt>Live Mode: </dt>
                        <dd><strong><?php echo $data['omise']['livemode'] ? '<span class="livemode-label">Yes</span>' : '<span class="testmode-label">No</span>'; ?></strong></dd>

                        <!-- Current Currency -->
                        <dt>Currency: </dt>
                        <dd><?php echo strtoupper($data['omise']['currency']); ?></dd>
                    </dl>
                </div>
                <div class="right">
                    <p class="text-right"><a id="omise-dashboard-link" href="https://dashboard.omise.co/dashboard">see Omise Dashboard (Full Version)</a></p>
                </div>
            </div>

            <!-- Balance -->
            <div class="omise-balance omise-clearfix">
                <div class="left"><span class="omise-number"><?php echo Mage::helper('omise_gateway')->formatPrice($data['omise']['currency'], $data['omise']['total']); ?></span><br/>Total Balance</div>
                <div class="right"><span class="omise-number"><?php echo Mage::helper('omise_gateway')->formatPrice($data['omise']['currency'], $data['omise']['available']); ?></span><br/>Transferable Balance</div>
            </div>
        </div>
    </div>
    <div>
        <div class="content">

            <!-- Transfer History -->
            <div class="omise-transfer-history"><h3>Transfer History</h3></div>
            <div class="grid">
                <form id="omise-transfer" method="post" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/omise/transfers"); ?>">
                    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>">
                    <table cellspacing="0" class="data">
                        <thead>
                            <tr class="headings">
                                <th>Amount</th>
                                <th>Transfer Id</th>
                                <th>Sent</th>
                                <th>Paid</th>
                                <th>Failure Message</th>
                                <th width="15%" class="a-center">Created</th>
                                <th width="5%" class="a-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if (!empty($data['omise']['transfer']['data'])):
                                foreach ($data['omise']['transfer']['data'] as $key => $value): $date = new \DateTime($value['created']); ?>
                                    <tr class="<?php echo $key%2 == 0 ? 'even' : ''; ?> pointer">
                                        <td><?php echo Mage::helper('omise_gateway')->formatPrice($data['omise']['currency'], $value['amount']); ?></td>
                                        <td><?php echo $value['id']; ?></td>
                                        <td><?php echo $value['sent'] ? 'Yes' : '<strong class="error-label">No</strong>'; ?></td>
                                        <td><?php echo $value['paid'] ? 'Yes' : '<strong class="error-label">No</strong>'; ?></td>
                                        <td><?php echo $value['failure_code'] ? '('.$value['failure_code'].') '.$value['failure_code'] : '-'; ?></td>
                                        <td class="a-center"><?php echo $date->format('M d, Y H:i'); ?></td>
                                        <td class="a-center"><?php echo !$value['sent'] && !$value['paid'] ? '<a class="transfer-btn-delete" href="'.Mage::helper("adminhtml")->getUrl("adminhtml/omise/transfers/delete/".$value["id"]).'">Cancel</a>': '-'; ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>

                            <tr class="pointer">
                                <td class="a-right" colspan="6">&nbsp;</td>
                                <td class="a-center last"></td>
                            </tr>

                            <!-- Create transfer form -->
                            <tr class="even pointer">
                                <td class="a-right" colspan="6"><input class="transfer-amount input-text no-changes" min="0" type="number" name="OmiseTransfer[amount]" placeholder="<?php echo Mage::helper('omise_gateway')->formatPrice($data['omise']['currency'], $data['omise']['available']); ?>"></td>
                                <td class="a-center last"><button class="button btn-transfer">CREATE TRANSFER</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div> <!-- /END .content -->
    </div> <!-- /END .box -->
<?php endif; ?>

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function(){
        jQuery('.transfer-btn-delete').on('click', function(e) {
            e.preventDefault();

            if (confirm('Delete ?')) {
                var $this       = jQuery(this),
                    deleteLink  = $this.attr('href'),
                    form        = $this.closest('form');
                
                form.attr('action', deleteLink)
                    .append('<input type="hidden" name="OmiseTransfer[action]" value="delete">');

                jQuery("#omise-transfer").submit();
            }
        });
    });
</script>
