<div class="keyMessBlock">
    <ul id="keyMess">
        <li class="key-ico keyMenu">
            <a class="tt open-order-tracking" href="#">
                <span>
                    <i class="fa fa-track-order"></i>
                    <span class="tx-for-top-ico"><?php echo $this->__('Track Your Order'); ?></span>
                    <div class="tooltip">
                        <div class="top">&nbsp;</div>
                        <div class="middle">
                            <?php echo $this->__('If your order doesn’t show up on our system, it means your preorder item(s) are being sent to our warehouse to prepare for packaging and delivery. Preorder items take about 7-10 days to ship.'); ?>
                        </div>
                    </div>
                </span>
            </a>
        </li>
    </ul>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('a.open-order-tracking').click(function (e) {
                e.preventDefault();
                $('#ot-overlay-container').show(300);
                $('.form-trackorder .ot-content form input[type="text"]').val('');
            });
        });
    </script>
</div>