<div id="ot-overlay-container" class="form-trackorder" style="display: none">
    <div class="ot-content">
        <span class="close-icon"></span>
        <span class="track-title">TRACK YOUR ORDER</span>
        <p>
            <?php echo $this->__('Please fill out your order number to track its status'); ?>
        </p>
        <p>
            <?php echo $this->__('If your order doesn’t show up on our system, it means your preorder item(s) are being sent to our warehouse to prepare for packaging and delivery. Preorder items take about 7-10 days to ship.'); ?>
        </p>
        <form id="ot-form" method="GET" action="https://tracking.acommerce.asia/whatsnewth">
            <input type="text" name="id" required="required"/>
            <div class="actions">
                <input class="btn btn-primary" type="submit" value="Track It"/>
            </div>
        </form>
        <div class="ot-bottom">
            <span>Powered By</span>
            <div id="ot_bottom_image"></div>
        </div>
        <div class="clear"></div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('div.ot-content').find('.close-icon').click(function () {
                $('#ot-overlay-container').fadeOut();
            });

            $('#ot-form').find('input[type="submit"]').click(function (e) {
                e.preventDefault();
                var tracking_url = $('#ot-form').attr('action');
                var tracking_id = $('#ot-form').find('input[type="text"]').val();
                window.open(tracking_url + '?id=' + tracking_id, '_blank');
                $('#ot-overlay-container').fadeOut();
            });

            $(document).mouseup(function (e) {
                var container = $(".ot-content");
                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    $('#ot-overlay-container').fadeOut();
                }
            });
        });
    </script>
</div>