<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var offset = 300;
        var menu_cart_icon = $('div#menu-cart-icon');
        var menu_bar = $('div.nav-container');
        $(window).scroll(function () {
            if($(this).scrollTop() > offset){
                menu_cart_icon.show();
                menu_bar.addClass('fixed');
            }else{
                menu_cart_icon.hide();
                if(menu_bar.hasClass('fixed')){
                    menu_bar.removeClass('fixed');
                }
            }
        });
    });
</script>
<li>
    <?php
    //$count = Mage::helper('checkout/cart')->getItemsCount();
    $count = Mage::helper('checkout/cart')->getItemsQty();
    $grand_total = Mage::helper('checkout/cart')->getQuote()->getGrandTotal();
    ?>
    <div class="mini-cart" id="menu-cart-icon" style="display: none;">
        <a class="top_icon_cart" title="Go to cart" href="<?php echo Mage::getUrl('checkout/cart') ?>">
            <?php echo "<span class='top_number_cart'>".$count.'</span>'; ?>
        </a>
    </div>
</li>