<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.7.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /* @var $this AW_Points_Block_Catalog_Product_Points */ ?>
<?php $helperConfig = Mage::helper('points/config'); ?>
<?php $jsPoints = $this->getJsPoints();?>
<p class="j2t-loyalty-points inline-points">
	<?php echo $this->__("You earn <span id='product.view.points'>%s</span> loyalty %s.",$jsPoints['points'],$helperConfig->getPointUnitName())?>
</p>
<script type="text/javascript">	
	document.observe("dom:loaded", calPoints);	
	Number.prototype.ownFormat = function(c, d, t){
        var n = this, c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "," : d, t = t == undefined ? "." : t, s = n < 0 ? "-" : "", i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
	var pointRate = '<?php echo $this->getCurrentRate();?>';
	var priceTemplate = new Template('<?php echo $jsPoints['template'];?>');
	function calPoints() {						
		var qty = $('qty');
		var total = $('total');		
		var options = getOptions();
		var incQty = $('inc-qty');
		var desQty = $('dec-qty');
		var currPrice = getCurrPrice();
		updatePoints(getSelectedPrice(currPrice));	
		calFormatedPrice();
		if(options) {
			options.each(function(att) {
				Event.observe(att,'click',function(e) {
					var el = Event.element(e);					
					if(el && el.readAttribute('price')) {
						calFormatedPrice(el);
					}
				});
			});
		}
		if(incQty) {			
			Event.observe(incQty,'click',function() {
				if(qty) {
					qty.value++;
					calFormatedPrice();
				}				
			});
		}
		if(desQty) {
			Event.observe(desQty,'click',function() {
				if(qty && qty.value > 1) {
					qty.value--;
					calFormatedPrice();
				}
			});
		}
		if(qty) {
			Event.observe(qty,'change',function() {
				calFormatedPrice();
			});
		}
		
	}
	function getOptions() {
		return $$("input[name ^= 'super_attribute']");
	}
	function getCheckedOption() {
		var options = getOptions();
		var checkedEl = '';
		if(options) {
			options.each(function(e){
				if(e.checked || e.selected) {
					checkedEl = e;
				}
			});
		}
		return checkedEl;
	}
	function getCurrPrice() {
		var currPrice = <?php echo $this->getCurrPrice();?>;
		if(!currPrice) {
			//var defaultElm = $$("input[type = radio][name ^= 'super_attribute']:checked").first();
			var checkedElm = getCheckedOption();
			if(checkedElm) {
				currPrice = checkedElm.readAttribute('price');
			}
			else {
				currPrice = 0;
			}
		}
		return currPrice;
	}
	function calFormatedPrice(el) {
		currPrice = getCurrPrice();
		if(!el) {
			//el = $$("input[type = radio][name ^= 'super_attribute']:checked").first();
			el = getCheckedOption();
		}
		if(el) {
			currPrice = el.readAttribute('price');
		}
		currPrice = getSelectedPrice(currPrice);
		updatePoints(currPrice);
		if($('total')) {			
			$('total').innerHTML = formatPrice(currPrice);
		}
	}
	function getSelectedPrice(pr) {
		currPrice = getCurrPrice();
		if(qty && qty.value>0) {
			if(pr) {
				newPrice = qty.value * pr;
			}
			else {
				newPrice = qty.value * currPrice;
			}
		}
		else {
			if(qty && qty.value<=0) {
				qty.value = 1;
			}
			newPrice = currPrice;
		}
		return newPrice;
	}
	function updatePoints(val) {
		var points = $('product.view.points');
		if(points) {
			points.innerHTML = (val*pointRate).ownFormat(0,'.',',');
		}
	}
	function formatPrice(val) {
		return priceTemplate.evaluate({price:val});
	}
</script>