<?php
/**
 * Override default autocomplete feature to find products directly
 *
 * @category    Bubble
 * @package     Bubble_Elasticsearch
 * @version     3.1.3
 * @copyright   Copyright (c) 2015 BubbleShop (https://www.bubbleshop.net)
 */
/**
 * @var $this Bubble_Elasticsearch_Block_Catalogsearch_Autocomplete
 */
$_products = $this->getProductCollection();
$_categories = $this->getCategoryCollection();
$_pages = $this->getPageCollection();
$_imgSize = $this->getImageSize();
?>
<ul class="bubble-elasticsearch">
    <li style="display:none;"></li>
    <?php if (!$_products->count() && !$_categories->count() && !$_pages->count()): ?>
        <li><a href="#"><?php echo $this->helper('elasticsearch')->__('No Result') ?></a></li>
    <?php else: ?>
        <?php if ($_products->count()): ?>
            <li class="title"><?php echo $this->helper('elasticsearch')->__('Products') ?></li>
            <?php foreach ($_products as $_product): /** @var Mage_Catalog_Model_Product $_product */ ?>
                <li>
                    <a href="<?php echo $this->escapeUrl($_product->getProductUrl()) ?>"
                       title="<?php echo $this->escapeHtml($_product->getName()) ?>">
                        <?php if ($this->shouldDisplayImage()): ?>
                            <div class="image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize($_imgSize); ?>" width="<?php echo $_imgSize ?>" height="<?php echo $_imgSize ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" /></div>
                        <?php endif; ?>
                        <div class="info">
                            <span class="name"><?php echo $this->escapeHtml($_product->getName()) ?></span>
                            <?php if ($this->shouldDisplayPrice()): ?>
                                <span class="price"><?php echo $this->getPriceHtml($_product) ?></span>
                            <?php endif; ?>
                        </div>
                        <div class="clearer"><!-- --></div>
                    </a>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if ($_categories->count()): ?>
            <li class="title"><?php echo $this->helper('elasticsearch')->__('Categories') ?></li>
            <?php $_categoriesWithPathNames = $this->getCategoriesWithPathNames(); ?>
            <?php foreach ($_categories as $_category): /** @var Mage_Catalog_Model_Category $_category */ ?>
                <li>
                    <a href="<?php echo $this->escapeUrl($_category->getUrl()) ?>"
                       title="<?php echo $this->escapeHtml($_category->getName()) ?>">
                        <div class="info">
                            <span class="name"><?php echo $this->escapeHtml($this->getCategoryPathName($_category)) ?></span>
                        </div>
                        <div class="clearer"><!-- --></div>
                    </a>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if ($_pages->count()): ?>
            <li class="title"><?php echo $this->helper('elasticsearch')->__('Pages') ?></li>
            <?php foreach ($_pages as $_page): /** @var Mage_Cms_Model_Page $_page */ ?>
                <li>
                    <a href="<?php echo $this->escapeUrl(Mage::getBaseUrl() . $_page->getIdentifier()) ?>"
                       title="<?php echo $this->escapeHtml($_page->getTitle()) ?>">
                        <div class="info">
                            <span class="name"><?php echo $this->escapeHtml($_page->getTitle()) ?></span>
                        </div>
                        <div class="clearer"><!-- --></div>
                    </a>
                </li>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if ($_products->count() && $_products->getSize() > $this->getLimit()): ?>
            <li class="all-results">
                <a href="<?php echo $this->escapeUrl($this->getResultUrl()) ?>">
                    <?php echo $this->helper('elasticsearch')->__('All Results (%s)', $_products->getSize()) ?>
                </a>
            </li>
        <?php endif; ?>
    <?php endif; ?>
</ul>
