<?php /* @var $this Petloft_Catalog_Block_Instagram */ ?>
<?php $data = $this->getWidgetData(); ?>
<?php if (is_array($data) && count($data) > 0): ?>
        <div class="instagram-section">
            <h3 class="line-thought"><?php echo $this->getTitle() ?></h3>

            <h3 class="line-thought mobile"><?php echo $this->getMobileTitle() ?></h3>

            <div class="instagram-items">
                <div class="row">
                    <ul>
                        <?php $len = 0;
                        foreach ($data as $item): ?>
                            <?php $len++;
                            if ($len > 16) {
                                break;
                            } ?>
                            <li>
                                <a href="<?php echo $item['link'] ?>" title="<?php echo $item['caption'] ?>"
                                   target="_blank">
                                    <img src="<?php echo $item['thumb'] ?>" alt="<?php echo $item['caption'] ?>"/>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>
<?php endif; ?>