<div id="popup_login" style="display: none;">
    popup login
</div>
<script>
    function showSmartLoginDialog(){
        var $form = jQuery("#popup_login").html();
        jQuery.colorbox({inline:false, html:$form});
        return false;
    }
</script>