/* Google Material Design Input by https://scotch.io */

/* form starting stylings ------------------------------- */
.form-material .group { 
  position:relative;
  margin-bottom:30px;
}

.form-material input[type='text'],
.form-material input[type='password'],
.form-material input[type='email'],
.form-material select,
.form-material textarea {
  font-size:17px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 0;
}

.form-material select {
  background: url('../images/chevron-down-grey.png') no-repeat 95% 50%;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
}

.form-material textarea { height: 175px; }

.form-material input[type='text'].validation-passed,
.form-material input[type='password'].validation-passed,
.form-material input[type='email'].validation-passed,
.form-material select.validation-passed,
.form-material textarea.validation-passed {
  border-bottom:1px solid #21B594;
}

.form-material input[type='text'].validation-failed,
.form-material input[type='password'].validation-failed,
.form-material input[type='email'].validation-failed,
.form-material select.validation-failed,
.form-material textarea.validation-failed {
  border-bottom:1px solid #F63838;
}

.form-material select { color: #73777A; }
.form-material select:focus { outline: none; }
.form-material select option[disabled] { display: none; }

.select-inline .row {
    margin-left: -5px;
    margin-right: -5px;

}
.select-inline .col {
    padding-left: 5px;
    padding-right: 5px;
}
.select-inline select {
    font-size: 17px
}

/* LABEL ======================================= */
.form-material .text-label {
  color:#73777A;
  font-size:14px;
  font-weight:normal;
  position:relative;
  pointer-events:none;
  left:5px;
  top:10px;
}

.form-material label i {
  color: #ff0000;
  font-style: normal;
}

/* BOTTOM BARS ================================= */
.form-material .bar   { position:relative; display:block; width:100%; }

/* Validation advice */
.validation-advice {
  float: left;
  margin-top: 4px;
}

.validation-passed+.validation-advice { color: #21B594; }

.validation-failed+.validation-advice,
.customer-dob .validation-advice { color: #F63838; }

.customer-dob .validation-advice { padding: 0 5px; }