/* CHANGE TO PETLOFT COLOR */
a { color: #72cae2; }
a:hover { color: #0e4e8c; }
.btn.btn-primary { background: #72cae2; }
.btn.btn-outline-primary {
  color: #72cae2;
  border: 1px solid #72cae2;
}
.btn.btn-outline-primary:hover { background: #72cae2; }

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #72cae2;
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px #72cae2;
}

.custom-control-input:active ~ .custom-control-indicator {
	background-color: #599fb2;
}

.custom-control-input:checked ~ .custom-control-indicator { background-color: #72cae2; }

.text-pink { color: #72cae2 !important; }

#tool-bar .dropdown-item:active { background-color: #72cae2; }

#top-nav-bar .nav-link.active:after { background: #72cae2; }

#footer-content #subscribe-button {
  color: #72cae2;
  border-color: #72cae2;
}
#footer-content #subscribe-button:hover {
  border-color: #72cae2;
  background-color: #72cae2;
}

#pager .page-item.active .page-link {
  border: 1px solid #72cae2;
  background: #72cae2;
}

#dashboard-sidebar .selected { border-left: 4px solid #72cae2; }

.magazine-col .cat-name a { color: #72cae2; }

.product-grid .product-card .add-to-cart { background: #72cae2; }

.price-block .price { color: #72cae2; }
.price-block .discount { background: #72cae2; }

.product-notify-block .btn-notify-me { background: #72cae2; }

#category-see-more {
	color: #72cae2;
	border: 1px solid #72cae2;
}
#category-see-more:hover { background: #72cae2; }

.emarsys-recommended .price-box .price { color: #72cae2; }

.emarsys-recommended .price-box .discount { background: #72cae2; }

.left-filter .ui-widget-header { background: #72cae2; }
.left-filter dd li:hover { color: #72cae2; }

#product-page #product-image-section .MagicThumb-swap.bordered { border: 2px solid #72cae2; }
#product-page #product-summary .btn-add-to-cart { background: #72cae2; }
#product-page #product-summary .low-qty { color: #72cae2; }
#product-page #product-summary .recurringandrentalpayments-subscription li .avg-price { color: #72cae2; }

#cart-page .stick-checkout { background: #72cae2; }

#checkout-header .load-bar .pink { background: #72cae2; }
#checkout-header .allow:hover { color: #72cae2; }

ul.alphabet li.selected-alpha { border-bottom: 6px solid #72cae2; }

.menu-static a:hover, .menu-static a.active, .block-account .block-content li a:hover,
.block-account .block-content li.current a { border-left: solid 2px #72cae2; }

.careers-page p.email-add a { color: #72cae2; }

#sm_back_to_top {
	background-color: #72cae2;
}
#sm_back_to_top:hover { background: #72cae2 url(../images/website-icon-all_backtotop_hover_blue.png) no-repeat center 50%; }

#no-route a { color: #72cae2; }
#no-route .back .button { background: #72cae2; }

#subscription-price-info { color: #72cae2 !important; }

#contact-bar { background: #0e4e8c; }

.badge { background: #0e4e8c; }

.bx-wrapper .bx-prev:hover { background: url(../images/bx-prev-hover-blue.png) no-repeat !important; }
.bx-wrapper .bx-next:hover { background: url(../images/bx-next-hover-blue.png) no-repeat !important; }

.bx-wrapper .bx-pager.bx-default-pager a { background: url(../images/bx-pager-blue-outline.png) !important; }

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover { background: url(../images/bx-pager-blue.png) !important; }

#tglr:hover { background: url(../images/cart-blue.png) !important; }
#tglr.noti:hover { background: url(../images/cart-noti-blue.png) !important; }
#tool-bar #menu-group #logged-in #user-icon-img:hover { background: url(../images/user-blue.png) !important; }

/* END CHANGE COLOR */

/* REMOVE GO TO PETLOFT BUTTON */
#top-nav-bar #petloft-button { display: none; }

/* ALGOLIA */
#algolia-autocomplete-container .aa-dropdown-menu { border-top: 3px solid #72cae2 !important; }

/* SUPERMENU */
.supermenu .sub-items-row-17 .grid-categories-column ul.menu-column li a.itemMenuName {
  color: #73777A !important;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 12px;
  display: inline-block;
}

.supermenu .subitems { padding: 0 !important; }

.supermenu .brands a { display:none; }