#popup_container:target {
    visibility: visible;
    display: block;
}

#popup_login {
    font-family: 'Open Sans', san-serif;
    position: absolute;
    z-index: 1002;
    top: 70px;
    left: 0;
    right: 0;
    width: 303px;
    height: 481px;
    margin: auto;
    background-color: white;
}

/*background behind*/
#popup_bg_behind {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    opacity: 0.8;
}

/*Close button*/
#popup_login #signin_popup_close {
    position: absolute;
    left: 285px;
    top: 10px;
    cursor: pointer;
}

/*Image*/
#popup_login #login_image{
    width: 303px;
    height: 170px;
    background: url(../images/sprite.png) -12px -437px;
}

/*Message*/
#popup_login .welcome_msg {
    margin: 10px 0;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

#popup_login .welcome_msg .row-1 {
    font-size: 14.04px;
    font-weight: bold;
}

#popup_login .welcome_msg .row-2 {
    font-size: 14.04px;
    color: #BABBBB;
}

/*Or*/
#popup_login .or {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

#popup_login .or p {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    font-size: 14.04px;
    font-weight: bold;
}

#popup_login .or p:before,
#popup_login .or p:after {
    background: #B8B8B8;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 200%;
}

#popup_login .or p:before {
    right: 100%;
}

#popup_login .or p:after {
    left: 100%;
}

/*facebook button*/
#popup_login .login-fb {
    margin: 0 0 0 20px;
    padding: 0;
    width: 262px;
}

#popup_login .login-fb span.fb-bt {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 50px;
    max-width: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 15px;
    background-color: #49639f;
    background-image: none;
}

#popup_login .login-fb span.fb-icon {
    background-image: url('../images/login_create/fb-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 18px;
    width: 18px;
    margin: 15px 0 15px 15px;
}

#popup_login .login-fb span.fb-text {
    padding: 2px 0 2px 10px;
    line-height: 48px;
}

/*login box*/
#popup_login .bg-login-box {
    margin: 0;
    padding: 0;
    background-color: white;
    border: none;
}

#popup_login .loginbox, #popup_login .bg-login-box li {
    margin: 0 0 10px 0;
}

#popup_login .bg-login-box li input {
    width: 262px !important;
    font-size: 14px;
    font-weight: lighter;
    font-family: 'gotham_htfmedium', Arial, san-serif;
    color: #BABBBB;
}

/*Login button*/
#popup_login .buttons-set button.button {
    float: left;
    margin-left: 20px;
    margin-bottom: 5px;
}

#popup_login button.button > span {
    padding: 0;
    width: 262px;
    font-size: 9.49px;
    font-family: 'Open Sans', san-serif;
    font-weight: bold;
}

/*Forgot password*/
#popup_login .bg-login-box p {
    text-align: center;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    font-family: 'gotham_htfmedium', Arial, san-serif;
    color: #BABBBB;
}

#popup_login .bg-login-box p.forgetpassword {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #d9d9d9;
}

#popup_login .bg-login-box p a {
    float: none !important;
    color: #BABBBB;
}

#popup_login .bg-login-box .pink {
    margin-left: 5px;
    color: #ff6c6c;
}

#popup_login p.new-customer {
    margin-bottom: 5px;
}

/*Error*/
#popup_login #login-error-message {
    margin: 0 0 10px 20px;
    color: #f00;
}

/*SIGN UP*/
.account-create {
    font-family: 'gotham_htfmedium', Arial, san-serif;
}

.account-create .page-title {
    margin: 20px 0;
}

.account-create .col-1, .account-create .col-2 {
    width: 49%;
}

/*Column 1: create an account*/
.account-create .col-1 .bg-login-box {
    background-color: white;
    border: none;
    margin: 0;
    padding: 20px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

/*Facebook button*/
.account-create h1 {
    font-size: 22.5px;
}

/*.account-create .col-1 .login-fb {
    margin: 0 0 15px 0;
    padding: 0;
}*/

.account-create .login-fb span.fb-bt {
    height: 50px;
    max-width: none;
    border-radius: 0;
    background: linear-gradient(#49639f, #49639f);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 6px;
}

.account-create .login-fb span.fb-icon {
    margin: 6px 0 0 0;
    float: left;
    background: url(../images/login_create/fb-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.account-create .login-fb span.fb-text {
    text-align: left;
    width: 75%;
    line-height: 36px;
}

/*Label and input*/
.account-create .form-list label {
    color: #747679;
    font-size: 14px;
    font-family: 'gotham_htfmedium', Arial, san-serif;
    margin-left: 0;
    margin-bottom: 0;
}

.account-create .form-list .leftlabel,
.account-create .bg-login-box ul.form-list li.fields .customer-name .rightinput190,
.account-create .bg-login-box ul.form-list li.loginbox .rightinput190 {
    float: none;
    margin-top: 0;
}

.account-create .bg-login-box ul.form-list input.input-text {
    margin: 0;
}

/*Name*/
.account-create .customer-name .name-firstname {
    float: left;
}

.account-create .customer-name .name-lastname {
    float: right;
}

.account-create .bg-login-box ul.form-list li.fields .customer-name .w304,
.account-create .bg-login-box ul.form-list li.loginbox .w304 {
    width: 47.5% !important;
}

.account-create .bg-login-box ul.form-list li.fields .customer-name .mt20,
.account-create .bg-login-box ul.form-list li.loginbox .mt20 {
    margin-top: 0;
}

.account-create .bg-login-box ul.form-list li.fields .customer-name .rightinput190,
.account-create .bg-login-box ul.form-list li.loginbox .rightinput190,
.account-create .bg-login-box ul.form-list li.fields .customer-name .shotinput180,
.account-create .bg-login-box ul.form-list li.loginbox .shotinput180 {
    width: 100% !important;
}

/*Gender and DOB*/
.account-create .arrowselectbox {
    border: none;
}

.account-create .arrowselectbox select {
    width: 100%;
    border: 1px solid #d9d9d9;
}

.account-create .arrowselectbox {
    width: 100%;
}

.account-create select {
    padding-left: 5px;
    height: 36px;
    width: 100%;
    cursor: pointer;
    font-family: 'gotham_htfmedium', Arial, san-serif;
    color: #747679;
}

.account-create select option {
    color: #747679;
}

.account-create .not-selected {
    color: #B2B2B2;
}

.account-create .selected {
    color: #747679;
}

.account-create .form-list .gender {
    float: left;
}

.account-create .form-list .dob {
    float: right;
}

.account-create .form-list .gender,
.account-create .form-list .dob {
    width: 47.5%;
}

.account-create .customer-dob .dob-month,
.account-create .customer-dob .dob-day {
    width: 28%;
    margin-right: 2%;
}

.account-create .customer-dob .dob-year {
    width: 40%;
}

/*Password*/
.account-create .loginbox {
    margin-bottom: 10px;
}

.account-create .loginbox .password {
    float: left;
}

.account-create .loginbox .confirm-password {
    float: right;
}

.account-create .clearfix {
    clear: both;
}

.account-create .loginbox .password,
.account-create .loginbox .confirm-password {
    width: 47.5%;
}

.account-create p.required {
    text-align: left;
    font-size: 12px;
    color: #ff6c6c;
    margin: 0;
}

.account-create .form-list label.required em {
    right: -15px;
}

/*Newsletter*/
.account-create .bg-login-box ul.form-list li.control {
    margin: 5px 0;
}

.account-create .interested-category, {
    font-size: 14px;
}

.account-create .privacy-policy {
    font-size: 12px;
    margin-bottom: 5px;
}

/*Interested Category*/
.account-create .interested-category {
    width: 100%;
    border-top: 1px dotted #d9d9d9;
    padding: 5px 0;
}

.account-create .interested-category p {
    margin: 0 0 5px 0;
}

.account-create .interested-category ul {
    width: 100%;
}

.account-create .interested-category ul li {
    width: 32%;
    display: inline-block;
}

.account-create .interested-category .wrapper {
    width: 100%;
    margin-bottom: 5px;
}

/*Policy*/
.account-create .privacy-policy {
    border-top: 1px dotted #d9d9d9;
    margin-top: 0;
    padding-top: 10px;
}

.account-create .privacy-policy a {
    text-decoration: underline;
}

/*Register Button*/
.account-create .regisbt-regispage {
    margin: 15px 0 30px 0;
    height: 45px;
    width: 100%;
}

.account-create .buttons-set button.button {
    float: none;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

.account-create .buttons-set button.button > span {
    width: 100%;
    height: 100%;
    padding: 0;
    line-height: 45px;
    font-family: 'gotham_htfmedium', Arial, san-serif;
    font-weight: bold;
    background-color: #91a7d0;
}

/*Column 2: image*/
.account-create .col-2 .content img {
    width: 100%;
}

@media only screen and (max-width: 690px) {
    #popup_login {
        top: 40px;
    }

    .account-create .col-1,
    .account-create .col-2 {
        width: 100%;
    }

    .account-create .bg-login-box ul.form-list li.fields .customer-name .w304,
    .account-create .bg-login-box ul.form-list li.loginbox .w304 {
        width: 100% !important;
    }

    .account-create .form-list .gender,
    .account-create .form-list .dob,
    .account-create .loginbox .password,
    .account-create .loginbox .confirm-password {
        width: 100%;
    }

    .account-create .customer-name .name-firstname,
    .account-create .customer-name .name-lastname,
    .account-create .form-list .gender,
    .account-create .form-list .dob,
    .account-create .loginbox .password,
    .account-create .loginbox .confirm-password {
        float: none;
    }

    .account-create .interested-category p {
        margin: 5px 0 10px 0;
        text-align: left;
    }

    .account-create .bg-login-box ul.form-list li.control {
        margin-bottom: 10px;
    }

    .account-create .interested-category ul li {
        width: 49%;
    }

    .account-create .page-title h1.fl {
        float: none;
    }

    .account-create h1 {
        text-align: center;
    }

    .account-create .regisbt-regispage {
        height: 60px;
        margin-bottom: 5px;
    }

    .account-create .login-fb span.fb-icon {
        margin-left: 6%;
    }

    .account-create .login-fb span.fb-text {
        width: 85%;
    }
}