
/*
  ===== COLORS =====
  Main Text color: #73777A;
  Dark Grey: #3C3D41;
  light grey: #73777A;

  Orami Pink: #ff6c6c;
  Light Pink: #fc9797;
  Dark Pink: #e65f5f;

  Blue: #5781D3;

  Lime Green: #21b594;
*/

/*
  ================================
      HELPER & RESET
  ================================
*/

/* RESET */
body {
  font-size: 14px;
  color: #73777A;
  overflow-x: hidden !important;
}

@media (max-width: 575px) {
  html {
    overflow: hidden;
    overflow-y: auto;
  }
}

body, button, input, optgroup, select, textarea {
  font-family: 'Roboto', sans-serif !important;
}

h1,h2,.h1,.h2 { font-family: 'Roboto','Kanit', sans-serif !important; }

@media (min-width: 1200px) {
  .container {
      max-width: 1170px;
  }
}

input:focus { outline: none; }
a { color: #ff6c6c; }
a:hover { color: #e65f5f; }
a:hover, a:visited, a:link, a:active { text-decoration: none; }
button { cursor: pointer; }

.messages,
.messages ul,
.messages li {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.messages>li {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.messages>li.error-msg {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.messages>li.success-msg {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.messages>li.notice-msg {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.btn {
  height: 32px;
  font-size: 12px;
}

.btn.btn-primary {
  background: #ff6c6c;
  border: none;
}

.btn.btn-primary:focus { color: #fff; }

.btn.btn-outline-primary {
  color: #ff6c6c;
  border: 1px solid #ff6c6c;
}

.btn.btn-outline-primary:hover {
  background: #ff6c6c;
  color: #fff;
}

.btn-language {
  background: #fff;
  border: 1px solid #ccc;
}

.btn.btn-full {
  width: 100%;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    border-radius: 0;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
}
/*END RESET */

/* Form Control */
.form-control-feedback ul {
  float: left;
  color: #F63838;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #F63838;
}
/* END Form Control */

/* Checkbox */
.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ff6c6c;
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ff6c6c;
}

.custom-control-input:active ~ .custom-control-indicator {
  color: #fff;
  background-color: #FFB1B1;
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #ff6c6c;
}
/* END Checkbox */

/* SOCIAL ACCOUNT BUTTON */
.social-account .social-button {
  height: 50px;
  font-size: 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  color: #fff;
  border-radius: 1px;
  text-align: center;
}

.social-account .social-button span {
  line-height: 50px;
}

.social-account .social-button:hover {
    -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.social-account #facebook {
  background: #3B5998;
}

.social-account #facebook:active {
  background: #324A7D;
}

.social-account #facebook #facebook-icon {
    position: relative;
    left: -15px;
    top: -4px;
}

.social-account #google {
  background: #4285f4;
}

.social-account #google:active {
  background: #3367d6;
}

.social-account #google #google-icon {
  margin: 1px;
  border-radius: 1px;
  background: #fff;
  padding: 15px;
  float: left;
}
/* END SOCIAL ACCOUNT BUTTON */

/* BXSLIDER */
.bx-wrapper {
  box-shadow: none;
  border: none;
  background: none;
  margin-bottom: 0;
}

.bx-wrapper img { width: 100%; }

.bx-wrapper .bx-controls-direction .bx-prev,
.bx-wrapper .bx-controls-direction .bx-next {
  width: 44px;
  height: 44px;
  z-index: 5;
}

.bx-wrapper .bx-prev {
  float: left;
  left: -22px;
  background: url(../images/bx-prev.png) no-repeat;
}

.bx-wrapper .bx-prev:hover { background: url(../images/bx-prev-hover.png) no-repeat; }

.bx-wrapper .bx-next:focus,
.bx-wrapper .bx-next {
  float: right;
  right: -22px;
  background: url(../images/bx-next.png) no-repeat;
}

.bx-wrapper .bx-next:hover { background: url(../images/bx-next-hover.png) no-repeat; }

.bx-wrapper .bx-pager { position: initial; }

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 21px;
  height: 21px;
  background: url(../images/bx-pager-white.png);
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: url(../images/bx-pager-pink.png);
}
/* END BXSLIDER */

/* EMARSYS SLIDER */
.bx-emarsys .rec-analysis {
  border: 1px solid #e7e7e7;
  display: table-cell;
}
/* END EMARSYS SLIDER */

/* PRODUCT RECOMMENDED SLIDER */
.bx-product-grid { display: flex; }

.bx-product-grid .product-image {
  min-height: 210px;
  min-width: 210px;
}

@media (max-width: 575px) {
  .bx-product-grid .product-image {
    min-height: initial;
    min-width: initial;
  }
}
/* END PRODUCT RECOMMENDED SLIDER */

/* COLOR BOX */
#colorbox { z-index: 2031; }
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: rgba(0,0,0,.5);
  z-index: 2030;
}

#cboxContent iframe {
  width: 360px;
  height: 550px;
}

#cboxClose {
  border: 0;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 16px;
  right: 16px;
  background: url(../images/close_btn.png);
  text-indent: -9999em;
  cursor: pointer;
}

/* COLOR HELPER */
.text-pink { color: #ff6c6c !important; }
.text-lime-green { color: #21b594 !important; }

.no-underline { text-decoration: none !important; }

/* HELPER CLASSES */
.hidden {
  display: none !important;
}

/* FULL WIDTH */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
/* END FULL WIDTH */

/*
  ================================
        HEADER
  ================================
*/

/* HEADER */
header .bar {
  border-bottom: 1px solid #e7e7e7;
}
/* END HEADER */

/* TOP BAR */
#top-bar {
  font-size: 0.75rem;
  height: 47px;
  padding-top: 12px;
}

#top-bar .free-ship-text {
  color: #21b594;
  font-size: 1rem;
  font-weight: bold;
}

#top-bar .learn {
  text-decoration: underline;
  color: inherit;
}

#top-bar .info {
  margin-left: 12px;
  color: #73777A;
}

#top-bar .info:hover span { text-decoration: underline; }
#top-bar .info img { width: 20px; }
#top-bar .quick-delivery { color: #28C0FF; }
#top-bar .quick-delivery:hover span { text-decoration: none; }
/* END TOP BAR */

/* TOOL BAR */
#tool-bar {
  height: 84px;
  padding-top: 18px;
  position: relative;
}

#tool-bar #orami-logo {
  display: inline-block;
  padding-top: 5px;
}

#tool-bar #mb-logo {
  overflow: hidden;
  white-space: nowrap;
}

#tool-bar #mb-logo a {
  font-size: 17px;
  color: #3C3D41;
}

#tool-bar .main-search-bar {
  background: #fafafa;
  width: 100%;
  height: 48px;
  border: 1px solid #e7e7e7;
  border-radius:  5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 14px;
  font-size: 17px;
}

#tool-bar #algolia-searchbox .magnifying-glass { top: 14px; }

#tool-bar .search {
  position: absolute;
  right: 26px;
  bottom: 10px;
  background: url(../images/search.png) no-repeat;
  border: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#tool-bar #top-menu .btn {
  height: 48px;
  padding: 1rem 1.5rem;
}

#tool-bar #menu-group,
#tool-bar #language {
  display: inline-block;
}

#tool-bar #menu-group img { margin: 0 15px }

#tool-bar #menu-group #logged-in,
#tool-bar #menu-group #logged-in #user-icon {
  display: inline-block;
}

#tool-bar #menu-group #not-logged-in,
#tool-bar #menu-group #logged-in #favorite,
#tool-bar #menu-group #logged-in #user-icon-img {
  display: inline-block;
  margin-right: 16px;
}

#tool-bar #menu-group #logged-in #favorite,
#tool-bar #menu-group #logged-in #user-icon-img {
  text-indent: -9999em;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 1%;
}

#tool-bar #menu-group #logged-in #favorite {
  background: url(../images/big-heart-white.png);
  width: 24px;
  height: 21px;
}

#tool-bar #menu-group #logged-in #favorite:hover { background: url(../images/big-heart-pink.png); }

#tool-bar #menu-group #logged-in #user-icon-img {
  background: url(../images/user.png);
  width: 24px;
  height: 24px;
}

#tool-bar #menu-group #logged-in #user-icon-img:hover { background: url(../images/user-pink.png); }

#tool-bar #menu-group #logged-in .dropdown-toggle:after { display: none; }
#tool-bar #menu-group #not-logged-in { margin-right: 16px }

#mb-supermenu li > div .header-content,
#mb-supermenu li > div .main-menu-content { border-bottom: 0 !important; }

@media (max-width: 575px) {
  #tool-bar {
    height: 61px;
    padding-top: 11px;
    margin-bottom: -120px;
  }

  #tool-bar .butterfly-logo {
    width: 37px;
  }

  #tool-bar #menu-group #not-logged-in { margin: 0; }

  #tool-bar #top-menu { margin-top: 3px; }

  #tool-bar #top-menu .btn {
    height: 32px;
    padding: 0.5rem 0.75rem;
  }
}

#tool-bar #language .dropdown-toggle {
  width: 45px;
  padding: 0;
  color: #73777A;
  font-size: 12px;
  height: 32px;
}

#tool-bar #language .dropdown-toggle:after {
  display: inline-block;
  width: 10px;
  height: 6px;
  vertical-align: middle;
  content: "";
  background: url(../images/chevron-down-grey.png) no-repeat;
  border: none;
  margin-left: 0;
}

#tool-bar #language .dropdown-menu {
  min-width: initial;
  width: 45px;
}

#tool-bar #user-icon .dropdown-menu {
  min-width: initial;
  width: 95px;
  top: 8px !important;
    left: -16px !important;
}

#tool-bar .dropdown-item {
  color: #73777A;
  padding: 3px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

#tool-bar .dropdown-item:active {
    color: #fff;
    background-color: #ff6c6c;
}
/* END TOOL BAR */

/* FIXED MENU SCROLL */
.fixed-menu {
  position: fixed!important;
  top: 84px;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
}

.fixed-search{
  position:fixed!important;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 2030;
  background-color:#fff;
}

.fixed-autocomplete{
  position:fixed!important;
  top: 140px;
  width: 1140px;
  z-index: 3000;
  background-color:#fff;
}

/* TOP NAV BAR  */
#top-nav-bar {
  height: 52px;
  padding-top: 4px;
  margin-bottom: -102px; /* for fixed menu when scroll */
}

#top-nav-bar .container {
  overflow-x: visible !important;
}

#top-nav-bar .nav a {
  color: #73777A;
  font-size: 17px;
}

#top-nav-bar .nav-link.active:after { 
  content: "";
  float: left;
  background: #ff6c6c;
  border-radius: 3px;
  width: 120%;
  height: 4px;
  position: relative;
  left: -10%;
  top: 11px;
}
/* END TOP NAV BAR */

/*
  ================================
        FOOTER
  ================================
*/

/* FOOTER */
footer a,
footer a:active,
footer a:visited {
  color: #73777A;
}

/* CONTACT BAR */
#contact-bar {
  height: 40px;
  color: #fff;
  background: #5781D3;
  padding-top: 10px;
}

#contact-bar .container {
  overflow-x: visible !important;
}

#contact-bar span a { color: #fff; }  /* Fix iPhone link on tel number */

#contact-bar #talk {
  position: relative;
  top: -45px;
}

#contact-bar #help {
  display: inline-block;
}

@media (max-width: 575px) {
  #contact-bar {
    height: initial;
    font-size: 16px;
    padding: 10px 10px 20px
  }

  #contact-bar #talk {
    top: initial;
  }

  #contact-bar #help {
    margin-top: 12px;
  }

  #contact-bar .contact-icon {
    display: none;
  }

  #contact-bar .contact-info {
    border-bottom: 1px solid #A5C4FF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
}
/* END CONTACT BAR */

/* FOOTER CONTENT */
#footer-content {
  padding: 15px 0;
}

#footer-content .footer-nav-header {
  display: inline-block;
  margin-bottom: 12px;
}

#footer-content #social-connect {
  margin-bottom: 30px;
}

#footer-content #subscribe-button {
  height: 48px;
  padding: 15px;
  text-transform: uppercase;
  color: #ff6c6c;
  border-color: #ff6c6c;
  margin-bottom: 15px;
  cursor: pointer;
}

#footer-content #subscribe-button:hover {
  color: #fff;
  border-color: #ff6c6c;
  background-color: #ff6c6c;
}

#footer-content #download-app img {
  margin: 5px 0;
}

#footer-content .col-1-of-5,
#footer-content .col-2-of-5 {
  padding: 0 15px;
}

#footer-content .col-2-of-5 {
  width: 40%;
}

#footer-content .col-1-of-5 {
  width: 20%;
}

#footer-content .payment-options {
  display: block;
}

@media (max-width: 575px) {
  #footer-content {
    font-size: 16px;
  }

  #footer-content .footer-nav-header {
    margin-bottom: 10px;
  }

  #footer-content .footer-nav,
  #footer-content #social-connect,
  #footer-content #download-app {
    margin-bottom: 25px;
  }

  #footer-content .footer-nav li {
    display: inline-block;
    margin-right: 16px;
    line-height: 2;
  }

  #footer-content #subscribe-button {
    display: block;
    width: 200px;
  }

  #footer-content .col-1-of-5,
  #footer-content .col-2-of-5 {
    width: 100%;
  }
}

#footer-bar {
  border-top: 1px solid #e7e7e7;
  padding: 10px 0;
}

/* END FOOTER CONTENT */

/*
  ================================
     MAIN CONTENT ELEMENTS
  ================================
*/
.main-orami {
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 102px; /* for fixed menu when scroll */
}

@media (max-width: 575px) {
  .main-orami { margin-top: 120px; }
}


.main-orami.grey { background: #F5F5F1; }

.main-orami .backdrop {
  position: relative;
  background: #fff;
  padding: 24px;
  border: 1px solid #e7e7e7;
}

#pager .amount,
#pager .limit {
  line-height: 35px;
}

#pager .limit { text-align: right; }

#pager nav { margin: 0 auto; }

#pager .pagination { margin-bottom: 0 }

#pager .page-link { color: #73777A; }
#pager .page-item.active .page-link {
  color: #fff;
  border: 1px solid #ff6c6c;
  background: #ff6c6c;
}

@media (max-width: 575px) {
  #pager .pagination { margin-top: 15px; }
}

.breadcrumb {
  background:none;
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  width: 5px;
  height: 9px;
  background: url(../images/breadcrumb-right.png) no-repeat;
  display: inline-block;
  margin-left: 10px;
  margin-right: 6px;
  padding: 0;
}

.breadcrumb-item a { color: #73777A; }

@media (max-width: 575px) {
  .breadcrumb { display: none; }
}

/*
  ================================
      LOGIN & REGISTER PAGE
  ================================
*/

#login-content .login-title {
  padding-bottom: 24px;
}

#login-content .text-register {
  font-size: 17px;
  text-align: right;
}

#login-content .social-account {
  margin-bottom: 15px;
}

#login-content label {
  color: #73777A;
}

@media (max-width: 575px) {
  #login-page { background: initial; }
  #login-page .backdrop { padding: 15px 15px 66px; }
  #login-page #login-content .text-register {
    text-align: initial;
    margin-bottom: 15px;
  }
}

#login-page #login-content .newsletter-select {
  display: block;
}

#login-page #login-content #term { font-size: 12px; }
#login-page #login-content #term a { color: #73777A; }
#login-page #login-content #term a:hover { text-decoration: underline; }
/* END LOGIN & REGISTER PAGE */

/*
  ================================
      ACCOUNT DASHBOARD
  ================================
*/

/* SIDEBAR */
#dashboard-sidebar {
  padding: 0;
  margin-bottom: 24px;
}

#dashboard-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dashboard-sidebar li:hover { background: #e7e7e7; }

#dashboard-sidebar .selected {
  border-left: 4px solid #ff6c6c;
  margin-left: -2px;
  font-weight: bold;
}
#dashboard-sidebar .selected a { margin-left: -2px; }


#dashboard-sidebar a {
  color: #73777A;
  display: block;
  padding: 12px 24px;
}

#dashboard-sidebar span { margin-left: 18px; }

#dashboard-sidebar hr { margin: 0; }
/* End side bar */

/* MY DASHBOARD */
#my-dashboard .box { margin-bottom: 36px; }

.my-account #pager { margin-top: 24px; }

#pager .selectbox {
  display: inline-block;
  width: 50px;
}

#pager select { padding: 0 10px; }
/* END MY DASHBOARD */

/* ADDRESS BOOK */
#address-book .box { margin-bottom: 36px; }

#address-book ul {
    list-style:none;
    padding: 0;
}
/* END ADDRESS BOOK */

/* MY ORDERS */
#my-orders.backdrop { padding: 15px 15px 0 15px; }
#my-orders .order-group .row {
  min-height: 42px;
  line-height: 42px;
}

#my-orders .col-arrow { width: 5%; }
#my-orders .col-arrow img { padding: 15px; }
#my-orders .col-arrow .up { display: none; }

#my-orders .header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#my-orders .order.selected { font-weight: bold; }
#my-orders .order.selected .order-number { color: #21b594; }

#my-orders .order-content {
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-left: 5%;
  margin: 0 -15px;
}

#my-orders .order-content .row { margin: 0; }
#my-orders .order-content-header { font-size: 12px; }

#my-orders #pager {
  margin-top: 24px;
}
/* END MY ORDERS */

/* REFERRAL */
#referral .box { margin-bottom: 24px; }
/* END REFERRAL */

/* AUTOSHIP */
#customer-subscriptions-table ul {
    list-style: none;
    padding: 0;
}

/* END ACCOUNT DASHBOARD */

/*
  ================================
            HOME PAGE
  ================================
*/

/* HOME SHORTCUT */
.home-shortcut { margin: 24px 0; }
.home-shortcut:last-child { margin: 24px 0; }

.home-shortcut img {
  border: 1px solid #e7e7e7;
  width: 100%;
}

.home-shortcut .bottom { margin-top: -1px; }
/* END HOME SHORTCUT */

/* HOME GRID */
.homegrid { margin: 24px 0; }

h3.line-thought,
.h3.line-thought {
    display: inline-block;
    border-bottom: 1px solid #95989A;
    padding-bottom: 12px;
    margin-bottom: 12px;
    font-size: 24px;
    text-transform: uppercase;
}
/* END HOMEGRID */

/* HOME MAGAZINE WIDGET */
.home-inspiration { margin: 48px 0; }

.home-inspiration .row {
    margin: 0 -15px;
}

.magazine-col{
    float: left;
    min-height: 1px;
    width: 33.33333333%;
    padding: 0 15px;
}

.magazine-col .frame-box { text-align: center; }

.magazine-col .media {
    position: relative;
    padding-top: 75%;
    height: auto;
    overflow: hidden;
}

.magazine-col .media img {
    width: 160%;
    max-width: 160%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.magazine-col .cat-name {
    margin: 10px;
    font-size: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.magazine-col .cat-name a {
    color: #ff6c6c;
}

.magazine-col .cat-name a:hover {
    text-decoration: none;
}

.magazine-col .header {
    padding: 0 5px;
}

.magazine-col .header a {
    text-decoration: none;
    color: #73777a;
    font-size: 17px;
    font-weight: 300;
}
/* END HOME MAGAZINE WIDGET */

/* PRODUCT GRID */
.product-grid .product-col {
  display: table-cell;
  padding: 1.5px;
}

.product-grid .product-card {
  border: 1px solid #ccc;
  background: #fff;
  font-size: 17px;
  position: relative;
  height: 100%;
}

.product-grid .product-card:hover {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.16);
}

.product-grid .product-card .overlay {
  opacity: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: .25s;
  transition: .25s;
  z-index: 10;
}

.product-grid .product-card:hover .overlay,
.product-grid .product-card:hover .add-to-cart { opacity: 1; }

.product-grid .product-card .add-to-cart {
  opacity: 0;
  display: block;
  min-width: 118px;
  background: #ff6c6c;
  color: #fff;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
  -webkit-transition: .25s;
  transition: .25s;
  z-index: 40;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-grid .product-card.disabled .overlay {
  background: rgba(0,0,0,0.33);
  opacity: 1;
  z-index: 30;
}

.product-grid .product-card .add-to-cart.disabled {
  background: #fff;
  color: #73777A;
}

.product-grid .product-image .badge {
  position: absolute;
  top: 12px;
}

.product-grid .wishlist {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  text-indent: -9999em;
  text-transform: uppercase;
  background: url(../images/big-heart-white.png) no-repeat;
  border: none;
  width: 24px;
  height: 21px;
  z-index: 20;
}

.product-grid .wishlist:hover { background: url(../images/big-heart-pink.png); }

.product-grid .wishlist.remove,
.product-grid .wishlist.remove:hover {
  background: none;
  text-indent: initial;
  text-transform: initial;
  display: inline-block;
  width: initial;
  height: initial;
}

.product-grid .product-image a img {
  display: block;
  width: 100%;
  max-height: 250px;
  max-width: 250px;
  padding: 20px;
  margin: 0 auto;
}

.product-grid .product-info-block { padding: 11px; }
.price-block .msrp,
.product-grid .product-info .brand { display: block; }

.price-block .msrp {
  font-size: 14px;
  text-decoration: line-through;
  color: #73777A;
}

.price-block .price {
  color: #ff6c6c;
  font-weight: bold;
}

.price-block .discount {
  display: inline-block;
  background: #ff6c6c;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  padding: 0 5px;
}

.product-grid .price-block .autoship {
  display: inline-block;
  color: #0A97EF;
  font-size: 12px;
  margin-left: 15px;
}

.product-grid .price-block .autoship img {
  width: inherit;
  display: inherit;
}

.product-grid .product-info .brand {
  color: #000;
  text-transform: uppercase;
}

.product-grid .product-info .name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  overflow: hidden 
}

.product-grid .product-info .name a {
  color: #73777A;
}

.product-grid .product-card:hover .product-info .name a { text-decoration: underline; }

.product-grid #color-swatches-listing-page { display: none; }

.rating-box,
.rating {
  width: 79px;
  height: 18px;
}

.rating-box {
  background: url(../images/rating-white.png);
  display: inline-block;
}

.rating { background: url(../images/rating-yellow.png); }

.ratings span {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 8px;
}

.ratings a,
.product-reviews .write {
  font-weight: bold;
  color: #73777A;
}

.ratings a:hover,
.product-reviews .write:hover { text-decoration: underline; }

.tooltip > .tooltip-inner {
  background-color: #E7E7E7;
  color: #73777A;
}

.tooltip.show { opacity: 1; }

.tooltip > .arrow { display: none; }

/* NOTIFY BOX */
.catalog-notify-box {
  z-index: 40;
}

.product-notify-me,
.product-notify-block {
  position: absolute;
  transition: 0.3s;
}

.product-notify-me {
  opacity: 1;
  bottom: 6px;
  padding: 0 6px !important;
  width: 100% !important;
  background: none;
  z-index: 50;
  border: 0;
}

.product-notify-span {
  transition: 0.2s;
  padding: 0 10px !important;
  width: 100%;
  display: inline-block;
  background: #91A7D0;
  color: #fff;
  height: 36px;
  line-height: 36px;
}

@media (max-width: 575px) {
  .product-notify-span {
      font-size: 9px !important;
  }
}

.product-notify-block {
  width: 100% !important;
  bottom: 10px;
  z-index: 40;
  float: none !important;
  padding: 0 10px;
  margin: 0;
  opacity: 0;
  font-size: 12px;
}

.product-notify-block .notify-input {
  width: 65%;
  float: left;
}

.product-notify-block .input-text {
  border: 0;
  height: 36px;
  padding: 0 5px;
  width: 100%;
}

.product-notify-block .notify-button {
  padding-top: 0;
}

.product-notify-block .button-set {
    width: 35% !important;
    float: left;
}

.product-notify-block .btn-notify-me {
  height: 36px;
  color: #fff;
  background: #ff6c6c;
  border: none;
  width: 100%;
}
/* END NOTIFU BOX */
/* END PRODUCT GRID */

/*
  ================================
          CATEGORY VIEW
  ================================
*/

/* HEADER */
#category-view h1,
#category-view .h1 {
  color: #3C3D41;
  font-size: 32px;
  margin-bottom: 20px;
}

#category-view .category-image img { max-width: 100% }

#category-view .header-img {
  display: block;
  width: 100%;
}

#category-view #sub-category-header {
  color: #3C3D41;
  font-weight: bold;
}

#category-view #sub-category-header h4,
#category-view #sub-category-header .h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

#category-view #sub-category-header .bx-wrapper .bx-pager {
  padding-top: 12px;
  padding-bottom: 24px;
}

#category-view #sub-category-header .brand-title h4,
#category-view #sub-category-header .brand-title .h4 { float: left; }

#category-view #sub-category-header .brand-title span a,
#home-favorite-brands .brand-title span a {
  float: right;
  color: #91A7D0;
  font-weight: normal;
}

#category-view #sub-category-header .subcat-row,
#home-favorite-brands .subcat-row { margin: 0 -8.5px; }

#category-view #sub-category-header .subcat-card,
#home-favorite-brands .subcat-card {
  padding: 0 8.5px;
  margin-bottom: 35px;
  text-align: center;
}

#category-view #sub-category-header .subcat-card img,
#home-favorite-brands .subcat-card img {
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #e7e7e7;
}

#category-view #sub-category-header .subcat-card span,
#home-favorite-brands .subcat-card span {
  color: #3C3D41;
  font-size: 19px;
  font-weight: bold;
}

#category-view #sub-category-header .no-gutters img {
  border: 1px solid #e7e7e7;
}

#category-view #sub-category-header .col-sm-3 img {
  margin-bottom: -3px;
  margin-left: -2px;
}

#category-view #sub-category-header #category-see-more { padding-top: 13px; }
#category-view #subcat-collapse .subcat-card { float: left; }

#category-see-more {
  display: block;
  margin: 0 auto;
  padding: 0 37px;
  position: relative;
  top: -24px;
  height: 48px;
  width: 156px;
  background: #fff;
  color: #ff6c6c;
  font-weight: normal;
  border: 1px solid #ff6c6c;
  text-transform: uppercase;
  font-size: 17px;
  -webkit-transition: .25s;
  transition: .25s;
}

#category-see-more:hover {
  background: #ff6c6c;
  color: #fff;
}

@media (max-width: 575px) {
  #category-view #sub-category-header .subcat-row {
    white-space: nowrap;
    overflow-x: scroll;
    height: 60px;
   display: inline-block;
   width: 100%;
   margin: 0
  }

  #category-view #sub-category-header .subcat-card {
    display: inline-block;
    height: 42px;
    width: initial;
    margin-bottom: initial;
    background: #E7E7E7;
    line-height: 42px;
    padding: 0 12px;
    margin: 0 3px
  }

  #category-view #sub-category-header #subcat-collapse { display: none; }
}
/* END HEADER */

/* EMARSYS RECOMMENDED */
.product-recommend {
  padding: 24px 0;
  margin-bottom: 24px;
  background: #F5F5F1 url(../images/green-recommended-section.png) no-repeat;
}

.product-recommend a { color: #212529; }

.product-recommend h3,
.product-recommend .h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.emarsys-recommended {
  height: 100%;
  min-height: 320px;
  background: #fff;
  padding: 15px;
}

.emarsys-recommended:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}

.emarsys-recommended img {
  width: initial;
  max-width: 100%;
  max-height: 188px;
  margin: 0 auto;
}

.emarsys-recommended .price-box { padding: 10px 0; }

.emarsys-recommended .price-box .msrp {
  font-size: 14px;
  text-decoration: line-through;
  color: #73777A;
  display: block;
}

.emarsys-recommended .price-box .price {
  color: #ff6c6c;
  font-weight: bold;
}

.emarsys-recommended .price-box .discount {
  display: inline-block;
  background: #ff6c6c;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  padding: 0 5px;
}

.emarsys-recommended .name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  overflow: hidden 
}

@media (max-width: 575px) {
  .emarsys-recommended {
    min-height: 292px;
  }
}
/* END EMARSYS RECOMMENDED */

/* FILTER */
.left-filter .filter-header .close-filter {
  float: right;
  cursor: pointer;
  padding: 20px 12px;
}

.left-filter .currently {
  border-top: 1px solid #e7E7E7;
  padding: 15px 8px 0;
}

.left-filter .currently .block-subtitle {
  color: #3C3D41;
  font-size: 17px;
}

.left-filter .currently .btn-remove {
  color: #73777A;
  font-weight: bold;
}

.left-filter .currently .btn-remove:hover { text-decoration: underline; }
.left-filter .currently ol { list-style: none; }
.left-filter .actions { padding: 0 8px 15px; }

.left-filter span.header-filter,
.left-filter dt {
  height: 60px;
  line-height: 60px;
  font-weight: normal;
  font-size: 17px;
  color: #3C3D41;
  padding: 0 9px;
}

.left-filter dt { border-top: 1px solid #e7E7E7; }
.left-filter dd.last { border-bottom: 1px solid #e7E7E7; }

.left-filter dd {
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-filter dd ol { list-style: none; display: none; }
.left-filter dd input { display: none; }
.left-filter dd span { cursor: pointer; }

.left-filter dt span.toggleUpDown {
  background: url(../images/down.png) no-repeat;
  float: right;
  width: 20px;
  height: 11px;
  cursor: pointer;
  clear: right;
  margin-top: 24px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
}

.left-filter .ui-widget-content { margin-top: 8px; }
.left-filter .ui-widget-header { background: #ff6c6c; }

.left-filter .layered-price-filter ol { padding: 0 24px; }
.left-filter  .layered-price-filter li:hover { color: inherit; }
.left-filter dd li:hover { color: #ff6c6c; }
.left-filter .option-items-count { font-weight: bold; }

@media (max-width: 575px) {
  .left-filter {
    display: none;
    position:fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #fff;
  }

  .left-filter dd li { padding: 8px 0; }

  .mb-filter-button {
    position: fixed;
    width: 100%;
    bottom: 40px;
    left: 0;
    z-index: 998;
  }

  .mb-filter-button button {
    margin: 0 auto;
    display: block;
    z-index: 998;
    height: 50px;
    width: 140px;
    border-radius: 25px;
    border: none;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.25);
    background: #fff;
    color: #73777A;
    text-transform: uppercase;
    font-weight: bold;
  }
}
/* END FILTER */

/* TOOLBAR */
#category-view .toolbar {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 40px;
}

#category-view .toolbar #count-display-icon {
  font-size: 14px;
  margin-top: 18px;
}

#category-view .toolbar .sort-by {
  margin-top: 5px;
}

#category-view .toolbar .sort-by #openfilter,
#category-view .toolbar .sort-by .arrowselectbox {
  display: inline-block;
}

#category-view .toolbar select { width: 120px; }
#category-view .toolbar .asc-dsc { color: #73777A; }

#category-view .seo-text {
  border: 1px solid #e7e7e7;
  padding: 15px;
  margin-top: 48px;
}

#category-view .seo-text h1,
#category-view .seo-text .h1 {
  font-size: 24px;
}

@media (max-width: 575px) {
  #category-view .seo-text { display: none; }
}
/* END TOOLBAR */

.note-msg { padding-top: 24px; }

.amscroll-page {
  margin-top: 35px;
  height: 0;
}

/* END CATEGORY VIEW */

/*
  ================================
          PRODUCT VIEW
  ================================
*/

#product-page #product-image-section {
  margin-bottom: 46px;
  width: 100%;
  position: relative;
}

#product-page #product-image-section .small-image-container { float: left; }
#product-page #product-image-section .bxslider { float: none; }
#product-page #product-image-section .arrow { display: block; }

#product-page #product-image-section .MagicThumb-swap {
  display: block !important;
  margin: 0;
  border: 2px solid #fff;
  width: 105px;
  height: 105px;
  padding: 8px;
  margin-bottom: 8px;
}

#product-page #product-image-section .MagicThumb-swap.bordered {
  border: 2px solid #ff6c6c;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
  transition: 0.8s;
}

#product-page #product-image-section .MagicThumb-swap img {
    width: initial;
    display: block;
}

#product-page #product-image-section .add-to-wishlist {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../images/big-heart-white.png);
  display: block;
  width: 24px;
  height: 21px;
  text-indent: -9999px;
  white-space: nowrap;
}

#product-page #product-image-section .add-to-wishlist:hover { background: url(../images/big-heart-pink.png); }

/* PRODUCT DETAIL SECTION */
#product-page #product-detail-section h4,
#product-page #product-detail-section .h4 { font-size: 17px; }
#product-page #product-detail-section hr { margin: 42px 0; }

#product-page #product-detail-section img {
    max-width: 100%;
    height: initial;
}

#product-page #product-detail-section .see-more-box { margin-top: 48px; }

#product-page #product-detail-section .product-specification table {
  width: 40%;
  margin-top: 14px;
}

#product-page #product-detail-section .product-reviews h4,
#product-page #product-detail-section .product-reviews .h4 { margin-bottom: 18px; }
#product-page #product-detail-section .product-reviews b { color: #21b594 }

#product-page #product-detail-section .product-reviews .ratings {
  margin-bottom: 24px;
  font-size: 24px;
}

#product-page #product-detail-section .product-reviews .ratings > .rating-box,
#product-page #product-detail-section .product-reviews .ratings > .rating-box .rating {
  width: 159px;
  height: 35px;
}

#product-page #product-detail-section .product-reviews .ratings > .rating-box { background: url(../images/rating-white-big.png); }
#product-page #product-detail-section .product-reviews .ratings > .rating-box .rating { background: url(../images/rating-yellow-big.png); }

#product-page #product-detail-section .customer-review {
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 12px;
}

#product-page #product-detail-section .customer-review h5,
#product-page #product-detail-section .customer-review .h5 { font-size: 16px; }
#product-page #product-detail-section .customer-review .rating-box { margin-bottom: 8px; }
#product-page #product-detail-section .customer-review h6,
#product-page #product-detail-section .customer-review .h6 { font-weight: bold; }

.modal-backdrop { z-index: 2030; }
#review-modal { z-index: 2031; }

@media (min-width: 576px) {
  .modal-dialog { margin: 80px auto; }
}
/* END PRODUCT DETAIL SECTION */

/* PRODUCT SIDEBAR */
#product-page .detail-box {
  border: 1px solid #E7E7E7;
  padding: 24px;
  margin-bottom: 24px;
}

.badge-area { margin-bottom: 10px; }

.badge {
  background: #0A97EF;
  border-radius: initial;
  padding: 5px 15px;
  margin-right: 6px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

.badge.promo-flag {
  background: none;
  color: #28C0FF;
  padding: 0;
  margin-left: 16px;
  font-weight: bold;
}

#product-page #product-summary .product-name {
  font-size: 24px;
  font-weight: bold;
  color: #3C3D41;
}

#product-page #product-summary .product-description { font-size: 17px; }
#product-page #product-summary .review-box { margin-bottom: 15px; }
#product-page #product-summary .marketplace { font-size: 14px; }
#product-page #product-summary .marketplace img { display: inline-block; }

#product-page #product-summary .autoship-title span {
  font-size: 17px;
  color: #0A97EF;
  display: inline-block;
  margin-bottom: 13px;
}

#product-page #product-summary .autoship-description > span {
  display: inline-block;
  font-size: 14px;
  color: #BBB;
  padding-left: 30px;
  margin-bottom: 12px;
}

#product-page #product-summary .autoship-description > span a {
  cursor: pointer;
  color: #91A7D0;
}

#product-page #product-summary .recurringandrentalpayments-subscription { padding-left: 5px; }

#product-page #product-summary .recurringandrentalpayments-subscription li {
  list-style: none;
  position: relative;
}

#product-page #product-summary .recurringandrentalpayments-subscription .custom-radio { width: 100%; }

#product-page #product-summary .recurringandrentalpayments-subscription li .avg-label { color: #bbb; }

#product-page #product-summary .recurringandrentalpayments-subscription li .avg-price {
  font-weight: bold;
  color: #ff6a6d;
  font-size: 15px;
}

#product-page #product-summary .recurringandrentalpayments-subscription input[type="radio"] {
  position: absolute;
  left: -25px;
  margin-top: 6px
}

#product-page #product-summary #subscription-price-info {
  margin-top: initial !important;
  font-size: 15px !important;
  font-weight: normal;
  position: absolute;
  right: 0;
}

#product-page #product-summary #subscription-price-info .price-label {
  font-size: 15px !important;
}

#product-page #product-summary #autoship-frequency { margin-bottom: 12px; }

#product-page #product-summary #autoship-frequency #autoship-term-number {
  margin-left: initial !important;
  color: #000;
}

#product-page #product-summary .price-block { margin-top: 15px; }
#product-page #product-summary .msrp { font-size: 17px; }

#product-page #product-summary .price {
  font-size: 24px;
  font-weight: initial;
}

#product-page #product-summary .j2t-loyalty-points { display: none; }
#product-page #product-summary .discount { padding: 0 7px; }

#product-page #product-summary .text-label {
  font-size: 17px;
  color: #73777A;
  left: initial;
}

#product-page #product-summary .configurable-swatch-list { display: none; }
#product-page #product-summary .super-attribute-select { margin-bottom: 24px; }

#product-page #product-summary .qty-control { width: 100%; }
#product-page #product-summary .qty-control button { cursor: pointer; }

#product-page #product-summary .qty-control button,
#product-page #product-summary .qty-control input {
  display: block;
  height: 48px;
  float: left;
  background: none;
  border: 1px solid #E7E7E7;
  margin-right: -1px;
  font-size: 17px;
  color: #73777A;
}

#product-page #product-summary .qty-control button { width: 48px; }

#product-page #product-summary .qty-control input {
  width: 65px;
  text-align: center;
}

#product-page #product-summary .add-to-cart-buttons { width: 100%; }

#product-page #product-summary .btn-add-to-cart {
  height: 48px;
  width: 100%;
  background: #ff6c6c;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
}

#product-page #product-summary .btn-add-to-cart .loading { display: none; }
#product-page #product-summary .btn-add-to-cart.load span { display: none; }
#product-page #product-summary .btn-add-to-cart.load .loading { display: block; }

#product-page #product-summary #add-cart-xs { display: none; }

#product-page #product-summary .low-qty {
  display: inline-block;
  margin-top: 12px;
  color: #ff6c6c;
}

#product-page .notify-me .notify-input,
#product-page .notify-me .button-set {
  display: inline-block;
}

#product-page .notify-me .notify-input { width: 68%; }
#product-page .notify-me .button-set { width: 30%; }

#product-page a.out-of-stock {
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
}

#product-page #product-attribute small,
#product-page #product-attribute .info {
  display: block;
}

#product-page #product-attribute img { margin-top: 12px; }

#product-page #product-attribute small { font-size: 14px; }

#product-page #product-attribute .info {
  font-size: 17px;
  font-weight: bold;
}
/* END PRODUCT SIDEBAR */

.modal { z-index: 2040 }
#close-modal-button { cursor: pointer; }

@media (max-width: 575px) {
  #product-page #main-bar { order: 2; }
  #product-page #side-bar { order: 1; }
  #product-page #product-image-section { display: none; }
  #product-page #mobile-image-section { margin-bottom: 24px; }

  #product-page .detail-box {
    border: none;
    padding: 0;
  }

  #product-page #product-summary .sticky-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 15px;
  }
}
/* END PRODUCT PAGE */

/*
  ================================
             CART PAGE
  ================================
*/
/* LEFT */
.green { color: #21B594; }

#cart-page .top-text {
  height: 45px;
  margin-bottom: 0;
}

#cart-page h3.top-text,
#cart-page .h3.top-text { font-size: 24px; }
#cart-page .free-shipping-detail { text-align: center; }

#cart-page .backdrop {
  padding: initial;
  border: 1px solid #E7E7E7;
}

#cart-page .table .text-center { text-align: center; }
#cart-page .table .text-right { text-align: right; }

#cart-page .item-table-head {
  border: none;
  background: #E7E7E7;
  font-size: 17px;
  font-weight: normal;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#cart-page .item-table-head .cell {
  padding-top: initial !important;
  padding-bottom: initial !important;
}

#cart-page .item-table .item-table-row { border-bottom: 1px solid #E7E7E7; }
#cart-page .item-table .item-table-row:last-child { border-bottom: none; }
#cart-page .item-table .item-table-row img { max-width: 100%; }
#cart-page .item-table .item-table-row .weight-row { margin: 24px; }
#cart-page .item-table .cell { padding: 24px .75rem; }
#cart-page .item-table .cell.bottom { padding-top: 0; }
#cart-page .item-table .cell:first-child { padding-left: 24px; }
#cart-page .item-table .cell:last-child { padding-right: 24px; }
#cart-page .item-table .top .cell { padding-bottom: 0; }

#cart-page .item-table .product-title {
  color: #3C3D41;
  font-size: 15px;
}

#cart-page .item-table .product-option .badge { margin-top: 8px; }
#cart-page .item-table .highlight { font-size: 12px; }
#cart-page .item-table .wishlist { margin-top: 17px; }

#cart-page .item-table .qty-select .qty-button,
#cart-page .item-table .qty-select input {
  display: block;
  float: left;
  border: 1px solid #e7e7e7;
  height: 26px;
  line-height: 24px;
}

#cart-page .item-table .qty-select input {
  width:30px;
  text-align: center;
}

#cart-page .item-table .qty-select .qty-button {
  width: 26px;
  cursor: pointer;
}

#cart-page a { color: #73777A; }

#cart-page .item-table .item-msg.error {
  margin-top: 10px;
  color: #a94442;
}

#cart-page .no-item {
  min-height: 100px;
  padding-bottom: 24px;
}

#cart-page .no-item img,
#cart-page .no-item button {
  margin: 24px auto;
  display: block;
}

#cart-page .no-item button {
  font-size: 17px;
  height: 48px;
  padding: 0 24px;
  line-height: 48px;
}

#cart-page .btn-update { margin: 24px; }
/* END LEFT */

/* RIGHT */
#cart-page .stick-checkout {
  width: 100%;
  color: #fff;
  background: #ff6c6c;
  border: none;
  height: 48px;
  line-height: 42px;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
}

#cart-page .stick-checkout:disabled {
  background: #bbb;
  cursor: not-allowed;
}

#cart-page .summary { padding: 24px 24px 0; }
.coupon-area .group { margin-bottom: 24px; }

.coupon-area label {
  display: block;
  font-size: 17px;
}

.coupon-area .coupon-input,
.coupon-area .coupon-button {
  display: block;
  float: left;
  height: 32px;
}

.coupon-area .coupon-input {
  width: 60%;
  border: 1px solid #E7E7E7;
  padding: 0 8px;
  font-size: 17px;
  text-transform: uppercase;
}

.coupon-area .coupon-input { background: none; }

.coupon-area .coupon-button {
  width: 40%;
  border: none;
  background: #91A7D0;
  color: #fff;
  margin-bottom: 6px;
  padding: 0 6px;
}

.coupon-area .coupon-button:disabled { background: #E7E7E7; }
.coupon-area .sub { font-size: 14px; }
.coupon-area .discount-codes { width: 100%; }

.math-area table {
  font-size: 17px;
  width: 100%;
}

.math-area td { height: 40px; }
.math-area table .indent > td:first-child { padding-left: 25px; }
.math-area table .bold { font-weight: bold; }

.math-area .grand-total,
.math-area .value-total {
  font-weight: bold;
  text-transform: uppercase;
}

#cart-page #dbd {
  display: block;
  margin: 24px auto;
}

@media (width: 575px) {
  #cart-page .backdrop { padding-bottom: 1px; }
}

@media (max-width: 575px) {
  #cart-page .item-table .item-table-row.shipping-weight {
    text-align: center;
  }
}
/* END RIGHT */

/* EMARSYS */
#alsoBoughtWidgetContainer h3,
#RelatedWidgetContainer h3,
#cartWidgetContainer h3,
#alsoBoughtWidgetContainer .h3,
#RelatedWidgetContainer .h3,
#cartWidgetContainer .h3 {
  font-size: 24px;
  margin: 24px 0;
}

#cartWidgetContainer a,
#RelatedWidgetContainer a,
#alsoBoughtWidgetContainer a { color: inherit; }
/* END CART PAGE */

/*
  ================================
          CHECKOUT PAGE
  ================================
*/

.checkout-onepage-index header { display: none; }
.checkout-onepage-index #checkout-header { display: flex; }

@media (min-width: 575px) {
  .checkout-onepage-index .main-orami { margin-top: initial; }
}

@media (max-width: 575px) {
  .checkout-onepage-index header { display: block; }
  .checkout-onepage-index #checkout-header { display: none; }
}

#checkout-page a { color: #91A7D0; }

#checkout-page h3,
#checkout-page .h3 {
  font-size: 24px;
}

#checkout-page .large-radio {
  display: block;
  padding: 24px 36px;
  border-bottom: 1px solid #E7E7E7;
}

#checkout-page .large-radio:last-child { border-bottom:initial }
#checkout-page .large-radio .custom-control-indicator { top: 30px }

#checkout-page .large-radio.disabled { color: #eee; }
#checkout-page .large-radio.disabled .custom-control-indicator { background: #eee; }

#checkout-page .small-radio {
  display: block;
  padding: 12px 36px;
}

#checkout-page .small-radio .custom-control-indicator { top: 15px; }

#checkout-page .checkout-button {
  width: 250px;
  height: 48px;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 17px;
}

#checkout-page .checkout-button.secondary { background: #91A7D0; }

#checkout-page .checkout-button .loading { display: none; }
#checkout-page .checkout-button.load span { display: none; }
#checkout-page .checkout-button.load .loading { display: block; }

@media (max-width: 575px) {
  #checkout-page .large-radio { padding: 24px 12px 24px 24px; }
}
/* CHECKOUT HEADER */
#checkout-header .load-bar {
  height: 16px;
  max-width: 620px;
  background: #F5F5F1;
  border-radius: 25px;
  overflow: hidden;
  margin: 4px auto;
}

#checkout-header .load-bar .pink {
  height: 100%;
  background: #ff6c6c;
  border-radius: 25px;
  transition: 1s ease-in-out;
}

#checkout-header .load-bar-label {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
}

#checkout-header .allow { cursor: pointer; }
#checkout-header .allow:hover { color: #ff6c6c; }

/* CHECKOUT TITLE */
#checkout-page .title h2,
#checkout-page .title .h2 {
  font-size: 32px;
  font-weight: bold;
}

#checkout-page .title span { font-size: 17px; }
/* END CHECKOUT TITLE */

/* ORDER SUMMARY */
#checkout-page .summary-col {
  border-left: 1px solid #E7E7E7;
  margin-top: -16px;
  padding-top: 16px;
}

#checkout-page .summary-col .title a { float: right; }
#checkout-page .summary-col .product-row { margin-bottom: 24px; }
#checkout-page .summary-col .product-row:last-child { margin-bottom: initial; }

#checkout-page .summary-col img,
#checkout-page .summary-col .product-info {
  float: left;
}

#checkout-page .summary-col .product-info .product-name {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}

#checkout-page .summary-col .product-info .qty,
#checkout-page .summary-col .product-info .price {
  float: left;
  margin-right: 10px;
}

#checkout-page .summary-col img { margin-right: 14px; }

#checkout-page .summary-col .shipping-address,
#checkout-page .summary-col .billing-address { margin-bottom: 12px; }

#checkout-page .summary-col .address-area .title { font-weight: bold; }

#checkout-page .promocode-block { display: none; }
/* END ORDER SUMMARY */

/* CHECKOUT LOGIN */
#checkout-page .checkout-login,
#checkout-page .checkout-billing-address,
#checkout-page .checkout-shipping-address { width: 75%; }

@media (max-width: 575px) {
  #checkout-header { display: none; }
  #checkout-page .checkout-login { width: initial; }
}
/* END CHECKOUT LOGIN */

/* DELIVERY PAGE */
#checkout-page .address-loop { margin: -12px 0; }
#checkout-page #billing-new-address-form { margin-bottom: 42px; }

/* SHIPPING PAGE */
#checkout-page .shipping-methods .title { float: left; }
#checkout-page .shipping-methods .fee { float: right; }

/* PAYMENT PAGE */
#checkout-page .payment-methods .title { float: left; }
#checkout-page .payment-methods .method-logo { float: right; }

#checkout-page .payment-methods .omise-title { float: left }

#checkout-page .payment-methods .omise-title h4,
#checkout-page .payment-methods .omise-title .h4 {
  float: none;
  display: inline;
  color: #1A53F0;
}

#checkout-page .payment-methods .omise-title img {
  width: 120px;
  display:inline-block;
  margin-top: -4px;
}

#checkout-page .payment-methods .omise-form {
  padding: 24px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
  border-radius: 15px;
  margin-top: 24px;
}

#checkout-page .payment-methods .omise-form .cvv-help {
  position: absolute;
  right: 24px;
  top: 44px;
  border: none;
  background: none;
  cursor: pointer;
}

#checkout-page .payment-methods .omise-form .cvv-help:focus { outline: none; }
#checkout-page .payment-methods .omise-form .cvv-help img { width: 20px; }


/*.checkout-onepage-index .popover { transform: translate3d(955px, 632px, 0px)!important; }*/
.checkout-onepage-index .popover img { width: 95px }

#checkout-page .payment-methods .normal2c2p-method-logo {
  background: url(../images/method-2c2p.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 127px;
  height: 35px;
  display: inline-block;
}

#checkout-page .payment-methods .normal2c2p1-method-logo {
  background: url(../images/method-123.png);
  width: 48px;
  height: 38px;
  display: inline-block;
}

#checkout-page .payment-methods .linepay-method-logo {
  background: url(../images/method-linepay.png);
  width: 122px;
  height: 33px;
  display: inline-block;
}

#checkout-page .payment-methods .paypal_standard-method-logo {
  background: url(../images/method-paypal.png);
  width: 75px;
  height: 20px;
  display: inline-block;
}

#checkout-page .payment-methods .samsung-method-logo {
  background: url(../images/method-samsung.svg);
  width: 124px;
  height: 33.05px;
  display: inline-block;
}

/* SUMMARY PAGE */
#checkout-page .summary-col {
  border-left: 1px solid #E7E7E7;
  margin-bottom: 24px;
}

#checkout-page .summary-col:first-child { border-left: initial; }

#checkout-page .address-area,
#checkout-page .payment-method,
#checkout-page .shipping-method { position: relative; }

#checkout-page .address-area .edit,
#checkout-page .payment-method .edit {
  position: absolute;
  right: 24px;
  top: 0;
}

/* END CHECKOUT PAGE */

/* SUCCESS PAGE */
#success-page .summary-section { margin-bottom: 15px; }

#success-page .summary-section .so-num {
  font-size: 24px;
  font-weight: bold;
}

#success-page .summary-section .deliver-time {
  font-size: 17px;
  font-weight: bold;
}

#success-page .contact { font-weight: bold; }

#success-page .buttons a {
  display: block;
  float: left;
  height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 40px;
  padding: 0
}

#success-page .buttons .print {
  width: 37%;
  margin-right: 3%;
}
#success-page .buttons .continue { width: 60%; }
/* END SUCCESS PAGE */

/* RATING STAR CSS */
.modal-body .product-rating-box .rating-box{
  display: block;
  margin: auto;
  background: url(../images/rating-white-big.png);
  width: 162px;
  height: 30px;
}

.modal-body .product-rating-box .rating-box .rating{
  height: 30px;
  background: url(../images/rating-yellow-big.png);
}

.modal-body .product-rating-box .button-rating-wrapper {
  position: absolute;
}

.modal-body .product-rating-box .button-rating-wrapper button {
  background: none repeat scroll 0 0 transparent;
  margin-left: 3.5px;
  width: 25px;
  height: 29px;
  border: 0 none;
  cursor: pointer;
  border:none !important;
  outline:none !important;
}
.modal-body .product-rating-box .button-rating-wrapper button:active{
  border:none !important;
  outline:none !important;
}
.modal-body .product-rating-box .button-rating-wrapper button:hover{
  border:none !important;
  outline:none !important;
}
/* END RATING STAR CSS */

/* POPOVER STYLE */
.bs-popover-bottom{
  position: absolute;
  z-index: 9999;
  max-width: initial;
  width: 300px;
}

.popover-body { color: #73777A; }

.pop-item-section {
  max-height: 300px;
  overflow-y: auto;
}

.popover img{ width:60px;overlow:hidden; }
.pop-img{ float:left; }

.pop-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.pop-content{ float:left;width:184px;overflow:hidden; }

.pop-cart-total {
  margin-top: 12px;
  display: block;
}

.pop-cart-footer { margin-top: 12px; }

.pop-cart-btn {
  display: inline-block;
  width: 48%;
  background: #21b594;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #21b594;
  padding: 5px;
  text-align:center;
  text-transform: uppercase;
  margin: 0 1%;
  font-weight: bold;
}
.pop-cart-btn:hover { color: #fff; }

.pop-cart-btn.secondary {
  color: #73777a;
  background: none;
  border: 2px solid #73777a;
} 
/* END POPOVER STYLE */


/* BRAND PAGE */
.cms-all-brands .recommend-hd-box {
  display: none;
}

div.listContainer {
  overflow: hidden;
}

ul.alphabet {
  list-style: none;
  margin: 0 auto;
  padding: 3px 0 0 0;
  width: 100%;
  overflow: hidden;
  border-top: 2px solid #747679;
}

ul.alphabet li {
  float: left;
  font: bold 22px "Open Sans", Arial;
  color: #515151;
}

ul.alphabet li:nth-child(1) {
  
}

ul.alphabet li:last-child {
  margin: 0 9px 0 9px;
  width: 42px;
}

ul.alphabet li span {
  display: block;
  width: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial;
  font-size: 19px;
  color: #747679;
}

ul.alphabet li span:last-child {
  white-space: nowrap;
}

ul.alphabet li:first-child span {
  width: 39px;
}

ul.alphabet li.selected-alpha {
  border-bottom: 6px solid #ff6c6c;
}

ul.brands {
  list-style: none;
  margin: 25px auto;
  padding: 0;
  overflow: hidden;
  width: 95%;
}

ul.brands .alpha-box {
  width: 100%;
  float: left;
  border-bottom: 2px solid #8D8D8D;
  margin: 5px 0;
  padding-bottom: 7px;
}

ul.brands .alpha-box .label-alpha {
  width: 7%;
  float: left;
  font-size: 53px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 16px;
  color: #73767B;
  font-family: 'Open Sans', Arial;
  margin-right: 5px;
}

ul.brands .alpha-box .columns {
  width: 23%;
  float: left;
}

ul.brands li {
  width: 100%;
  padding: 0 0 0 10px;
  font: bold 12px "Open Sans", Arial;
  float: none;
  text-align: left;
  color: #747679;
}

ul.brands li a {
  color: #2f2f2f;
}

ul.brands li:hover > span {
  color: #7ABBBF;
}

ul.brands li span, ul.alphabet li span {
  cursor: pointer;
}

ul.alphabet li span:hover {
  color: #7ABBBF;
}

.recommend-hd-box .brands-page {
  text-transform: uppercase;
}

ul.brands div.no-brand {
  display: none;
  width: 100%;
  font: normal 26px "Open Sans", Arial;
  text-align: center;
  color: #A95161;
  height: 120px;
}

.cms-page-view .no-brand-in-store {
  width: 100%;
  font: normal 26px "Open Sans", Arial;
  text-align: center;
  color: #A95161;
  height: 120px;
}

.recommend-hd-box.brands-lable {
  background: none;
}
/* END BRAND PAGE */

/* STATIC PAGE */
/* static */
.page-title {
    margin: 0 0 18px;
    /*border-bottom: 2px solid #BBBBBB;*/
}

.page-title h1,
.page-title h2,
.page-title .h1,
.page-title .h2, {
    font-family: 'Open Sans', Arial;
    font-size: 14px;
    color: #747679;
    line-height: 18px;
    font-weight: bold;
}

.menu-static, .block-account {
    font-family: 'Open Sans', Arial;
    font-size: 14px;
}

.menu-static h3,
.menu-static .h3,
.block-account .block-title strong {
    font-family: 'Open Sans', Arial;
    font-size: 14px;
    color: #747679;
    line-height: 18px;
    border-bottom: 2px solid #BBBBBB;
    padding-bottom: 7px;
    margin-bottom: 23px;
    display: block;
    text-transform: capitalize;
}

.menu-static li, .block-account .block-content li {
    display: block;
    margin-bottom: 9px;
}

.menu-static a, .block-account .block-content li a {
    display: block;
    color: #747679;
    border-left: solid 2px transparent;
    padding-left: 13px;
    line-height: 30px;
    margin-left: -2px; /* font-weight: bold; */
}

.menu-static a:hover, .menu-static a.active, .block-account .block-content li a:hover,
.block-account .block-content li.current a {
    border-left: solid 2px #ff6c6c;
    text-decoration: none;
}

.std {
    font-family: 'Open Sans', Arial;
    line-height: 28px;
    padding-bottom: 20px;
}

.std p {
    margin-bottom: 30px;
}

.press-coverage::after {
  display: block;
  clear: both;
  content: "";
}

.press-coverage ul li {
    display: inline-block;
    width: 47.5%;
    margin-right: 3%;
    margin-left: 1%;
    margin-bottom: 24px;
    float: left;
}

.press-coverage ul li:hover {
    background: #fff;
    opacity: 0.8;
}

.press-coverage ul li:nth-of-type(2n) {
    margin-right: 1%;
    margin-left: 0;
}

.press-coverage ul li a {
    display: block
}

.press-coverage ul li img {
    width: 100%;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

/*Careers page*/
.careers-page {
    margin-bottom: 35px;
    font-family: 'Open Sans', Arial;
    font-size: 14px;
    color: #73767B;
}

.std::after {
  display: block;
  clear: both;
  content: "";
}

.careers-page, .careers-page .logo, .careers-page .video-container {
    width: 100%;
    float: left;
}

.careers-page .logo img {
    width: 100%;
}

.careers-page .logo img.mobile {
    display: none;
}

.careers-page p {
    width: 100%;
    float: left;
    text-align: center;
    line-height: 20px;
    margin: 20px 0;
}

.careers-page p.email-add {
    margin: 0 0 35px 0;
}

.careers-page p.email-add a {
    color: #ff6c6c;
}

.careers-page ul.jobs { list-style: none }

.careers-page ul.jobs li {
    float: left;
    margin-left: 10px;
    font-size: 21px;
}

.careers-page ul.jobs li:after {
    content: "/";
    margin-left: 10px;
    font-size: 21px;
}

.careers-page ul.jobs li:last-child:after {
    content: "";
    margin-left: 0;
}

.careers-page .logo {
    margin-bottom: 15px;
}

.careers-page ul.jobs {
    width: 85%;
    margin: 0 auto;
}

.careers-page ul.jobs li:first-child {
    margin-left: 60px;
}

.careers-page .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.careers-page .video-container iframe,
.careers-page .video-container object,
.careers-page .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .careers-page .logo {
        margin-top: 15px;
    }

    .careers-page .logo img.mobile {
        display: block;
    }

    .careers-page .logo img.desktop {
        display: none;
    }

    .careers-page p, .careers-page p.email-add {
        width: 70%;
        float: none;
        margin: 20px auto;
    }

    .careers-page ul.jobs li {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .careers-page ul.jobs li:after {
        content: "";
        margin-left: 0;
        font-size: 18px;
    }

    .careers-page ul.jobs li:first-child {
        margin-left: 0;
    }

    .careers-page ul.jobs li:last-child {
        margin-bottom: 25px;
    }

    .careers-page ul.jobs {
        width: 100%;
    }
}
/*End Careers page*/

/* FAQ */

/*css for help page*/
ul#helpMenu {
    width: 100%;
    float: left;
    margin-top: -18px;
    border-bottom: 1px dotted #c7c7c7;
}

ul#helpMenu li {
    float: left;
    display: list-item;
}

ul#helpMenu li:hover {
    background: #505050;
    color: #ffffff;
    text-decoration: none;
}

ul#helpMenu li a {
    display: block;
    color: #4f78a7;
    text-decoration: none;
    width: 100%;
    padding: 10px 8px;
}

ul#helpMenu li a:hover {
    color: #ffffff;
    text-decoration: none;
}

div.helpContent div.subcontent {
    display: none;
    float: left;
    width: 100%;
    margin-top: 20px;
}

div.accord-content {
    display: none;
    font-weight: normal;
    padding: 20px;
}

ol.accordion {
    margin-left: 20px;
    list-style: decimal;
}

ol.accordion>li {
    padding: 10px 0;
    border-bottom: 1px dotted #c7c7c7;
    font-weight: bold;
}

ol.accordion>li.last {
    border-bottom: none;
}

div.subcontent h2,
div.subcontent .h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.helpactive {
    background: #505050;
    color: #ffffff;
}

.helpactive a {
    color: #ffffff !important;
}

div.subcontent h2,
div.subcontent .h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

div.subcontent h2,
div.subcontent .h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.helpactive {
    background: #505050;
    color: #FFFFFF;
}

.helpactive a {
    color: #FFFFFF;
}

.accord-header span {
    background: url(../images/sprite.png) -283px -249px no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.accord-header span.active {
    background: url(../images/sprite.png) -304px -247px no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}
/* END FAQ */

/* BACK TO TOP STYLE */
#sm_back_to_top {
  background-color: transparent;
  bottom: 16%;
  cursor: pointer;
  display: none;
  height: 40px;
  position: fixed;
  right: 20px;
  width: 40px;
  z-index: 998;
  background: #ff6c6c url(../images/website-icon-all_backtotop.png) no-repeat center 50%;
  border-radius: 50px;
}
#sm_back_to_top:hover {
  background: #ff6c6c url(../images/website-icon-all_backtotop_hover.png) no-repeat center 50%;

}
/* END BACK TO TOP STYLE*/

/* TRACK ORDER MODAL */
#ot-overlay-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(rgba(11, 11, 11, 0.1), rgba(11, 11, 11, 0.6)) repeat-x rgba(11, 11, 11, 0.2);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11, 11, 11, 0.1)), to(rgba(11, 11, 11, 0.6))) repeat-x rgba(11, 11, 11, 0.2);
    z-index: 99999;
}

.form-trackorder .ot-content .close-icon {
    background-image: url(../images/close.png);
    background-size: 100%;
    width: 17px;
    height: 17px;
    text-indent: -9999px !important;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.form-trackorder .ot-content {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
    padding: 30px;
}
.form-trackorder .ot-content {
    max-width: 360px;
    min-width: 360px;
    height: 420px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.form-trackorder .ot-content .track-title {
  display: block;
  color: #515050;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}
.form-trackorder .ot-content p {
    font-size: 12px;
    color: #515050;
    text-align: center;
    margin-top: 30px;
}
.form-trackorder .ot-content form input[type="text"] {
    width: 100%;
    margin: 30px 0 20px;
    border: 1px solid #e7e7e7;
    height: 32px;
    line-height: 27px;
    text-align: center;
    font-weight: bold;
}
.form-trackorder .ot-content form .actions {text-align: center;}

.form-trackorder .ot-content form input[type="submit"] {
    font-size: 16px;
    height: 45px;
    padding: 0 24px;
}
.form-trackorder .ot-content .ot-bottom {
    text-align: center;
    margin-top: 18px;
}
.form-trackorder .ot-content .ot-bottom span {
    font-family: 'Open Sans', Arial;
    font-size: 9px;
    color: #515050;
    text-transform: uppercase;
    float: left;
    margin-left: 70px;
    margin-top: 3px;
}

.form-trackorder .ot-content .ot-bottom #ot_bottom_image {
    margin-left: 130px;
    height: 26px;
    width: 109px;
    background: url(../images/acommerce-track-order.png);
}
/* END TRACK ORDER MODAL */

/* ADD TO CART MESSAGE  */
#mini_cart_message_content{
  opacity: 0.8;
  display: none;
  left: 0;
  top: 155px;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #39bd90;
  z-index: 999999;
  margin: 0;
}

#minicart-product-message{
  text-align: center;
  margin-top: 10px;
}

#close_message{
  margin-right: 10px;
  margin-top: 5px;
}
#minicart-product-message{
  color: white;
}

#mini_cart_message_content.scrolled {
  top: 107px;
}
/* END ADD TO CART MESSAGE  */

/* CONTACT US */
.contacts-index-index #contact-info:after {
    display: block;
    content: "";
    font-size: 0;
    line-height: 0;
    clear: both;
    width: 100%;
}

.contacts-index-index #contact-info-details {
    width: 40%;
    float: left;
    line-height: 22px;
    font-size: 14px;
    margin-top: 20px;
}

.contacts-index-index #contact-info-map {
    margin-top: 20px;
    width: 50%;
    float: right;
}

.contacts-index-index .fieldset .field { width: 49%; }
.contacts-index-index .fieldset .field:first-child { margin-right: 2%; }
.contacts-index-index .fieldset .input-box textarea { width: 100%; }
.contacts-index-index .buttons-set { margin-bottom: 30px; }
/* END CONTACT US */

/* ORMTH-24: No Route */
/* CUSTOM BOOTSTRAP */
#no-route .row {
    margin-left: -15px;
    margin-right: -15px
}

#no-route .row:before,
#no-route .row:after {
    content: " ";
    display: table
}

#no-route .row:after {
    clear: both
}

#no-route .col-sm-6,
#no-route .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding: 25px 15px 0;
    float: left;
}

#no-route .col-xs-12 {
    width: 100%;
}

@media (min-width:768px){
    #no-route .col-sm-6 {
        width: 50%;
    }
}

#no-route .visible-xs {
    display: none !important;
}

@media (max-width: 767px) {
    #no-route .visible-xs {
        display: block !important;
    }
}

@media (max-width:767px){
    #no-route .hidden-xs {
        display: none !important;
    }
}
/* END CUSTOM BOOTSTRAP */

#no-route {
    color: #999;
    font-weight: bold;
}

@media only screen and (max-width: 736px) {
    #no-route.pad {
        padding-top: 65px;
    }
}

#no-route a {
    color: #ff6c6c;
}

#no-route a,
#no-route a:hover,
#no-route a:active,
#no-route a:visited,
#no-route a:focus {
    text-decoration: none;
}

#no-route .title .mb-girl {
    margin-bottom: 22px;
}

#no-route .title .oops,
#no-route .title .hang {
    float: left;
    height: 75px;
}

#no-route .title .oops {
    font-family: 'Gloria Hallelujah', Cursive;
    font-size: 56px;
    margin-right: 15px;
}

#no-route .title .hang {
    width: 70%;
    font-size: 16px;
    font-family: 'Roboto','Kanit',sans-serif;
}

#no-route .err {
    display: block;
    padding: 22px 0 40px;
    font-style: italic;
    font-size: 16px;
}

#no-route .map .direction {
    width: 90%;
    margin: 0 auto;
}

#no-route .map ul {
    padding-left: 0;
    float: left;
    width: 100%;
}

#no-route .map ul.half {
    width: 50%;
}

#no-route .map ul {
  line-height: 1.75;
  list-style: none;
}

#no-route .search-bar {
  margin: 25px 0 0
}

#no-route .form-search {
  width: 330px;
}

#no-route i.fa.fa-search {
    cursor: pointer;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    display: block;
    top: 5px;
    background: url(/skin/frontend/base/default/algoliasearch/magnifying-glass.svg) no-repeat center right / 20px;
}

#no-route i.fa.fa-search:before {
    display: none;
}

@media only screen and (max-width: 736px) {
    #no-route .form-search {
        display: none;
    }
}

#no-route .back {
    text-align: center;
}

#no-route .back img {
    display: block;
    margin: 50px auto 0;
}

#no-route .back .button {
  display: inline-block;
  background: #ff6c6c;
  color: #fff;
  width: 170px;
  height: 40px;
  font-size: 16px;
  -moz-border-radius: 50%;
  border: none;
  margin-top: 20px;
  line-height: 26px;
  font-weight: bold;
}
/* End ORMTH-24 */

/* CHECKOUT ADDRESS STYLE */
.checkout-onepage-index .checkout-billing-address .billing-new-address-form #checkout-dob{padding: 0}
.checkout-onepage-index .checkout-billing-address .billing-new-address-form #checkout-gender{padding: 0}

/* END CHECKOUT ADDRESS STYLE */

/* SHIPPING RATE */
#shipping-rate-seemore {
  color: #91A7D0;
  cursor: pointer;
}

#shipping-rate-popover {
  text-align: center;
  background: #E7E7E7;
  width: 285px;
  font-size: 14px;
  padding: 14px;
  position: absolute;
  right: 0;
  z-index: 50;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);
}

#shipping-rate-popover .close-section {
  text-align: right;
  margin-bottom: 5px;
}

#shipping-rate-popover .close-section #close-popover {
  cursor: pointer;
  margin-top: 0;
}

#shipping-rate-popover table { width: 100%; }
#shipping-rate-popover table .table-head { border-bottom: 1px solid #BBBBBB; }

@media (max-width: 575px) {
  #shipping-rate-popover {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
/* END SHIPPING RATE */