<!--@subject {{var store.getFrontendName()}}: Auction completed # {{var auction.id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$auction.getAdminName()}":"Admin Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"store url=\"adminhtml/index/\"":"Back-end Url",
"var auction.getProductName()":"Product Name",
"var auction.getFormatedStartPrice()":"Start Price",
"var auction.getFormatedClosePrice()":"Close Price",
"var auction.getWinnerEmailList()":"Winner email list"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/CartReminder_650_MOXYORAMI.jpg" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Hello {{htmlescape var=$auction.getAdminName()}}</strong>,<br/>
                        There is an auction that completed on {{var store.getFrontendName()}}. 
                        You can check this auction by <a href="{{store url="adminhtml/index/"}}" style="color:#1E7EC8;">logging into back-end</a>.
                    </p>
                    <p>The auction information is below.</p>

                   <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; "></h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Product</th>
                            <th width="2%"></th>
                            <th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Start Price</th>
                            <th width="2%"></th>							
                            <th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Close Price</th>
                            <th width="2%"></th>
							<th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Winner Email(s)</th>					
						</tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getProductName()}}
                            </td>
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getFormatedStartPrice()}}
                            </td>							
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getFormatedClosePrice()}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getWinnerEmailList()}}
                            </td>		
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>