<!--@subject {{var store.getFrontendName()}}: Notice out bid on Auction # {{var auction.getId()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$auction.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var auction.getProductName()":"Product Name",
"var auction.getFormatedStartTime()":"Start Time",
"var auction.getFormatedEndTime()":"Close Time",
"var auction.getFormatedStartPrice()":"Start Price",
"var auction.getFormatedClosePrice()":"Close Price"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/CartReminder_650_MOXYORAMI.jpg" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Hello {{htmlescape var=$auction.getCustomerName()}}</strong>,<br/>
						You have joined an anction on our system and placed bids on {{var store.getFrontendName()}},
						but you were not become winner.
                        You can check your bids by <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logging into account</a>.
                    </p>
                    <p>The auction info is below. Thank you for your business.</p>
					
                   <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; "></h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Product</th>
                            <th width="2%"></th>
                            <th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Start Time</th>
                            <th width="2%"></th>		
                            <th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">End Time</th>
                            <th width="2%"></th>									
                            <th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Start Price</th>
                            <th width="2%"></th>							
                            <th align="left" width="18.4%" bgcolor="#d9e5ee" style="font-size:12px;padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Close Price</th>				
						</tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getProductName()}}
                            </td>
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getFormatedStartTime()}}
                            </td>							
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getFormatedEndTime()}}
                            </td>
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getFormatedStartPrice()}}
                            </td>							
							<td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var auction.getFormatedClosePrice()}}
                            </td>	
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    
                    <p>Thank you again,<br/><strong>{{var store.getFrontendName()}}</strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>