<div id="confirmOverlaya" class="form-trackorder" style="display: none">
    <div class="trackorder-content">
        <span class="close-icon"></span>
        <div class="logo-trackorder"><img src="<?php echo $this->getSkinUrl('images/logo-trackorder.png') ?>"
                                          alt="logo trackorder"></div>
        <div class="track-order-form">
            <h1 class="title-status">Track Order Status</h1>

            <div class="clearfix">
                <div class="col-1">
                    <div
                        class="text-left"><?php echo $this->__('กรุณาใส่หมายเลขสั่งซื้อของคุณเพื่อดูสถานะสินค้า'); ?></div>
                    <div class="text-left">Please fill out your order number to track it's status</div>
                </div>
                <div class="col-2">
                    <form method="post" action="<?php echo $this->getUrl('ordertracking/index/getOrder/');?>">
                        <ul class="form-list">
                            <li>
                                <div class="row-form">
                                    <div class="text-lable">
                                        <label for="order-number"><?php echo $this->__('หมายเลขสั่งซื้อ') ?></label>
                                        <label for="order-number">Order Number</label>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" class="input-text required-entry" name="order"
                                               id="order-number">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="button-submit">
                                    <button id="track-button" title="Submit" class="button"><span><span>Submit</span></span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="result" style="position: relative">
            <div class="status-trackorder" style="opacity: 0">
                <img id="track-order-result" src="<?php echo $this->getSkinUrl('images/trackorder/blank.jpg') ?>"
                     alt="trackorder">
            </div>
            <div class="infor-bottom clearfix" style="opacity: 0">
                <div class="txt-infor col-1">
                    For more information, please contact us at 02-106-8222
                </div>
                <div class="col-2">
                    <div class="shared-icon">
                        <div class="title-contact">Contact with us</div>
                        <div class="icon-shared">
                            <a href="https://www.facebook.com/moxyst" target="_blank"><img src="<?php echo $this->getSkinUrl('images/fb.png') ?>"></a>
                            <a href="https://twitter.com/moxyst" target="_blank"><img src="<?php echo $this->getSkinUrl('images/tw.png') ?>"></a>
                            <a href="https://instagram.com/moxy_th/" target="_blank"><img src="<?php echo $this->getSkinUrl('images/google.png') ?>"></a>
                            <a href="https://www.pinterest.com/MoxySEA1/" target="_blank"><img src="<?php echo $this->getSkinUrl('images/pet.png') ?>"></a>
                            <a href="https://plus.google.com/+Moxyst/" target="_blank"><img src="<?php echo $this->getSkinUrl('images/googleplus.png') ?>"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loading-icon" style="position: absolute;top: 0px;right: 0;left: 0;bottom: 0;margin: auto;display: none;width: 32px;height: 32px;">
                <img id="track-order-result" src="<?php echo $this->getSkinUrl('images/loading.gif') ?>">
            </div>
        </div>
        <div class="popup-copyright" style="padding: 16px">
            <span style="float: left;margin-right: 50px;">© 2015 Whatsnew Co.,Ltd. All Right Reserved</span>
            <div class="links" style="float: left; font-size: 12px;"><a style="color: #3c3d41; text-decoration: none;" href="http://www.moxy.co.th/th/about-us/"><span>เกี่ยวกับเรา</span></a> | <a style="color: #3c3d41; text-decoration: none;" href="http://www.moxy.co.th/th/terms-and-conditions/"><span>ข้อกำหนดและเงื่อนไข</span></a> | <a style="color: #3c3d41; text-decoration: none;" href="http://www.moxy.co.th/th/privacy-policy/"><span>ความเป็นส่วนตัว</span></a></div>
        </div>
    </div>
</div>
<script>
    var dataForm = new VarienForm('track-order-form', true);
    jQuery('#track-button').click(function (e) {
        e.preventDefault();
        var order = jQuery('#order-number').val();
        jQuery('.status-trackorder').css('opacity',0);
        jQuery('.infor-bottom').css('opacity',0);
        jQuery('.loading-icon').show();
        var protocol = window.location.protocol;
        var url ="";
        if(protocol == "https:"){
            url = "<?php echo str_replace("http" ,"https",$this->getUrl('ordertracking/index/getOrder/'));?>";
        }else {
            url = "<?php echo $this->getUrl('ordertracking/index/getOrder/');?>";
        }
        jQuery.ajax({
            url: url,
            type: 'POST',
            data: {order: order},
            success: function (result) {
                jQuery('.loading-icon').hide();
                var imageUrl = "<?php echo $this->getSkinUrl("images/trackorder/") ?>";
                var image = imageUrl + result + '.jpg';
                jQuery('#track-order-result').attr('src', image);
                jQuery('.status-trackorder').css('opacity',1);
                jQuery('.infor-bottom').css('opacity',1);

            }
        })
    });
    jQuery('.trackorder-content .close-icon').click(function(){
        jQuery('#confirmOverlaya').hide();
    })
</script>