<?php
$summaryForCustomer = $this->getSummaryForCustomer();
$textForPoints = Mage::helper('points/config')->getPointUnitName();
$usedPoints = $this->getCheckout()->getPointsAmount();
?>
<div class="discount-codes box discount">		
	<form action="<?php echo $this->getUrl('points/index/applyPointsToCart') ?>" method="post" name="discountFormPoints2" id="discountFormPoints2">
		<fieldset>
			<h2>
				<?php echo $this->__('Reward points'); ?>
				<a href="<?php echo Mage::helper('cms/page')->getPageUrl('help') ?>#rewardpoints" target="_blank">
					<span class="question-help"></span>
				</a>
			</h2>
	<?php if ($this->pointsSectionAvailable()): ?>
    
				<?php if (!$usedPoints): ?>
					<div class="add-rewardpoint">						
						<div class="add-input-rewardpoint">							
							<input type="text" id="points_amount" value="<?php echo $usedPoints;?>"  name="points_amount" onchange="pointsAmountChanged()" class="input-text" />
						</div>						
						<div class="buttons-set add-button-rewardpoint">
							<button class="form-button-alt button" value="<?php echo $this->__('Apply Points') ?>" type="submit">
								<span><span><?php echo $this->__('Apply Points') ?></span></span>
							</button>
						</div>
					</div>
					<p><?php echo Mage::helper('points')->__('You have %s available %s', $summaryForCustomer->getPoints(), $textForPoints) ?></p>					
				<?php else: ?>
					<div class="remove-rewardpoint">
						<div class="remove-input-rewardpoint">
							<input type="text" value="1" style="display: none;" name="remove_points"/>
							<input type="text" value="<?php echo $usedPoints; ?>" onchange="pointsAmountChanged()" name="points_to_be_used" class="input-text" disabled/>
						</div>
						<div class="buttons-set remove-button-rewardpoint">
							<button class="form-button-alt button disabled" type="submit" value="<?php echo $this->__('Remove Points') ?>"><span><span><?php echo $this->__('Remove Points') ?></span></span></button>
						</div>
					</div>
					<p><?php echo Mage::helper('points')->__('You used %s of %s available %s',$usedPoints, $summaryForCustomer->getPoints(), $textForPoints) ?></p>
				<?php endif; ?>			
	<?php else: ?>
		<?php $helperConfig = Mage::helper('points/config');?>
			<?php //echo $this->__("Cashback %s% on every purchase",);?>
			<?php if ($this->getMoney()): ?>
				<?php echo $this->__("You will be receiving a total of %s %s from the purchase to be used on your next purchase.", $this->getPoints(), $helperConfig->getPointUnitName());?>
			<?php else: ?>
				<?php echo $this->__('Checkout now and earn %s %s', $this->getPoints(), $helperConfig->getPointUnitName()) ?>
			<?php endif; ?>
	<?php endif; ?>
		</fieldset>
	</form>
</div>
<script type="text/javascript">
	//<![CDATA[
	var customerPoints = <?php echo $summaryForCustomer->getPoints() ?>;
	var neededPoints = <?php echo $this->getNeededPoints() ?>;
	var limitedPoints = <?php echo $this->getLimitedPoints() ?>;
	//$('points_amount').value = Math.abs(Math.min(customerPoints, neededPoints, limitedPoints)).toFixed(0);

	var pointsAmountChanged = function () {
		var points_amount = $('points_amount').value;
		if (isNaN(points_amount)) points_amount = 0;
		points_amount = Math.min(Math.abs(points_amount), customerPoints, neededPoints, limitedPoints);
		$('points_amount').value = Math.abs(points_amount).toFixed(0);
	};
	//]]>
</script>