.checkout-cart-index{
  .main{ padding: 0;}
  .page-title{
    h1{
      font-size: 15px;
      text-transform: uppercase;
      margin:  10px 0;
      line-height: 15px;
      color: @color-text1;
      padding: 0 15px;
    }
  }
  .cart-empty{
    margin: 10px 0;
  }
}
.icons-set{
  .cart{
    margin: 0;
  }
  .left-col > a > img {
    width: 100%;
  }
}
.cart{
  margin: 10px 0;
  .Thaifont-bold;
  color: @color-text1;
  .page-title{
    margin-bottom: 14px;
    margin-top: 15px;
    h1{
      font-size: 16px;
      text-transform: uppercase;
      margin:  0;
      font-family: arial, sans-serif;
      font-weight: 700;
    }
    h1:before{
      content: "\f100";
      .FontAwesome;
      display: inline-block;
      font-size: 16px;
      margin-right: 6px;
    }
  }
  form{
    .border-data-table-cart{
      table{
        width: 100%;
        table-layout: fixed;
        border: 0;
        border-collapse:collapse;
        thead{
          tr{
            th{
              border-bottom:1px solid @color-text1;
              border-top:1px solid @color-text1;
              padding: 5px 0;
              color: @color-text8;
              font-family: arial, helvetica, clean, sans-serif;
              font-weight: bold;
              font-size: 12px;
            }
            th.cart-productname{
              width: 40%;
            }
            th:last-child{
              width: 20px;
            }
          }
        }
        tbody{
          border-bottom:1px solid @color-text1;
          tr{
            td{
              text-align: center;
              .product-name{
                text-align: left;
                a{
                  padding: 10px 0;
                  font-family: arial, helvetica, clean, sans-serif;
                  font-size: 11px;
                  font-weight: bold;
                  color: @color-text1;
                  line-height: 21px;
                }
              }
              .numbers-row{
                width: 30px;
                margin: 0 auto;
              }
              .cart-price{
                font-family: tahoma, arial, helvetica, sans-serif;
                font-size: 11px;
                color: @price-text;
              }
              .numbers-row{
                input[type="text"]{
                  text-align: right;
                  box-sizing: border-box;
                  height:  21px;
                  padding: 0 3px;
                  color: @price-text;
                  font-size: 11px;
                  font-family: tahoma, arial, helvetica, sans-serif;
                }
              }
              .btn-remove{
                font-size: 0;
              }
              .btn-remove:before{
                content: "\f014";
                .FontAwesome;
                display: inline-block;
                font-size: 21px;
                color: @price-text;
                width: 21px;
                height: 21px;
              }
            }
          }
        }
        tfoot{
          td{
            text-align: center!important;
            vertical-align: middle;

            button{
              background-color: @color-text1;
              margin: 20px auto 25px;
              width: 40%;
            }
            button:before{
              content: "\f01e";
              .FontAwesome;
              display: inline-block;
              font-size: 11px;
              color: @bg-input;
              width: 11px;
              height: 11px;
              position: relative;
              top: -2px;
              margin-right: 2px;
            }

          }
        }
      }
      .shopping-cart-items{
        border-bottom: 1px solid #dcdcdc;
        padding: 15px;        
        &:first-child{
          border-top: 1px solid #dcdcdc;
        }
        .shopping-cart-item{
          overflow: hidden;
          .left-col{
            float: left;
            width: 22%;
            .action-delete a{
              display: block;
              font-size: 12px;
              text-decoration: underline;
              color: @bg-header1;
              font-family: arial, sans-serif;
              margin-top: 40px;
            }
            a {
            	img {
            		width: 100%;
            	}
            }            
          }
          .right-col{
            float: right;
            width: 77%;
            font-size: 13px;
            font-family: arial, sans-serif;
            .product-name a{
              font-size: 13px;
              font-weight: 700;
              color: @color-text9;
              display: block;
              margin-bottom: 15px;
            }
            .product-price{ float: left; font-size: 13px; color: @color-text9;
              .product-price-title{ font-weight: 700;}
            }
            .product-subtotal{ float: right; font-size: 13px; color: @color-text9; margin-right: 6px;
              .product-subtotal-title{ font-weight: 700;}
            }
            .product-qty{
              clear: both;
              width: 102px;
              float: right;
              margin-top: 15px;
              .qty-button{ display: none;}
              .cart-qty-btn{
                display: inline-block;
                text-align: center;
                width: 27px;
                height: 27px;
                border: 1px solid #b1bdcb;
                background-color: #E7F5F5;
                float: left;
                line-height: 27px;
                font-size: 23px;
              }
              input#qty{
                width: 42px;
                border: none;
                border-top: 1px solid #b1bdcb;
                border-bottom: 1px solid #b1bdcb;
                display: inline-block;
                float: left;
                text-align: right;
                height: 27px;
                color: #124b8d;
                font-size: 17px;
              }
            }
          }
        }        
      }
      .btn-update{ display: none;}
    }
  }
  .cart-collaterals{
    > .col2-set{
      border-bottom: 1px solid #dcdcdc;      
      .col-1{
       ul{
        padding: 0 15px;
        list-style: disc;
        li{
          list-style: disc;
          color: @color-text7;
          a{
            font-size: 16px;
          }
        }
      }
     }
      .col-2{
        #discount-coupon-form{
           .discount{
             margin: 0;
             padding: 15px;
             h2{
               font-family: arial, helvetica, clean, sans-serif;
               font-size: 16px;
               font-weight: bold;
               color: @color-text1;
               display: inline-block;
               padding-right: 5px;
               margin-bottom: 10px;
               &:after{
                display: inline-block;              
                content: "\f059";
                .FontAwesome;
                display: inline-block;
                font-size: 15px;
                color: @color-text1;
                width: 15px;
                height: 15px;
                text-align: right;               
               }
             }
             .discount-form{
               overflow: hidden;
               .input-box{
                 width: 59%;
                 float: left;
                 display: inline-block;
                 .input-text{
                    width: 100%;
                    height: 26px;
                    border: 1px solid #b1bdcb;
                    border-right: none;
                 }
               }
               .buttons-set{
                 display: inline-block;
                 width: 40%;
                 float: left;
                 button{
                    box-sizing: border-box;
                    border-radius:0 ;
                    background: #E7F5F5;
                    border: 1px solid #b1bdcb;
                    padding: 4px 0;
                    span{
                      box-sizing: border-box;
                      font-family: arial, helvetica, clean, sans-serif;
                      font-size: 13px;
                      font-weight: bold;
                      color: #124b8d;
                      text-transform: uppercase;
                    }
                 }
               }
             }
             .label-coupon_code{
                font-family: arial, helvetica, clean, sans-serif;
                font-size: 12px;
                color: @color-text9;
                display: inline-block;
                margin-bottom: 7px;
                margin-top: 15px;
             }           
           }
        }
        .discount-codes{
          border-top: 1px solid #dcdcdc; 
            fieldset{
              margin: 25px 0 21px;
              font-family: arial, helvetica, clean, sans-serif;
              padding: 0 15px;
              & > span{
               width: 100%;
               font-size: 15px;
               display: inline-block;
               margin-top: 5px;
              }
              h2{
               position: relative;
               font-size: 17px;
               font-weight: bold;
               top: -10px;
               background: @bg-input;
               display: inline-block;
               padding-right: 5px;
              }
              h2:after{
               content: "\f059";
               .FontAwesome;
               display: inline-block;
               font-size: 15px;
               color: @bg-header1;
               width: 15px;
               height: 15px;
               text-align: right;
               position: relative;
              }
              .add-rewardpoint{
                overflow: hidden;
                .input-box{
                  width: 59%;
                  float: left;
                  display: inline-block;
                  .input-text{
                    width: 100%;
                    height: 26px;
                    border: 1px solid #b1bdcb;
                    border-right: none;
                  }
                }
                .buttons-set{
                  display: inline-block;
                  width: 40%;
                  float: left;
                  button{
                    box-sizing: border-box;
                    border-radius:0 ;
                    background: #E7F5F5f;
                    border: 1px solid #b1bdcb;
                    padding: 4px 0;
                    span{
                      box-sizing: border-box;
                      font-family: arial, helvetica, clean, sans-serif;
                      font-size: 13px;
                      font-weight: bold;
                      color: #124b8d;
                      text-transform: uppercase;
                    }
                  }
                }
              }
              .rewards_point_cart{
                margin-top: 15px;
                font-size: 12px;
                color: @color-text9;
              }
            }
        }
      }
    }
    .totals{
      overflow: hidden;
      border-bottom: 1px solid #dcdcdc;
      padding-bottom: 15px;
      #shopping-cart-totals-table{
        width: 100%;
        table-layout: fixed;
        border-collapse:collapse;
        margin-bottom: 10px;
        tr{
          td:first-child{
            text-align: left;
            font-weight: bold;
            color: @bg-header1;
            font-size: 16px;
          }
          td{
            font-family: arial, helvetica, clean, sans-serif;
            font-size: 17px;
            color: @color-text9;
            padding: 13px 15px;
            border-bottom: 1px solid #d6d6d6;
            font-weight: 700;           
          }
        }
      }
      .checkout-types{
        padding: 5px 15px 0;
        li{
          button{
            border-radius: 0;
            span{
              font-size: 20px;
              text-transform: uppercase;

            }
          }
        }
      }
    }
  }
}
#mycart_content{
  padding: 0 15px;
  overflow: hidden;
  margin-bottom: 20px;
  ul{
    li{
      float: left;
      width: 50%;
      margin-bottom: 15px;
      a{
        font-size: 11px;
        font-weight: 700;
        color: @color-text9 !important;
      }
      &:before{
        content:  "\f00c";
        font-size: 11px;
        color: @color-text9 ;
        .FontAwesome;
        margin-right: 2px;
      }
    }
  }
}

