
#menu{
  border-right: 1px solid #a8e0ee;
  overflow-y: hidden!important;
  height: auto !important;
  .nav-wrap{
    background: @color-text1;

    #nav-container{
      ul{

        li{
          font:bold 16px  arial, helvetica, sans-serif;
          padding: 9px 12px;
          color: @color-text11;
          border-bottom: 1px solid @bg-nav-top;
          background: transparent!important;
          position: relative;
          span{
            font-weight: bold;
            color: @color-text11;
            font-size: 14px;
          }
          .nav-home:before{
            content: "\f015";
            .FontAwesome;
            display: inline-block;
            font-size: 21px;
            color: #eaa90c;
            margin-right: 10px ;
          }
          // [class^="nav-"]{
          //   width: 18px;
          //   height: 18px;
          //   background: url("../images/ico-nav.png") no-repeat;
          //   display: inline-block;
          //   margin-right: 10px ;
          //   background-size: auto 18px;
          // }
          &.site-petloft, &.site-venbi, &.site-sanoga, &.site-lafema{
            padding: 0;
            border-bottom: 1px solid #fff;
            a{ 
              padding: 9px 12px 9px 52px;
              position: relative;
              .site-details{
                strong{ display: block}
              }
              &:before{
                content:"";
                background: url("../images/icr-shop-across.png") no-repeat;
                width: 37px;
                height: 28px;
                position: absolute;
                left: 13px;
              }
            }
          }
          &.site-petloft{ 
            background-color: #4bc0e1 !important;
            a:before{ background-position: 0 0}
          }
          &.site-venbi{ 
            background-color: #f07395 !important;
            a:before{ background-position: -54px 0}
          }
          &.site-sanoga{ 
            background-color: #c5f6fb !important;
            a{
              span{color: #317984;}
              &:before{ background-position: -117px 0}
              &:after{ color: #317984;}
            }            
          }
           &.site-lafema{ 
            background-color: #303030 !important;
            border-bottom: none;
            a:before{ background-position: -173px 0}
          }
          .link-icon{
            width: 8px;
            height: 11px;
            background: url("../images/ico-nav.png") no-repeat;
            display: inline-block;
            margin-right: 10px ;
            background-size: auto 20px;
          }
          .info .link-icon{
            background-position: -384px -3px;
          }
          .help .link-icon{
            background-position: -433px -4px;
            width: 11px;
            background-size: auto 22px;
          }
          .follow .link-icon{
            background-position: -458px -4px;
            width: 11px;
            background-size: auto 22px;
          }
          .contact .link-icon{
            width: 11px;
            background-position: -403px -4px;
          }
          .desktop-switcher{
            width: auto;
            display: block;
            margin-left: 46px;
            &:before{
              content:"";
              width: 15px;
              height: 13px;
              background: url("../images/icr-desktop-switcher.png") no-repeat;
              display: inline-block;
              margin-right: 3px ;
            }           
          }
          .menu-footer-bottom{
            margin-left: -12px;
            margin-top: -9px;
            .payment{
              padding: 11px 42px;
              background-color: #fff;
            }
            .copyright{
              padding-left: 13px;
              padding-right: 40px;
              padding-top: 10px;
              .logo-footer{
                float: left;
              }
              .copyright-footer{
                text-align: right;
                font-size: 11px;
                width: 249px;
              }
            }
          }
          .nav-home{
            background: none;
          }        
          
          .nav-help {
            background-position: -105px 0;
          }

          ul{display: none;}
        }
        li.current{
          background: #092b51 !important;
        }
        li > a:after{
          content: "\f105";
          font-family: FontAwesome, sans-serif;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          font-size: 21px;
          color: #ffffff;
          position: absolute;
          z-index: 99;
          top: 27%;
          left: 255px;
        }

        li.subcategory-header{
          border: 1px solid @border-color4;
          border-left: 0;
          border-right: 0;
          background: @bg-nav-top !important;          
          span, a{
            color: #f9a521;
          }
          a{
            display: inline-block;
          }
          .sign-link{
            margin-bottom: 10px;
            .title{ font-size: 15px;}
            a.link{ text-decoration: underline; margin-left: 145px; font-size: 12px;}
          }
          .account-link{
            position: relative;
            a{ font-size: 13px;}
            > a:after{
              content: "\f105";
              font-family: FontAwesome, sans-serif;
              font-weight: normal;
              font-style: normal;
              display: inline-block;
              font-size: 21px;
              color: #f9a521;
              position: absolute;
              z-index: 99;
              top: 0;
              left: 244px;
            }
          }
        }
        li.subcategory-header a:after,
        li a.desktop-switcher:after{
          content: "";
        }
      }
      ul:nth-child(2) {
        li:after{
          content: "";
        };
      }

      .level0 > .subcategory-header > .link-icon {
        display: none;
      }
    }
  }
}