//
// Variables
// --------------------------------------------------

@images: "../images/";
@img: "../img/";

@bg-header:         #4bc0e1;
@bg-header1:        #069196;
@bg-input:          #ffffff;
@color-text1:       #069196;
@color-text2:       @bg-input;
@border-color1:     #85d2e7;
@border-color2:     #aeaeae;
@border-color3:     #9edcec;
@border-color4:     #a8e0ee;
@bg-nav-top:        #006668;
@price-text:        #df1f60;
@btn-favorite:      #2866c2;
@btn-add-to-cart:   #8cc640;
@bg-brand:          #f0f5fd;
@color-text3:       #97a5bc;
@color-text4:       #999999;
@color-text5:       #8cc640;
@color-price:       #959595;
@color-text6:       #a1a1a1;
@color-text7:       #000000;
@color-text8:       #333333;
@color-text9:       #666666;
@color-text10:      #336699;
@color-text11:      #ffffff;
@color-requred:     #df1e21;
@border-color:      #eaa90c;
@bt-fb:             #3b5998;
@border-img:        #dadada;
@bg-table:          #f4f4f4;