<div class="page-title">
    <h1><?php echo $this->__('Information'); ?></h1>
</div>
<div class="menu_static">
    <ul class="menu">
        <li><a href="<?php echo Mage::getUrl('about-us'); ?>">><?php echo $this->__('About Us'); ?></a></li>
        <li><a href="http://www.whatsnew.asia/">><?php echo $this->__('Corporate'); ?></a></li>
        <li><a href="<?php echo Mage::getUrl('contacts'); ?>">><?php echo $this->__('Contact Us'); ?></a></li>
    </ul>
</div>