<div id="popup_login" style="display: none;">
    <?php echo $this->getChildHtml('customer_popup_login')?>
</div>
<div id="popup_bg_behind" style="display: none;">
</div>
<script>
    var login_loader = jQuery('.ajax-loading');
    var login_message = jQuery('#login-error-message');
    jQuery('#login-form-ajax').submit(function(e){
        e.preventDefault();
        if(dataForm.validator.validate()){
            login_message.html('');
            login_loader.show();
            jQuery.ajax({
                url: jQuery('#login-form-ajax').attr('action'),
                type: 'POST',
                data: jQuery('#login-form-ajax').serialize(),
                success: function (result) {
                  var response = jQuery.parseJSON(result);
                    if(response['success'] == 1){
                        login_loader.hide();
                        login_message.html('');
                        window.location.replace(response['redirect']);
                    }else{
                        login_loader.hide();
                        login_message.html(response['message']);
                    }

                }
            });
        }
    });

    // Popup events
    jQuery(document).ready(function(){
        // Click login button
        jQuery(document).on('click', '#my-login-id', function(e){
            e.preventDefault();
            jQuery('#popup_login').show();
            jQuery('#popup_bg_behind').show();
        });

        // Close popup event
        jQuery('#popup_bg_behind').on('click', function(){
            jQuery('#popup_login').hide();
            jQuery('#popup_bg_behind').hide();
        });
        jQuery('#signin_popup_close').on('click', function(){
            jQuery('#popup_login').hide();
            jQuery('#popup_bg_behind').hide();
        });
    });
</script>