<?php
/**
 * Inchoo is not affiliated with or in any way responsible for this code.
 *
 * Commercial support is available directly from the [extension author](http://www.techytalk.info/contact/).
 *
 * @category Marko-M
 * @package SocialConnect
 * @author Marko Martinović <marko@techytalk.info>
 * @copyright Copyright (c) Marko Martinović (http://www.techytalk.info)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
?>

<div class="social-account">
    <div class="row">
        <div class="col">
            <div id="facebook" class="social-button">
                <img id="facebook-icon" src="<?php echo $this->getSkinUrl('images/facebook-f.png'); ?>">
                <span><span class="hidden-xs-down">Login with </span>Facebook</span>
            </div>
        </div>
        <?php if($this->_googleEnabled()): ?>
            <div class="col">
                <?php echo $this->getChildHtml('inchoo_socialconnect_checkout_google_button'); ?>
            </div>
        <?php endif; ?>
    </div>
</div>