<!--@subject Upcoming Payment Reminder @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var username":"admin",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt"
}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<meta charset="utf-8"/>
<div class="mail-container" style="width:600px; min-width:600px; padding:0px 33px; font-family:  'Trebuchet MS', Tahoma; font-size: 14px; color: #3c3d41; margin: 0px;">
    <div class="mail-header" style="width:95%; min-height: 110px; max-height: 110px; position: relative; margin:0px auto;">
        <div class="mail-logo" style="min-height: 110px; max-height: 110px; margin:0px auto; text-align:center;">
            <a href="http://orami.co.th/"><img src="{{skin _area='frontend'  url='images/email/new_orami_logo.png'}}" style="max-height: 110px; min-height: 110px;" /></a>
        </div>

        <div class="english-below" style="min-height: 16px; max-height: 16px; position: absolute; bottom: 0px; line-height: 16px;">
            <span><img src="{{skin _area='frontend'  url='images/email/flag-en.png'}}" height="16px;"/> Scroll down for English version</span>
        </div>
    </div>

    <div class="header-image" style="width: 100%; position: relative; margin:30px auto; text-align: center">
        <img src="{{skin _area='frontend'  url='images/email/subscriptions-icons-confirm.jpg'}}" style="width:100%; height: auto;" alt="Subscription Reminder" />
        <div style="font-weight: bold;font-size: 23px">COUNTER SERVICE PAYMENT REQUEST</div>
    </div>


    <div class="mail-body" style="margin:50px auto; width: 95%;">
        <p>เรียน คุณ {{var subscription.customer_name}},</p>
        <br/>

        <p>การสมัครสั่งจองสินค้า ผ่านเค้าเตอร์ของคุณในรอบถัดไปถูกสร้างขึ้นโดยระบบอัตโนมัติ </p>
        <p>โปรดคลิ๊กลิ้งค์ด้านล่างเพื่อไปยังขั้นตอนการจ่ายเงินผ่านเค้าเตอร์</p>
        <br/>

        <div class="subscription_detail" style="width: 100%; margin:0 auto; font-size: 12px;background: #e7e7e7;">
            
            <div class="heading" style="background: #ff6c6c; font-size: 12px; color: #fff; padding: 3px 0px; float: left; width: 100%;">
                <div style="margin: 0px 5px; text-transform: uppercase;"> 
             <!-- <b>{{block type='core/template' area='frontend' template='email/custom/onetwotree.phtml'}}</b> -->
            <a href="https://www.orami.co.th/autoship/payment.php/?order_id={{var subscription.parentorderid()}}">CONFIRM AND MAKE PAYMENT</a>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <p>ด้วยรักและห่วงใย</p>
        <p>Love, Orami Team</p>
    </div>


    <div class="banner" style="max-height: 120px; position: relative; margin:45px auto;">
        {{block type="cms/block" block_id="email_banner_en"}}
    </div>

    <!-- Footer -->
    <div class="navigation-th" style="margin-top: 24px; overflow:hidden;">
        <div class="nav-container" style="min-height: 33px; max-height: 33px; border-top: 2px solid #ff6c6c; border-bottom: 2px solid #ff6c6c; text-align:center;">
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding-right: 5px;"><a href="http://www.orami.co.th/th/beauty.html" style="color: #3c3d41; text-decoration: none;">ความงาม</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/fashion.html" style="color: #3c3d41; text-decoration: none;">แฟชั่น</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/home-living.html" style="color: #3c3d41; text-decoration: none;">ของแต่งบ้าน</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/home-appliances.html" style="color: #3c3d41; text-decoration: none;">เครื่องใช้ไฟฟ้าภายในบ้าน</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/electronics.html" style="color: #3c3d41; text-decoration: none;">อิเล็กทรอนิกส์</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/baby.html" style="color: #3c3d41; text-decoration: none;">แม่และเด็ก</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/health.html" style="color: #3c3d41; text-decoration: none;">สุขภาพ</a></span>
            <span class="nav-item" style=" line-height: 33px; font-size: 12px; padding-left: 5px;"><a href="http://www.orami.co.th/th/pets.html" style="color: #3c3d41; text-decoration: none;">สัตว์เลี้ยง</a></span>
        </div>
    </div>

    <div class="email-footer" style="min-height: 85px; max-heigh: 85px; background: #E7E7E7; margin-top: 8px; color: #3c3d41; padding: 0 15px 5px 15px;">
        <div class="footer-col" style="float:left; padding: 17px 1% 17px 2%; width: 27%; color: #3c3d41;">
            <p style="font-size: 13px; margin: 0px 0px 0px"><img src="{{skin _area='frontend'  url='images/email/mail.png'}}" style="width:20px; float:left; margin-right:5px; margin-left:-2px;"/> ติดต่อเรา</p><div style="clear: both;"></div>
            <p style="font-size: 10px; margin: 0;">02-106-8222</p>
            <p style="margin: 0; font-size: 10px;"><a href="mailto:support@orami.co.th" style="color: #3C3D41; text-decoration: none;">support@orami.co.th</a></p>
        </div>

        <div class="footer-col" style="float:left; padding: 17px 1% 17px 0; width: 32%;">
            <p style="font-size: 13px; margin: 0px 0px 0px">ติดตามที่</p>
            <div class="follow-icons" style="width: 100%">
                <a href="https://www.facebook.com/oramithailand" style="float: left; width: 16%; padding-right: 2%;"><img style="width: 100%; height: auto; max-height: 30px;" src="{{skin _area='frontend'  url='images/email/follow-button-fb.png'}}" alt="Facebook fanpage"></a>
                <a href="https://twitter.com/ORAMI_TH" style="float: left; width: 16%; padding-right: 2%;"><img style="width: 100%; height: auto; max-height: 30px;" src="{{skin _area='frontend'  url='images/email/follow-button-twitter.png'}}" alt="Twitter fanpage"></a>
                <a href="https://www.instagram.com/orami_thailand/" style="float: left; width: 16%; padding-right: 2%;"><img style="width: 100%; height: auto; max-height: 30px;" src="{{skin _area='frontend'  url='images/email/follow-button-instagram.png'}}" alt="Instagram fanpage"></a>
                <a href="https://www.pinterest.com/OramiTH/" style="float: left; width: 16%; padding-right: 2%;"><img style="width: 100%; height: auto; max-height: 30px;" src="{{skin _area='frontend'  url='images/email/follow-button-pinterest.png'}}" alt="Pinterest fanpage"></a>
            </div>
        </div>

        <div class="footer-col" style="float:left; padding: 17px 0 17px 3%; width: 34%;">
            <p style="font-size: 13px;margin: 0px 0px 0px">ช่องทางการชำระเงิน</p>
            <img src="{{skin _area='frontend'  url='images/email/payment_new.png'}}" alt="ช่องทางการชำระเงิน" style="margin-top: 3px;">
            <div class="cod" style="font-size: 10px; margin-top: -3px;">
                <img src="{{skin _area='frontend'  url='images/email/COD.png'}}" style="float: left; margin-right: 2px;">
                <p style="float: left; margin: 3px 0 0; font-size: 10px;"> ช่องทางการชำระเงิน</p>
            </div>
        </div>
    </div>

    <div class="footer" style="padding: 0; margin-top: 18px;">
        <div class="copyr" style="text-align: center; font-size: 13px;">Copyright &copy; 2016 Orami. All rights reserved</div>
        <div class="links" style="text-align: center; font-size: 13px; margin-top: 5px;">
            <a href="http://www.orami.co.th/th/about-us/" style="color: #3c3d41;"><span>เกี่ยวกับเรา</span></a> |
            <a href="http://www.orami.co.th/th/terms-and-conditions/" style="color: #3c3d41;"><span>ข้อกำหนดและเงื่อนไข</span></a> |
            <a href="http://www.orami.co.th/th/privacy-policy/" style="color: #3c3d41;"><span>ความเป็นส่วนตัว</span></a>
        </div>
    </div>
    <div style="clear:both"></div>
    <!-- End Footer -->

    <hr style="margin: 40px auto; width: 95%;">

    <!--English Version-->
    <div class="mail-body" style="margin:50px auto; width: 95%;">
        <p>Dear {{var subscription.customer_name}},</p>
        <br/>

        <p> Your 123 over the counter payment request for Autoship  has been created. In order to continue</p>
        <p>please confirm your details once more from our payment gateway.</p>
        <br/>

         <div class="subscription_detail" style="width: 100%; margin:0 auto; font-size: 12px;background: #e7e7e7;">
            
            <div class="heading" style="background: #ff6c6c; font-size: 12px; color: #fff; padding: 3px 0px; float: left; width: 100%;">
                <div style="margin: 0px 5px; text-transform: uppercase;"> 
             <!-- <b>{{block type='core/template' area='frontend' template='email/custom/onetwotree.phtml'}}</b> -->
            <a href="https://www.orami.co.th/autoship/payment.php/?order_id={{var subscription.parentorderid()}}">CONFIRM AND MAKE PAYMENT</a>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

        <p>Warm Regards,</p>
        <p>Love, Orami Team</p>
    </div>

    <!-- Footer -->
    <div class="navigation-th" style="margin-top: 24px; overflow:hidden;">
        <div class="nav-container" style="min-height: 33px; max-height: 33px; border-top: 2px solid #ff6c6c; border-bottom: 2px solid #ff6c6c; text-align:center;">
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding-right: 5px;"><a href="http://www.orami.co.th/th/beauty.html" style="color: #3c3d41; text-decoration: none;">Beauty</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/fashion.html" style="color: #3c3d41; text-decoration: none;">Fashion</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/home-living.html" style="color: #3c3d41; text-decoration: none;">Home Decor</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/home-appliances.html" style="color: #3c3d41; text-decoration: none;">Home Appliances</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/electronics.html" style="color: #3c3d41; text-decoration: none;">Electronics</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/baby.html" style="color: #3c3d41; text-decoration: none;">Baby & Mom</a></span>
            <span class="nav-item" style="border-right: 2px solid #ff6c6c; line-height: 33px; font-size: 12px; padding: 0px 5px;"><a href="http://www.orami.co.th/th/health.html" style="color: #3c3d41; text-decoration: none;">Health & Sports</a></span>
            <span class="nav-item" style=" line-height: 33px; font-size: 12px; padding-left: 5px;"><a href="http://www.orami.co.th/th/pets.html" style="color: #3c3d41; text-decoration: none;">Pets</a></span>
        </div>
    </div>

    <div class="email-footer" style="min-height: 85px; max-heigh: 85px; background: #E7E7E7; margin-top: 8px; color: #3c3d41;padding: 0 15px 5px 15px;">
        <div class="footer-col" style="float:left; padding: 17px 1% 17px 2%; width: 27%; color: #3c3d41;">
            <p style="font-size: 13px; margin: 0px 0px 0px"><img src="{{skin _area='frontend'  url='images/email/mail.png'}}" style="width:20px; float:left; margin-right:5px; margin-left: -2px;"/> Contact Us</p><div style="clear: both;"></div>
            <p style="font-size: 10px; margin: 0;">02-106-8222</p>
            <p style="margin: 0; font-size: 10px;"><a href="mailto:support@orami.co.th" style="color: #3C3D41; text-decoration: none;">support@orami.co.th</a></p>
        </div>

        <div class="footer-col" style="float:left; padding: 17px 1% 17px 0; width: 32%;">
            <p style="font-size: 13px; margin: 0px 0px 0px">Follow Us</p>
            <div class="follow-icons" style="width: 100%">
                <a href="https://www.facebook.com/oramithailand" style="float: left; width: 16%; padding-right: 2%;"><img style="width: 100%; height: auto; max-height: 30px;" src="{{skin _area='frontend'  url='images/email/follow-button-fb.png'}}" alt="Facebook fanpage"></a>
                <a href="https://twitter.com/ORAMI_TH" style="float: left; width: 16%; padding-right: 2%;"><img style="width: 100%; height: auto; max-height: 30px;" src="{{skin _area='frontend'  url='images/email/follow-button-twitter.png'}}" alt="Twitter fanpage"></a>
                <a href="https://www.instagram.com/orami_thailand/" style="float: left; width: 16%; padding-right: 2%;"><img style="width: 100%; height: auto; max-height: 30px;" src="{{skin _area='frontend'  url='images/email/follow-button-instagram.png'}}" alt="Instagram fanpage"></a>
                <a href="https://www.pinterest.com/OramiTH/" style="float: left; width: 16%; padding-right: 2%;"><img style="width: 100%; height: auto; max-height: 30px;" src="{{skin _area='frontend'  url='images/email/follow-button-pinterest.png'}}" alt="Pinterest fanpage"></a>
            </div>
        </div>

        <div class="footer-col" style="float:left; padding: 17px 0 17px 3%; width: 34%;">
            <p style="font-size: 13px;margin: 0px 0px 0px">Payment Options</p>
            <img src="{{skin _area='frontend'  url='images/email/payment_new.png'}}" alt="Payment Options" style="margin-top: 3px;">
            <div class="cod" style="font-size: 10px; margin-top: -3px;">
                <img src="{{skin _area='frontend'  url='images/email/COD.png'}}" style="float: left; margin-right: 2px;">
                <p style="float: left; margin: 3px 0 0; font-size: 10px;"> Cash on Delivery</p>
            </div>
        </div>
    </div>

    <div class="footer" style="padding: 0; margin-top: 18px;">
        <div class="copyr" style="text-align: center; font-size: 13px;">Copyright &copy; 2016 Orami. All rights reserved</div>
        <div class="links" style="text-align: center; font-size: 13px; margin-top: 5px;">
            <a href="http://www.orami.co.th/en/about-us/" style="color: #3c3d41;"><span>About Us</span></a> |
            <a href="http://www.orami.co.th/en/terms-and-conditions/" style="color: #3c3d41;"><span>Term & Conditions</span></a> |
            <a href="http://www.orami.co.th/en/privacy-policy/" style="color: #3c3d41;"><span>Privacy Policy</span></a>
        </div>
    </div>
    <div style="clear:both"></div>
    <!-- End Footer -->
</div>


