<!--@subject Autoship Activation @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var username":"admin",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt"
}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                 	<p>
						<span class="_CONTENT_">                 
                            Dear {{var subscription.customer_name}},<br/><br/>  
                            Your <a href="{{var subscription.getCustomerUrl()}}">subscription</a> has been activated.<br/><br/> 
                            You can check the details of your subscription  by <a href="{{var subscription.getloginUrl()}}">logging in to your account.</a><br/><br/> 

Thank you for using our product(s). Visit our <a href="{{store url=""}}"> store</a> for more products and exciting offers.<br/>
                        </span>
                    </p>
                </td>        
            </tr>
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>

