<!--@subject Upcoming Payment Reminder @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var username":"admin",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt"
}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<meta charset="utf-8"/>
<div class="mail-container"
     style="width:800px; min-width:600px; padding:0px 33px; font-family:  Arial; font-size: 14px; color: #3c3d41; margin: 0px;">
    <div class="mail-header"
         style="width:95%; min-height: 110px; max-height: 110px; position: relative; margin:0px auto;">

        <div class="english-below"
             style="min-height: 16px; max-height: 16px; position: absolute; bottom: 0px; line-height: 16px;">
            <span><img src="{{skin _area='frontend'  url='images/email/flag-en.png'}}" height="16px;"/> Scroll down for English version</span>
        </div>
    </div>

    <div class="header-image" style="margin-top: 80px;margin-left: 25px;">
        <div style="float: left;margin-left: 20px;margin-top: 10px;margin-right: 20px;">
            <img src="https://www.orami.co.th/skin/frontend/orami/default/images/autoship-large.png" style=""
                 alt="Subscription Confirmation"/>
        </div>
        <div style="float:left">
            <div style="font-weight: bold;font-size: 23px">AUTOSHIP REMINDER</div>
            <div style="font-size: 20px">NEXT AUTOSHIP IS ON THE WAY</div>
        </div>
    </div>
    <div style="clear:both"></div>

    <div class="mail-body" style="margin:10px auto; width: 95%;">
        <div style="border-top:2px solid gray;border-bottom:2px solid gray;margin-bottom:10px">
            <p>เรียน คุณ {{var subscription.customer_name}},</p>
            <br/>

            <p>การสมัครสั่งจองสินค้า (<span style="font-weight: bold">{{var subscription.planname ()}} {{var subscription.getlabel()}}</span>) ของคุณ จะถูกเรียกชำระเงินในวันที่ ({{var subscription.getNextDateRemind()}}).</p>
            <p>โปรดตรวจสอบรายละเอียดด้านล่างหรือเข้าสู่บัญชีของคุณ</p>
            <p>สินค้าของคุณจะถูกจัดส่งภายใน 1-3 วันทำการหลังจากได้รับยอดเงินชำระของคุณ </p>
            <br/>

            <p>ด้วยรักและห่วงใย</p>
            <p>Love, Orami Team</p>

        </div>


        <div class="subscription_detail" style="width: 100%;font-size: 12px;">
            <div style="float:left;width:70%">
                <table>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold;">Order ID</td>
                        <td style="font-size: 18px;font-weight: bold;padding-left: 50px;">Autoship Product</td>
                    </tr>
                    <tr>
                        <td style="height: 40px;">{{var subscription.parentorderid()}}</td>
                        <td style="padding-left: 50px;">{{var subscription.substart()}}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold;">Autoshiped Product(s)</td>
                        <td style="font-size: 18px;font-weight: bold;padding-left: 50px;">Upcoming Payment Date</td>
                    </tr>
                    <tr>
                        <td style="height: 40px;">{{var subscription.getOrderedItems()}}</td>
                        <td style="padding-left: 50px;">{{var subscription.nextdate()}}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold;">Autoshiped Plan Term</td>
                        <td style="font-size: 18px;font-weight: bold;padding-left: 50px;">Autoship Expiry Date</td>
                    </tr>
                    <tr>
                        <td>{{var subscription.planname()}}</td>
                        <td style="height: 40px;padding-left: 50px;">{{var subscription.enddate()}}</td>
                    </tr>
                    <tr>
                        <td>{{var subscription.getlabel()}}</td>
                        <td style="font-size: 18px;font-weight: bold;padding-left: 50px;">Autoship Status</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="padding-left: 50px;">{{var subscription.getSubscriptionStatusLabel()}}</td>
                    </tr>
                </table>
            </div>


            <div id="autoship-plan-table-th" style="float:left;width:30%">
                {{block type="core/template" name="autoship_plan_table" template="autoship/table.phtml" sub=$subscription}}
            </div>


            <div style="clear: both;"></div>
        </div>


    </div>


    <!-- Footer -->
    <div class="contact-footer" style="margin-top: 30px;width: 100%;">
        <img src="https://www.orami.co.th/skin/frontend/orami/default/images/email-footer-smart.jpeg" style="" alt="Subscription Confirmation"/>
    </div>

    <div class="footer" style="padding: 0; margin-top: 18px;">
        <div class="copyr" style="text-align: center; font-size: 13px;">Copyright &copy; 2017 Whatsnew Co.,Ltd. All
            rights reserved
        </div>
        <div class="links" style="text-align: center; font-size: 13px; margin-top: 5px;">
            <a href="http://www.orami.co.th/th/about-us/" style="color: #3c3d41;"><span>เกี่ยวกับเรา</span></a> |
            <a href="http://www.orami.co.th/th/terms-and-conditions/"
               style="color: #3c3d41;"><span>ข้อกำหนดและเงื่อนไข</span></a> |
            <a href="http://www.orami.co.th/th/privacy-policy/" style="color: #3c3d41;"><span>ความเป็นส่วนตัว</span></a>
        </div>
    </div>
    <div style="clear:both"></div>
    <!-- End Footer -->

    <!--English Version-->
    <div class="mail-body" style="margin:10px auto; width: 95%;">
        <div style="border-top:2px solid gray;border-bottom:2px solid gray;margin-bottom:10px">
            <p>Dear {{var subscription.customer_name}},</p>
            <br/>

            <p>Your active autoship (<span style="font-weight: bold">{{var subscription.planname ()}} {{var subscription.getlabel()}}</span>) will be billed to you on Autoship date ({{var subscription.getNextDateRemind()}}).</p>
            <p>We will deliver your order 1-3 business days after we receive your payment.</p>
            <br/>

            <p>Warm Regards,</p>
            <p>Love, Orami Team</p>

        </div>


        <div class="subscription_detail" style="width: 100%;font-size: 12px;">
            <div style="float:left;width:70%">
                <table>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold;">Order ID</td>
                        <td style="font-size: 18px;font-weight: bold;padding-left: 50px;">Autoship Product</td>
                    </tr>
                    <tr>
                        <td style="height: 40px;">{{var subscription.parentorderid()}}</td>
                        <td style="padding-left: 50px;">{{var subscription.substart()}}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold;">Autoshiped Product(s)</td>
                        <td style="font-size: 18px;font-weight: bold;    padding-left: 50px;">Upcoming Payment Date</td>
                    </tr>
                    <tr>
                        <td style="height: 40px;">{{var subscription.getOrderedItems()}}</td>
                        <td style="padding-left: 50px;">{{var subscription.nextdate()}}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold;">Autoshiped Plan Term</td>
                        <td style="font-size: 18px;font-weight: bold;    padding-left: 50px;">Autoship Expiry Date</td>
                    </tr>
                    <tr>
                        <td>{{var subscription.planname ()}}</td>
                        <td style="height: 40px;padding-left: 50px;">{{var subscription.enddate()}}</td>
                    </tr>
                    <tr>
                        <td>{{var subscription.getlabel()}}</td>
                        <td style="font-size: 18px;font-weight: bold;padding-left: 50px;">Autoship Status</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="padding-left: 50px;">{{var subscription.getSubscriptionStatusLabel()}}</td>
                    </tr>
                </table>
            </div>


            <div id="autoship-plan-table-en" style="float:left;width:30%">
                {{block type="core/template" name="autoship_plan_table" template="autoship/table.phtml" sub=$subscription}}
            </div>


            <div style="clear: both;"></div>
        </div>


    </div>

    <!-- Footer -->
    <div class="contact-footer" style="margin-top: 30px;width: 100%;">
        <img src="https://www.orami.co.th/skin/frontend/orami/default/images/email-footer-smart.jpeg" style="" alt="Subscription Confirmation"/>
    </div>

    <div class="footer" style="padding: 0; margin-top: 18px;">
        <div class="copyr" style="text-align: center; font-size: 13px;">Copyright &copy; 2017 Whatsnew Co.,Ltd. All
            rights reserved
        </div>
        <div class="links" style="text-align: center; font-size: 13px; margin-top: 5px;">
            <a href="http://www.orami.co.th/th/about-us/" style="color: #3c3d41;"><span>เกี่ยวกับเรา</span></a> |
            <a href="http://www.orami.co.th/th/terms-and-conditions/"
               style="color: #3c3d41;"><span>ข้อกำหนดและเงื่อนไข</span></a> |
            <a href="http://www.orami.co.th/th/privacy-policy/" style="color: #3c3d41;"><span>ความเป็นส่วนตัว</span></a>
        </div>
    </div>
    <div style="clear:both"></div>
    <!-- End Footer -->
</div>


