<?php 
    $_product    = $this->getProduct();
    $_taxHelper  = $this->helper('tax');
?>
<?php if($_product->isSalable()): ?>
    <dl>
        <dd class="last">
            <div class="input-box">
                <?php 
                    $packLabel = $_product->getAdminAttributeText('packaging_label_header');
                    if(!$packLabel) {
                        $packLabel = 'Qty';
                    }
                    $packagingMeasurement = $_product->getAttributeText('pet_food_cost_per_type');
                    if(!$packagingMeasurement) {
                        $packagingMeasurement = 'Item';
                    }
                ?>
                <table class="super-attribute-select" id="product<?php echo $_product->getId(); ?>">
                    <thead>
                        <tr>
                            <td><?php echo $this->__($packLabel) ?></td>
                            <td><?php echo $this->__('Weight') ?></td>            
                            <td><?php echo $this->__('Price').'/'. $this->__($packagingMeasurement) ?></td>
                            <td><?php echo $this->__('Our Price') ?></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="qty">
                                <?php 
                                    $qty = $_product->getResource()->getAttribute('pet_food_packaging_count')->getFrontend()->getValue($_product);
                                    if (($qty=='0') || ($qty=='')) {
                                        $qty = '1';
                                    }

                                    $itemUnit = $_product->getResource()->getAttribute('pet_food_packaging_type')->getFrontend()->getValue($_product);

                                    if ($itemUnit=='No') {
                                        $itemUnit = 'Item';
                                    }

                                    if ($itemUnit=='ไม่่') {
                                        $itemUnit = 'Item';
                                    }
                                ?>
                                <input type="radio" checked="checked" class="option-item"><?php echo $qty ?> <?php echo $this->__($itemUnit) ?> <span class="best-value"></span>
                            </td>
                            <?php 
                                $tmp = $_product->getWeight();
                                $pMeasurement = strtolower($_product->getAdminAttributeText('pet_food_cost_per_type'));
                                if ($pMeasurement=='litre') {
                                    $weight = floatval($tmp/1000) . ' ' . $this->__('L.');
                                } else {
                                    if ($tmp>=1000) {
                                        $weight = floatval($tmp/1000) . ' ' . $this->__('kg.');
                                    } else {
                                        $weight = floatval($tmp) . ' ' . $this->__('g.');
                                    }
                                }
                            ?>
                            <td><?php echo $weight ?></td>
                            <?php 
                                $displayPrice = $_taxHelper->getPrice($_product, $_product->getFinalPrice());
                                $packagingCount = $_product->getResource()->getAttribute('pet_food_packaging_count')->getFrontend()->getValue($_product);
                                if ($pMeasurement=='kilo') {
                                    $pricePerUnit = $displayPrice/($tmp/1000);
                                } elseif ($pMeasurement=='litre') {
                                    $pricePerUnit = $displayPrice/($tmp/1000);
                                } else {
                                    if($packagingCount==0 || $packagingCount=='') {
                                        $packagingCount=1;
                                    }
                                    $pricePerUnit = $displayPrice/$packagingCount;
                                }
                            ?>
                            <td><?php echo $this->helper('core')->currency($pricePerUnit, true, false) ?></td>
                            <td class="total-price"><?php echo $this->helper('core')->currency($displayPrice, true, false); ?></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>
<?php endif; ?>