<!-- <div class="cg-row">
    <div class="cg-col-xs-12 nopadding">
        <div class="featured-title">
            <p class="title">Penawaran Terbaik</p>
            <label>Jelajahi semua penawaran terbaik</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" style="display: inline;">
    </div>
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/TRIPLEDISKON-MAY-BOTTOMBANNER.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/TRIPLEDISKON-MAY-BOTTOMBANNER.jpg" style="display: inline;">
    </div>
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-30JUN-TJAMPOLAY-BANNER-BOTTOM-_380x191_.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-30JUN-TJAMPOLAY-BANNER-BOTTOM-_380x191_.jpg" style="display: inline;">
    </div>
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/6-30-JUNI-2016-_DETTOL_-BANNER-BOTTOM-_380x191_.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/6-30-JUNI-2016-_DETTOL_-BANNER-BOTTOM-_380x191_.jpg" style="display: inline;">
    </div>
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" style="display: inline;">
    </div>
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" style="display: inline;">
    </div>
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" style="display: inline;">
    </div>
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-19-JUN-2016-_TORIO_-BANNER-BOTTOM-_380x191_.jpg" style="display: inline;">
    </div>
    <div class="cg-col-xs-12 cg-col-sm-6 cg-col-md-4 margbot10">
        <img data-src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-30JUN-TJAMPOLAY-BANNER-BOTTOM-_380x191_.jpg" class="lazy" alt="" src="https://new.orami.co.id/media/wysiwyg/Banner-Bottom-2016/1-30JUN-TJAMPOLAY-BANNER-BOTTOM-_380x191_.jpg" style="display: inline;">
    </div>
</div> -->
<?php /** @var $this Petloft_Catalog_Block_Product_Homegrid */ ?>
<?php $productModel = Mage::getModel('catalog/product'); ?>
<?php $attr = $productModel->getResource()->getAttribute("all_brands"); ?>
<?php if ($categoryName = $this->getCategoryName()): ?>
    <div class="home-product-grid">
        <h3 class="line-thought"><?php echo $categoryName ?></h3>
        <?php
        //Get Product List
        $listNewProduct = $this->getProducts();
        ?>
        <div class="grid-product">
            <div class="row">
                <ul class="products-grid">
                    <?php $check = 0;
                    foreach ($listNewProduct as $_product) :
                     $plan1 = Mage::getModel('recurringandrentalpayments/plans_product')->getCollection()
                        ->addFieldToFilter('product_id',$_product->getId());
                        foreach($plan1 as $plan2){
                            $productPlan = Mage::getModel('recurringandrentalpayments/plans')->load($plan2->getData('plan_id'));
                            if($productPlan->getData('plan_status') == 1){
                                $check++;
                            }
                        }
                        /** @var Mage_Catalog_Model_Product $_product */
                        ?>
                        <?php
                        $parentIds = Mage::getResourceSingleton('catalog/product_type_configurable')
                            ->getParentIdsByChild($_product->getId());
                        if (isset($parentIds[0])) {
                            $productUrl = $this->getConfigurableUrl($parentIds[0]);
                        } else {
                            $productUrl = $this->getProductUrl($_product);
                        }
                        ?>
                        <?php if (in_array($categoryName, array('สินค้าแนะนำ', 'Orami Picks')))://frontpage_oramipicks ?>
                        <li class="product-item item rec-analysis" data-web-section="frontpage_oramipicks" data-product-id="<?php echo $_product->getId() ?>">
                    <?php elseif (in_array($categoryName, array('สินค้าขายดี', 'Best Sellers')))://frontpage_bestsellers ?>
                        <li class="product-item item rec-analysis" data-web-section="frontpage_bestsellers" data-product-id="<?php echo $_product->getId() ?>">
                    <?php else: ?>
                        <li class="product-item item">
                    <?php endif; ?>
                        <div class="product-wrap">
                            <div class="product-image">
                                <a href="<?php echo $productUrl; ?>">
                                    <img
                                        src="<?php echo Mage::helper('catalog/image')->init($_product, 'image')->resize(220, 180); ?>"
                                        alt="<?php echo $_product->getName(); ?>" width="220" height="180">
                                </a>

                                <!-- Promotion flag -->
                                <?php if ($_product->getData('promotion_flag')) : ?>
                                    <span
                                        class="promotion-message"><?php echo $this->__($_product->getData('promotion_message')) ?></span>
                                <?php endif; ?>

                                <a title="<?php echo $_product->getName() ?>" href="<?php echo $productUrl; ?>">
                                    <div class="overlay_item"></div>
                                </a>
                                <?php if ($_product->isSaleable()): ?>
                                    <div class="actions">
                                        <button type="button" title="<?php echo $this->__('Add To Bag') ?>"
                                                class="button btn-cart"
                                                onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                            <span><span><?php echo $this->__('Add To Bag') ?></span></span></button>
                                    </div>
                                <?php else: ?>
                                    <div style="opacity: 1" class="actions">
                                        <button type="button" title="<?php echo $this->__('See') ?>"
                                                class="button btn-see"
                                                onclick="setLocation('<?php echo $_product->getProductUrl() ?>')">
                                            <span><span
                                                    style="color:#FF6C6C;font-size: 12px"><?php echo $this->__('View') ?></span></span>
                                        </button>
                                    </div>
                                <?php endif; ?>

                            </div>
                            <div class="product-info">
                                <?php if ($_product->getData('all_brands')) : ?>
                                    <h2 class="brand"><?php echo $attr->getSource()->getOptionText($_product->getData('all_brands')); ?></h2>
                                <?php endif; ?>
                                <h2 class="product-name">
                                    <a href="<?php echo $productUrl; ?>"><?php echo $_product->getName(); ?></a>
                                </h2>
                                <?php echo $this->getReviewsSummaryHtml($_product, 'short', true) ?>
                                <?php echo $this->getLayout()->createBlock('catalog/product_price')->setTemplate('catalog/product/price.phtml')->setProduct($_product)->toHtml(); ?>
                            </div>
                            <?php if($plan1->getSize() > 0 && $check > 0): ?>
                                <?php
                                $subHelper = Mage::helper('recurringandrentalpayments') ;
                                $plans_product = Mage::getModel('recurringandrentalpayments/plans_product')->load($_product->getId());
                                $plan = Mage::getModel('recurringandrentalpayments/plans')->load($plans_product->getPlanId());
                                $planId = $plan->getId();
                                ?>
                                <div style="padding-left: 5px;padding-bottom: 5px;" class="sub_available_info">
                                    <div style="margin-left:2px;padding-left:5px;color: #ff6c6c;float: left" class="sm_subscription_icon"></div>
                                    <span style="margin-left:5px;float: left;font-weight: bold"><?php echo $this->__('Autoship')?></span>
                                    <span style="margin-left:5px;float: left;color: #ff6c6c;font-weight: bold"><?php echo $subHelper->getBestAveragePrice($planId,$_product->getId()); ?></span>
                                </div>
                                <div class="clear"></div>
                            <?php endif; ?>
                        </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>
