<!-- Start Subscription Overlay console -->
<?php
    $baseUrl = Mage::getBaseUrl();
    $storeName = Mage::app()->getStore()->getName();
    $storeCode = Mage::app()->getStore()->getcode();
    $storeId = Mage::app()->getStore()->getId();
    $cookieDomain = Mage::getStoreConfig('web/cookie/cookie_domain', $storeId);

    if(strlen($storeCode)>0){
        $domain = substr($baseUrl, 0, (strlen($baseUrl)-(strlen($storeCode)+1)));
    } else {
        $domain = $baseUrl;
    }

    if (substr($domain,strlen($domain)-1,1) != '/'){
        $domain .= '/';
    }
?>

<div style="display:none">
    <div id="inline_content">
    </div>
</div>

<!-- End Subscription Overlay console -->

<script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS) ?>aw_mobile/jquery.cookie.js"></script>
<script>
    if (!jQuery.browser.mobile){
        jQuery(document).ready(function(){
            var pathname = window.location.href;
            pathname = pathname.toLowerCase();
            // ***************** Start subscription *****************
            /*var subscribed;
            subscribed = getCookie('petloft_subscribed');

            if (typeof subscribed == 'undefined') {
                setCookie('petloft_subscribed', 'false');
            }*/

            if (pathname.indexOf('?popup=acommerce')>1){
                jQuery.colorbox({
                    open:true,
                    iframe:true,
                    href:"/popup/petloft_popup/",
                    innerWidth:360,
                    innerHeight:550,
                    scrolling:false,
                    closeButton:true
                });
                return;
            }

            if(jQuery.cookie("popupcookie") != "popupshow"){
                jQuery.colorbox({
                    open:true,
                    iframe:true,
                    href:"/popup/petloft_popup/",
                    innerWidth:360,
                    innerHeight:550,
                    scrolling:false,
                    closeButton:true,
                    onClosed:function(){
                        jQuery.cookie("popupcookie", "popupshow", { path: '/', domain: '<?php echo $cookieDomain ?>', expires: 30 });
                    }
                });
            }
            // ***************** End subscription *****************
        });
    }
</script>