<?php
$product = $this->getProduct();
$url = $product->getProductUrl();
$imageLink = $url.'?utm_source=email&utm_campaign=abandon_cart_trigger&utm_medium=product_image&utm_content='.$product->getId();
$productNameLink = $url.'?utm_source=email&utm_campaign=abandon_cart_trigger&utm_medium=product_name&utm_content='.$product->getId();
?>
    <div class="product-item" style="width: 100%; padding-bottom: 10px; margin: 5px 2px; float: left;">
        <a href="<?php echo $imageLink; ?>">
            <div class="product-image"><img width="217" height="217" style="border: none;" src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(270)?>"/></div>
        </a>
        <div class="product-name"
             style="text-align: center; white-space: nowrap; width: 95%; overflow: hidden; text-overflow: ellipsis; margin: 5px auto;">
            <a style="color: #3c3d41; text-decoration: none;" href="<?php echo $productNameLink ?>"><strong><?php echo $product->getName() ?></strong></a>
        </div>
        <div class="product-more" style="margin-top: 10px; padding: 0px 5px;">
            <div class="product-price" style="width: 100%;">Price <strong><?php echo Mage::helper('core')->currency($product->getPrice(), true, false);?> </strong></div>
        </div>
    </div>

