<?php
$storeId        = Mage::app()->getStore()->getId();
$categoryRootId = Mage::app()->getStore($storeId)->getRootCategoryId();
$key = $this->getRequest()->getParam('key');
$fakeRoot = Mage::getModel('catalog/category')
    ->getCollection()
    ->addAttributeToFilter('url_key', $key)
    ->getFirstItem();

if($fakeRoot->getId()){
    $_categories = Mage::getModel('catalog/category')->getCollection()
        ->addFieldToFilter('path', array('like' => "%/{$categoryRootId}/{$fakeRoot->getId()}/%"))
        ->addFieldToFilter('level', array('eq' => "2"))
        ->addAttributeToSelect('entity_id')
        ->addAttributeToFilter ('url_key', array('like' => 'brands%'))
        ->addAttributeToFilter('is_active', 1)
        ->getData();

    $_categories3 = Mage::getModel('catalog/category')->getCollection()
        ->addFieldToFilter('path', array('like' => "%{$fakeRoot->getId()}/%"))
        ->addFieldToFilter('level', array('eq' => "3"))
        ->addAttributeToSelect('entity_id')
        ->addAttributeToFilter ('url_key', array('like' => 'brands%'))
        ->addAttributeToFilter('is_active', 1)
        ->getData();
}else{
    $_categories = Mage::getModel('catalog/category')->getCollection()
        ->addFieldToFilter('path', array('like' => "%/{$categoryRootId}/%"))
        ->addFieldToFilter('level', array('eq' => "2"))
        ->addAttributeToSelect('entity_id')
        ->addAttributeToFilter ('url_key', array('like' => 'brands%'))
        ->addAttributeToFilter('is_active', 1)
        ->getData();

    $_categories3 = Mage::getModel('catalog/category')->getCollection()
        ->addFieldToFilter('path', array('like' => "%/{$categoryRootId}/%"))
        ->addFieldToFilter('level', array('eq' => "3"))
        ->addAttributeToSelect('entity_id')
        ->addAttributeToFilter ('url_key', array('like' => 'brands%'))
        ->addAttributeToFilter('is_active', 1)
        ->getData();
}


$arrListShow = array();
if(count($_categories)) {
    $childCategoryId = Mage::getModel('catalog/category')->load($_categories[0]['entity_id'])
        ->getChildren();
    $arrCategoryId = explode(',', $childCategoryId);

    $i = 0;
    foreach ($arrCategoryId as $idCate) {
        $cate = Mage::getModel('catalog/category')->load($idCate);
        $nameCate = ucwords($cate->getName());
        $areaCate = strtolower(substr($nameCate, 0, 1));
        if($cate['is_active'] == 1) {
            $arrListShow[$areaCate][$i]['name'] = $nameCate;
            $arrListShow[$areaCate][$i]['url']  = $cate->getUrl();
            $i++;
        }
    }
}
if(count($_categories3)){
    foreach($_categories3 as $cat3){
        $childCategoryId = Mage::getModel('catalog/category')->load($cat3['entity_id'])
            ->getChildren();
        $arrCategoryId = explode(',', $childCategoryId);
        foreach ($arrCategoryId as $idCate) {
            $cate = Mage::getModel('catalog/category')->load($idCate);
            $nameCate = ucwords($cate->getName());
            $areaCate = strtolower(substr($nameCate, 0, 1));
            if($cate['is_active'] == 1) {
                $arrListShow[$areaCate][$i]['name'] = $nameCate;
                $arrListShow[$areaCate][$i]['url']  = $cate->getUrl();
                $i++;
            }
        }
    }
}
?>
<?php if ($key == 'petloft'): ?>
    <script type="text/javascript">
        jQuery('h1.logo').append('<a href="<?php echo Mage::getBaseUrl().SM_MoxyMobile_Model_Navigation::PETLOFT_URL ?>" title="<?php echo $this->__("Petloft") ?>" class="logo"></a>');
        jQuery('body').addClass('petloft-pages');
        jQuery('div.wrap-other-store').find('span.petloft-item').addClass('active');
    </script>
<?php elseif ($key == 'sanoga'): ?>
    <script type="text/javascript">
        jQuery('h1.logo').append('<a href="<?php echo Mage::getBaseUrl().SM_MoxyMobile_Model_Navigation::SANOGA_URL ?>" title="<?php echo $this->__("Sanoga") ?>" class="logo"></a>');
        jQuery('body').addClass('sanoga-pages');
        jQuery('div.wrap-other-store').find('span.sanoga-item').addClass('active');
    </script>
<?php elseif ($key == 'lafema'): ?>
    <script type="text/javascript">
        jQuery('h1.logo').append('<a href="<?php echo Mage::getBaseUrl().SM_MoxyMobile_Model_Navigation::LAFEMA_URL ?>" title="<?php echo $this->__("Lafema") ?>" class="logo"></a>');
        jQuery('body').addClass('lafema-pages');
        jQuery('div.wrap-other-store').find('span.lafema-item').addClass('active');
    </script>
<?php elseif ($key == 'venbi'): ?>
    <script type="text/javascript">
        jQuery('h1.logo').append('<a href="<?php echo Mage::getBaseUrl().SM_MoxyMobile_Model_Navigation::VENBI_URL ?>" title="<?php echo $this->__("Venbi") ?>" class="logo"></a>');
        jQuery('body').addClass('venbi-pages');
        jQuery('div.wrap-other-store').find('span.venbi-item').addClass('active');
    </script>
<?php endif; ?>

<div class="recommend-hd-box brands-lable">
    <div style="clear:both;"></div>
    <div class="headRibbon">
        <span class="recommend-hd brands-page"><?php echo ucwords($key).' Brands'; ?></span>
    </div>
</div>
<?php
$categoryCount = count($arrListShow);
if($categoryCount){?>
    <div class="listContainer">
        <ul class = "alphabet">
            <li class="selected-alpha"><span><?php echo $this->__('All.'); ?></span></li>
            <?php for($i=65; $i<=65+25; $i++):?>
                <li><span><?php echo chr($i); ?></span></li>
            <?php endfor;?>
            <li><span>0 - 9</span></li>
        </ul>
        <?php
        $colRow = 8;
        $colNum = 4;
        ?>

        <ul class = "brands">
            <?php
            ksort($arrListShow);
            foreach ($arrListShow as $alphaName => $alphabet):
                $totalItemAlpha = count($alphabet);
                if(ceil(($totalItemAlpha/$colRow)) > $colNum) {
                    $colRow = ceil(($totalItemAlpha/$colNum));
                }

                $i=0;
                echo "<div class='alpha-box alpha-".$alphaName."'><div class='label-alpha'><p>".$alphaName.'</p></div>';
                foreach($alphabet as $item):
                    if ($i++%$colRow==0) {echo '<div class="columns">';}
                    echo '<li><span><a href='.$item['url'].'>'.$item['name'].'</a></span></li>';
                    if ($i%$colRow==0 || $i==$totalItemAlpha) {echo '</div>';}
                endforeach;
                echo '</div>';
            endforeach;
            ?>
            <div class="no-brand"><?php echo $this->__('No brands with alphabet') ?></div>
        </ul>
    </div>
    <script type="text/javascript">
        <?php if($key): ?>
        jQuery('.breadcrumbs').find('ul li.cms_page strong').html('<?php echo ucwords($key).' Brands'; ?>');
        <?php endif; ?>
        jQuery('.alphabet li span').click(function(){
            jQuery('.alphabet li.selected-alpha').removeClass('selected-alpha');
            jQuery(this).parent('li').addClass('selected-alpha');
            var alphabet = jQuery(this).html().toLowerCase();
            var i;
            i = 0;
            jQuery('.brands .alpha-box').each(function(){
                if(alphabet != '0 - 9'){
                    if(jQuery(this).hasClass('alpha-' + alphabet) || alphabet == 'all') {
                        i++;
                        jQuery(this).show();
                    } else {
                        jQuery(this).hide();
                    }
                }else{
                    var checkpoint = false;
                    for (y = 0; y < 10; y++) {
                        if (jQuery(this).hasClass('alpha-' + y)) {
                            checkpoint = true;
                        }
                    }
                    if (checkpoint == true) {
                        i++;
                        jQuery(this).show();
                    } else {
                        jQuery(this).hide();
                    }
                }
            });
            if(i==0) {
                jQuery('.brands div.no-brand').css('display', 'block');
            } else {
                jQuery('.brands div.no-brand').css('display', 'none');
            }
        });
    </script>
    <?php
} else {
    ?>
    <div class="no-brand-in-store"><?php echo $this->__('No brands in store') ?></div>
<?php } ?>
