<script type="text/html" id="category-widget-template">
    <![CDATA[
    {{ if (SC.page.products.length) { }}
    <div class="recommend-hd-box"><div style="clear:both;"></div>
        <div class="headRibbon"><span class="leftRib"></span><span class="recommend-hd"><?php echo $this->__('People who viewed this also viewed');?></span><span class="rightRib"></span></div>
    </div>
    <ul id="slideCategoryWidget" class="gridXL" style="width:1170px;">
        {{ for (var i=0; i < SC.page.products.length; i++) { }}
        <!--for statement-->
        {{ SC.page.products[i].link = SC.page.products[i].link.replace("/th/", '/'); }}
        {{ var p = SC.page.products[i]; }}
        {{ if(p.image != 'http://cdn.whatsnew.asia/media/catalog/productno_selection') { }}
        {{ var discount = ((1 - p.price / p.msrp) * 100).toFixed(0); }}
        <li class="recItem" data-scarabitem="{{= p.id }}">
            <div class="imgPlace">
                <a href="{{= p.link }}" title="{{= p.title}}" class="product-image">
                    <img src="{{= p.image }}" width="150" height="150" alt="{{= p.title}}" />
                </a>
            </div>
            <div class="productItem">
                <div class="textPlace">
			<span class="pdName">
				<a href="{{= p.link }}" title="{{= p.title}}">{{= p.title}}</a>
			</span>
                    <div class="price-box">
                        <p class="old-price">
                            <span class="price-label">Regularly:</span>
                            {{ if(p.msrp){ }}
                            <span class="price" id="old-price-{{= p.id}}">฿{{= p.msrp }}</span>
                            {{ } }}
                        </p>
                        <p class="special-price">
                            <span class="price-label">Our Price:</span>
                            <span class="price" id="product-price-{{= p.id}}">฿{{= p.price }}</span>
                        </p>

                        {{ if( discount > 0 ) { }}
                        <p class="save-percentage">
                            <span class="price-label">Save:</span>
                            <span class="price" id="save-percentage-{{= p.id}}">{{= discount}}<span>%</span></span>
                        </p>
                        {{ } }}
                    </div>
                    <a href="{{= p.link }}" title="{{= p.title}}"><div class="overlay_item"></div></a>
                    <div class="actions" align="center">
                        <button type="button" title="See" class="button btn-see" onclick="setLocation('{{= p.link }}')">
                            <span><?php echo $this->__('View');?></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </li>
        {{ } }}
        {{ } }}
    </ul>
    {{ } }}
    ]]>
</script>
<div id="categoryWidgetContainer">
</div>

<script>
    ScarabQueue.push(['recommend', {
        logic: 'CATEGORY',
        containerId: 'categoryWidgetContainer',
        templateId: 'category-widget-template'
    }]);

    setTimeout(function(){
        jQuery('<div class="control"><a class="prevCategoryRecommendation" href="javascript:void(0);">prev</a><a class="nextCategoryRecommendation" href="javascript:void(0);">next</a></div>').insertBefore(jQuery('#slideCategoryWidget'));
        jQuery('#slideCategoryWidget').carouFredSel({
            scroll: {
                items:3,
                effect: 'easeOutBounce',
                speed: 2500,
                pauseOnHover: true
            },
            auto: false,
            responsive: false,
            items: 4,
            width: '100%',
            height: 'auto',
            next: "a.nextCategoryRecommendation",
            prev: "a.prevCategoryRecommendation"
        });
    }, 3000);
</script>