#emst_ajax_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}
.b-close{
    cursor:pointer;
	border-radius:7px 7px 7px 7px;
	box-shadow:none;
	font:bold 131% sans-serif;
	padding:0 6px 2px;
	position:absolute;
	right:-7px;
	top:-7px
}
.b-loading{
	background: url(../../images/opc-ajax-loader.gif) no-repeat 50% 50%;
	background-color:#E8E8E8;
}
.button{background-color:#2b91af;border-radius:10px;box-shadow:0 2px 3px rgba(0,0,0,0.3);color:#fff;cursor:pointer;display:inline-block;padding:10px 20px;text-align:center;text-decoration:none}
.button.small{border-radius:15px;float:right;margin:22px 5px 0;padding:6px 15px}
.button:hover{background-color:#1e1e1e}.button>span{font-size:84%}
.bpopup-message{display:inline-table;width:333px;}
.emst-addtocart{align:center;padding-top:7px;}
