<div class="login">
    <?php if(!Mage::getSingleton('customer/session')->isLoggedIn() && Mage::getStoreConfig('facebookall/settings/enabled')):?>
    <div class="login-fb">
        <h2><?php echo $this->__('Have a Facebook account?')?></h2>
        <a class="fb_button_ps" onclick="return fblogin();" href="#"><span class="fb-bt"><span class="fb-icon"></span>Login with Facebook</span></a>
    </div>
    <?php endif?>
    <div class="login-form-new">
        <h4><?php echo $this->__('Already a member?') ?></h4>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <form id="login-form" action="<?php echo $this->getUrl('onestepcheckout/onestep/login') ?>" method="post">
            <fieldset>
                <ul class="form-list">
                    <li>
                        <label for="login-email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="text" class="input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" />
                        </div>
                    </li>
                    <li>
                        <label for="login-password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" class="input-text required-entry" id="login-password" name="login[password]" />
                        </div>
                        <a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="forgot-password"><?php echo $this->__('Forgot your password?') ?></a>
                    </li>
                </ul>
            </fieldset>
            <div class="buttons-set">
                <button type="submit" class="button"><span><span><?php echo $this->__('Login') ?></span></span></button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var loginForm = new VarienForm('login-form', true);
    $('login-email').observe('keypress', bindLoginPost);
    $('login-password').observe('keypress', bindLoginPost);
    function bindLoginPost(evt){
        if (evt.keyCode == Event.KEY_RETURN) {
            loginForm.submit();
        }
    }
    function onepageLogin(button)
    {
        if(loginForm.validator && loginForm.validator.validate()){
            button.disabled = true;
            loginForm.submit();
        }
    }
//]]>
</script>
