
<script type="text/javascript">
//<![CDATA[
	jQuery(document).ready(function(){
		jQuery("#filter-hd").live('click',function(){
			jQuery("#product-filter-box").slideToggle();
			if (jQuery("#expanderSign").attr("class") == "collapes-filter"){
				jQuery("#expanderSign").removeClass();
				jQuery("#expanderSign").addClass("expand-filter");
			}
			else {
				jQuery("#expanderSign").removeClass();
				jQuery("#expanderSign").addClass("collapes-filter");
			}
		});
	});
//]]>
</script>
<div id ="top-filter">
<?php echo $this->getChildHtml('categoty_filter');?>
</div>
