<?php
    $_description = $this->getProduct()->getDescription();
?>
<ul class="detail_nav">
    <?php if($_description): ?>
    <li data-show="product-description-items" class="active"><a href="#"><?php echo $this->__('Product Details');?></a></li>
    <?php endif; ?>
    <li data-show="product-review-items"><a href="#"><?php echo $this->__('Reviews');?></a></li>
    <li data-show="product-delivery-items"><a href="#"><?php echo $this->__('Delivery Info');?></a></li>
</ul>

<!--<div class="nav-detail-item product-delivery-items">-->
<!--    <h2>--><?php //echo $this->__('Delivery Info') ?><!--</h2>-->
<!---->
<!--    <div class="std">-->
<!--        <strong>Cash On Delivery is enabled for this item for all post codes in Thailand</strong>-->
<!--        <p>* You can enjoy free shipping on this product if you buy products sold by Moxy so that they together add up to 690 THB or more (note that this excludes products sold by our partners/merchants)</p>-->
<!--    </div>-->
<!--</div>-->
<?php echo $this->getChildHtml('delivery_tab_content');?>

<script>
    jQuery(document).ready(function(){
        //Init Description
        jQuery('.nav-detail-item').hide();
        jQuery('.nav-detail-item.active').show();

        //Change tab
        jQuery('ul.detail_nav li').on('click', function($e){
            $e.preventDefault();

            jQuery('ul.detail_nav li.active').removeClass('active');
            jQuery(this).addClass('active');

            var divShowed = jQuery(this).attr('data-show');
            var selector = '.'+divShowed;

            if(!jQuery(selector).hasClass('active'))
                jQuery('.nav-detail-item.active').slideUp();

            jQuery('.nav-detail-item.active').removeClass('active');

            //Show div and set active class
            jQuery(selector).slideDown();
            jQuery(selector).addClass('active');
        });
    })
</script>

<style>
    ul.detail_nav{
        width:100%;
        border-bottom: 1px solid #909090;
    }

    ul.detail_nav li{
        display: inline-block;
        padding:3px 5px;
        width:190px;
    }

    ul.detail_nav li.active{
        border-bottom: 5px solid #515151;
    }

    ul.detail_nav li a{
        color: #515151;
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-size: 20px;
        text-decoration: none;
    }

    .nav-detail-item.product-delivery-items{
        padding: 25px;
    }
</style>