﻿<!--
/**
 * Product:     Abandoned Carts Alerts Pro for 1.3.x-1.7.0.0 - 18/06/13
 * Package:     AdjustWare_Cartalert_3.2.0_0.2.3_634118
 * Purchase ID: n/a
 * Generated:   2013-07-12 10:03:45
 * File path:   app/locale/es_ES/template/email/abandoned_cart_alert2.html
 * Copyright:   (c) 2013 AITOC, Inc.
 */
--><!--@subject Abandoned cart alert 2 from {{var store_name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{var store_url}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                     <p><strong>Hola {{var customer_name}},</strong></p>
                    <p>Gracias por venir a {{var website_name}} y escogernos para hacer su compra. Nos hemos dado cuenta de que durante su visita a nuestra tienda ha colocado el(los) sigiente(s) artículo(s) en su carrito de compra, pero no se ha completado la transacción.</p>
          <p>Contenido del carrito de Compra: </p>

                    <p>{{var products}}</p>
{{depend real_quote}}
                    <p><a href="{{var recover_url}}" >Recobrar </a><br> (url:{{var recover_url}})</p>
{{/depend}}  
{{depend coupon}}
                    <p>Siéntase libre de usar este cupón: {{var coupon}}</p>
                    <p>Tenga en cuenta que termina en {{var coupon_days}} día(s)</p>
{{/depend}} 
                    <p><a href="{{var unsubscribe_url}}" >Unsubscribe </a><br> (url:{{var unsubscribe_url}})</p>
                    <p>Siempre estamos interesados en saber por qué ha decidido no comprar en este momento. Si pudieras ser tan amable de hacernos saber si había algún problema o duda, se lo agradeceríamos. Estamos pidiendo comentarios de usted y otros clientes para hacer su experiencia en el {{var website_name}} mejor.</p>

<p>TENGA EN CUENTA:</p>
<p>Si usted cree que ha completado su compra y se pregunta por qué no se ha entregado, este mensaje es una indicación de que su pedido no se ha completado, y que no ha sido cobrado! Por favor, vuelva a la tienda para completar su pedido.</p>

<p>Pedimos disculpas, si usted ya ha completado su compra y ha recibido este mensaje por error.</p>

<p>Una vez más, gracias por su tiempo y consideración en ayudarnos a mejorar nuestra página web.</p>

<p>Atentamente,  {{var store_name}} Grupo</p>

                     <p><a href="{{var store_url}}">{{var store_name}}</a></p>
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>