.clear{font-size:0;height:0;clear:both;}

/* Auction box */
#auction h4{background:#E7E7E7;padding:10px 8px;font-size: 12px;font-weight: normal;}
#auction{border:1px solid #DDDDDD;padding:0px;font-family: 'gotham_htfbook';}
#auction .title{display:block;float:left;width:150px;padding:3px;font-weight:normal;color:#777;font-size:12px; margin-left: 5px;}
.bid-box{width:100%;padding:0;margin:5px 0 15px 15px;font-size:12px;font-weight:bold;}
#auction .bid-box .title{width:180px;}
#bid_price{width:100px;}
.bid-box .validation-advice{display:none;}
.auction-error{color:#DF280A;font-weight:bold;}
.auction-success{color:#3D6611;font-weight:bold;}
.timeleft-text{font-size:12px;font-weight:bold;color:#747679;}
.timeleft{text-align:center;margin-bottom:10px;background:#EEE;padding:10px;}
#auction_info .value{display:block;float:left;text-align:center;}
#auction_info .curr_price, #auction_info .bidder,#auction_info .total_bid{display:block;width:80px;text-align:center;}
#auction_info .bidder{font-weight:bold;font-style:italic;	}
#auction .curr_price{color:#434343;font-size:13px;font-weight:bold;font-style:italic;}
#auction_watcher{margin:15px 0 0 0px}
#auction_watcher a{text-decoration:none;font-size:14px;color:#1f1f1f;padding:0px 0 0 5px;font-weight: 700;color: #747679;}
.won-message{padding:0 0 0 5px;}
.won-message button{margin:10px 0 0 0;}
/* End Auction box */

/*Grid Auction*/
#gridauction .products-grid{width:100% !important;}
/*#gridauction .item{text-align:center;width:20%;}
#gridauction  li.item{padding-bottom:10px !important;}*/
#gridauction .row{margin:0 0 0 10px;text-align:center;}
#gridauction .current_price, #gridauction .bidder{text-align:center;width:100px;margin:0 0 5px 0;display:inline;}
#gridauction .bidder{font-weight:normal;}
#gridauction .current_price {color:#3B4A59;font-size:16px;font-style:italic;font-weight:bold;}
#gridauction .timeleft{text-align:center;padding:0px;background:none;}
/*End Grid Auction*/

/*Auction history*/
.bid-history-box .head{display:block;background:#ddd;padding:5px 5px 5px 20px;text-align:center;}
#bid-history .product-img-box{text-align:center;width:160px;}
#bid-history .product-shop{width:180px;}
.bid-history-box{width:70%;margin:0px 20px 0 0;float:left;}
#bid-history-header{padding:0px 20px 10px 10px;	margin:0 0px 20px 0;width:96%;}
#bid-history-header .col{float:left;margin: 0 60px 0 0px;font-size:13px;font-weight:bold;}
#bid-history-header .col span{color:#777;}
#product-overview{float:left;width:24%;}
/*End Auction history*/

/*Create Bidder name Form */
#form-bidder-name{padding:20px 20px 30px 20px;margin:15px 0 0px 0;background:#FFFEFF;}
#form-bidder-name .row{padding:10px 0 0 0;}
#form-bidder-name .value input{width:200px;margin:0 0 5px 0;}
#form-bidder-name .title{font-weight:bold;display:block;float:left;margin: 0 20px 0 0;}
#form-bidder-name .value{display:block;float:left;}
#form-bidder-name .button{margin:0 0 0 20px;}
#bidder-notice{ width:260px;margin:5px 0 0 0;}
/*End Create Bidder name Form */

#bidder-notice .error-msg{padding:8px 8px 2px 32px !important;}
#bidder-notice .success-msg{padding:8px 8px 2px 32px !important;}
.image-button {border:0px;background:#ffffff;width:auto;padding:0px;margin:0px;cursor:pointer;}
.text-button{background:#F18200;border:1px solid #DE5400;color:#FFFFFF;font:bold 12px/19px Arial,Helvetica,sans-serif;padding:1px 8px;text-align:center;white-space:nowrap;cursor:pointer;margin:0px;}
.type-option{padding-top:5px;}
.value img {margin-top:3px;}