<div id="ssl-comodo">
    <h1><?php echo $this->__('Safe Shopping Guarantee') ?></h1>
    <ul>
        <li><?php echo $this->__('SSL Secured') ?></li>
        <li><?php echo $this->__('Encrypted Network') ?></li>
        <li><?php echo $this->__('Cardholder Protection') ?></li>
    </ul>
    <img src="<?php echo $this->getSkinUrl('images/ssl-comodo.png') ?>" alt="<?php echo $this->__('SSL Comodo') ?>"/>
</div>