/*
  * Copyright (c) 2014 www.magebuzz.com 
	* Supermenu CSS
*/  
.supermenu{float:left; width:100%; display:block; margin-bottom:20px;}
#mb-supermenu {font-size: 13px; margin: 0 auto; padding: 0 16px; width: 918px;}
#mb-supermenu li { float:left; position: relative; text-align: left; z-index:9999;}
#mb-supermenu li  a.sm-item-link{
	color: #A7C6DD;
	float: left;
	font-weight: bold;
	padding: 5px 12px 6px 8px;
	text-decoration:none;
	cursor:pointer;
}
/* Sub menu */
#mb-supermenu li > div.group-menu-items{
	border: 1px solid #f0f0f0;
	left: -10000px;
	position: absolute;
	top: 27px;
	z-index:9999;
	background:#FFF;
}
#mb-supermenu li > div.group-menu-items.shown-sub {
    left: 0;
    z-index: 999;
		background:#FFF;
		padding:5px;
}

#mb-supermenu li > div.shown-sub .header-content,
#mb-supermenu li > div.shown-sub .main-content-box,
#mb-supermenu li > div.shown-sub .footer-content{display:inline-block; *display:inline; zoom:1; width:100%;}
#mb-supermenu li > div.shown-sub .main-content-box > div{float:left; width:100%; }
#mb-supermenu li > div .header-content,#mb-supermenu li > div .main-menu-content{display:inline-block; *display:inline; zoom:1;  width:100%; border-bottom: 1px solid #ccc;}
#mb-supermenu li > div .header-content{padding:10px 0; overflow:hidden;}
#mb-supermenu li > div .header-content p,#mb-supermenu li > div .main-menu-content p, #mb-supermenu li > div .footer-content p{margin:0;}
#mb-supermenu li > div .main-menu-content .sm-custom img{max-width:100%;}
#mb-supermenu li > div .main-menu-content .sm-grid{}
#mb-supermenu li > div.shown-sub .main-menu-content .featured-items{text-align:center; padding:10px 0; background:#f0f0f0;}
#mb-supermenu li > div.shown-sub .main-menu-content .featured-items  h3.feature-title{font-size:12px; color:#333; text-decoration:none; font-weight:bold; text-transform:uppercase;}
#mb-supermenu li > div.shown-sub .main-menu-content .featured-items  ul li{float:none; width:100%; text-align:center;}
#mb-supermenu li > div.shown-sub .main-menu-content .featured-items  .product-name a{text-decoration:none; color:#333; font-size:12px;}
#mb-supermenu li > div.shown-sub .main-menu-content .featured-items  .category-name{padding:5px;}
#mb-supermenu li > div.shown-sub .main-menu-content .featured-items  .category-name a{text-decoration:none; color:#333; font-size:12px;}
#mb-supermenu li > div .footer-content{float:left; width:100%; padding:10px 0;}

/* Category Listing */
.grid-categories-column ul.menu-column{}
.grid-categories-column ul.menu-column li{float:left; width:100%;}
.grid-categories-column ul.menu-column li a.itemMenuName{font-size:12px; color:#333; text-decoration:none; font-weight:bold; text-transform:uppercase;}
.grid-categories-column ul.menu-column li a.itemMenuName:hover{color:#ff8a00;}
.grid-categories-column ul.menu-column li ul{display:inline-block; *display:inline; zoom:1; width:100%;}
.grid-categories-column ul.menu-column li ul li{display:inline-block; *display:inline; zoom:1; width:100%;}
.grid-categories-column ul.menu-column li ul li a.itemMenuName{padding-left:5px;  font-weight:normal; text-transform:capitalize;}
.grid-categories-column ul.menu-column li ul li ul{display:inline-block; *display:inline; zoom:1; width:100%;}
.grid-categories-column ul.menu-column li ul li ul li{width:100%; display:inline-block; *display:inline; zoom:1;}
.grid-categories-column ul.menu-column li ul li ul li a{display:inline-block; *display:inline; zoom:1; width:100%;}
.grid-categories-column ul.menu-column li ul li ul li a.itemMenuName.level4{padding-left:10px;  font-weight:normal; text-transform:capitalize;}

/* Product Listing */
.grid-products-column{padding:10px 0; border-bottom:1px dotted #ccc; overflow:hidden;}
.grid-products-column.last{padding:10px 0 0; border-bottom:0 none;}
.grid-products-column li.product{text-align:center!important; padding:3px 0;}
.grid-products-column li.product .product-image{
	border: 1px solid #f0f0f0;
	float: left;
	width: 50px;
}
.grid-products-column li.product .product-info{text-align:left; margin-left: 60px;}
.grid-products-column li.product .product-info .product-name a{text-decoration:none; color:#333; font-size:12px;}
.grid-products-column li.product .product-info .product-name a:hover{color:#ff8a00;}

/* Featured Item */
.featured-items{}
.featured-items .product-image{}
.featured-items .product-image img{max-width:100%;}

/* CUSTOM SUPER MENU */
.supermenu #mb-supermenu {
  list-style:none;
  position: relative;
  z-index: 35;
  display: inline-block;
  padding: 1px 0px 0px;
}

.supermenu .sm-item {
  position: relative;
  float: left;display: inline;
  font-family: inherit;
}

.supermenu .menu-column {
  list-style:none;
  padding-left: 8px;
}

.supermenu .group-menu-items{ display:none; }
.supermenu .shown-sub{ display:block!important; }

.supermenu .sm-item-link{
  color: #73777A;
  font-size: 17px !important;
  font-weight: unset !important;
}

.supermenu #mb-supermenu li a.sm-item-link{
  padding: 8px 12px!important;
  font-family: "Roboto", "Kanit", sans-serif !important;
}

.supermenu #mb-supermenu{ width:100%!important; }
.supermenu .nav-active:after {
  content:"";
  float:left;
  background: #ff6c6c!important;
  border-radius: 3px;
  width: 120%;
  height: 4px;
  position: relative;
  left: -10%;
  top: 11px;
}

.supermenu .level3,
.supermenu .level4 a {
  padding-left:0 !important
}

.supermenu .level3 { display: inline-block !important; }

.supermenu #mb-supermenu li a.sm-item-link.over { color: #ff6c6c !important; }

.supermenu .grid-categories-column ul.menu-column li a.itemMenuName {
  color:#ff6c6c;
  font-size: 17px;
  text-transform: initial;
}

.supermenu .grid-categories-column ul.menu-column li ul li a.itemMenuName {
  color:#73777A;
  font-size: 14px;
}

.supermenu #mb-supermenu li > div.group-menu-items {
  top: 47px;
  width: 1140px;
  font-family: inherit !important;
}

.supermenu .grid-categories-column ul.menu-column li a.itemMenuName:hover { color:#ff6c6c; }

.supermenu .brands {
  color: #ff6c6c;
  font-size: 17px;
  font-weight: bold;
  text-transform: initial;
  text-decoration: none;
  padding-left: 8px;
}
/* END CUSTOM SUPER MENU*/

/* MOBILE MENU */
@media (max-width: 575px) {
  section#top-nav-bar {
  	display: none;
    position: absolute;
    top: 61px;
    background: #F5F5F1;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    z-index: 999;
  }

  #top-nav-bar .container {
    overflow-x: initial !important;
    padding: 0;
  }

  #top-nav-bar .container .col-auto {
    width: 100%;
  }

  .supermenu ul#mb-supermenu {
    display: block;
    background: #F5F5F1;
  }

  #mb-supermenu li {
    display: block;
    float: none;
    border-bottom: 1px solid #E7E7E7;
  }

  #mb-supermenu li small {
  	display: inline-block;
  	font-size: 14px;
  	padding: 5px 24px !important;
  }

  .supermenu #mb-supermenu li a.sm-item-link {
    float: none;
    display: inline-block;
    padding: 12px 24px !important;
  }

  .supermenu #mb-supermenu li a.sm-custom-link {
    font-family: "Roboto","Kanit",sans-serif;
  	display: block;
  	padding: 12px 24px;
  	font-size: 17px;
  	color: inherit;
  }

  .supermenu .language-bar {
  	padding-top: 6px;
	text-align: center;
  }

  .supermenu .language-bar a { padding-top: 5px; }

  .supermenu .language-bar a.btn-primary { background: #868e96 }

  div.group-menu-items {
    position: relative !important;
    top: initial !important;
    left: initial !important;
    background: #e7e7e7 !important;
    border: 0 !important;
  }
  
  #mb-supermenu li > div.group-menu-items.shown-sub { padding: initial; }
  .grid-categories-column { width: 100% !important;}

  ul.menu-column {
    float:none !important;
    padding: 0;
    width: 100% !important;
  }

  .grid-categories-column ul.menu-column li a.itemMenuName,
  .brands a {
  display:block;
  font-size: 14px;
  font-weight: normal;
  padding: 12px 24px;
  color: #73777A !important;
  }

  .brands a { font-size: 17px; }
  .grid-categories-column ul.menu-column li ul { display: none !important; }
  .supermenu .nav-active:after { display: none; }
}
/* END MOBILE MENU */