<?php
$rootCategory = Mage::app()->getStore()->getRootCategoryId();
$lv1CategoryCollection = Mage::getSingleton('catalog/category')
    ->getCategories($rootCategory, 0, 'position', true, false)
    ->addAttributeToSelect('navigation_css')
    ->addLevelFilter('2');
$_currentCate = Mage::registry('current_category');

// set active class for current category
$_currentCateId = '';
$_currentParentId = '';
if($_currentCate) {
    $_currentCateId = $_currentCate->getData('entity_id');
    $_currentParentId = $_currentCate->getData('parent_id');
}
?>
<div class="nav-wrap">
    <div id="nav-container">
        <ul id="nav">
            <li class="subcategory-header">
                <span class="nav-home"></span>
                <a href="<?php echo Mage::getBaseUrl() ?>"><span><?php echo $this->__('Home') ?></span></a>
            </li>
            <?php if ($this->getLayout()->getBlock('customer_account_navigation') !== false): ?>
            <?php
            $layout = Mage::getModel('core/layout');
            $update = $layout->getUpdate();
            $update->load('customer_account');
            $layout->generateXml()->generateBlocks();
            echo $layout->getBlock('customer_account_navigation')->toHtml();
            ?>
            <?php else: ?>
            <?php foreach ($lv1CategoryCollection as $lv1Category): ?>
                <li class="level0 level-top <?php echo ($lv1Category->getId() == $_currentParentId) ? 'current' : '' ?>">
                    <a class="level-top" href="<?php echo Mage::getUrl($lv1Category->getRequestPath()) ?>">
                        <span class="<?php echo $lv1Category->getNavigationCss() ?>"></span>
                        <span><?php echo $this->__($lv1Category->getName()) ?></span>
                    </a>
                    <?php
                    $lv2CategoryCollection = Mage::getSingleton('catalog/category')
                        ->getCategories($lv1Category->getId(), 0, 'position', true, false)
                        ->addLevelFilter('3');
                    if ($lv2CategoryCollection->count()):
                    ?>
                        <ul class="level0">
                            <?php foreach ($lv2CategoryCollection as $lv2Category): ?>
                                <li class="level1 <?php echo ($_currentCateId == $lv2Category->getId()) ? 'current' : '' ?>">
                                    <a href="<?php echo Mage::getUrl($lv2Category->getRequestPath()) ?>">
                                        <span><?php echo $this->__($lv2Category->getName()) ?></span>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
</div>