<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2013 Amasty (http://www.amasty.com)
* @package Amasty_Cart
*/

/** @var Mage_Catalog_Model_Product $_product */
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
if($_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE){
    $items = Mage::getSingleton('checkout/cart')->getQuote()->getItemsCollection();
    if(Mage::registry('simpleProduct')){
        $selectedProduct = Mage::getModel('catalog/product')->load(Mage::registry('simpleProduct'));
        foreach($items as $item){
            /** @var Mage_Sales_Model_Quote_Item $item */
            if($item->getProductId() == $_product->getId()){
                if ($option = $item->getOptionByCode('simple_product')) {
                    $pId = $selectedProduct->getId();
                    $pName = $selectedProduct->getName();
                    $gallery_images = $_product->getData('media_gallery')['configurable_images'];
                    foreach($gallery_images as $img){
                        if($img['label'] == $pId){
                            $imageFile = $img['file'];
                            // Actual path of image
                            $imagePath = Mage::getBaseDir('media').DS."catalog".DS."product".DS.$imageFile;
                            // New image
                            $imageResized = Mage::getBaseDir('media').DS."catalog".DS."product".DS."configproduct".DS."popup".DS.$imageFile;
                            // Resize.DS."product"
                            if (!file_exists($imageResized)&&file_exists($imagePath)) :
                                $imageObj = new Varien_Image($imagePath);
                                $imageObj->constrainOnly(TRUE);
                                $imageObj->keepAspectRatio(TRUE);
                                $imageObj->keepFrame(FALSE);
                                $imageObj->resize(109, 109);
                                $imageObj->save($imageResized);
                            endif;
                        }
                    }
                }
            }
        }
    }
}

if(isset($pName)){
    $_name = $pName;
}else if(Mage::getStoreConfig('amcart/configurable/name') && Mage::registry('simpleProduct') && $_simpleProduct->getName()){
    // Same as with condition above (it was fixed at app/code/local/Amasty/Cart/controllers/AjaxController.php::260)
    $_name = $_helper->productAttribute($_simpleProduct, $_simpleProduct->getName(), 'name');
}else
    $_name = $_helper->productAttribute($_product, $_product->getName(), 'name');

if(isset($imageFile)){
    $_src = Mage::getBaseUrl('media')."catalog/product/configproduct/popup/".$imageFile;
}else if(Mage::getStoreConfig('amcart/configurable/image') && Mage::registry('simpleProduct') && $_simpleProduct->getImage()){
    // Same as with condition above (it was fixed at app/code/local/Amasty/Cart/controllers/AjaxController.php::260)
    $_src = $this->helper('catalog/image')->init($_simpleProduct, 'image')->resize(109).'" alt="'.$this->htmlEscape($this->getImageLabel());
}else
    $_src = $this->helper('catalog/image')->init($_product, 'image')->resize(109).'" alt="'.$this->htmlEscape($this->getImageLabel());


$_productNameStripped = $this->stripTags($_product->getName(), null, true);
?>
<div class="popup-cart">
    <div id="topconfirmButtons" class="close-confirm"><a href="#" class="button gray" onclick="jQuery.confirm.hide();"><span></span></a></div>
    <div class="heading">
        <div class="label"><?php echo $this->__('You have added') ?></div>
        <div class="product-name">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>">
                <?php echo $_name;?>
            </a>
        </div>
    </div>
    <div class="product-info">
        <div>
            <div class="product-img">
                <?php
                $_img = '<img src="'.$_src.'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
                echo $_helper->productAttribute($_product, $_img, 'image');
                ?>
            </div>
        </div>
<!--        <div class="qty-info">-->
<!--            <div class="product-qty">-->
<!--                --><?php //if(Mage::getStoreConfig('amcart/general/display_qty') && !($this->getProduct()->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_BUNDLE || $this->getProduct()->isGrouped())):?>
                <script type="text/javascript">
//                    AmQtyObj = new AmQty(<?php //echo ($this->getProduct()->getStockItem()->getMinSaleQty()=='')? 1:$this->getProduct()->getStockItem()->getMinSaleQty();?>//);
                </script>
<!--                 <div id="am-qty">-->
<!--                     <div class="numbers-row">-->
<!--                         <div id="am-qty-input">-->
<!--                         <input type="text" id="am-input" maxlength="12" class="input-text qty" size="7"-->
<!--                                name="cart[--><?php //echo Mage::helper('amcart')->getItemId($this->getProduct());?><!--][qty]"-->
<!--                                onclick="AmQtyObj.paint()" onkeydown="if (event.keyCode == 13) AmQtyObj.update()"-->
<!--                                value="--><?php //echo ($this->getProductDefaultQty())? $this->getProductDefaultQty():1; ?><!--" title="--><?php //echo $this->__('Qty') ?><!--" />-->
<!--                         </div>-->
<!--                         <div class="qty-select">-->
<!--                             <div class="qty-button inc" id="am-qty-button-up" onclick="AmQtyObj.increment()">+</div>-->
<!--                             <div class="qty-button dec" id="am-qty-button-down" onclick="AmQtyObj.decrement()">-</div>-->
<!--                         </div>-->
<!--                     </div>-->

<!--                    <div>-->
<!--                        <div id="am-qty-button-up" class="am-qty" >-->
<!--                            <img src="--><?php //echo $this->getSkinUrl('images/amasty/up.png')?><!--" onclick="AmQtyObj.increment()">-->
<!--                        </div>-->
<!--                        <div id="am-qty-input">-->
<!--                            <input class="input-text qty" id="am-input" maxlength="12" title="Qty" size="7" onclick="AmQtyObj.paint()" onkeydown="if (event.keyCode == 13) AmQtyObj.update()" value="--><?php //echo ($this->getQty())? $this->getQty() : (($this->getProduct()->getStockItem()->getMinSaleQty()=='')? 1:$this->getProduct()->getStockItem()->getMinSaleQty()) ;?><!--" name="cart[--><?php //echo Mage::helper('amcart')->getItemId($this->getProduct());?><!--][qty]">-->
<!--                        </div>-->
<!--                         <div id="am-qty-button-down">-->
<!--                            <img src="--><?php //echo $this->getSkinUrl('images/amasty/down.png')?><!--" onclick="AmQtyObj.decrement()" >-->
<!--                        </div>-->
<!--                   </div>-->
<!--                     <div id="am-qty-button-update" style="display: none;">-->
<!--                        <img src="--><?php //echo $this->getSkinUrl('images/amasty/refresh.png')?><!--" onclick="AmQtyObj.update()" >-->
<!--                    </div>-->
<!--                </div>-->
<!--                --><?php //endif;?>
<!--            </div>-->
            <div class="product-price">
                <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Our Price:') ?></span>
                    <?php
                    $priceAllItem = 0;
                    if($this->getProduct()->isGrouped()) {
                        $priceAllItem = Mage::helper('checkout')->getPriceGroupedProductCustom($_product->getId());
                        echo "<span id='popup_price_item_group'><span>".$priceAllItem.'</span></span>';

                    } else {
                        echo $this->helper('core')->formatprice($_product->getFinalPrice());
                    }
                    ?>
                </p>
            </div>
        </div>
    </div>
</div>
