<?php
$code = $this->getMethodCode();
?>

<ul id="payment_form_<?php echo $code; ?>" class="form-list">
    <li>
        <div class="validation-advice">
            Checkout with Credit Card (Powered by Omise) is not support for the current currency.
        </div>
    </li>
</ul>
