<?php $_subtotal = $this->helper('checkout')->formatPrice($this->getSubtotal()) ?>
<?php $_free_shipping_rate =  $this->helper('checkout')->formatPrice($this->getFreeShipping()); ?>
<?php $move = $this->calculate()*90 ;//px?>
<div class="right-content floatL">
	<div class="right-content-top"><?php echo $this->__('Free Delivery on') ?> <?php echo $_free_shipping_rate ?></div>
	<div class="right-content-bottom">
		<div class="shipping-fee-box">
			<?php if($this->getSubtotal() >= $this->getFreeShipping()): ?>
			<div class="shipping-fee-box-top"><?php echo $this->__('You got FREE SHIPPING'); ?></div>
			<?php else: ?>
			<div class="shipping-fee-box-top"><?php echo $this->__('Your Order') ?></div>
			<div class="shipping-fee-box-bottom"><?php echo $_subtotal; ?></div>
			<?php endif; ?>
			<div class="bg-shipping-filter-widget">
				<div class="shipping-move-area">
					<div class="shipping-move" style="left:<?php echo $move ?>px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>