<?php
$secureMode = preg_match('/https:\/\//', Mage::helper('core/url')->getCurrentUrl()) ? true : false;
$contactFormUrl = Mage::getUrl('ajaxcontact/index/post');
if($secureMode) {
    $contactFormUrl = str_replace('http://', 'https://', $contactFormUrl);
}
$currentStore = Mage::app()->getStore()->getCode();
$version      = 'lang-en';
$nameStore    = '';
switch($currentStore) {
    case 'en' :  $nameStore = "Petloft's"; break;
    case 'ven' : $nameStore = "Venbi's"; break;
    case 'sen' : $nameStore = "Sagona's"; break;
    case 'len' : $nameStore = "Lafema's"; break;
    case 'moxyen' : $nameStore = "Moxy's"; break;
}
if( strpos($currentStore, 'th') !== false ){$version = 'lang-th';}
?>
<div class="contact-sidebar-show <?php echo $version; ?>" style="display: none;">
    <div class="outer">
        <div class="container">
            <div class="inner">
                <div id="wrapper">
                    <div class="content">
                        <div class="title-container">
                            <div class="title-content-container">
                                <p>
                                    <?php
                                    $text_button = 'Send';
                                    if( strpos($currentStore, 'moxy') !== false ){
                                        $text_button = 'Submit';
                                        if($version == 'lang-en') { echo $this->__("Welcome to ".$nameStore." messaging service.".' ');}
                                        echo $this->__('Send us a message and our Customer Service Team will answer back shortly.');
                                    } else {
                                        if($version == 'lang-en') { echo $this->__("Welcome to ".$nameStore." messaging form.".' ');}
                                        echo $this->__('Drop us a message and our team will get back to you shortly.');
                                    }

                                    ?>
                                </p>
                            </div>
                            <a class="title mini-view-button" href="javascript:void(0)"></a>
                        </div>
                        <div class="body-container">
                            <div class="style-border-color">
                                <div class="body-inner">
                                    <div class="view">
                                        <div class="form" id="mainView">
                                            <form action="<?php echo $contactFormUrl; ?>" id="contactFormSidebar" method="post">
                                                <div class="form-row">
                                                    <p>
                                                        <label for="name" class="required"><?php echo Mage::helper('ajaxcontact')->__('Name') ?><em>*</em></label>
                                                        <input name="name" id="name" title="<?php echo Mage::helper('ajaxcontact')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                                                    </p>
                                                </div>
                                                <div class="form-row">
                                                    <p>
                                                        <label for="email" class="required"><?php echo Mage::helper('ajaxcontact')->__('Email') ?><em>*</em></label>
                                                        <input name="email" id="email" title="<?php echo Mage::helper('ajaxcontact')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                                                    </p>
                                                </div>
                                                <div class="form-row">
                                                    <p>
                                                        <label for="telephone"><?php echo Mage::helper('ajaxcontact')->__('Mobile') ?></label>
                                                        <input name="telephone" id="telephone" title="<?php echo Mage::helper('ajaxcontact')->__('Mobile') ?>" value="" class="input-text" type="text" />
                                                    </p>
                                                </div>
                                                <div class="form-row">
                                                    <p>
                                                        <label for="subject"><?php echo Mage::helper('ajaxcontact')->__('Subject') ?></label>
                                                        <input name="subject" id="subject" title="<?php echo Mage::helper('ajaxcontact')->__('Subject') ?>" value="" class="input-text" type="text" />
                                                    </p>
                                                </div>
                                                <div class="form-row content-message">
                                                    <p>
                                                        <label for="comment" class="required"><?php echo Mage::helper('ajaxcontact')->__('Message') ?><em>*</em></label>
                                                        <textarea name="comment" id="comment" title="<?php echo Mage::helper('ajaxcontact')->__('Message') ?>" class="required-entry input-text" cols="5" rows="6"></textarea>
                                                    </p>
                                                </div>
                                                <div class="form-row">
                                                    <p>
                                                        <button type="submit" title="<?php echo Mage::helper('ajaxcontact')->__($text_button) ?>"><?php echo Mage::helper('ajaxcontact')->__($text_button) ?></button>
                                                        <span class="ajax-loader" style="display: none;">
                                                            <img src="<?php echo $this->getSkinUrl('images/loader.gif') ?>" alt=""/>
                                                        </span>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-sidebar-hide <?php echo $version; ?>">
    <div class="compact-view">
        <div class="body">
            <a href="javascript:void(0);" class="full-view-button"></a>
            <div class="extra"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    var contactFormSidebar = new VarienForm('contactFormSidebar', true);
    jQuery(function($) {
        $('.contact-sidebar-hide .full-view-button').on('click', function() {
            $('.contact-sidebar-hide').hide();
            $('.contact-sidebar-show').show();
        });
        $('.contact-sidebar-show .mini-view-button').on('click', function() {
            $('.contact-sidebar-show').hide();
            $('.contact-sidebar-hide').show();
        });
        $('#contactFormSidebar').submit(function() {
            if (contactFormSidebar.validator.validate()) {
                var form = $(this),
                    loader = $('.ajax-loader');
                loader.show();
                $.post(form.attr('action'), form.serialize(), function(json) {
                    var messageClass = json.status ? 'success' : 'error',
                        messageHtml = '<p class="'+ messageClass +'">' + json.message + '</p>';
                    if(json.status) {
                        $('.body-container').css('display', 'none');
                    }
                    $('.title-content-container').html(messageHtml);
                    loader.hide();
                }, "json");
            }

            return false;
        });
    });
    //]]>
</script>