<?php /* @var $this Mage_Checkout_Block_Onepage_Success */ ?>
<?php
/** @var Petloft_Catalog_Helper_Data $helper */
$helper = Mage::helper('petloftcatalog');
?>
<?php $client = Mage::getModel('core/cookie')->get('client'); ?>
<?php if ($client == 'mobileapp'){  ?>
<style type="text/css">
.global-header,
.footer-container,
.mb-facebook,
.mb-email,
.buttons-set {
 display: none !important;
}
</style>
<?php } ?>
<?php $_order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId()) ?>
<?php //if($_order): ?>
<?php $_shippingAddress = is_object($_order->getShippingAddress()) ? $_order->getShippingAddress() : $_order->getBillingAddress(); $deliveryDays = $helper->getDeliveryDays($this->getOrderId(), $_shippingAddress->getRegionId()); ?>
<div id="oscheckout-success">
   <div class="header-section">
        <div id="oscheckout-heading" class="float-f">
            <!-- <h1 class="txt-color-navy float-l"><?php echo $this->__('Order confirmation') ?></h1> -->
            <div id="custom-static-block">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('oscheckout-success')->toHtml() ?>
            </div><!--#custom-static-block-->
        </div>

        <div id="oscheckout-static-block" class="float-r">
        </div>
    </div>

    <div id="mobile-clear"></div>
    <div class="info-success">
        <div id="information-section">
            <div id="short-email">
                <p style="margin-bottom: 25px;margin-top: 10px;font-size:12px;font-weight: bold; color: gray"><?php echo $this->__('Hello %s,', $_shippingAddress->getFirstname() . ' ' . $_shippingAddress->getLastname()) ?></p>
                <div id="order-number">
                    <?php echo $this->__('Your order number is') ?>
                    <p style="margin-top:5px;font-size:25px;font-weight: bold; color: gray"><?php echo $this->getOrderId() ?></p>
                </div>

                <div id="deliver-day">
                    <?php
                    $is_wholesale = $_order->getIsWholesale(); 
                    echo $this->__('Delivery in');
                    if ($is_wholesale == 0): ?>
                        <p style="margin-top:5px;font-weight: bold; color: gray"><?php echo $this->__("%s working days.",'3 - 10'); ?></p>
                    <?php else: ?>
                        <p style="margin-top:5px;font-weight: bold; color: gray"><?php echo $this->__("%s working days.",'14 - 20'); ?></p>
                    <?php endif; ?>
                </div>
                <div class="clear"></div>
                <p style="margin-top: 20px;color: gray"><?php echo $this->__("If you have further inquiries on your delivery & orders, please contact on our Customer Service Hotline.")?></p>
                <?php
                    if ($is_wholesale == 0) {
                        $callcenter = "02-106-8222";
                    } else {
                        $callcenter = "+6698-284-6185";
                    }
                ?>
                <p style="font-weight: bold; color: gray"><?php echo $callcenter ?> | <?php echo $this->__('Monday - Friday 10:00AM to 7:00PM') ?></p>

                <p style="color: gray"><?php echo $this->__('Have a nice day!') ?></p>
                <p style="color: gray"><?php echo $this->__('Orami Team') ?></p>
                <?php if ($this->getViewOrder() && $this->getCanPrintOrder()) :?>
                    <p>
                        <?php echo $this->__('<span class="print-machine"></span><a href="%s" onclick="this.target=\'_blank\'">Print this page</a>', $this->getPrintUrl()) ?>
                        <?php echo $this->getChildHtml() ?>
                    </p>
                <?php endif;?>
            </div><!--#short-email-->
        </div><!--#information-section-->
    </div>

    <div class="clear"></div>
    <div class="info-success">
        <div id="sharing-section">
            <div id="sharing-fb">
                <h2 class="txt-color-navy"><?php echo $this->__('Share with your friends') ?></h2>
                <?php $_first_item = null; ?>
                <?php foreach($_order->getAllVisibleItems() as $_i): ?>
                    <?php $_first_item =  $_i->getProduct();break;?>
                <?php endforeach; ?>
<!--                <div class="sharing-feature-img" class="float-l w-30-percent">-->
<!--                    <src="--><?php //echo Mage::helper('catalog/image')->init($_first_item, 'thumbnail')->resize(67,111) ?><!--" />-->
<!--                </div>-->
                <div class="sharing-message float-r w-70-percent">
                    <p class="title-share"><?php echo $this->__('Share with your friends') ?></p>
                    <p><?php echo $this->__("I've just bought") ?> the <?php echo $_first_item->getName()?>&nbsp;<?php echo $this->__('at') ?>&nbsp;<?php echo $_SERVER['HTTP_HOST'] ?></p>
                    <?php
                    $pId = '';
                    $mainImage = '';
                    $prTitle = '';
                    $sm = '';
                    if($_order->getId()) {
                        foreach ( $_order->getAllItems() as $item ) {
                            $product = Mage::getModel('catalog/product')->load($item->getProductId());
                            if($product->getId()) {
                                $pId = $product->getId();
                                $sm = $this->helper('catalog/output')->productAttribute($product, nl2br($product->getShortDescription()), 'description');
                                $prTitle = $product->getName();
                                $mainImage = $this->helper('catalog/image')->init($product, 'image');
                                break;
                            }
                        }
                    }
                    $sm1 = "I just bought the  $prTitle from " . $_SERVER['HTTP_HOST']."! Check it out.";
                    $userId = Mage::getSingleton('customer/session')->getCustomer()->getId();
                    $refUrl = $this->getUrl('rewardpoints/index/goReferral', array("referrer" => $userId,'sharedPid'=>$pId,'_secure'=>false,'t'=>'[Referred Friends]'));

                    /* From MAGENTO-494 */
                    $sm = urlencode($sm);
                    $prTitle = urlencode($prTitle);
                    $mainImage = urlencode($mainImage);
                    $refUrl = urlencode($refUrl);
                    /* end */

                    $FBSharer = "http://www.facebook.com/sharer/sharer.php?s=100&summary=$sm&title=$prTitle&img={$mainImage}&p[url]={$refUrl}&from=sucssess";

                    ?>
                    <div class="btn" onclick="javascript:window.open('<?php echo $FBSharer;?>', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');"><?php echo $this->__('Share') ?></div>
                    <!--<div class="fb-share-button btn" data-href="<?php // echo $refUrl ?>"></div>-->
                </div>
            </div><!--#sharing-fb-->
            <div id="sharing-email">
                <div class="sharing-feature-img" class="float-l w-30-percent">
                    <img src="<?php echo $this->getSkinUrl('images/icr-share-email.png') ?>">
                </div>
                <div class="sharing-message float-r w-70-percent">
                    <p class="title-share"><?php echo $this->__('Refer friends') ?></p>
                    <p><?php echo $this->__("Hi! I've just bought") ?>&nbsp;<?php echo $_first_item->getName() ?>&nbsp;<?php echo $this->__('at') ?>&nbsp;<?php echo $_SERVER['HTTP_HOST'] ?></p>
                    <div class="btn" onclick="javascript:window.open('<?php echo Mage::getBaseUrl() ?>rewardpoints/index/referral/')"><?php echo $this->__('Share to friend') ?></div>
                </div>
            </div><!--#sharing-email-->
            <?php if($_order->getId()) :?>
                <div class="mb-sharing">
                    <div class="success-summary">
                        <h2><?php echo $this->__('Order Summary')?></h2>
                        <table class="data-table">
                            <thead>
                            <th rowspan="<?php echo $rowspan ?>"><?php echo $this->__('Item(s)') ?></th>
                            <th rowspan="<?php echo $rowspan ?>" class="a-center"><?php echo $this->__('Delivery in (%s) days','3 - 10') ?></th>
                            </thead>
                            <tbody>
                            <?php foreach($_order->getAllItems() as $item): ?>
                                <?php $product = Mage::getModel('catalog/product')->load($item->getProductId());?>
                                <tr>
                                    <td><?php echo $product->getName()?></td>
                                    <td></td>
                                </tr>
                            <?php endforeach ?>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn mb-facebook" onclick="javascript:window.open('<?php echo $FBSharer;?>', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');"><?php echo $this->__('Share with your friends') ?></div>
                    <div class="btn mb-email" onclick="javascript:window.open('<?php echo Mage::getBaseUrl() ?>rewardpoints/index/referral/')"><?php echo $this->__('Refer to friend to get 100 ฿ off') ?></div>
                </div>
            <?php endif;?>
            <div class="buttons-set">
                <button type="button" title="<?php echo $this->__('Continue shopping') ?>" class="button btn-continue" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span class="continue-shopping-ico"></span><span><?php echo $this->__('Continue shopping') ?></span></span></button>
            </div>
        </div><!--#sharing-section-->
    </div>
</div><!--#onestepcheckout-success-wrapper-->
<div style="width: 30%; display: list-item; list-style: none; margin: 0; float: right;">
    <?php
    // for PriceZa tracking
    if($_order->getId()) {
        $productId = array();
        $itemAmount = array();
        foreach ( $_order->getAllItems() as $item ) {
            $product = Mage::getModel('catalog/product')->load($item->getProductId());
            if($product->getId()) {
                $pId = $product->getId();
                $sm = $this->helper('catalog/output')->productAttribute($product, nl2br($product->getShortDescription()), 'description');
                $prTitle = $product->getName();
                $mainImage = $this->helper('catalog/image')->init($product, 'image');

                if($item->getProductType()=='simple'){
                    $itemOrdered = $item->getQtyOrdered();
                    for($i=0; $i<$itemOrdered; $i++){
                        $itemProdId[] = $product->getId();
                        $itemAmount[] = $product->getFinalPrice();
                    }
                }
            }
        }

        $storeName = Mage::app()->getStore()->getName();
        $tmp = explode(" ", $storeName);
        $store = strtolower($tmp[0]);
        switch ($store){
            case 'petloft'  : $merchantId = 2040; break;
            case 'venbi'    : $merchantId = 2039; break;
            case 'sanoga'   : $merchantId = 2016; break;
            case 'lafema'   : $merchantId = 2050; break;
            default: $merchantId = 0;
        }
        $productId = implode("|", $itemProdId);
        $amount = implode("|", $itemAmount);
        $filter = $_order->getPayment()->getMethodInstance()->getTitle();
        $data = $this->getOrderId();
    }
    // for PriceZa tracking
    ?>

    <script type="text/javascript">
        var pricezaJsHost = (("https:" == document.location.protocol) ? "https://www." : "http://www.");
        document.write(unescape("%3Cscript src='" + pricezaJsHost + "priceza.com/js/tracking.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            PRICEZA.track({
                type : "purchase",
                merchantId : "<?php echo $merchantId ?>",
                productId : "<?php echo $productId ?>",
                value : "<?php echo $amount ?>",
                filter : "<?php echo $filter ?>",
                data : "<?php echo $data ?>"
            });
        } catch(error) {}

    </script>
