<?php if (Mage::getStoreConfig('socialshare/general/enabled')) : ?>
  <div class="social_buttons">
    <?php echo $this->__("Share: ") ?>
	<!--
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=171023582948066";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
	<span class="facebook_share" style="vertical-align: text-bottom;">
		<!-- <fb:share-button type="button_count" href="<?php //echo Mage::helper('core/url')->getCurrentUrl(); ?>">
        	</fb:share-button> -->
	        <fb:share-button type="button" href="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>">
		</fb:share-button>
	</span>
	
    <span class="facebook_like" style="vertical-align: text-bottom;">
		<div class="fb-like" data-href="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
	</span>

	<!-- Twitter -->
	<span class="twitter">
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="<?php echo Mage::getStoreConfig('facebooklb/general/twitter_acc'); ?>">Tweet</a>
	</span>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>    
	
	<!-- Google +1 -->
    <script type="text/javascript">
      (function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <span class="google">
	    <g:plusone size="medium"></g:plusone>
    </span>
	
	
</div>
<?php endif; ?>