<script type="text/javascript">
    Payment.prototype.save = Payment.prototype.save.wrap(function(superMethod) {
        var paymentMethod = jQuery("#co-payment-form").find("input[name='payment[method]']:checked").val();

        if (typeof paymentMethod == "undefined") {
            alert('Please select one method');

            return false;
        } else if (paymentMethod == "omise_gateway") {
            var omiseValidation = new Validation('co-payment-form');

            // If validate pass
            if (omiseValidation.validate()) {
                jQuery.getScript("https://cdn.omise.co/omise.min.js.gz", function() {

                    // Set Omise key
                    Omise.setPublicKey("<?php echo $this->getOmiseKeys('public_key'); ?>");

                    var form                = jQuery("#payment_form_omise_gateway"),
                        formValidation      = form.find('.omise-validation-advice'),
                        formValidationMsg   = formValidation.find('.validation-advice');

                    // Serialize the form fields into a valid card object.
                    var card = {
                        "name": form.find("[data-omise=holder_name]").val(),
                        "number": form.find("[data-omise=number]").val(),
                        "expiration_month": form.find("[data-omise=expiration_month]").val(),
                        "expiration_year": form.find("[data-omise=expiration_year]").val(),
                        "security_code": form.find("[data-omise=security_code]").val()
                    };

                    formValidation.css({'opacity': 0, 'display': 'none'});

                    // Send a request to create a token
                    // then trigger the callback function once a response is received from Omise.
                    // * Note that the response could be an error and this needs to be handled
                    // * within the callback.
                    Omise.createToken("card", card, function (statusCode, response) {
                        // If has an error (can not create a card's token).
                        if (response.object == "error") {
                            // Display an error message - "Omise Response: "+response.message.
                            formValidation.css({'opacity': 1, 'display': 'block'});
                            formValidationMsg.html("Omise Response: "+response.message);
                        } else if (typeof response.card != 'undefined' && !response.card.security_code_check) {
                            // Display an error message - "Omise Response: Card authorization failure.".
                            formValidation.css({'opacity': 1, 'display': 'block'});
                            formValidationMsg.html("Omise Response: Card authorization failure.");
                        } else {
                            form.find("[data-omise=omise_token]").val(response.id);

                            return superMethod();
                        };
                    });

                });

                return false;
            }
        } else {
            return superMethod();
        }
    }, jQuery);
</script>

<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magento.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magento.com for more information.
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2006-2014 X.commerce, Inc. (http://www.magento.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php $_code=$this->getMethodCode() ?>
<ul class="form-list list-credit" id="payment_form_<?php echo $_code ?>" style="display:none;">

    <li class="omise-validation-advice"><div class="validation-advice"></div></li>
    <li>
        <h2 class="card-tile"><?php echo $this->__('Credit/Debit card')?></h2>
    </li>
    <li class="card-type">
        <label for="<?php echo $_code ?>_cc_type" class="required"><?php echo $this->__('Card Type') ?></label><span class="visa-mm-icons"></span>
        <div class="input-box arrowselectbox">
            <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="required-entry validate-cc-type-select">
                <option value=""><?php echo $this->__('--Please Select--')?></option>
            <?php $_ccType = $this->getInfoData('cc_type') ?>
            <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                <option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
            <?php endforeach ?>
            </select>
        </div>

        <input data-omise="omise_token" type="hidden" name="payment[omise_token]">
    </li>

    <!-- Credit Card Holder Name -->
    <li>
        <label for="<?php echo $_code ?>_cc_owner" class="required"><em>*</em><?php echo $this->__('Credit Card Holder Name') ?></label>
        <div class="input-box">
            <input type="text" data-omise="holder_name" id="<?php echo $_code ?>_cc_name" name="payment[cc_name]" title="<?php echo $this->__('Credit Card Holder Name') ?>" class="input-text required-entry" value="<?php echo $this->escapeHtml($this->getInfoData('cc_owner')) ?>" />
        </div>
    </li>

    <!-- Credit Card Number -->
    <li>
        <label for="<?php echo $_code ?>_cc_number" class="required"><em>*</em><?php echo $this->__('Credit Card Number') ?></label>
        <div class="input-box">
            <input type="text" data-omise="number" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type" value="" />
        </div>
    </li>



    <!-- Security Code -->
    <?php echo $this->getChildHtml() ?>
    <?php if($this->hasVerification()): ?>
    <li id="<?php echo $_code ?>_cc_type_cvv_div">
        <label for="<?php echo $_code ?>_cc_cid" class="required"><em>*</em><?php echo $this->__('Card Verification Number') ?></label>
        <div class="input-box box-verification">
            <div class="v-fix">
                <input data-omise="security_code" type="password" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value="" />
            </div>
        </div>
    </li>
    <?php endif; ?>

    <?php if ($this->hasSsCardType()): ?>
    <li id="<?php echo $_code ?>_cc_type_ss_div">
        <ul class="inner-form">
            <li class="form-alt"><label for="<?php echo $_code ?>_cc_issue" class="required"><em>*</em><?php echo $this->__('Switch/Solo/Maestro Only') ?></label></li>
            <li>
                <label for="<?php echo $_code ?>_cc_issue"><?php echo $this->__('Issue Number') ?>:</label>
                <span class="input-box">
                    <input type="text" title="<?php echo $this->__('Issue Number') ?>" class="input-text validate-cc-ukss cvv" id="<?php echo $_code ?>_cc_issue" name="payment[cc_ss_issue]" value="" />
                </span>
            </li>

            <li>
                <label for="<?php echo $_code ?>_start_month"><?php echo $this->__('Start Date') ?>:</label>
                <div class="input-box">
                    <div class="v-fix arrowselectbox">
                        <select id="<?php echo $_code ?>_start_month" name="payment[cc_ss_start_month]" class="validate-cc-ukss month">
                        <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                            <option value="<?php echo $k?$k:'' ?>"<?php if($k==$this->getInfoData('cc_ss_start_month')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                        </select>
                    </div>
                    <div class="v-fix arrowselectbox">
                        <select id="<?php echo $_code ?>_start_year" name="payment[cc_ss_start_year]" class="validate-cc-ukss year">
                        <?php foreach ($this->getSsStartYears() as $k=>$v): ?>
                            <option value="<?php echo $k?$k:'' ?>"<?php if($k==$this->getInfoData('cc_ss_start_year')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                        </select>
                    </div>
                </div>
            </li>
            <li class="adv-container">&nbsp;</li>
        </ul>
        <script type="text/javascript">
        //<![CDATA[
        var SSChecked<?php echo $_code ?> = function() {
            var elm = $('<?php echo $_code ?>_cc_type');
            if (['SS','SM','SO'].indexOf(elm.value) != -1) {
                $('<?php echo $_code ?>_cc_type_ss_div').show();
            } else {
                $('<?php echo $_code ?>_cc_type_ss_div').hide();
            }
        };

        Event.observe($('<?php echo $_code ?>_cc_type'), 'change', SSChecked<?php echo $_code ?>);
        SSChecked<?php echo $_code ?>();
        //]]>
        </script>
    </li>
    <?php endif; ?>

    <!-- Expiration Date -->
    <li id="<?php echo $_code ?>_cc_type_exp_div">
        <label for="<?php echo $_code ?>_expiration" class="required"><em>*</em><?php echo $this->__('Expiration Date') ?></label>
        <div class="input-box input-vfix-year">
            <div class="v-fix arrowselectbox">
                <select data-omise="expiration_month" id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry">
                    <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                    <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                        <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                </select>
            </div>
            <div class="v-fix arrowselectbox">
                <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
                <select data-omise="expiration_year" id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry">
                    <?php foreach ($this->getCcYears() as $k=>$v): ?>
                        <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
    </li>
</ul>
