<?php
/**
 * Inchoo is not affiliated with or in any way responsible for this code.
 *
 * Commercial support is available directly from the [extension author](http://www.techytalk.info/contact/).
 *
 * @category Marko-M
 * @package SocialConnect
 * @author Marko Martinović <marko@techytalk.info>
 * @copyright Copyright (c) Marko Martinović (http://www.techytalk.info)
 * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
?>
<?php
/**
 * Create account form template
 *
 * @var $this Mage_Customer_Block_Form_Register
 */
?>
<?php echo $this->getChildHtml('form_fields_before')?>
<?php /* Extensions placeholder */ ?>
<?php echo $this->getChildHtml('customer.form.register.extra')?>

<!-- REGISTER -->
<section id="login-page">
    <?php echo $this->getMessagesBlock()->toHtml(); ?>
    <div class="row">
        <div class="col-sm push-sm-6">
            <p class="h3 d-block d-sm-none" style="margin-top: 12px;">Creat an Account</p>
            <div id="login-jumbo" class="d-none d-sm-block">
                <img src="<?php echo $this->getSkinUrl('images/HP-Register.jpg'); ?>" alt="">
            </div>
        </div>
        <div  class="col-sm pull-sm-6">
            <div class="backdrop">
                <div id="login-content">
                    <div id="login-title" class="row">
                        <div class="col hidden-xs-down">
                            <p class="h3">Creat an Account</p>
                        </div>
                        <div class="col text-register">
                            <span>Already a member? <a href="<?php echo Mage::getUrl('customer/account/login'); ?>">Login here</a> </span>
                        </div>
                    </div>

                    <!-- SOCIAL ACCOUNT -->
                    <?php echo $this->getChildHtml('inchoo_socialconnect_register'); ?>

                    <!-- REGISTER FORM -->
                    <form class="form-material" action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate" novalidate>
                        <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
                        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
                        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />

                        <!-- NAME -->
                        <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                        <!-- END NAME -->

                        <!-- EMAIL -->
                        <div id="email-group" class="group">
                            <label class="text-label">Email Address <i>&#42;</i></label>
                            <input type="email" name="email" id="email_address" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" class="input-text validate-email required-entry" placeholder="<?php echo Mage::helper('core')->quoteEscape($this->__('example@orami.co.th')) ?>" require/>
                        </div> <!-- END EMAIL -->

                        <!-- PASSWORD -->
                        <div class="row">
                            <div class="col-sm">
                                <div id="password-group" class="group">
                                    <label class="text-label">Password <i>&#42;</i></label>
                                    <input type="password" name="password" id="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" class="input-text required-entry validate-password" required />
                                </div>
                            </div>
                            <div class="col-sm">
                                <div id="confirm-group" class="group">
                                    <label class="text-label">Confirm Password <i>&#42;</i></label>
                                    <input type="password" name="confirmation" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Confirm Password')) ?>" id="confirmation" class="input-text required-entry validate-cpassword" required />
                                </div>
                            </div>
                        </div> <!-- END PASSWORD -->

                        <div class="row">
                            <!-- GENDER -->
                            <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                            <?php if ($_gender->isEnabled()) echo $_gender->setGender($this->getFormData()->getGender())->toHtml(); ?>
                            <!-- END GENDER -->

                            <!-- BIRTH DATE -->
                            <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                            <?php if ($_dob->isEnabled()) echo $_dob->setDate($this->getFormData()->getDob())->toHtml(); ?>
                             <!-- END BIRTH DATE -->
                        </div>
                        <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                        <?php if ($_taxvat->isEnabled()): ?>
                                <?php echo $_taxvat->setTaxvat()->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                        <?php endif ?>
                        <div class="group">
                            <span><a href="#">Required field &#42;</a></span>
                        </div>

                        <!-- NEWSLETTER -->
                        <div class="group">
                            <label class="custom-control custom-checkbox newsletter-select">
                                <input type="checkbox" class="custom-control-input" id="sign-up-box" name="is_subscribed" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign Up for Newsletter')) ?>" value="1" checked />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><?php echo $this->__('Sign up for Orami promotions newsletter') ?></span>
                            </label>
                            <span>Select the category promotions you are interested to receive</span>
                            <hr>
                            <div id="newsletter-section" class="row">
                                <?php
                                $storeCode = Mage::app()->getStore()->getCode();
                                if($storeCode == 'petloften' || $storeCode == 'petloftth'):
                                    ?>
                                    <div class="col-6 col-sm-4">
                                        <label class="custom-control custom-checkbox newsletter-select">
                                            <input type="checkbox" class="custom-control-input" value="1" name="inp_39794">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Cat</span>
                                        </label>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <label class="custom-control custom-checkbox newsletter-select">
                                            <input type="checkbox" class="custom-control-input" value="1" name="inp_39793">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Dog</span>
                                        </label>
                                    </div>
                                <?php else: ?>
                                    <div class="col-6 col-sm-4">
                                        <label class="custom-control custom-checkbox newsletter-select">
                                            <input type="checkbox" class="custom-control-input" value="1" name="inp_10829">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Mom &amp; Baby</span>
                                        </label>
                                        <label class="custom-control custom-checkbox newsletter-select">
                                            <input type="checkbox" class="custom-control-input" value="1" name="inp_10831">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Pets</span>
                                        </label>
                                        <label class="custom-control custom-checkbox newsletter-select">
                                            <input type="checkbox" class="custom-control-input" value="1" name="inp_24286">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Fashion</span>
                                        </label>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <label class="custom-control custom-checkbox newsletter-select">
                                            <input type="checkbox" class="custom-control-input" value="1" name="inp_10832">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Beauty</span>
                                        </label>
                                        <label class="custom-control custom-checkbox newsletter-select">
                                            <input type="checkbox" class="custom-control-input" value="1" name="inp_10830">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Health &amp; Sports</span>
                                        </label>
                                        <label class="custom-control custom-checkbox newsletter-select">
                                            <input type="checkbox" class="custom-control-input" value="1" name="inp_24287">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Electronics</span>
                                        </label>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="row">
                                            <div class="col col-sm-12">
                                                <label class="custom-control custom-checkbox newsletter-select">
                                                    <input type="checkbox" class="custom-control-input" value="1" name="inp_24289">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Home Decor</span>
                                                </label>
                                            </div>
                                            <div class="col col-sm-12">
                                                <label class="custom-control custom-checkbox newsletter-select">
                                                    <input type="checkbox" class="custom-control-input" value="1" name="inp_24288">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Home Appliance</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                <?php endif;?>
                            </div>
                            <p id="term">
                                I agree sign up to your newsletter, and I agree to the company's <a href="#">Terms and Conditions</a> including <a href="#">Privacy Policy</a>.
                            </p>
                        </div><!-- END NEWSLETTER -->

                        <?php echo $this->getChildHtml('form.additional.info'); ?>
                        <?php echo $this->getChildHtml('persistent.remember.me'); ?>
                        <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>

                        <!-- REGISTER BUTTON -->
                        <button type="submit" class="btn btn-primary btn-full" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Register')) ?>"><?php echo $this->__('Register') ?></button>
                    </form> <!-- END REGISTER FORM -->
                </div>
            </div>
            
        </div>
    </div>
    <script>
        function changeColor($object,$color) {
            jQuery($object).css('color', $color);
        }

        jQuery(document).ready(function() {
            item = jQuery('.form-material select');

            item.focus(function() {
                changeColor(this,'#000');
            });
            item.blur(function() {
                if (jQuery(this).val() == null) {
                    changeColor(this,'inherit');
                }
            });

            jQuery('#sign-up-box').change(function() {
                checkbox = jQuery('#newsletter-section .newsletter-select input');

                var ischecked= jQuery(this).is(':checked');
                if(!ischecked) {
                    checkbox.prop('checked', false);
                    checkbox.attr('disabled','disabled');
                } else {
                    checkbox.removeAttr("disabled");
                }
                
            });
        });
    </script>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
    //]]>
    </script>
</section><!-- END REGISTER -->
