<div class="list-detail-sp">
    <?php if(Mage::getSingleton('checkout/session')->getQuote()->getBillingAddress()):?>
        <div class="billing-detail">
            <h2><?php echo $this->__('Your Billing details');?></h2>
            <address><?php echo Mage::getSingleton('checkout/session')->getQuote()->getBillingAddress()->format('html') ?></address>
        </div>
    <?php endif;?>
    <?php if(Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress()):?>
        <div class="shipping-detail">
            <h2><?php echo $this->__('Your Shipping details');?></h2>
            <address><?php echo Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress()->format('html') ?></address>
        </div>
    <?php endif;?>
</div>