
<!-- Cart Modal -->
<script type="text/javascript">
    var ajax_updateItemOptions_url = "<?php echo $this->getUrl('checkout/cart/updateItemOptions') ?>";
    var ajax_getcartmodal_url = "<?php echo $this->getUrl('checkout/cart/getcartmodal') ?>";
    var ajax_getcartright_url = "<?php echo $this->getUrl('checkout/cart/getcartright') ?>";
</script>
<div class="modal cart-modal"></div>