<?php
  /*
  * Copyright (c) 2014 www.magebuzz.com
  */
  $listItem = $this->getMenuItemsByPosition(Magebuzz_Supermenu_Model_Config_Position::TOP_MENU);
?>
<div class="supermenu nav-container">
        <div class="container-bx">
  <ul id="mb-supermenu">
      <!-- MOBILE MENU HEADER -->
      <li class="sm-item d-sm-none">
        <small><?php echo $this->__('Browse Categories'); ?></small>
      </li> <!-- END MOBILE MENU HEADER -->
    <?php foreach($listItem as $item):?>
<?php  $name = $item->getTextItem(); ?>
      <?php $styles = Mage::helper('supermenu')->getStyleByItemId($item->getId()); ?>
      <li class="sm-item <?php if($item->getItemType() == Magebuzz_Supermenu_Model_Config_Itemtype::TYPE_CUSTOM):?>customcontent-item<?php endif;?>">
<?php   if (!empty(Mage::registry('current_category'))) {

         $cate =  Mage::registry('current_category')->getName(); $cate = $this->__($cate);
         $curr =  $this->__($name);
?>
                <a class="sm-item-link <?php if ($cate == $curr){echo 'nav-active';} ?> "
onmouseover="this.style.color='#<?php echo $styles->getItemFontHoverColor()?>'"
onmouseout="this.style.color='#<?php echo $styles->getItemFontColor()?>'"
style="<?php if($item->getIconItem()!=""):?>background:url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'supermenu/items/' . $item->getIconItem();?>') center left no-repeat; padding-left: 15px;
<?php endif;?><?php echo Mage::helper('supermenu')->getStyleCss($item->getId()); ?>" title="<?php echo $item->getTextItem();?>"
<?php if($item->getLinkItem()):?>href="<?php $purl =  Mage::helper('supermenu')->getLinkbyItem($item); echo rtrim($purl,'/'); ?>"<?php endif;?>>
          <?php   echo $this->__($name); ?></a>
<?php }else{ ?>
<a class="sm-item-link nav-inactive"
onmouseover="this.style.color='#<?php echo $styles->getItemFontHoverColor()?>'"
onmouseout="this.style.color='#<?php echo $styles->getItemFontColor()?>'"
style="<?php if($item->getIconItem()!=""):?>background:url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'supermenu/items/' . $item->getIconItem();?>') center left no-repeat; padding-left: 15px;
<?php endif;?><?php echo Mage::helper('supermenu')->getStyleCss($item->getId()); ?>" title="<?php echo $item->getTextItem();?>"
<?php if($item->getLinkItem()):?>href="<?php $purl =  Mage::helper('supermenu')->getLinkbyItem($item); echo rtrim($purl,'/'); ?>"<?php endif;?>>
 <?php   echo $this->__($name); ?></a>
<?php } ?>      
        <?php if($item->getItemType() != Magebuzz_Supermenu_Model_Config_Itemtype::TYPE_TEXT_LINK):?>
          <div class="group-menu-items sub-items-row-<?php echo $item->getId();?>" style="<?php echo Mage::helper('supermenu')->getSubitemsCss($item->getId()); ?>">
            <?php if($item->getHeaderContent() != ""):?>
                  <?php if($item->getItemType() == Magebuzz_Supermenu_Model_Config_Itemtype::TYPE_CUSTOM):?>
                    <div class="header-content" style="width:<?php if($item->getWidthOfColumn()){echo $item->getWidthOfColumn();}else{ echo '475';}?>px;"><?php echo $item->getHeaderContent();?></div>
                    <?php else:?>
                    <div class="header-content"><?php echo $item->getHeaderContent();?></div>
                    <?php endif; ?>
              <?php endif;?>
            <div class="main-menu-content">
              <?php if($item->getItemType() == Magebuzz_Supermenu_Model_Config_Itemtype::TYPE_CUSTOM):?>
                <div class="sm-custom" id="item-<?php echo $item->getId()?>-custom" style="width:<?php if($item->getWidthOfColumn()){echo $item->getWidthOfColumn();}else{ echo '475';}?>px;">
                  <?php echo $item->getCustomContent();?>
                  <?php
                    ?>
                    <div class="featured_static_block">
                      <?php echo Mage::app()->getLayout()->createBlock('cms/block')->setBlockId($item->getFeaturedBlock())->toHtml();?>
                    </div>
                </div>
                <?php else:?>
                <div class="sm-grid left">
                  <?php echo $this->getHtmlContentItem($item)?>
                </div>
                <?php $featureHtml = $this->getFeatureHtml($item);?>
                    <?php if ($featureHtml):?>
                      <div class="featured-items" style="float:right; width:<?php if($item->getWidthOfColumn()){echo $item->getWidthOfColumn();}else{ echo '180';}?>px;"><?php echo $this->getFeatureHtml($item)?></div>
                    <?php endif;?>
              

                <?php if($item->getItemType() == Magebuzz_Supermenu_Model_Config_Itemtype::TYPE_CATEGORY && $item ->getTemplateId() ==2 ):?>
                      <script type="text/javascript">
                        jQuery(document).ready(function(){
                          var fullWidth = <?php echo $item->getWidthOfColumn()?> + 'px';
                          jQuery(".sub-items-row-<?php echo $item->getId();?> > .header-content").css("width",fullWidth);
                          jQuery(".sub-items-row-<?php echo $item->getId();?> > .main-menu-content").css("width",fullWidth);
                          jQuery(".sub-items-row-<?php echo $item->getId();?> > .footer-content").css("width",fullWidth);
                        });
                      </script>
                <?php else:?>
                      <script type="text/javascript">
                        jQuery(document).ready(function(){
                          var gridWidth = jQuery(".sub-items-row-<?php echo $item->getId();?> > .main-menu-content > div.sm-grid").outerWidth();
                          var featuredColWidth = jQuery(".sub-items-row-<?php echo $item->getId();?> > .main-menu-content > div.featured-items").outerWidth();
                          var fullWidth = gridWidth + featuredColWidth;
                          jQuery(".sub-items-row-<?php echo $item->getId();?> > .header-content").css("width",fullWidth);
                          jQuery(".sub-items-row-<?php echo $item->getId();?> > .main-menu-content").css("width",fullWidth);
                          jQuery(".sub-items-row-<?php echo $item->getId();?> > .footer-content").css("width",fullWidth);
                          var gridHeight = jQuery(".sub-items-row-<?php echo $item->getId();?> > .main-menu-content > div.sm-grid").outerHeight();
                          var featuredItemHeight = jQuery(".sub-items-row-<?php echo $item->getId();?> > .main-menu-content > div.featured-items").outerHeight();
                          var maxHeight = gridHeight;
                          maxHeight = (gridHeight < featuredItemHeight) ? featuredItemHeight:gridHeight;
                          jQuery(".sub-items-row-<?php echo $item->getId();?> > .main-menu-content > div.featured-items").css("height",maxHeight);
                          var navLeft = jQuery('.nav-container > .container-bx').position().left;
                          var navRight = parseInt(jQuery('.nav-container > .container-bx').css('width').replace('px', '')) + navLeft;
                          
                          jQuery('.group-menu-items').each(function () {
                            var currentLeft = jQuery(this).parent().position().left + navLeft;
                            var currentRight = parseInt(jQuery(this).css('width').replace('px', '')) + currentLeft;
                            if(currentRight > navRight){
                              var currentLeftChange = -1 * (currentRight - navRight - 219);
                              //jQuery(this).css('left', currentLeftChange + 'px');
                              var newLeft = (-1 * currentLeft) + navLeft;
                              jQuery(this).css('left',newLeft);
                            }
                          });
                        });
                      </script>
                <?php endif;?>
              <?php endif;?>
            </div>

            <div class="brands">
              <a href="<?php $purl =  $item->getLinkItem(); echo "/all-brands-". preg_replace('/\\.[^.\\s]{3,4}$/','',$purl); ?>"><?php echo $this->__('Brands'); ?></a>
            </div>

              <?php if($item->getFooterContent() != ""):?>
                <?php if($item->getItemType() == Magebuzz_Supermenu_Model_Config_Itemtype::TYPE_CUSTOM):?>
                  <div class="footer-content" style="width:<?php if($item->getWidthOfColumn()){echo $item->getWidthOfColumn();}else{ echo '475';}?>px;"><?php echo $item->getFooterContent();?></div>
                <?php else:?>
                <div class="footer-content"><?php echo $item->getFooterContent();?></div>
                <?php endif; ?>
              <?php endif;?>
          </div>
        <?php endif;?>
      </li>
    <?php endforeach;?>
      <!-- MOBILE MENU FOOTER -->
      <li class="sm-item d-sm-none">
        <div class="row">
          <div class="col">
            <a class="sm-custom-link" href="https://tracking.acommerce.asia/whatsnewth?id=" target="_blank"><?php echo $this->__('Track Your Order') ?></a>
          </div>
          <div class="col-3 language-bar">
            <?php
              $currentStore = Mage::app()->getStore()->getCode();

              foreach (Mage::app()->getStores() as $_lang):
                $code = $_lang->getCode();

                if ($code == $currentStore) {
                  $langClass = "btn btn-primary btn-sm";
                } else {
                  $langClass = "btn btn-outline-secondary btn-sm";
                }
            ?>
                <?php if ($code == "moxyth"): ?>
                  <a id="th"
                    class="<?php echo $langClass; ?>"
                    href="<?php echo $_lang->getCurrentUrl() ?>">
                      <?php echo "TH" ?>
                  </a>
                <?php elseif ($code == "moxyen"): ?>
                  <a id="en"
                    class="<?php echo $langClass; ?>"
                    href="<?php echo $_lang->getCurrentUrl() ?>">
                    <?php echo "EN" ?>
                  </a>
                <?php endif; ?>
            <?php endforeach; ?>
          </div>
        </div>
        
        <?php if ($currentStore == "moxyen" || $currentStore == "moxyth"): ?>
          <a class="sm-custom-link" href="https://www.orami.co.th/magazine"><?php echo $this->__('Magazine'); ?></a>
        <?php endif ?>
      </li>
      <!-- END MOBILE MENU FOOTER -->
  </ul>
</div>
</div>