<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head fieldset-legend <?php echo $this->getHeaderCssClass() ?>"><?php echo $this->getHeaderText() ?></h4>
    </div>
    <div id="order_channel_fieds">
        <?php echo $this->getForm()->getHtml() ?>
    </div>    
</div>
