<!-- Call ScarabQueue API -->
<script>
	var ScarabQueue = ScarabQueue || [];
	(function(id) {
		if (document.getElementById(id)) return;
		var js = document.createElement('script'); js.id = id;
		js.src = 'http://cdn.scarabresearch.com/js/1C65C9ED2924A5F4/scarab-v2.js';
		var fs = document.getElementsByTagName('script')[0];
		fs.parentNode.insertBefore(js, fs);
	})('scarab-js-api');
</script>

<!-- template -->
<script type="text/html" id="simple-tmpl" >
<![CDATA[
    {{ for (var i=0; i < SC.page.products.length; i++) { }}
      {{ SC.page.products[i].link = SC.page.products[i].link.replace("https://www.orami.co.th", ''); }}
      {{ var p = SC.page.products[i]; }}
      {{ var disc = Math.floor(((p.msrp - p.price)/p.msrp)*100)+'%'; }}
	      <div class="col-6 col-sm-3 product-col">
	      	<div class="product-card" data-scarabitem="{{=p.id}}">
	      		<button class="add-to-cart" onclick="window.location.href='{{=p.link}}'">
	                <?php echo $this->__('View') ?>
	            </button>

	            <a href="{{=p.link}}">
	                <div class="overlay"></div>
	            </a>

	            <div class="product-image">
	                <a href="{{=p.link}}">
	                    <img src="{{=p.image}}" alt="{{=p.title}}">
	                </a>
	            </div>

	            <div class="product-info-block">
	                <div class="price-block">
						<span class="regular-price">
		                    <span class="msrp">฿{{=p.msrp}} </span>
							<span class="price align-middle">฿{{=p.price}} </span>
							<span class="discount align-middle">{{=disc}}</span>
						</span>
					</div>
	                <div class="product-info">
	                    <span class="name">
	                        <a href="{{=p.link}}">{{=p.title}}</a>
	                    </span>
	                </div>
	            </div>
	      	</div>
	    </div>
    {{ } }}
]]>
</script>

<!-- placeholder -->
<section class="homegrid">
    <p class="h3 line-thought"><?php echo $this->__('Recommended for you'); ?></p>
	<div class="product-grid">         
        <div id="emarsys-home-recommended" class="row" style="margin: 0 -1.5px;">
        </div>
     </div>
</section>

<script>
	ScarabQueue.push(['category', 'Pets']);

	ScarabQueue.push(['recommend', {
	    logic: 'CATEGORY',
	    limit: 4,
	    containerId: 'emarsys-home-recommended',
		templateId: 'simple-tmpl',
		success: function(SC, render) {
			render(SC);
		}
	}]);
</script>