<div id="mini_cart_message_content">
    <button type="button" class="close" id="close_message">
        <span aria-hidden="true" style="color: white">&times;</span>
    </button>
    <div id="minicart-product-message"></div>
</div>

<script>
    jQuery('#close_message').click(function () {
        jQuery('#mini_cart_message_content').css("display", "none");
    });

    var header = jQuery('header');
    var topBar = jQuery('#top-bar');
    var toolBar = jQuery('#tool-bar');
    var topNavBar = jQuery('#top-nav-bar');
    var miniCartMessage = jQuery('#mini_cart_message_content');
    var sticLoc = header.outerHeight();

    miniCartMessage.css('top', sticLoc);

    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > 0 && jQuery(this).width() >= 575) {
            sticLoc = toolBar.outerHeight() + topNavBar.outerHeight();
        } else if (jQuery(this).scrollTop() > 0) {
            sticLoc = toolBar.outerHeight();
        } else {
            sticLoc = header.outerHeight();
        }

        miniCartMessage.css('top', sticLoc);
    });
</script>