.category-view,.catalogsearch-result-index {
  .page-title{
    text-align: left;
    h1{
      font-family: arial, sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: @color-text1;
      text-transform: uppercase;
      margin-top: 3px;
    }
    h1:before{
      content: " ";
      height: 20px;
      width: 25px;
      background: url("../images/ico-nav.png") no-repeat;
      display: inline-block;
      background-size: auto 25px;
    }
    h1.nav-dog:before{
      background-position: -299px 0px;
      background-size: auto 25px;
    }
    h1.nav-cat:before{
      background-position: -342px 0px;
    }
    h1.nav-fish:before{
      background-position: -363px 0px;
      width: 26px;
    }
    h1.nav-smallpet:before{
      background-size: auto 22px;
      background-position: -342px 2px;
    }
    h1.nav-deal:before{
      background-position: -368px 2px;
      width: 25px;
      background-size: auto 22px;

    }
  }
  
  .filters-block, .sorter{
    .selector{
      height: 33px !important;
      line-height: 33px !important;
      margin-bottom: 7px !important;
      span{
        border: none;
        background-color: #eef6ff !important;
        height: 33px !important;
        line-height: 33px !important;
        padding-left: 15px !important;
        &:after{
          background: none;
          color: #124c8d;
          border: none;
          width: 38px;
        }
      }      
    } 
    
  }
  .product-infor{
    position: relative;
  }
}

.grid{
   .category-products{
     .c-list{
       li
       {
         margin: 0 0 33px;
         a{
           .product-infor{
             .product-image{
               img{
                 display: block;
               }
             }
           }
         }
       }
     }
   }
 }


.category-products{
  .c-list{
    margin-top: 10px;
    > li
    {
      overflow: hidden;
      margin: 0 0 30px;
      .product-image{
        float: left;
        width: 27%;
        img{
          width: 100%;
        }
      }
      .product-info{
        float: right;
        width: 68%;
        .product-shop{
          text-align: left;
          margin-bottom: 10px;
          .product-name{
            margin-top: 0;
            font-size: 12px;
            color: #124b8d;
          }
          .product-description{
            width: 100%;
            padding-left: 0;
            margin-left: 0;
            font-size: 11px !important;
            margin-top: 6px;
            max-height: 42px;
            overflow: hidden;
          }
        }
        .info-price{
          overflow: hidden;
          .price-box{
            float: left;            
          }
          .actions{
            float: right;
            background: none;
            width: 100px;
            padding-bottom: 0;
            ul li{
              margin: 0;
              a.i-add-to-cart{
                width: 100%;
                min-width: inherit;
                border-radius: 0;
              }
            }            
          }
          .save-percentage{ display: none;}
        }       
      }
      // a{
      //   .product-infor{
      //     .product-image{
      //       width: 20%;
      //       float: left;
      //       margin-right: 15px;
      //       img{
      //         width: 100%;
      //         height: auto;
      //         display: block;
      //       }
      //     }
      //     .product-shop{
      //       text-align: left;
      //       h1,.product-name{
      //         margin-top: 10px;
      //       }
      //     }
      //     .price-box{
      //       float: right;
      //       width: 80%;
      //       text-align: left;
      //       padding-left: 15px;
      //       box-sizing: border-box;
      //       padding-right: 36%;
      //       .price-label{
      //       }
      //     }
      //   }
      // }
      // .actions{
      //   background: none;
      //   width: 80%;
      //   padding-left: 15px;
      //   float: right;
      //   box-sizing: border-box;
      //   position: relative;
      //   min-height: 54px;
      //   padding-bottom: 0;
      //   ul{
      //     position: absolute;
      //     top: -20px;
      //     right: 0;
      //     width: 100%;
      //     padding-left: 15px;
      //     box-sizing: border-box;
      //     li{

      //       a{
      //         float: right;
      //       }
      //       a.i-send-wishlist{

      //       }
      //       a.i-add-to-cart{
      //         width: 100%;
      //         border-radius: 0;
      //         margin-left: 15px;
      //       }
      //     }
      //     li:last-child{
      //       margin: 0;
      //     }
      //   }
      // }
    }
  }
}



.catalog-category-view,
.catalogsearch-result-index{
  .price-label{
    display: none;
  }
  .category-products{
    margin: 0;
  }

  .price-box{
    > span{
      display: block;      
    }
    .price{
      font-size: 22px;
      font-weight: bold;
      color: #df1f60;
    }
    .special-price{
      
    }
    
    .old-price{
      .price{ font-size: 11px; text-decoration: line-through; color: #959595; font-weight: 400}
    }
  }


}
.list{
  .c-list{
    .save-percentage{

      width: 32px;
      height: 32px;
      top: -7%;
      left: 7%;
      span{
        font-size: 11px;
        margin-top: 5px;
        margin-left: 3px;
      }
    }
  }
}

.filters{
  overflow: hidden;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 15px;
  margin-top: 15px;
  position: relative;
  .Thaifont-bold;
  font-size: 20px;
  color: @color-text1;
  margin-bottom: 10px;
  .toolbar{
    position: relative;
    margin-bottom: 15px;
  }
  .box-filter.active h2, .sort-wrapper.active h2{ 
    text-align: center;
    background-color: #deeeff;
    padding: 3px 0;
    border: none;
  }
  .box-filter h2, .sort-wrapper h2{
    background-color: transparent;
    border: 1px solid #57728f;
    border-bottom: none;
    text-align: center;
    padding: 3px 0;
    z-index: 999;
    background-color: #ffffff;
    position: relative;
  }
  .box-filter{
    float: left;  
  }
  .sort-wrapper{
    float: right;
  }
  .box-filter, .sort-wrapper{
    width: 48%;    
    min-height: 185px;
    &.active{
      min-height: inherit;
    }
  }
  .sort-wrapper{
    min-height: 200px;
  }
  #filter-container, .sorter{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 11px;    
  }
  .filter-toggle{
    display: inline-block;      
  }
  .filter-toggle:after{
    content: "\f107";
    .FontAwesome;
    display: inline-block;
    font-size: 21px;
    color: #124c8d;
    width: 21px;
    height: 21px;
    float: right;
    margin-top: 3px;
    text-align: right;
    margin-left: 23px;
  }
  .row{
    h2{
      display: block;
    }   

    // .sorter{
    //   overflow: hidden;
    //   label{
    //     float: left;
    //     display: inline-block;
    //     width: 20%;
    //   }
    //   // .order-by{
    //   //   display: inline-block;
    //   //   width: 40%;
    //   //   float: left;
    //   //   .selector{
    //   //   }
    //   // }
    //   // .sort-by{
    //   //   display: inline-block;
    //   //   width: 40%;
    //   //   float: left;
    //   //   margin-left: 20%;
    //   // }
    // }
    // .limiter{
    //   position: absolute;
    //   display: inline-block;
    //   width: 32%;
    //   right: 0;
    //   top: 0%;
    //   .selectperpage{
    //     display: inline-block;
    //     width: 45px;
    //     span{
    //       background: @color-text5!important;
    //       color: @bg-input!important;
    //     }
    //   }
    // }
    #filter-container, .sorter{
      margin-top: -1px;
      border: 1px solid #57728f;
      padding-top: 11px;
      .filters-block{
        position: relative;
        margin-bottom: 10px;
        .currently{
          overflow: hidden;
          .block-subtitle{
            margin-bottom: 5px;
          }
          ol{
            list-style: none;
            li{
              display: block;
              float: left;
              width: 100%;
              .label{
                float: left;
                font-size: 18px;
              }
              .value{
                float: right;
                font-size: 16px;
                font-weight: normal;
                display: inline-block;
                margin-top: 4px;
                margin-left: 2px;
                color: @color-text9;
              }
              .btn-remove{
                float: right;
                font-size: 0;
                font-weight: normal;
                margin-top: 4px;
              }
              .btn-remove:before{
                content: "\f00d";
                font-family: FontAwesome;
                font-size: 16px;
                float: right;
                font-weight: normal;
              }
            }
          }
        }
        .actions{
          background: none;
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
        }
        .block-content{
          .selector{
            margin-bottom: 15px;
          }
        }
      }
    }

  }
}

.th{
  .filter{
    .row {
      .sorter{
        .order-by{
          width: 36%;

        }
        label{
          width: 27%;

        }
        .sort-by{
          margin-left: 27%;
          width: 36%;
        }
      }
      .limiter{
        width: 35%;
      }
    }
  }
}
.view-mode{
  display: none;
  float: left;
  .grid{
    font-size: 0;
  }
  .grid:before{
    content: "\f00a";
    display: inline-block;
    font-size: 20px;
    .FontAwesome;
    color: @color-text4;
  }
  strong.grid:before{
    color: @color-text5;
  }
  .list{
    font-size: 0;
  }
  .list:before{
    content: "\f0c9";
    display: inline-block;
    font-size: 20px;
    .FontAwesome;
    color: @color-text4;
  }
  strong.list:before{
    color: @color-text5;
  }
}
.pager{
  overflow: hidden;
  .amount{
    .Thaifont-bold;
    font-size: 14px;
    color: @color-text4;
    float: left;   
  }
  .pages{
    display: inline-block;
    float: right;
    width: 40%;
    ul{
      margin: 0;
      overflow: hidden;
      float: right;
      li{
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        background:@color-text5;
        float: left;
        line-height: 20px;
        .Thaifont-bold;
        a{
          display: inline-block;
          width: 100%;
          height: 100%;
          background:@bg-input;
          color: @color-text1;
        }
        a.next{
          img{
            display: none;
          }
        }
        a.next:before{
          content: "\f105";
          .FontAwesome;
          display: inline-block;
          font-size: 21px;
          color: @color-text5;
          width: 21px;
          height: 21px;
          float: right;
          text-align: right;
          margin: 0 10px 0px 0;
        }

        a.previous{
          img{
            display: none;
          }
        }
        a.previous:before{
          content: "\f104";
          .FontAwesome;
          display: inline-block;
          font-size: 21px;
          color: @color-text6;
          width: 21px;
          height: 21px;
          float: right;
          text-align: right;
          margin: 0 10px 0px 0;
        }

      }
    }
  }
}

.save-percentage{
  color: @bg-input;
  font-weight: bold;
  background: url("../images/save-percentage.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 61px;
  height: 61px;
  position: absolute;
  top: -7%;
  right: 7%;

  span{
    font-family: arial, helvetica, clean, sans-serif;
    font-size: 18px;
    margin-top: 13px;
    display: inline-block;
  }
}
.cms-home{
  .save-percentage{
    top: 0;
  }
}
