<ul class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <h4><?php echo $this->__('Credit / Debit Card') ?></h4>
    <li class="form-alt"><?php echo $this->__('You will be redirected to the 2c2p website when you place an order.') ?></li>
    <li><?php echo $this->__('Autoship orders made by Debit cards will be declined.') ?></li>
    <?php if ($code = $this->getCreateBACode()): ?>
        <li class="form-alt">
            <label for="<?php echo $code ?>"><input type="checkbox" id="<?php echo $code ?>" value="1" name="payment[<?php echo $code ?>]" class="checkbox" />
                <?php echo $this->__('Sign a billing agreement to streamline further purchases with PayPal.') ?></label>
        </li>
    <?php endif; ?>
    <img style="margin-top: 10px" src="<?php echo $this->getSkinUrl('images/verifiedsecure.png') ?>" alt="">
</ul>
