﻿<div class="page-title row">
    <h1><?php echo $this->__('Your order has been received.') ?></h1>
</div>

<div class="row">
    <img src="<?php echo $this->getSkinUrl('images/order-complete.png') ?>"  alt="successful order"/>
</div>

<div class="row thankyou-row">
    <h2 class="sub-title"><span><?php echo $this->__('Thank you for your purchase!') ?></span></h2>
</div>

<?php if ($this->getOrderId()):?>
    <?php if ($this->getCanViewOrder()) :?>
        <div class="row orderid-row"><p><span><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></span></p></div>
    <?php  else :?>
        <div class="row orderid-row">
            <p><span><?php echo $this->__('Your order # is: %s.', $this->escapeHtml($this->getOrderId())) ?></span></p>
        </div>
    <?php endif;?>
        <div class="row confirm-row">
            <p><span><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></span></p>
        </div>
<?php endif;?>

<?php $order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId()); ?>
<?php
    $pId = '';
    $mainImage = '';
    $prTitle = '';
    $sm = '';
    if($order->getId()) {
        foreach ( $order->getAllItems() as $item ) {
            $product = Mage::getModel('catalog/product')->load($item->getProductId());
            if($product->getId()) {
                $pId = $product->getId();
                $sm = $this->helper('catalog/output')->productAttribute($product, nl2br($product->getShortDescription()), 'description');
                $prTitle = $product->getName();
                $mainImage = $this->helper('catalog/image')->init($product, 'image');
                break;
            }
        }
    }
    $userId = Mage::getSingleton('customer/session')->getCustomer()->getId();
    $refUrl = $this->getUrl('rewardpoints/index/goReferral', array("referrer" => $userId,'sharedPid'=>$pId,'_secure'=>false,'t'=>'[Referred Friends]'));
    $FBSharer = "http://www.facebook.com/sharer/sharer.php?s=100&p[summary]={$sm}&p[title]={$prTitle}&p[images][0]={$mainImage}&p[url]={$refUrl}";

    // for PriceZa tracking
    if($order->getId()) {
        $productId = array();
        $itemAmount = array();
        foreach ( $order->getAllItems() as $item ) {
            $product = Mage::getModel('catalog/product')->load($item->getProductId());
            if($product->getId()) {
                $pId = $product->getId();
                $sm = $this->helper('catalog/output')->productAttribute($product, nl2br($product->getShortDescription()), 'description');
                $prTitle = $product->getName();
                $mainImage = $this->helper('catalog/image')->init($product, 'image');

                if($item->getProductType()=='simple'){
                    $itemOrdered = $item->getQtyOrdered();
                    for($i=0; $i<$itemOrdered; $i++){
                        $itemProdId[] = $product->getId();
                        $itemAmount[] = $product->getFinalPrice();
                    }
                }
            }
        }

        $storeName = Mage::app()->getStore()->getName();
        $tmp = explode(" ", $storeName);
        $store = strtolower($tmp[0]);
        switch ($store){
            case 'petloft'  : $merchantId = 2040; break;
            case 'venbi'    : $merchantId = 2039; break;
            case 'sanoga'   : $merchantId = 2016; break;
            case 'lafema'   : $merchantId = 2050; break;
            default: $merchantId = 0;
        }
        $productId = implode("|", $itemProdId);
        $amount = implode("|", $itemAmount);
        $filter = $order->getPayment()->getMethodInstance()->getTitle();
        $data = $this->getOrderId();
    }
    // for PriceZa tracking
?>
<div class="row refer-row">
    <h2><?php echo $this->__('Refer a friend for FREE ฿100') ?></h2>
</div>
<div class="row">
    <div class="fb-share-btn">
        <span class="share-bt" onclick="javascript:window.open('<?php echo $FBSharer;?>', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');"><img src="<?php echo $this->getSkinUrl('images/order-complete-fb-share.png') ?>" alt="Referred Friends on Facebook" /></span>
    </div>
    <div class="twitter-btn">
        <span class="share-bt" onclick="javascript:window.open('http://twitter.com/home?status=<?php echo $refUrl ?>', 'twitter_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');"><img src="<?php echo $this->getSkinUrl('images/order-complete-twitter-share.png') ?>" alt="Referred Friends on Twitter" /></span>
    </div>
</div>

<div class="buttons-set row">
    <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>

<script type="text/javascript">
    var pricezaJsHost = (("https:" == document.location.protocol) ? "https://www." : "http://www.");
    document.write(unescape("%3Cscript src='" + pricezaJsHost + "priceza.com/js/tracking.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
            PRICEZA.track({
            type : "purchase",
            merchantId : "<?php echo $merchantId ?>",
            productId : "<?php echo $productId ?>",
            value : "<?php echo $amount ?>",
            filter : "<?php echo $filter ?>",
            data : "<?php echo $data ?>"
        });
    } catch(error) {}
</script>