<?php /* @var $this SM_Emarsys_Block_Product_Bought */ ?>
<?php
$collection = null; //$this->getFlatRecommended2();//$this->getFlatRecommended();
?>
<?php if(!$collection):?>
<script>
    function afterCallSC(SC, render){
        if(SC.page.products.length > 0) {
            jQuery.ajax({
                url: '/emarsys/index/checkstatus',
                data: {'data': SC.page.products},
                type: 'POST',
                dateType: 'json',
                async: false,
                success: function (data) {
                    data = JSON.parse(data);
                    SC.page.products = data;
                }
            });
            render(SC);
        }
    }
</script>
<script type="text/html" id="also-bought-widget-template">
    <![CDATA[
    {{ if (SC.page.products.length > 3) { }}
    <div class="recommend-hd-box"><div style="clear:both;"></div>
        <div class="headRibbon"><span class="leftRib"></span><span class="recommend-hd"><?php echo $this->__('People Who Viewed this Also Bought');?></span><span class="rightRib"></span></div>
    </div>
    <ul id="slidealsoBoughtWidget" class="gridXL" style="width:1170px;">
        {{ for (var i=0; i < SC.page.products.length; i++) { }}
        <!--for statement-->
        {{ SC.page.products[i].link = SC.page.products[i].link.replace("/th/", '/'); }}
        {{ SC.page.products[i].link = SC.page.products[i].link.split("?")[0]; }}
        {{ var p = SC.page.products[i]; }}
        {{ if(p.image != 'http://cdn.whatsnew.asia/media/catalog/productno_selection') { }}
        {{ var discount = ((1 - p.price / p.msrp) * 100).toFixed(0); }}
        <li class="recItem rec-analysis" data-web-section="viewed_also_bought_emarsys" data-product-id="{{=p.productId}}" data-scarabitem="{{= p.id }}">
            <div class="imgPlace">
                <a href="{{= p.link }}" title="{{= p.title}}" class="product-image">
                    <img src="{{= p.image }}" width="150" height="150" alt="{{= p.title}}" />
                </a>
            </div>
            <div class="productItem">
                <div class="textPlace">
			<span class="pdName">
				<a href="{{= p.link }}" title="{{= p.title}}">{{= p.title}}</a>
			</span>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price-label">Our Price:</span>
                            <span class="price" id="product-price-{{= p.productId}}">฿{{= p.price }}</span>
                        </p>
                        {{ if( discount >= 3 ) { }}
                        <p class="old-price">
                            <span class="price-label">Regularly:</span>
                            {{ if(p.msrp){ }}
                            <span class="price" id="old-price-{{= p.productId}}">฿{{= p.msrp }}</span>
                            {{ } }}
                        </p>
                        {{ } }}
                        {{ if( discount >= 3 ) { }}
                        <p class="save-percentage">
                            <span class="price-label">Save:</span>
                            <span class="price" id="save-percentage-{{= p.productId}}">{{= discount}}<span>%</span></span>
                        </p>
                        {{ } }}
                    </div>
                    <a href="{{= p.link }}" title="{{= p.title}}"><div class="overlay_item"></div></a>

                    {{ if (p.available == true){ }}
                    <div class="actions" align="center">
                        <button class="button btn-cart" title="<?php echo $this->__('Add To Bag'); ?>" type="button">
                            <span align="center" ref="{{= p.productId}}" class="buy-rec"><span
                                    style="float:none;"><?php echo $this->__('Add To Bag'); ?></span></span>
                            <input type="hidden" name="product" value="{{= p.productId}}"/>
                        </button>
                    </div>
                    {{ } else { }}
                    <div class="actions" align="center">
                        <button type="button" title="See" class="button btn-see" onclick="setLocation('{{= p.link }}')">
                            <span><?php echo $this->__('View'); ?></span>
                        </button>
                    </div>
                    {{ } }}

                </div>
            </div>
            <div class="clear"></div>
        </li>
        {{ } }}
        {{ } }}
    </ul>
    {{ } }}
    ]]>
</script>
<div id="alsoBoughtWidgetContainer"></div>
<script>
    ScarabQueue.push(['recommend', {
        logic: 'ALSO_BOUGHT',
        containerId: 'alsoBoughtWidgetContainer',
        templateId: 'also-bought-widget-template',
        success: afterCallSC
    }]);

    setTimeout(function(){
        jQuery('<div class="control"><a class="prevAlsoBoughtRecommendation" href="javascript:void(0);">prev</a><a class="nextAlsoBoughtRecommendation" href="javascript:void(0);">next</a></div>').insertBefore(jQuery('#slidealsoBoughtWidget'));
        jQuery('#slidealsoBoughtWidget').carouFredSel({
            scroll: {
                items:3,
                effect: 'easeOutBounce',
                speed: 2500,
                pauseOnHover: true
            },
            auto: false,
            responsive: false,
            items: 4,
            width: '100%',
            height: 'auto',
            next: "a.nextAlsoBoughtRecommendation",
            prev: "a.prevAlsoBoughtRecommendation"
        });
        AmAjaxEnableElement('button.btn-cart');
    }, 3000);
</script>
<?php else :?>
    <div id="alsoBoughtWidgetContainer">
        <div class="recommend-hd-box"><div style="clear:both;"></div>
            <div class="headRibbon"><span class="leftRib"></span><span class="recommend-hd"><?php echo $this->__('People Who Viewed this Also Bought');?></span><span class="rightRib"></span></div>
        </div>
        <ul id="slidealsoBoughtWidget" class="gridXL" style="width:1170px;">
            <?php foreach ($collection as $item):?>
                <?php $product = Mage::getModel('catalog/product')->load($item->getId());?>

                <li class="recItem rec-analysis" data-web-section="viewed_also_bought_inhouse" data-product-id="<?php echo $product->getId()?>" data-scarabitem="<?php echo $product->getSku()?>">

                    <div class="imgPlace">
                        <a href="<?php echo $product->getProductUrl()?>" title="<?php echo $product->getName()?>" class="product-image">
                            <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image'); ?>" width="150" height="150" alt="<?php echo $product->getName()?>" />
                        </a>
                    </div>
                    <div class="productItem">
                        <div class="textPlace">
                            <span class="pdName">
                                <a href="<?php echo $product->getProductUrl()?>" title="<?php echo $product->getName()?>"><?php echo $product->getName()?></a>
                            </span>
                            <?php echo $this->getPriceHtml($product, true, '-related') ?>
                            <a href="<?php echo $product->getProductUrl()?>" title="<?php echo $product->getName()?>"><div class="overlay_item"></div></a>
                            <div class="actions" align="center">
                                <?php if ($product->getTypeId()=='configurable'):?>
                                    <button type="button" title="<?php echo $this->__('Add To Bag') ?>" class="button" onclick="setLocation('<?php echo $product->getProductUrl() ?>')">
                                        <span style="background-color: #3eba88;"><span><?php echo $this->__('Add To Bag') ?></span></span>
                                    </button>
                                <?php else:?>
                                    <button class="button btn-cart" title="<?php echo $this->__('Add To Bag');?>" type="button">
                                        <span align="center" ref="<?php echo $product->getId()?>" class="buy-rec"><span style="float:none;"><?php echo $this->__('Add To Bag');?></span></span>
                                        <input type="hidden" name="product" value="<?php echo $product->getId()?>"/>
                                    </button>
                                <?php endif; ?>

                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>

            <?php endforeach; ?>
        </ul>

    </div>

    <script>

        setTimeout(function(){
            jQuery('<div class="control"><a class="prevAlsoBoughtRecommendation" href="javascript:void(0);">prev</a><a class="nextAlsoBoughtRecommendation" href="javascript:void(0);">next</a></div>').insertBefore(jQuery('#slidealsoBoughtWidget'));
            jQuery('#slidealsoBoughtWidget').carouFredSel({
                scroll: {
                    items:3,
                    effect: 'easeOutBounce',
                    speed: 2500,
                    pauseOnHover: true
                },
                auto: false,
                responsive: false,
                items: 4,
                width: '100%',
                height: 'auto',
                next: "a.nextAlsoBoughtRecommendation",
                prev: "a.prevAlsoBoughtRecommendation"
            });
            AmAjaxEnableElement('button.btn-cart');
        }, 3000);
    </script>
<?php endif;?>
