<script>
    function afterCallSC(SC, render){
        if(SC.page.products.length > 0) {
            jQuery.ajax({
                url: '/emarsys/index/checkstatus',
                data: {'data': SC.page.products},
                type: 'POST',
                dateType: 'json',
                async: false,
                success: function (data) {
                    data = JSON.parse(data);
                    SC.page.products = data;
                }
            });
            render(SC);
        }
    }
</script>
<script type="text/html" id="cart-widget-template">
    <![CDATA[
    {{ if (SC.page.products.length > 3) { }}
    <div class="recommend-hd-box"><div style="clear:both;"></div>
        <div class="headRibbon"><span class="leftRib"></span><span class="recommend-hd"><?php echo $this->__('People who viewed this also bought'); ?></span><span class="rightRib"></span></div>
    </div>
    <ul id="slideCartWidget" class="gridXL" style="width:1170px;">
        {{ for (var i=0; i < SC.page.products.length; i++) { }}
        <!--for statement-->
        {{ SC.page.products[i].link = SC.page.products[i].link.replace("/th/", '/'); }}
        {{ SC.page.products[i].link = SC.page.products[i].link.split("?")[0]; }}
        {{ var p = SC.page.products[i]; }}
        {{ if(p.image != 'http://cdn.whatsnew.asia/media/catalog/productno_selection') { }}
        {{ var discount = ((1 - p.price / p.msrp) * 100).toFixed(0); }}
        <li class="recItem rec-analysis" data-web-section="shopping_cart" data-product-id="{{=p.productId}}" data-scarabitem="{{= p.id }}">
            <div class="imgPlace">
                <a href="{{= p.link }}" title="{{= p.title}}" class="product-image">
                    <img src="{{= p.image }}" width="150" height="150" alt="{{= p.title}}"/>
                </a>
            </div>
            <div class="productItem">
                <div class="textPlace">
			<span class="pdName">
				<a href="{{= p.link }}" title="{{= p.title}}">{{= p.title}}</a>
			</span>
                    <div class="price-box">
                        <p class="special-price cart">
                            <span class="price-label">Our Price:</span>
                            <span class="price" id="product-price-{{= p.productId}}">฿{{= p.price }}</span>
                        </p>

                        {{ if( discount >= 3 ) { }}
                        <p class="old-price cart">
                            <span class="price-label">Regularly:</span>
                            {{ if(p.msrp){ }}
                            <span class="price" id="old-price-{{= p.productId}}">฿{{= p.msrp }}</span>
                            {{ } }}
                        </p>
                        {{ } }}

                        {{ if( discount >= 3 ) { }}
                        <p class="save-percentage cart">
                            <span class="price-label">Save:</span>
                            <span class="price cart" id="save-percentage-{{= p.productId}}">{{= discount}}<span>%</span></span>
                        </p>
                        {{ } }}
                    </div>
                    <a href="{{= p.link }}" title="{{= p.title}}"><div class="overlay_item"></div></a>
                    <div class="actions" align="center">
                        <button type="button" title="See" class="button btn-see" onclick="setLocation('{{= p.link }}')">
                            <span><?php echo $this->__('View'); ?></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </li>
        {{ } }}
        {{ } }}
    </ul>
    {{ } }}
    ]]>
</script>

<style>
    #slideCartWidget .recItem .imgPlace a {
        text-align: center;
    }

    #slideCartWidget .recItem .productItem .textPlace .actions button span {
        padding: 0px;
    }
</style>

<div id="cartWidgetContainer" style="margin: 10px 0px;">

</div>

<script>
    ScarabQueue.push(['recommend', {
        logic: 'CART',
        containerId: 'cartWidgetContainer',
        templateId: 'cart-widget-template',
        success: afterCallSC
    }]);

    setTimeout(function () {
        jQuery('<div class="control"><a class="prevCartRecommendation" href="javascript:void(0);">prev</a><a class="nextCartRecommendation" href="javascript:void(0);">next</a></div>').insertBefore(jQuery('#slideCartWidget'));
        jQuery('#slideCartWidget').carouFredSel({
            scroll: {
                items: 3,
                effect: 'easeOutBounce',
                speed: 2500,
                pauseOnHover: true
            },
            auto: false,
            responsive: false,
            items: 4,
            width: '100%',
            height: 'auto',
            next: "a.nextCartRecommendation",
            prev: "a.prevCartRecommendation"
        });
        AmAjaxShoppCartLoad('button.btn-cart');
    }, 3000);
</script>