<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="590">
            <!-- [ header starts here] -->
            <tr>
                <td valign="middle" style="padding: 0 25px;" height="80"><a href="{{store url=""}}"><img src="{{skin url='images/logo_email.gif'}}" alt="{{var logo_alt}}" border="0"/></a></td>
            </tr>
            <tr>
                <td height="10"><img src="{{skin url='images/email-line.gif'}}"  style="margin-bottom:10px;" border="0"/></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:15px 30px;">
                    <h1 style="font-size:24px; font-weight:bold; line-height:24px; margin:0 0 11px 0;color:#28448d;">สวัสดีค่ะคุณ {{htmlescape var=$order.getCustomerName()}}</h1>
                    <p style="font-size:13px; line-height:18px; margin:0;color:#505050;">
                        เราขอขอบคุณสำหรับการสั่งซื้อสินค้าจาก <a href="{{store url=""}}"  style="color:#28438c; text-decoration:none;" target="_blank">{{var store.getFrontendName()}}</a> คุณสามารถเช็คสถานะการสั่งซื้อของคุณได้โดย<a href="{{store url="customer/account/"}}" style="color:#28438c; text-decoration:none;">เข้าสู่ระบบบัญชีของคุณ</a>
                        <p style="font-size:13px; line-height:18px;color:#505050; margin:0;">
หากท่านมีคำถามหรือข้อสงสัยใดๆ สามารถติดต่อเราได้ที่ <a href="mailto:support@venbi.com" style="color:#28438c; text-decoration:none;">support@venbi.com</a> หรือที่หมายเลขโทรศัพท์ 02 6362233
</p>
                    </p>
            </tr>
            <tr>
                <td style="padding:0 30px 15px 30px;">
                    <span style="font-size:12px; font-weight:normal; margin:0;color:#505050;">เลขที่ใบสั่งซื้อ #{{var order.increment_id}} <small>(ทำรายการเมื่อ {{var order.getCreatedAtFormated('long')}})</small></span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table cellspacing="0" cellpadding="0" border="0" width="590" style="border:3px solid #e1e1e1;">
                        <thead>
                        <tr>
                            <th align="left" width="290" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;color:#505050;">ข้อมูลในการออกใบเสร็จ:</th>
                            <th align="left" width="290" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;color:#505050;">วิธีการชำระเงิน:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td colspan="2" height="3" bgcolor="#e1e1e1"></td></tr>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;color:#505050;">
                                {{var order.getBillingAddress().format('html')}}
                            </td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; color:#505050;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="590" style="border:3px solid #e1e1e1;">
                        <thead>
                        <tr>
                            <th align="left" width="290"  style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;color:#505050;">ข้อมูลการจัดส่งสินค้า:</th>
                            <th align="left" width="290"  style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;color:#505050;">วิธีการจัดส่ง:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td colspan="2" height="3" bgcolor="#e1e1e1"></td></tr>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;color:#505050;">
                                {{var order.getShippingAddress().format('html')}}
                                &nbsp;
                            </td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;color:#505050;">
                                {{var order.getShippingDescription()}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}
                    {{layout handle="sales_email_order_items" order=$order}}
                    <p style="font-size:12px; margin:0 0 10px 0">{{var order.getEmailCustomerNote()}}</p>
                </td>
            </tr>
            <tr>
			    <td height="30"><img src="{{skin url='images/email-line.gif'}}"  style="margin-top:20px;" border="0"/></td>
			</tr>
			<tr>
                <td style="padding:20px;">
                    <span style="font:normal 11px 'Arial';color:#505050; line-height:13px;">
                    พบข้อสงสัยในการใช้บริการ 
ติดต่อแผนกลูกค้าสัมพันธ์ที่หมายเลข (02) 636 2233 ในเวลาทำการ จันทร์ – ศุกร์ 10.00 – 19.00 น. <br/>นอกเหนือเวลาดังกล่าวท่านสามารถติดต่อผ่านได้ที่อีเมล์  <a href="mailto:support@venbi.com" style="color:#28438c; text-decoration:none;">support@venbi.com</a> </span>
<br/><br/>
                    <span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
                    กรุณาบันทึกอีเมล์ฉบับนี้ในสมุดที่อยู่ของคุณเพื่อจะทำให้แน่ใจว่าคุณได้รับอีเมล์ทุกฉบับจากเรา </span><br/><br/>
                    <table cellpadding="0" cellspacing="0" width="590">
                        <tr>
                            <td width="450">
                                <span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
                                อีเมล์ฉบับนี้ถูกส่งโดย Whatsnew Co., Ltd. <br/>เลขที่ 946 อาคารพาณิชย์ดุสิตธานี ชั้น 4 ถนนพระราม 4 แขวงสีลม เขตบางรัก กรุงเทพฯ 10500</span><br/><br/>
                                <span style="font:normal 11px 'Arial';color:#505050;line-height:13px;">
                                <a href="{{store url="privacy-policy"}}" style="color:#505050; text-decoration:none;">ความเป็นส่วนตัว</a> | <a href="{{store url="contacts"}}" style="color:#505050; text-decoration:none;">ติดต่อเรา</a></span>
                            </td>
                            <td valign="bottom" align="right">
                                <a href="https://www.facebook.com/venbithai" target="_blank"><img src="{{skin url='images/email-facebook.gif'}}"  style="margin-right:10px;" border="0"/></a>
                                <a href="https://twitter.com/venbithai" target="_blank"><img src="{{skin url='images/email-twitter.gif'}}"  style="margin-right:10px;" border="0"/></a>
                                <a href="http://www.youtube.com/user/TheVenbi" target="_blank"><img src="{{skin url='images/email-youtube.gif'}}" border="0"/></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>