#payment_form_omise_offsite_internet_banking {  }
#payment_form_omise_offsite_internet_banking > li {
    border-bottom: 1px solid #eee;
    padding: 4px 0 12px;
    position: relative;
}

#payment_form_omise_offsite_internet_banking > li > input {
    position: absolute;
    top: 18px;
    left: 14px;
}

#payment_form_omise_offsite_internet_banking > li > label {
    width: 100%;
    margin-left: 36px;
    cursor: pointer;
}

#payment_form_omise_offsite_internet_banking .omise-logo-wrapper {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    border-radius: 2px;
    vertical-align: top;
}

#payment_form_omise_offsite_internet_banking .omise-logo-wrapper img {
    width: 30px;
    height: 30px;
}

#payment_form_omise_offsite_internet_banking .omise-banking-text-wrapper {
    display: inline-block;
}

#payment_form_omise_offsite_internet_banking .secondary-text {
    color: #aaa;
    font-size: 80%;
}

/** SCB **/
#payment_form_omise_offsite_internet_banking .scb {
    background: #4e2e7f;
}
#payment_form_omise_offsite_internet_banking img.scb {
    background: url('../images/scb.svg') #4e2e7f;
}

/** KTB **/
#payment_form_omise_offsite_internet_banking .ktb {
    background: #1ba5e1;
}
#payment_form_omise_offsite_internet_banking img.ktb {
    background: url('../images/ktb.svg') #1ba5e1;
}

/** BAY **/
#payment_form_omise_offsite_internet_banking .bay {
    background: #fec43b;
}
#payment_form_omise_offsite_internet_banking img.bay {
    background: url('../images/bay.svg') #fec43b;
}

/** BBL **/
#payment_form_omise_offsite_internet_banking .bbl {
    background: #1e4598;
}
#payment_form_omise_offsite_internet_banking img.bbl {
    background: url('../images/bbl.svg') #1e4598;
}
