<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
        <?php $_storeId = Mage::app()->getStore()->getId(); ?>
        <?php $_isActive = Mage::getStoreConfig('outofstocksubscription/mail/active', $_storeId); ?>
        <?php if (!$_product->isSaleable() && $_isActive): ?>
            <?php $_url = $this->getUrl('outofstocksubscription') ?>
        <?php else: ?>
            <?php $_url = $this->getAddToCartUrl($_product); ?>
        <?php endif; ?>
    <form action="<?php echo $_url ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId() ?>" class="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>
            <div class="product-essential">

                <div class="product-img-box">
                    <?php echo $this->getChildHtml('media') ?>
                </div>

                <div class="product-shop">
                    <div class="product-main-info">
                        <?php echo $this->getChildHtml('alert_urls') ?>
                    </div>
                    <div class="short-description">
                        <?php echo $_product->getShortDescription() ?>
                    </div>
                    <div class="btn toggle" onclick="jQuery('.product-collateral').toggle()"><?php echo $this->__('See more') ?></div>
                    <div class="product-collateral">

                        <?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html): ?>
                            <div class="box-collateral <?php echo "box-{$alias}" ?>">
                                <?php if ($title = $this->getChildData($alias, 'title')): ?>
                                    <h2><?php echo $this->escapeHtml($title); ?></h2>
                                <?php endif; ?>
                                <?php echo $html; ?>
                            </div>
                            <?php if ($alias == 'description'): ?>
                                <div class="product-add-to"><?php echo $this->getChildHtml('addto') ?></div>
                            <?php endif; ?>
                        <?php endforeach; ?>

                    </div>
                    <div>
                        <?php echo $this->getChildHtml('product_type_data') ?>
                    </div>
                    <?php echo $this->getTierPriceHtml() ?>
                    <?php echo $this->getChildHtml('extrahint') ?>
                    <?php echo $this->getChildHtml('simpleproducttable') ?>
                    <?php if ($_product->isSaleable()): ?>
                        <div class="total-box">
                            <label for="total"><?php echo $this->__('Total:') ?></label>
                            <span id="total"></span>
                        </div>
                    <?php endif ?>
                    <?php if (!$this->hasOptions()): ?>
                        <div class="add-to-box">
                            <?php if ($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>
                            <?php else: ?>
                                <?php
                                $temporaryOutofstockText = '<div class="add-to-cart"><a href="' . $this->getUrl('contacts') . '" class="out-of-stock"><span>' . $this->__('Temporarily Out of Stock') . '</span></a></div>';
                                ?>
                                <script type="text/javascript">jQuery('.product-shop').prepend('<?php echo $temporaryOutofstockText ?>');</script>
                            <?php endif; ?>
                        </div>
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                    <?php else: ?>
                        <?php if ($_product->isSaleable() && $this->hasOptions() && $this->getChildChildHtml('container1')): ?>
                            <div class="options-container-small">
                                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('other'); ?>
                </div>

            </div>

            <?php if ($_product->isSaleable() && $this->hasOptions() && $this->getChildChildHtml('container2')): ?>
                <div class="options-container-big">
                    <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                </div>
            <?php endif; ?>
            <?php if (!$_product->isSaleable() && $_isActive): ?>
                <div class="product-options">
                    <table width="100%">
                        <tr>
                            <td colspan="2" style="padding-bottom:5px;">
                                <strong><?php echo $this->__('Product Out of Stock Subscription') ?></strong>
                            </td>
                        </tr>            			
                        <tr>
                            <td colspan="2">
                                <?php echo $this->__("Notify me when this product is back in stock") ?>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="email" id="subscription_email" name="subscription_email" value="<?php if ($_customer) {
                echo $_customer->getEmail();
            } ?>" style="width:220px;" class="input-text required-entry validate-email" placeholder="Your Email"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button onclick="productAddToCartForm.submit();" class="button btn-notify-me btn-notify-me-oos" type="button"><span><?php echo $this->__('Notify me') ?></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            <?php endif; ?>
        </form>
    </div>


   <script type="text/javascript">
    //<![CDATA[
        var frmName = 'product_addtocart_form_<?php echo $_product->getId(); ?>';
        var productAddToCartForm = new VarienForm(frmName);
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
</div>
