<!--@subject Comment Awaiting Approval@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#e3e3e3; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="590">
            <!-- [ header starts here] -->
            <tr>
                <td valign="middle" style="padding: 0 25px;" height="80"><a href="{{store url=""}}"><img src="{{skin url='images/logo_email.gif'}}" alt="{{var logo_alt}}" border="0"/></a></td>
            </tr>
            <tr>
                <td height="10"><img src="{{skin url='images/email-line.gif'}}"  style="margin-bottom:10px;" border="0"/></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top" style="padding:15px 30px;">
                    <h1 style="font-size:24px; font-weight:bold; line-height:24px; margin:0 0 11px 0;color:#28448d;">Dear {{htmlescape var=$customer.name}},</h1>
                    <p style="font-size:13px; line-height:18px; margin:0;color:#505050;">
                    	A new comment has been submitted and is awaiting approval.
                    	<br/>
                        The comment can be found at:<br/>
						{{var data.url}}<br/><br/>

						Comment Details:<br/>

						Name: {{var data.user}}<br/>
						E-mail: {{var data.email}}<br/><br/>

						Comment: {{var data.comment}}

                        <p style="font-size:13px; line-height:18px;color:#505050; margin:0;">If you have any questions feel free to contact us at <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a> or 02 6362233</p>
                    </p>
                   <br/>
                            <span style="font-size:13px; line-height:18px;color:#505050;">Thank You! </span>
                            <br/><br/>
                            <span style="font-size:13px; line-height:18px;color:#28438c;font-weight:bold;">PetLoft </span><span style="font-size:13px; line-height:18px;color:#505050;font-weight:bold;">Team. </span>
            </tr>
            <tr>
			    <td height="30"><img src="{{skin url='images/email-line.gif'}}"  style="margin-top:20px;" border="0"/></td>
			</tr>
			<tr>
				<td style="padding:20px;">
					<span style="font:normal 11px 'Arial';color:#505050;">For Customer Service inquiries, please email <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a>.
					Have a suggestion, comment, or general feedback? Please send an email to <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a> to let us know.</span><br/><br/>
					<span style="font:normal 11px 'Arial';color:#505050;">
					This email was sent to you by PetLoft.com. To ensure delivery to your inbox (not bulk or junk folders), you can add <a href="mailto:support@petloft.com" style="color:#28438c; text-decoration:none;">support@petloft.com</a> to your address book or safe list.</span><br/><br/>
					<table cellpadding="0" cellspacing="0" width="590">
						<tr>
							<td width="450">
								<span style="font:normal 11px 'Arial';color:#505050;line-height:16px;">
								&copy; 2013 Whatsnew Co., Ltd. All Rights Reserved.<br/>
								946 Dusit Thani Building, 4th fl., <br/>Rama IV Rd. Bangrak, Bangkok, 10500 Thailand</span><br/><br/>
								<span style="font:normal 11px 'Arial';color:#505050;line-height:16px;">
								<a href="{{store url="privacy-policy"}}" style="color:#505050; text-decoration:none;">Privacy Policy</a> | <a href="{{store url="contacts"}}" style="color:#505050; text-decoration:none;">Contact us</a></span>
							</td>
							<td valign="bottom" align="right">
								<a href="https://www.facebook.com/petloftthai" target="_blank"><img src="{{skin url='images/email-facebook.gif'}}"  style="margin-right:10px;" border="0"/></a>
								<a href="https://twitter.com/PetLoft" target="_blank"><img src="{{skin url='images/email-twitter.gif'}}"  style="margin-right:10px;" border="0"/></a>
								<a href="https://plus.google.com/u/0/b/113812097105339950445/113812097105339950445/op/iph" target="_blank"><img src="{{skin url='images/email-google.gif'}}" border="0"/></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>